<div class="o-metadata__group2">
  <div class="o-metadata__group2-item">Original submission date: <%= formatted_date(resource.identifier.first_submitted_resource.stash_version.updated_at) %></div>
  <% if resource.stash_version.version != 1 %>
    <div class="o-metadata__group2-item">Version <%= resource.stash_version.version %> submission date: <%= formatted_date(resource.stash_version.updated_at) %></div>
  <% end %>
  <% resource.datacite_dates.available.each do |i| %>
    <div class="o-metadata__group2-item">Published Date: <%= formatted_date(i.date) %></div>
  <% end %>
  <div class="o-metadata__group2-item">Publisher: <%= resource.try(:publisher).try(:publisher) %></div>
  <% if resource.identifier %>
    <div class="o-metadata__group2-item">
      <% doi = display_id_plain(type: resource.identifier.identifier_type,
                           my_id: resource.identifier.identifier) %>
      <%= link_to doi, doi, target: '_blank' %>
    </div>
  <% end %>
</div>