<div class="o-metadata__group2">
  <div class="o-metadata__group2-item">Publication date: <%= formatted_date(resource.publication_date) %></div>
  <div class="o-metadata__group2-item">Publisher: <%= resource.try(:publisher).try(:publisher) %></div>
  <%
    facility = resource.contributors.where(contributor_type: 'sponsor').first
    if facility.present? && facility.contributor_name.present? %>
    <div class="o-metadata__group2-item <%= 'highlight' if highlight %>">
      Research facility: <%= facility.contributor_name %>
    </div>
  <% end %>
  <% if resource.identifier %>
    <div class="o-metadata__group2-item">
      <%= display_id_plain(type: resource.identifier.identifier_type,
                           my_id: resource.identifier.identifier) %>
    </div>
  <% end %>
</div>
