<div class="o-metadata__group2">
  <%
    facility = resource.contributors.where(contributor_type: 'sponsor').first
    if facility.present? && facility.contributor_name.present? %>
    <div class="o-metadata__group2-item">
      Research facility: <%if facility.name_identifier_id.present? && facility.identifier_type == 'ror'%><a href="/search?q=<%= URI.encode_www_form_component(facility.name_identifier_id) %>"><%= facility.contributor_name_friendly%></a>
        <% else %><%= facility.contributor_name_friendly %><% end %>
    </div>
  <% end %>
  <span class="o-metadata__group2-item"><% if resource.identifier.date_first_published.blank? %>Forthcoming<% else %>Published <%= formatted_date(resource.identifier.date_first_published) %><% end %><% if resource.publication_date != resource.identifier.date_first_published %>; Update<% if resource.publication_date.blank? %> Forthcoming<% else %>d <%= formatted_date(resource.publication_date) %><% end %><% end %></span>
  on <span class="o-metadata__group2-item">Dryad</span>.
  <% if resource.identifier %>
    <span class="o-metadata__group2-item">
      <%= display_id_plain(type: resource.identifier.identifier_type,
                           my_id: resource.identifier.identifier) %>
    </span>
  <% end %>
</div>
