<div class="o-metadata__group2">
  <%
    facility = resource.contributors.where(contributor_type: 'sponsor').first
    if facility.present? && facility.contributor_name.present? %>
    <div class="o-metadata__group2-item <%= 'highlight' if highlight %>">
      Research facility: <%= facility.contributor_name %>
    </div>
  <% end %>
  <span class="o-metadata__group2-item"><% if resource.publication_date.blank? %>Forthcoming<% else %>Published <%= formatted_date(resource.publication_date) %><% end %></span> on <span class="o-metadata__group2-item"><%= resource.try(:publisher).try(:publisher) %></span>.
  <% if resource.identifier %>
    <span class="o-metadata__group2-item">
      <%= display_id_plain(type: resource.identifier.identifier_type,
                           my_id: resource.identifier.identifier) %>
    </span>
  <% end %>
</div>
