<ul>
  <li><a href="/help" style="font-size: 1.15rem; font-weight: bold;">Dryad help center</a>
    <ul style="margin-left: 0;">
      <% unless request.path == '/help' %>
        <li><%= render partial: 'search_form' %></li>
      <% end %>
      <li>
        <%= create_nav('account', 'My account').html_safe %>
        <%= create_menu(account).html_safe %>
      </li>
      <li>
        <%= create_nav('submission_steps').html_safe %>
        <%= create_menu(submission_steps).html_safe %>
      </li>  
      <li>
        <%= create_nav('requirements').html_safe %>
        <%= create_menu(requirements).html_safe %>
      </li>
      <li>
        <%= create_nav('guides').html_safe %>
        <%= create_menu(guides).html_safe %>
      </li>
    </ul>
  </li>
</ul>