<% @page_title = "Journals" %>
<% if policy(@journals).detail? %>
<div class="callout">
<p style="text-align: center;">You are viewing this page as a privileged user. Non-system users see only Title, ISSNs, DPC sponsored and Integrated Data.</p>
</div>
<% end %>
<div id="page-columns">
<div id="page-content">
<h1 class="o-heading__level1" id="journals-label">Journals</h1>
<p>Dryad works with journals to integrate article submission with data submission, and
encourages publishers to sponsor their authors' Data Publishing Charges (DPCs). All journals
    with integrated data submission and/or sponsored DPCs are listed below.</p>

<p>If your journal does not sponsor DPCs, and your institution is not a
Dryad partner, you will be responsible for paying the DPC as well as any overage fees for large files.</p>
</div>
</div>
<div class="table-wrapper c-lined-table-wrapper" role="region" tabindex="0" aria-labelledby="journals-label">
<table class="c-lined-table" style="max-width: 100%; overflow-wrap: anywhere;">
  <thead>
    <tr>
      <th class="c-lined-table__sort" <%= sort_display('title') %>>
        <%= sortable_column_head sort_field: 'title', title: 'Title' %>
      </th>
      <th>ISSNs</th>
      <th>DPC sponsored</th>
      <% if policy(@journals).detail? %>
        <th class="c-lined-table__sort" <%= sort_display('payment_plan') %>>
          <%= sortable_column_head sort_field: 'payment_plan', title: 'Payment plan' %>
        </th>
        <th class="c-lined-table__sort" <%= sort_display('sponsor_id') %>>
          <%= sortable_column_head sort_field: 'sponsor_id', title: 'Parent org' %>
        </th>
        <th class="c-lined-table__sort" <%= sort_display('parent_org_id') %>>
          <%= sortable_column_head sort_field: 'parent_org_id', title: 'Top level org' %>
        </th>
      <% end %>
      <th>Integrated data</th>
      <% if policy(@journals).detail? %>
        <th>Data last received</th>
        <th class="c-lined-table__sort" <%= sort_display('default_to_ppr') %>>
          <%= sortable_column_head sort_field: 'default_to_ppr', title: 'Auto PPR' %>
        </th>
      <% end %>
      </tr>
  </thead>
<tbody class="journals-list">
  <% @journals.each do |journal| %>
  <tr class="c-lined-table__row" id="js-dataset-row-id-<%= journal.id %>">
    <td><%= journal.title %></td>
    <td class="c-lined-table__digits" style="white-space: nowrap;"><%= journal.issn_array.join(', ') %></span></td>
    <td><% if journal.payment_configuration&.payment_plan.present? %><i class="fa fa-check-circle" aria-hidden="true" title="Sponsored"></i><span class="screen-reader-only">Sponsored</span><% end %></td>
    <% if policy(@journals).detail? %>
      <td class="c-lined-table__digits"><%= journal.payment_configuration&.payment_plan %></td>
      <td><%= journal.sponsor&.name %></td>
      <td><%= journal.top_level_org&.name == journal.sponsor&.name ? '' : journal.top_level_org&.name %></td>
    <% end %>
    <td><% if @api_journals.include?(journal.id) || @metadata_journals.include?(journal.id) %><i class="fa fa-check-circle" aria-hidden="true" title="Data integrated"></i><span class="screen-reader-only">Data integrated</span><% end %></td>
    <% if policy(@journals).detail? %>
      <td class="c-lined-table__digits">
        <%if @metadata_journals.include?(journal.id) %>
          <%= journal.manuscripts.limit(1)&.first&.created_at %>
        <% elsif @api_journals.include?(journal.id) %>
          API journal
        <% end %>
      </td>
      <td><% if journal.default_to_ppr? %><i class="fa fa-check-circle" aria-hidden="true" title="Default"></i><span class="screen-reader-only">Default</span><% end %></td>
    <% end %>
  </tr>
<% end -%>
</tbody>  
</table>
</div>
