<%= form_with(url: stash_url_helpers.fee_calculator_path, method: :get, local: false, html: {class: 'callout alt', style: 'padding: 0 2ch'} ) do |form| %>
  <h2 style="font-weight: bold; text-align: center; padding-top: 1ch">Fee calculator</h2>
  <%= form.hidden_field 'type', value: 'publisher' %>
  <p class="input-line center">
    <%= form.label :service_tier, 'Your annual publishing revenue/expenditure:' %>
    <%= form.select :service_tier, options_for_select(FeeCalculator::PublisherService.new.service_fee_tiers.map {|t| [t[:range].to_s.split('..').map {|n| n.to_i.to_s == n ? (n.to_i > 999999 ? number_to_currency(number_to_human(n), precision: 0) : number_to_currency(n.to_i.round(-1), precision: 0)) : nil}.join('-').gsub(/\-$/, '+').downcase, t[:tier]]}), {}, {class: 'c-input__select'} %>
  </p>
  <p class="input-line center">
    <%= form.label :dpc_tier, 'Estimated number of datasets sent to Dryad each year:' %>
    <%= form.select :dpc_tier, options_for_select(FeeCalculator::PublisherService.new.dpc_fee_tiers.map {|t| [t[:range].to_s.gsub('..', '-'), t[:tier]]}), {}, {class: 'c-input__select'} %>
  </p>
  <p id="legend" style="margin-top: 2rem;">The estimated percentages of these datasets that will be of the size ranges:</p>
  <div role="group" aria-labeledby="legend" class="range-grid">
    <% FeeCalculator::PublisherService.new.storage_fee_tiers.each do |sft| %>
      <% val = sft[:tier] == 0 ? '100' : 0 %>
      <label for="sft<%= sft[:tier] %>"><%= sft[:range].to_s.split('..').map {|n| n == '0' ? 0 : filesize(n.to_i) }.join('-') %></label>
      <%= form.range_field "storage_usage[#{sft[:tier]}]", min: 0, max: 100, value: val, id: "sft#{sft[:tier]}" %>
      <output for="sft<%= sft[:tier] %>"><%= 0 %></output>
    <% end %>
  </div>
  <p class="input-line center" style="margin-top: 2rem;">
    <span id="legend2">Will you cover large data storage fees for your authors?</span>
    <span role="group" aria-labelledby="legend2" class="radio_choice">
      <label><input type="radio" name="cover_storage_fee" value="1" checked/>Yes</label>
      <label><input type="radio" name="cover_storage_fee" value="0"/>No</label>
    </span>
  </p>
  <div class="input-line spaced" style="justify-content: stretch;">
    <h3 style="font-weight: bold">Annual partner fee estimate:</h3>
    <output id="total_estimate" for="service_tier dpc_tier"></output>
  </div>
<% end %>
<script type="text/javascript" src="javascript/calculator.js"></script>
