<%= form_with(url: stash_url_helpers.fee_calculator_path, method: :get, local: false, html: {class: 'callout alt', style: 'padding: 0 2ch'} ) do |form| %>
  <h2 style="font-weight: bold; text-align: center; padding-top: 1ch" id="fee-calculator">Fee calculator</h2>
  <%= form.hidden_field 'type', value: 'publisher' %>
  <p class="input-line center">
    <%= form.label :service_tier, 'Annual publishing revenue/expenditure:' %>
    <%= form.select :service_tier, options_for_select(FeeCalculator::PublisherService.new.service_fee_tiers.map {|t| [t[:range].to_s.split('..').map {|n| n.to_i.to_s == n ? (n.to_i > 999999 ? number_to_currency(number_to_human(n), precision: 0) : number_to_currency(n.to_i.round(-1), precision: 0)) : nil}.join('-').gsub(/\-$/, '+').downcase + ' USD', t[:tier]]}), {}, {class: 'c-input__select'} %>
  </p>
  <p class="input-line center">
    <%= form.label :dpc_tier, 'Estimated number of datasets sent to Dryad each year:' %>
    <%= form.select :dpc_tier, options_for_select(FeeCalculator::PublisherService.new.dpc_fee_tiers.map {|t| [t[:range].to_s.gsub('..', '-'), t[:tier]]}), {}, {class: 'c-input__select'} %>
  </p>
  <div class="input-line spaced" style="justify-content: stretch;">
    <h3 style="font-weight: bold">Annual partner fee estimate:</h3>
    <output id="total_estimate" for="service_tier dpc_tier"></output>
  </div>
<% end %>
<script type="text/javascript" src="<%= asset_path 'calculator.js'%>"></script>
