<% subjects = [
    'Question about submission process',
    'Status of my dataset',
    'Reporting an issue with my dataset',
    'Reporting an issue with someone else\'s dataset',
    'Duplicate accounts',
    'Action required',
    'Feature request',
    'API request',
    'Other'
]%>
<div id="contact_form" aria-live="polite">
  <div role="alert" id="form_status"></div>
  <div class="callout">
  <%= form_with(url: stash_url_helpers.contact_helpdesk_path, method: :post, local: false, id: 'contact_form_form', 'aria-describedby': 'form-status') do |form| %>
    <% if local_assigns.key?(:identifier) %>
      <%= form.hidden_field :identifier, value: identifier %> 
    <% end %>
    <div class="c-input">
      <%= form.label :subject, 'Help needed with:', class: 'c-input__label' %>
      <%= form.select :subject, options_for_select(subjects), {include_blank: true}, {class: 'c-input__select', required: true} %>
    </div>
    <div class="c-input__inline">
      <div class="c-input">
        <%= form.label :sname, "Your full name:", class: 'c-input__label' %>
        <%= form.text_field :sname, class: 'c-input__text', autocomplete: 'name', required: true, value: current_user ? "#{current_user&.first_name} #{current_user&.last_name}" : '' %>
      </div>
      <div class="c-input">
        <%= form.label :email, "Your email address:", class: 'c-input__label' %>
        <%= form.email_field :email, required: true, class: 'c-input__text', autocomplete: 'email', value: current_user&.email %>
      </div>
    </div>
    <div class="c-input">
      <label for="body" class="c-input__label--required">Describe your issue or question:</label>
      <% unless local_assigns.key?(:identifier) %><p style="margin: 0; font-size: .98rem;" id="body-desc">Include your dataset DOI (<code>10.5061/dryad...</code>), if you have one, for swift assistance</p><% end %>
      <textarea class="c-input__textarea" style="width:100%" rows="8" required="required" name="body" id="body" <% unless local_assigns.key?(:identifier) %>aria-describedby="body-desc"<% end %>></textarea>
    </div>
    <% if !current_user %>
      <%= recaptcha_tags %>
    <% end %>
    <p style="display: flex; align-items: baseline; justify-content: space-between; flex-wrap: wrap; gap: 2ch">
      <span style="color: rgb(209, 44, 29);"><b>*</b> Fields are required</span>
      <button type="submit" class="o-button__plain-text1">Contact the helpdesk</button>
    </p>
  <% end %>
  </div>
  <script type="text/javascript">
    var form = document.getElementById('contact_form_form');
    form.addEventListener('submit', () => {
      const icon = document.createElement('i');
      icon.classList.add('fas', 'fa-spin', 'fa-circle-notch');
      icon.setAttribute('role', 'img');
      icon.setAttribute('aria-label', 'Loading...');
      icon.style.marginRight = '.5ch';
      document.querySelectorAll('#contact_form .callout.err').forEach(el => el.remove());
      form.querySelector('button').disabled = true;
      form.querySelector('button').prepend(icon);
    })
  </script>
</div>
