<footer class="c-footer" id="page-footer">
  <div class="c-footer__link-group">
    <div class="c-footer__policy-group">
      <a href="/stash/terms#privacy" class="js-nav-out">Privacy policy</a>
      <a href="http://www.cdlib.org/about/accessibility.html" class="js-nav-out">Accessibility policy</a>
      <a href="<%= stash_url_helpers.terms_path %>">Terms of service</a>
      <% if Rails.env != 'production' || current_user&.superuser? %>
        <span>Version: <%= APP_CONFIG[:app_version] %></span>
        <!-- Revision: <%= APP_CONFIG[:app_revision] %>  -->
      <% end %>
    </div>
    <div class="c-footer__social-group">
      <a href="<%= stash_url_helpers.contact_path %>"><em class="fa fa-envelope-square fa-2x"></em> Contact us</a>
      <a href="https://twitter.com/datadryad" class="js-nav-out"><em class="fa fa-twitter-square fa-2x"></em> Follow us on Twitter</a>
      <a href="https://blog.datadryad.org/" class="js-nav-out"><em class="fa fa-rss-square fa-2x"></em> Check out our blog</a>
    </div>
  </div>
  <p>Copyright (c) <%= Time.new.year %> Dryad</p>
</footer>
