<footer class="c-footer" id="page-footer">
  <div class="c-footer__link-group">
    <div class="c-footer__policy-group">
      <a href="/stash/terms#privacy" class="js-nav-out">Privacy</a>
      <a href="http://www.cdlib.org/about/accessibility.html" class="js-nav-out">Accessibility</a>
      <a href="<%= stash_url_helpers.terms_path %>">Terms of service</a>
      <a href="<%= stash_url_helpers.membership_path %>">Membership</a>
      <% if Rails.env != 'production' || current_user&.superuser? %>
        <span>Version: <%= APP_CONFIG[:app_version] %></span>
        <!-- Revision: <%= APP_CONFIG[:app_revision] %>  -->
      <% end %>
    </div>
    <div class="c-footer__social-group">
      <a href="<%= stash_url_helpers.contact_path %>"><i class="fa fa-envelope-square" aria-hidden="true"></i>Contact us</a>
      <a href="https://twitter.com/datadryad" class="js-nav-out"><i class="fa fa-twitter-square" aria-hidden="true"></i>Follow us on Twitter</a>
      <a href="https://blog.datadryad.org/" class="js-nav-out"><i class="fa fa-rss-square" aria-hidden="true"></i>Check out our blog</a>
    </div>
  </div>
  <span>Copyright (c) <%= Time.new.year %> Dryad</span>
</footer>
