<% # locals: field_name, label, id, selected, options, options_path, options_label, options_value, required, save_text %>
<label for="searchselect-<%= id %>__input"><%= label %></label>
<div class="searchselect" id="searchselect-<%= id %>" tabindex="-1">
  <input type="hidden" name="<%= field_name %>[value]" id="searchselect-<%= id %>__value" value="<%= selected&.dig(:value).presence || '' %>">
  <input type="hidden" name="<%= field_name %>[label]" id="searchselect-<%= id %>__label" value="<%= selected&.dig(:label).presence || '' %>">
  <%= text_field_tag(nil, selected&.dig(:label).presence || '', id: "searchselect-#{id}__input", class: "c-input__select#{selected&.dig(:value).present? ? ' selected' : ''}", placeholder: 'Find as you type...', 'aria-autocomplete': 'both', 'aria-controls': "searchselect-#{id}__list", 'aria-expanded': 'false', role: 'combobox', autocomplete: 'off', required: local_assigns.key?(:required) && required, 'aria-describedby': local_assigns.key?(:describedby) && describedby ) %>
  <ul id="searchselect-<%= id %>__list" role="listbox" aria-label="<%= label %>" tabindex="-1" hidden></ul>
  <span id="searchselect-<%= id %>__status" class="screen-reader-only" role="status"></span>
</div>
<script type="text/javascript">
  var searchSelect<%= id %> = () => {
    const itemId = 'searchselect-<%= id %>'
    const combobox = document.getElementById(itemId)
    const textbox = document.getElementById(itemId + '__input')
    const list = document.getElementById(itemId + '__list')
    const status = document.getElementById(itemId + '__status')
    const v = document.getElementById(itemId + '__value')
    const l = document.getElementById(itemId + '__label')
    <% unless local_assigns.key?(:options_path) %>
    const optionsFill = (val) => new Promise((resolve) => {
      const options = <%= options %>
      if (val) {
        const lower = val.toLowerCase();
        resolve(options.filter((o) => o['<%= options_label %>'].toLowerCase().includes(lower)));
      } else {
        resolve(options);
      }
    });
    <% end %>
    const fill = async () => {
      let json = []
      <% if local_assigns.key?(:options_path) %>
      if (textbox.value.length > 2) {        
        const response = await fetch('<%= options_path.html_safe %>' + textbox.value)
        json = await response.json()
      }
      <% else %>
      json = await optionsFill(textbox.value)
      <% end %>
      if (json?.length > 0) {
        list.innerHTML = `<li role="option" data-value="" data-label="" tabindex="-1" ${!v.value ? 'class="selected-option" aria-selected="true"' : ''}>&nbsp;</li>`
        for (const i of json) {
          if (!list.querySelector(`li[data-value='${i['<%= options_value %>']}']`)) {
            const li = list.appendChild(document.createElement('li'))
            let htmlString = i['<%= options_label %>']
            if (i['country'] || i['acronyms']) {
              htmlString += `<br/><small>${i.acronyms.length > 0 ? `(${i.acronyms.join(', ')}) ` : ''}${i.country}</small>`
            }
            if (i['title'] && i['authors']) {
              htmlString += `<br/><small>${i.title.substring(0, 45)}...${i.authors.length > 0 ? ` (${i.authors.map((a) => a.family_name).join(', ')})` : ''}</small>`
            }
            li.innerHTML = htmlString;
            li.setAttribute('role', 'option');
            li.setAttribute('aria-selected', i['<%= options_value %>'] == v.value);
            li.setAttribute('data-value', i['<%= options_value %>'])
            li.setAttribute('data-label', i['<%= options_label %>'])
            li.setAttribute('tabindex', '-1')
            if (i['<%= options_value %>'] == v.value) li.classList.add('selected-option')
          }
        }
        status.innerHTML = 'Results loaded'
      } else {
        status.innerHTML = 'Loading results'
        list.innerHTML = '<li aria-hidden="true"><i class="fas fa-circle-notch fa-spin" aria-hidden="true"></i></li>'
      }
    }
    const select = ({label, value}) => {
      v.value = value
      l.value = label
    }
    <% if local_assigns.key?(:save_text) %>
      textbox.addEventListener('blur', () => {
        if (!l.value) l.value = textbox.value
      })
    <% end %>
    new ComboboxAutocomplete(combobox, textbox, list, fill, select)
  }
  searchSelect<%= id %>();
</script>