<% if @internal_data.count.positive? %>
  <table class="c-lined-table" id="activity_log_table">
    <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @internal_data.each do |item| %>
      <tr class="c-lined-table__row">
        <td><%= formatted_datetime(item.updated_at) %></td>
        <td><div class="c-lined-table__with-actions">
          <div class="c-lined-table__data"><%= item.data_type %></div>
          <% if policy([:stash_engine, :admin_datasets]).data_popup? %>
          <div class="c-lined-table__actions" style="display: flex;">
            <%= button_to stash_engine_internal_datum_path(item), method: :delete, remote: true, data: { confirm: 'Are you sure?' },
                          form_class: 'o-button__inline-form', class: 'c-admin-edit-icon', title: 'Delete internal data item' do %>
              <i class="fa fa-trash-can" aria-hidden="true"></i>
            <% end %>
            <%= form_with(url: ds_admin_popup_path(id: item.identifier_id, field: 'data'), method: :get, local: false) do %>
              <%= hidden_field_tag :internal_datum_id, item.id %>
              <button class="c-admin-edit-icon" aria-label="Edit data item" title="Edit data item" aria-haspopup="dialog" id="<%= item.id %>data_button_<%= item.identifier_id %>">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            <% end %>
          </div>
          <% end %>
        </div></td>
        <td><%= item.value %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No internal data is available for this dataset</p>
<% end %>
