<ul class="o-dependency-group__list">
  <% dependencies.each do |dependency| %>
    <%
    status_class = case dependency.status
      when 0
        'fa-times-circle'
      when 1
        'fa-check-circle'
      else
        'fa-question-circle'
    end
    %>
    <li title="<%= dependency.description %>" class="o-dependency-group__list__item">
      <span class="dependency-name"><%= dependency.name %></span>
      <button <%= 'disabled' if dependency.status == 1 %> onclick="document.getElementById('<%= dependency.abbreviation %>-dialog').showModal()" title="<%= dependency.status != 1 ? 'Offline - Click for troubleshooting information' : 'Online' %>"><i class="fa <%= status_class %>"></i></button>
      <% if dependency.documentation.present? %>
        <dialog class="modalDialog extra-wide" id="<%= dependency.abbreviation %>-dialog">
          <div class="c-uploadmodal__header">
            <h1 class="o-heading__level1"><%= dependency.name %> troubleshooting information:</h1>
            <button
              class="button-close-modal"
              aria-label="close"
              type="button"
              onclick="this.closest('dialog').close()"
            />
          </div>
          <p><%= dependency.documentation.html_safe %></p>
          <h2>Error message:</h2>
          <p><%= dependency.error_message %></p>
        </dialog>
      <% end %>
    </li>
  <% end %>
</ul>
