<%= render partial: 'stash_engine/shared/logs_header', locals: {current: 'auth'} %>
<h2>Authentication failures</h2>

<%= form_with(url: auth_failures_path, method: 'get') do %>
<div class="o-admin-form-inline">
  <div class="o-admin-form-pair">
    <label for="search-terms">Search:</label>
    <%= search_field_tag(:q, params[:q], class: 'c-input__text', id: 'search-terms' ) %>
  </div>
  <%= submit_tag('Search', name: nil, class: 'o-button__plain-text2' ) %>
</div>
<% end %>

<div class="table-wrapper c-lined-table-wrapper" role="region" tabindex="0" aria-labelledby="deleted-label">
<table class="c-lined-table">
  <thead>
    <tr>
      <th>IP</th>
      <th>Error_type</th>
      <th>User</th>
      <th>Date</th>
      <th>URI</th>
      <th>Params</th>
    </tr>
  </thead>
  <tbody>
  <% @records.each do |record| %>
    <tr>
      <td><%= record.ip %></td>
      <td><%= record.error_type %></td>
      <td style="white-space: nowrap;">
        <% if record.user_id.present? %>
          <%= link_to( record.user&.name, "/user_admin?q=#{record.user&.name}" ) %>
        <% end %>
      </td>
      <td class="c-lined-table__digits" style="white-space: nowrap;"><%= formatted_datetime(record.created_at) %></td>
      <td><%= record.url %></td>
      <td><%= record.params %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

<div class="c-space-paginator">
  <%= paginate @records, params: { page_size: @page_size } %>
  <div class="c-paginator-page_size">
    Page size:
    <%
      current_ps = params[:page_size].to_i
      current_ps = 10 if current_ps == 0
      [10, 50, 100].each do |ps| %>
      <% if ps == current_ps %>
        <span class="page-current"><%= ps %></span>
      <% else %>
        <%= link_to(ps, auth_failures_path(request.parameters.except(:action, :controller).merge(page_size: ps, page: 1)), 'aria-label': "#{ps} results per page") %>
      <% end %>
    <% end %>
  </div>
</div>