<%= fields_for :payment_configuration_attributes do |pf| %>
  <%= pf.hidden_field :id, value: payment_configuration.id %>
  <%= pf.hidden_field :_destroy %>
  <div id="payment_plan_container" <%= sponsor_id ? 'hidden' : ''  %>>
    <fieldset class="c-fieldset">
      <legend>Payment plan type:</legend>
      <% plan_options.each do |plan| %>
        <%= pf.radio_button :payment_plan, plan.first, checked: plan.first == payment_configuration.payment_plan %>
        <label for="<%= "payment_configuration_attributes_payment_plan_#{plan.first.downcase}" %>"><%= plan[1] %></label>
        <br />
      <% end %>
    </fieldset>
  </div>
  <div id="payment_limits_container" <%= has_children ? 'hidden' : ''  %>>
    <p>
      <%= pf.check_box :covers_ldf, {checked: payment_configuration.covers_ldf}, 1, 0 %>
      <%= pf.label :covers_ldf, "When checked, sponsor covers Large Data Fees" %>
    </p>
    <p>
      <%= pf.label :ldf_limit, "Covered Large Data Fee limit (GB)" %>
      <%= pf.select :ldf_limit, ldf_pricing_tiers_options, { selected: payment_configuration.ldf_limit }, class: 'c-input__select', readonly: !payment_configuration.covers_ldf %>
    </p>
    <p>
      <%= pf.label :yearly_ldf_limit, "Yearly Large Data Fee limit $" %>
      <%= pf.number_field :yearly_ldf_limit, value: payment_configuration.yearly_ldf_limit, class: 'c-input__text', readonly: !payment_configuration.covers_ldf %>
    </p>
    <p>
      <div class="c-input">
        <%= pf.label :ldf_limit_notification, 'Email addresses to receive LDF notification emails (each on new line)' %>
        <%= pf.text_area(:ldf_limit_notification, value: payment_configuration.ldf_limit_notification&.join("\n"), class: 'c-input__textarea', style: 'width:100%', readonly: !payment_configuration.covers_ldf )%>
      </div>
    </p>
  </div>
<% end %>
