<div class="table-wrapper c-lined-table-wrapper" role="region" tabindex="0" aria-labelledby="journals-label">
<table class="c-lined-table">
  <thead>
    <tr>
      <th class="c-lined-table__sort" <%= sort_display('title') %>>
        <%= sortable_column_head sort_field: 'title', title: 'Title' %>
      </th>
      <th class="c-admin-table">
        ISSNs
      </th>
      <th class="c-lined-table__sort" <%= sort_display('default_to_ppr') %>>
        <%= sortable_column_head sort_field: 'default_to_ppr', title: 'Auto PPR' %>
      </th>
      <th class="c-lined-table__sort" <%= sort_display('payment_plan') %>>
        <%= sortable_column_head sort_field: 'payment_plan', title: 'Partnership' %>
      </th>
      <th class="c-lined-table__sort" <%= sort_display('sponsor_id') %>>
        <%= sortable_column_head sort_field: 'sponsor_id', title: 'Parent org' %>
      </th>
      <th class="c-lined-table__sort" <%= sort_display('root_org_id') %>>
        <%= sortable_column_head sort_field: 'root_org_id', title: 'Top level org' %>
      </th>
    </tr>
  </thead>

  <tbody>  
    <% journals.each do |j| %>
      <tr class="c-lined-table__row" id="row_<%=j.id%>">
        <%= render partial: 'admin_journal_row', locals: {j: j} %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

