<div class="table-wrapper c-lined-table-wrapper" role="region" tabindex="0" aria-labelledby="journals-label">
<table class="c-lined-table">
  <thead>
    <tr>
      <th class="c-lined-table__sort" <%= sort_display('title') %>>
        <%= sortable_column_head sort_field: 'title', title: 'Title' %>
      </th>
      <th class="c-admin-table">
        ISSNs
      </th>
      <th class="c-lined-table__sort" <%= sort_display('payment_plan') %>>
        <%= sortable_column_head sort_field: 'payment_plan', title: 'Payment plan' %>
      </th>
      <th class="c-admin-table">
        Publication contacts
      </th>
      <th class="c-admin-table">
        Review contacts
      </th>
      <th class="c-lined-table__sort" <%= sort_display('default_to_ppr') %>>
        <%= sortable_column_head sort_field: 'default_to_ppr', title: 'PPR Default' %>
      </th>
      <th class="c-admin-table">
        Parent org
      </th>
    </tr>
  </thead>

  <tbody>  
    <% journals.each do |j| %>
      <tr class="c-lined-table__row" id="row_<%=j.id%>">
        <%= render partial: 'admin_journal_row', locals: {j: j} %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

