<% my_suffix = field_suffix(author)
	 my_txt = "instit_affil_#{my_suffix}"
	 my_id = "instit_id_#{my_suffix}"
%>

<%= form.fields_for :affiliation, author.affiliation do |affil_fields| %>
		<label class="c-input__label required" for="<%= my_txt %>">Institutional Affiliation</label>
    <%= affil_fields.text_field(:long_name, id: my_txt, class: 'c-input__text js-affiliation') %>
    <%= affil_fields.hidden_field :ror_id, id: my_id, class: 'js-affiliation_id' %>
<% end %>

<script type="text/javascript">

	const itemMapper = (item) => {
		return {id: item.id, value: item.long_name};
	}

	// txtFieldId, idFieldId, autoURL, resultMapper
	setupAutocomplete('<%= my_txt %>',
			'<%= my_id %>',
			"<%= stash_datacite.affiliations_autocomplete_path %>",
			itemMapper);
</script>
