<% unless authors.nil? %>
  <% affs = affs_list(authors) %>
	<p class="o-metadata__author-list">
  <%= author_display(authors, affs).html_safe %>
	</p>
<% end %>
<% if affs.present? %>
  <div class="o-metadata__aff-list">
  	<p role="heading" aria-level="2"><button class="o-button__plain-text4" id="affiliation-list-button" aria-expanded="false" aria-controls="affiliation-list">Author affiliations<i class="fas fa-caret-down" aria-hidden="true"></i></button></p>
  	<ol id="affiliation-list" hidden>
  	<% affs.map do |aff| %>
  		<li id="aff<%= aff[0] %>"><% if aff[2].present? %><a href="<%= new_search_path(org: aff[2]) %>"><%= aff[1] %></a><% else %><%= aff[1] %><%if current_user&.min_app_admin? %><i class="fas fa-triangle-exclamation unmatched-icon" role="note" aria-label="Unmatched affiliation" title="Unmatched affiliation"></i><%end%><%end%></li>
  	<% end %>
  	</ol>
  </div>
  <script type="text/javascript">
  	document.getElementById('affiliation-list-button').addEventListener('click', (e) => {
  		const list = document.getElementById('affiliation-list')
  		const button = document.getElementById('affiliation-list-button')
  		if (list.hasAttribute('hidden')) {
	  		button.setAttribute('aria-expanded', 'true')
  		} else {
  			button.setAttribute('aria-expanded', 'false')
	  	}
	  	button.lastElementChild?.classList.toggle('fa-caret-down')
	  	button.lastElementChild?.classList.toggle('fa-caret-up')
	  	list.toggleAttribute('hidden')
  	})
  	const openHash = () => {
  		const hashed = document.getElementById(window.location.hash.substring(1))
			if (hashed && hashed.parentElement.hasAttribute('hidden')) {
	    	document.getElementById('affiliation-list-button').click()
	    }
  	}
  	if (window.location.hash) openHash()
  	window.addEventListener('hashchange', openHash)
  </script>
<% end %>
