<%# locals: users %>
<table class="c-lined-table">
  <tr class="c-lined-table__head">
    <th class="c-admin-table__user-campus"><a href="#">Institution</a></th>
    <th class="c-admin-table__user-name c-admin-table__sort-asc"><a href="#">Name</a></th>
    <th class="c-admin-table__user-role" colspan="2"><a href="#">Role</a></th>
    <th class="c-admin-table__user-last-login"><a href="#">Last login</a></th>
  </tr>

  <% users.each do |u| %>
    <% if StashEngine::Tenant.exists?(u.tenant_id) %>
      <tr class="c-lined-table__row">
        <td><%= StashEngine::Tenant.find(u.tenant_id).short_name %></td>
        <td><a href="#"><%= u.first_name %> <%= u.last_name %></a></td>
        <td class="c-admin-hide-border-right">
          <%= u.role.capitalize %>
        </td>
        <td class="c-admin-hide-border-left">
          <button class="c-admin-edit-icon" aria-label="Edit user role" alt="Edit user role">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </td>
        <td><%= formatted_datetime(u.last_login) %></td>
      </tr>
    <% end %>
  <% end %>
</table>