<%# the local variable 'author' should be passed in to this partial when there are multiple per page.
  # the 'path' to submit to should also be passed in. %>
<% form_id = unique_form_id(author) %>
<%= form_for(author, url: path, remote: true, authenticity_token: true, html: {id: form_id, class: 'c-input__inline js-author_form'}) do |f| %>
  <% my_suffix = field_suffix(author) %>

  <div class="c-input">
    <%= f.label "first_name_#{my_suffix}", "First Name", class: 'c-input__label required' %>
    <%= f.text_field :author_first_name, id: "author_first_name_#{my_suffix}", class: "c-input__text js-author_first_name" %>
  </div>
  <div class="c-input">
    <%= f.label "last_name_#{my_suffix}", "Last Name", class: 'c-input__label required' %>
    <%= f.text_field :author_last_name, id: "author_last_name_#{my_suffix}", class: "c-input__text js-author_last_name" %>
  </div>
  <div class="c-input">
    <%= render partial: 'stash_datacite/authors/affiliation', locals: { author: author, form: f, form_id: form_id } %>
  </div>
  <div class="c-input">
  <%= f.label "author_email", "Author Email", class: 'c-input__label js-author_label' %>
  <%= f.email_field :author_email, class: 'c-input__text js-author_email', placeholder: 'email@example.com' %>
  <p id="invalid_email" class="c-input__error-message">Please enter a valid email address.</p>
  </div>
  <%= link_to 'remove', stash_datacite.authors_delete_path(author.id || 'new'), method: :delete, remote: true, data: {confirm: 'Are you sure?'}, class: 't-describe__remove-button o-button__remove remove_record' %>
  <%= f.hidden_field :resource_id %>
  <%= f.hidden_field :id %>
  <%= hidden_field_tag(:form_id, form_id) %>
<% end %>
<!-- Begin Orcid ID Component -->
  <div class="c-orcid">
    <% unless author.blank? || author.author_orcid.blank? %>
      <%= link_to '', "http://orcid.org", class: 'c-orcid__icon', title: 'orcid_website' %>
      <% if StashEngine.app.orcid.site == "https://sandbox.orcid.org/" %>
        <%= link_to "https://sandbox.orcid.org/#{author.author_orcid}", "https://sandbox.orcid.org/#{author.author_orcid}",target: '_blank', class: 'c-orcid__id' %>
      <% else %>
        <%= link_to "https://orcid.org/#{author.author_orcid}", "https://orcid.org/#{author.author_orcid}",target: '_blank', class: 'c-orcid__id' %>
      <% end %>
    <% end %>
  </div>
<!-- End Orcid ID Component -->

<div>

</div>
