<%# the resource and zenodo_type (software, supp) is passed in. Only link previously submitted files. %>
<ul class="c-review-files__list">
<% uploaded = resource.previous_resource&.zenodo_submitted?(type: zenodo_type) %>

<% resource.send("#{zenodo_type}_files").each do |fu| %>
  <li class="<%= 'strike-deleted' if fu.file_state == 'deleted' %>">
    <% if fu.file_state == 'copied' && uploaded %>
      <%= link_to fu.upload_file_name, stash_url_helpers.download_zenodo_path(file_id: fu.last_version_file&.id), target: '_blank' %>
    <% else %>
      <%= fu.upload_file_name %>
    <% end %>
    &nbsp;&nbsp;&nbsp;<%= filesize(fu.upload_file_size) %>

    <% if fu.file_state == 'created' %>
      &nbsp;&nbsp;&nbsp;<small>new</small>
    <% end %>
  </li>
<% end %>
</ul>
<%# If curator, show all changed files from prev versionse %>
<% if current_user.limited_curator? && highlight_files.present? %>
<div>
  <h4 style="margin-top:0">All changes since previous curated version</h4>
  <ul class="c-review-files__list highlight">
  <% highlight_files.each do |fu| %>
      <li class="<%= 'strike-deleted' if fu.file_state == 'deleted' %>">
        <%= fu.upload_file_name %>
        &nbsp;&nbsp;&nbsp;<%= filesize(fu.upload_file_size) %>        
        <% if fu.file_state == 'created' %>
      &nbsp;&nbsp;&nbsp;<small>new</small>
        <% end %>
    </li>
  <% end %>
  </ul>
</div>
<% end %>
