<%# the resource is passed in. Only link previously submitted files. %>
<ul class="c-review-files__list">
    <% uploaded = resource.previous_resource&.submitted? %>

	<% unless @review.technical_info.try(:description).blank? && @resource.data_files.present_files.where(upload_file_name: 'README.md').empty? %>        
      <li class=""><%= link_to 'README.md', stash_url_helpers.prepare_readme_resource_path(@resource) %>&nbsp;&nbsp;&nbsp;
      <% if @review.technical_info.try(:description).present? %>
          <%= filesize(@review.technical_info.try(:description).bytesize) %>
          <% if @review.technical_info.updated_at > @resource.created_at %>
            &nbsp;&nbsp;&nbsp;<small>new</small>
          <% end %>
      <% else %>
        <%= filesize(@resource.data_files.present_files.where(upload_file_name: 'README.md').first&.upload_file_size) %>
      <% end %>
      </li>
    <% end %>

    <% resource.data_files.where.not(upload_file_name: 'README.md').each do |fu| %>
	<li class="<%= 'strike-deleted' if fu.file_state == 'deleted' %>">
		<% if fu.file_state == 'copied' && uploaded && fu.last_version_file&.id.present? %>
		    <%= link_to fu.upload_file_name, stash_url_helpers.download_stream_path(file_id: fu.last_version_file&.id), target: '_blank' %>
		<% else %>
		    <%= fu.upload_file_name %>
		<% end %>
		&nbsp;&nbsp;&nbsp;<%= filesize(fu.upload_file_size) %>
		
		<% if fu.file_state == 'created' %>
		    &nbsp;&nbsp;&nbsp;<small>new</small>
		<% end %>
	</li>
    <% end %>

    <%# If curator, show all changed files from prev versionse %>
    <% if current_user.limited_curator? && highlight_files.present? %>
	<li class="highlight"><b>=== Changed since previous curated version ===</b></li>
	<% highlight_files.each do |fu| %>
	    <li class="<%= 'strike-deleted' if fu.file_state == 'deleted' %> highlight">
		    <%= fu.upload_file_name %>
		    &nbsp;&nbsp;&nbsp;<%= filesize(fu.upload_file_size) %>		    
		    <% if fu.file_state == 'created' %>
			&nbsp;&nbsp;&nbsp;<small>new</small>
		    <% end %>
		</li>
	<% end %>	
    <% end %>
</ul>
