<%# the resource is passed in. Only link previously submitted files. %>
<ul class="c-review-files__list">
    <% uploaded = resource.previous_resource&.submitted? %>

    <% resource.data_files.each do |fu| %>
	<div class="<%= 'strike-deleted' if fu.file_state == 'deleted' %>">
	    <li>
		<% if fu.file_state == 'copied' && uploaded && fu.last_version_file&.id.present? %>
		    <%= link_to fu.upload_file_name, stash_url_helpers.download_stream_path(file_id: fu.last_version_file&.id), target: '_blank' %>
		<% else %>
		    <%= fu.upload_file_name %>
		<% end %>
		&nbsp;&nbsp;&nbsp;<%= filesize(fu.upload_file_size) %>
		
		<% if fu.file_state == 'created' %>
		    &nbsp;&nbsp;&nbsp;<small>new</small>
		<% end %>
	    </li>
	</div>
    <% end %>

    <%# If curator, show all changed files from prev versionse %>
    <% if current_user.limited_curator? && highlight_files.present? %>
	<li class="highlight"><b>=== Changed since previous curated version ===</b></li>
	<% highlight_files.each do |fu| %>
	    <div class="<%= 'strike-deleted' if fu.file_state == 'deleted' %> highlight">
		<li>
		    <%= fu.upload_file_name %>
		    &nbsp;&nbsp;&nbsp;<%= filesize(fu.upload_file_size) %>		    
		    <% if fu.file_state == 'created' %>
			&nbsp;&nbsp;&nbsp;<small>new</small>
		    <% end %>
		</li>
	    </div>
	<% end %>	
    <% end %>
</ul>
