<%# the local variable 'geolocation_place' should be passed in to this partial when there are multiple per page %>
<p>Where was the data collected? Does it focus on particular locations?</p>
<%= form_for(geolocation_place, url: stash_datacite.geolocation_places_create_path, remote: true, authenticity_token: true, html: {id: "geolocation_place_new_form"}) do |f| %>
  <%#= render "datacite/shared/error_messages", :target => @geolocation_point %>
  <strong><%= label_tag "Add a place by name" %></strong><br/>
  <%= image_tag("stash_datacite/globe.png", size: "20x20", alt: "Place") %>&nbsp;
  <%= f.text_field :geo_location_place, class: 'geo', id: "geo_place", size:50 %>&nbsp;&nbsp;
  <%= f.hidden_field :resource_id %>
  <%= f.submit "Add" %>
  <br/>
<% end %>
<br/>
<strong><%= label_tag "Add a point or rectangular area with lat/long coordinates" %></strong><br/>
<div style="float:left"><%= link_to(image_tag("stash_datacite/geo_point.png", size: "30x30", alt: "Point", id: "geo_point"), '#')  %><%= link_to(image_tag("stash_datacite/geo_box.png", size: "30x30", alt: "Box", id: "geo_box"), '#') %>&nbsp;&nbsp;</div>