<% # takes local variable line (presenter object) as input to partial %>
<tr>
  <td>
    <% if line.resource && line.resource.has_geolocation == true %>
      <span class="c-category__globe"></span>
    <% end %>
    <% if line.resource.submitted? # merritt state %>
      <%= link_to line.title, stash_url_helpers.show_path(line.external_identifier), class: 'o-link__primary' %>
    <% else %>
      <%= line.title %>
    <% end %>
  </td>
  <td>
    <%= line.embargo_status_pretty %>
  </td>
  <td>
    <% if %w(private published).include?(line.embargo_status) %>
      <%= default_date(line.publication_date) %>
    <% end %>
  </td>
  <td>
    <% if line.resource.dataset_in_progress_editor.id == current_user.id %>
	<%= button_to 'Preview', stash_url_helpers.show_path(line.external_identifier),
	 form_class: 'o-button__inline-form',
	 class: 'o-button__plain-text6',
	 method: :get,
         disabled: !line.resource.submitted? %>
	<%= button_to 'Update', stash_url_helpers.metadata_entry_pages_new_version_path(resource_id: line.resource.id),
	 form_class: 'o-button__inline-form',
         class: 'o-button__plain-text7',
         disabled: (line.resource.identifier && ( line.resource.identifier.in_progress? || line.resource.processing? || line.resource.current_curation_status == 'curation') ),
				 data: { disable_with: "Opening..." } %>
    <% else %>
      Dataset being edited by <%= line.resource.dataset_in_progress_editor.name %>
    <% end %>
  </td>
</tr>
