<li class="search-result">
  <h3><%= link_to result['dc_title_s']&.html_safe, show_path(id: result['dc_identifier_s']) %></h3>
  <p>Published <%= formatted_date(result['dct_issued_dt']) %>.
    <span class="author-list"><%= result['dc_creator_sm'].first(5).join('; ') %><% if result['dc_creator_sm'].size > 5 %>; et al<% end%></span>
  </p>
  <p><%= result['dc_description_s'].truncate_words(50)%></p>
  <p>
    <%= meta_list(result) %>
    <% if result['dc_subject_sm'].present? %>
    <span class="subjects">
      Subjects:
      <% result['dc_subject_sm'].limit(12).each do |subj| %>
        <%= link_to subj, "/search?subject=#{subj}", class: 'o-link__primary' %>
      <% end %>
      <% if result['dc_subject_sm'].size > 12 %>...<% end%>
    </span>
    <% end %>
  </p>
</li>