<div class="o-banner__stretch" style="margin-top: -2rem; margin-bottom: 2rem;">
  <%= render 'shared/search_banner' %>
</div>
<div class="c-columns">
  <div class="c-columns__content">
    <div id="search_result_info">
      <span>
        <span role="heading" aria-level="2">Results</span> <b><%= @results['start'] + 1 %> to <%= @results['start'] + [@page_size, @results['numFound'] - @results['start']].min %></b> of <b><%= @results['numFound'] %></b>
      </span>
      <span id="result_sorting">
        Sort by:
        <% if params.key?(:sort) %>
          <%= link_to('Relevance', new_search_path(request.parameters.except(:action, :controller, :sort))) %>
        <% else %>
          <span>Relevance</span>
        <% end %>
        <% if params[:sort] == 'date desc' %>
          <span>Newest</span>
        <% else %>
          <%= link_to('Newest', new_search_path(request.parameters.except(:action, :controller).merge(sort: 'date desc'))) %>
        <% end %>
        <% if params[:sort] == 'date asc' %>
          <span>Oldest</span>
        <% else %>
          <%= link_to('Oldest', new_search_path(request.parameters.except(:action, :controller).merge(sort: 'date asc')), disabled: true) %>
        <% end %>
      </span>
    </div>
    <ul id="search_result_list">
      <% @results['docs'].each do |result|%>
        <%= render partial: 'search_result', locals: {result: result} %>
      <% end %>
    </ul>
    <div class="c-space-paginator">
      <% pagination = Kaminari.paginate_array([], total_count: @results['numFound']).page(@page).per(@page_size) %>
      <%= paginate pagination, params: { page_size: @page_size } %>
      <div class="c-paginator-page_size">
        Per page:
        <%
          current_ps = params[:page_size].to_i
          current_ps = 10 if current_ps == 0
          [10, 50, 100].each do |ps| %>
          <% if ps == current_ps %>
            <span class="page-current"><%= ps %></span>
          <% else %>
            <%= link_to(ps, new_search_path(request.parameters.except(:action, :controller).merge(page_size: ps, page: 1)), 'aria-label': "#{ps} results per page") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="c-columns__sidebar search-filters">
    <h3>Filter results</h3>
    <%= display_filters(@facets['facet_fields']) %>
  </div>
</div>