<p>
  Current host is <%= StashEngine.repository.class.hostname %>, refreshed at <%= formatted_datetime(Time.new) %><br/>
  <% if @holding_submissions %>Submissions are being held for shutdown on this server<% else %>Normal submissions in effect on this server<% end %><br/>
  <%= @queued_count %> are in queued state<br/>
  <%= @processing_count %> are currently processing<br/>
  <%= @errored_count %> errored<br/>
  <%= @day_completed_submissions %> submissions completed in the last 24 hours<br/>
</p>

<table class="c-lined-table">
  <tr class="c-lined-table__head">
    <th class="c-admin-table">Resource id</th>
    <th class="c-admin-table">State</th>
    <th class="c-admin-table">Hostname</th>
    <th class="c-admin-table">Updated at</th>
  </tr>
  <% @queue_rows.each do |qr| %>
    <tr class="c-lined-table__row">
      <td><%= qr.resource_id %></td>
      <td><%= qr.state %></td>
      <td><%= qr.hostname %></td>
      <td><%= formatted_datetime(qr.updated_at) %></td>
    </tr>
  <% end %>
</table>