<%# takes a local of all_stats and seven_day_stats %>
<div class="o-admin-container">
  <div class="o-admin-head-left">
    <h2 class="o-heading__level3">At a glance</h2>
    <ul>
      <li><%= number_with_delimiter(all_stats.user_count) %> Users
      <li><%= number_with_delimiter(all_stats.dataset_count) %> Datasets
    </ul>
  </div>
  <div class="o-admin-head-right">
    <h2 class="o-heading__level3">Activity in the last 7 days</h2>
    <ul>
      <li><%= number_with_delimiter(seven_day_stats.user_count) %> users added
      <li><%= number_with_delimiter(seven_day_stats.datasets_started_count) %> datasets started
      <li><%= number_with_delimiter(seven_day_stats.datasets_submitted_count) %> datasets submitted
    </ul>
  </div>
</div>