<p>Edit curation status of <em><%= @resource.title %></em></p>

<%= hidden_field_tag :identifier_id, @resource.identifier_id %>

<%# Users cannot change the status or publication date once the files are published %>
 <% if @resource.curatable? && filter_status_select(@resource.current_curation_status) %>
  <%= form.fields_for :curation_activity, @curation_activity do |ca| %>
      <div class="c-input">
        <%= ca.label :status, 'Status', class: 'c-input__label' %>
        <%= ca.select :status, options_for_select(filter_status_select(@resource.current_curation_status)), {include_blank: true}, {id: 'activity_status_select', class: 'c-input__select'} %>
      </div>
  <% end %>
<% else %>
  <p>Due to the state of the files, the submission status cannot be changed.<br/> Notes may be added.</p>
<% end %>

<%# User can change the publication date If the resource is published or embargoed %>
<div class="c-input" id="c-input_publication_date" hidden>
  <%= form.label :publication_date, 'Publication date', class: 'c-input__label' %>
  <%= form.date_field :publication_date, class: 'c-input__text' %>
</div>

<%# User can always add a note %>
<%= form.fields_for :curation_activity, @curation_activity do |ca| %>
  <div class="c-input">
    <%= ca.label :note, 'Notes', class: 'c-input__label' %>
    <%= ca.text_area :note, class: 'c-input__textarea', id: 'activity_note', style: 'width: 100%;' %>
  </div>
<% end %>
