<% # locals: resource, curation_activity, title %>

<h1>Edit curation status of <%= title %></h1>

<%= form_with model: StashEngine::Resource.new, url: stash_url_helpers.curation_activity_change_path(resource.id),
              method: :post, local: false do |f| %>

  <p class="c-alert--error" style="display: none;">Unable to save your changes at this time due to an internal error. Please contact a developer.</p>

  <%# Users cannot change the status or publication date once the files are published %>
  <% if resource.curatable? %>
    <%= f.fields_for :curation_activity, curation_activity do |ca| %>
      <div class="c-input">
        <label class="c-input__label" for="resource_curation_activity_status">Status</label>
        <%= ca.select :status, options_for_select(filter_status_select(@resource.current_curation_status)), include_blank: true %>
      </div>
    <% end %>

    <%# User can change the publication date If the resource is published or embargoed %>
    <div class="c-input" id="c-input_publication_date">
      <label class="c-input__label" for="resource_curation_activity_publication_date">Publication Date</label>
      <%= f.date_field :publication_date %>
    </div>

  <% end %>

  <%# User can always add a note %>
  <%= f.fields_for :curation_activity, curation_activity do |ca| %>
    <div class="c-input">
      <label class="c-input__label" for="resource_curation_activity_note">Notes</label>
      <%= ca.text_area :note, class: 'c-input__textarea' %>
    </div>
  <% end %>

  <%= hidden_field_tag :identifier_id, @resource.identifier_id %>

  <%= submit_tag 'Submit' %>
  <%= button_tag 'Cancel', type: 'button', id: 'cancel_dialog' %>

<% end %>
