<%# takes dataset as local variable, dataset is a custom object of type StashEngine::AdminDatasets::CurationTableRow %>
<tr class="c-lined-table__row" id="js-dataset-row-id-<%= dataset.identifier_id %>">
  <!-- Title -->
  <td>
    <div class="c-lined-table__with-actions">
      <div class="c-lined-table__data">
        <% if dataset&.qualified_identifier %>
          <%= link_to dataset.title, stash_url_helpers.show_path(id: dataset.qualified_identifier), target: '_blank' %>
        <% else %>
          <%= dataset.title %>
        <% end %>
        <!-- Identifier -->
        <div class="c-lined-table__digits">DOI: <%= dataset.identifier %></div>
      </div>
      <div class="c-lined-table__actions">
        <%# only with permission and not being messed with or in_progress or they're the ones futzing with it and making it in progress, lockout other concurrent editing %>
      <% if policy([:stash_engine, :admin_datasets]).curation_actions? && policy(dataset).edit? %>
        <%= form_with(url: stash_url_helpers.metadata_entry_pages_new_version_path, method: :post) do %>
          <%= hidden_field_tag :resource_id, dataset.resource_id, id: "resource_id_#{dataset.resource_id}" %>
          <%= hidden_field_tag :return_url, '/stash/dashboard' %>
          <button class="c-admin-edit-icon js-trap-curator-url" title="Edit dataset" aria-label="Edit dataset"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <% end %>
      <% end %>
      <%= form_with(url: ds_admin_popup_path(id: dataset.identifier_id, field: 'stats'), method: :get, local: false) do %>
        <button class="c-admin-edit-icon js-stats" title="See dataset statistics" aria-label="See dataset statistics" aria-haspopup="dialog" aria-expanded="false" id="stats_button_<%= dataset.identifier_id %>"><i class="fa fa-bar-chart" aria-hidden="true"></i></button>
      <% end %>
      </div>
    </div>
  </td>
  <!-- Status -->
  <td>
    <div class="c-lined-table__with-actions">
      <div class="c-lined-table__data" id="js-curation-state-<%= dataset.identifier_id %>">
        <%= StashEngine::CurationActivity.readable_status(dataset.status) %>
      </div>
      <% if policy([:stash_engine, :admin_datasets]).curation_actions? %>
        <div class="c-lined-table__actions">
        <%= form_with(url: ds_admin_popup_path(id: dataset.identifier_id, field: 'curation_activity'), method: :get, local: false) do %>
          <button class="c-admin-edit-icon" title="Update status" aria-label="Update status" aria-haspopup="dialog" aria-expanded="false" id="curation_activity_button_<%= dataset.identifier_id %>">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        <% end %>
        </div>
      <% end %>
    </div>
  </td>
  <!-- Authors -->
  <td>
    <% if (dataset&.author_names&.length || 0) > 50 %>
      <%= "#{dataset.author_names[0..49]} ..." %>
    <% else %>
      <%= dataset.author_names %>
    <% end %>
  </td>
  <!-- Last Modified -->
  <td>
    <div class="c-lined-table__with-actions">
      <div class="c-lined-table__data c-lined-table__digits" id="js-curation-activity-date-<%= dataset.identifier_id %>">
        <span class="local-date" title="<%= formatted_datetime(dataset.updated_at) %>" data-dt="<%= dataset.updated_at.iso8601 unless dataset.updated_at.blank? %>"><%= formatted_datetime(dataset.updated_at) %></span>
      </div>
      <% if policy([:stash_engine, :admin_datasets]).activity_log? %>
        <div class="c-lined-table__actions">
          <a title="Activity log" aria-label="Activity log" href="<%= stash_url_helpers.activity_log_path(id: dataset.identifier_id) %>" class="c-admin-edit-icon">
            <i class="fa fa-clock" aria-hidden="true"></i>
          </a>
        </div>
      <% end %>
    </div>
  </td>
  <!-- Curation -->
  <td>
    <div class="c-lined-table__with-actions">
      <div class="c-lined-table__data" id="js-curation-activity-user-<%= dataset.identifier_id %>"><%= dataset.editor_name %></div>
      <% if policy([:stash_engine, :admin_datasets]).curation_actions? %>
        <div class="c-lined-table__actions">
          <%= form_with(url: ds_admin_popup_path(id: dataset.identifier_id, field: 'current_editor'), method: :get, local: false) do %>
            <button class="c-admin-edit-icon" title="Update curator" aria-label="Update curator" aria-haspopup="dialog" aria-expanded="false" id="current_editor_button_<%= dataset.identifier_id %>">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          <% end %>
        </div>
      <% end %>
    </div>
  </td>                    
  <!-- Size -->
  <td class="c-lined-table__digits"><%= filesize(dataset.resource_size) %></td>
  <!-- Submission Date -->
  <td class="c-admin c-lined-table__digits">
    <span class="local-date" title="<%= formatted_datetime(dataset.submission_date) %>" data-dt="<%= dataset.submission_date.iso8601 unless dataset.submission_date.blank? %>"><%= formatted_datetime(dataset.submission_date) %></span>    
  </td>
  <!-- Publication Date -->
  <td class="c-admin c-lined-table__digits" id="js-embargo-state-<%= dataset.identifier_id %>">
     <span class="local-date" title="<%= formatted_datetime(dataset.publication_date) %> UTC" data-dt="<%= dataset.publication_date.iso8601 unless dataset.publication_date.blank? %>"><%= formatted_datetime(dataset.publication_date) %></span>    
  </td>
</tr>
