<%= form_with(url: stash_url_helpers.url_for(controller: '/stash_engine/admin_datasets', action: 'index', only_path: true),
              method: 'get', id: 'filter_form') do -%>
<div class="o-admin-form-inline">
  <h3 class="o-heading__level3">Filter by:</h3>
  <% if institution_select.length > 1 %>
    <div class="o-admin-form-pair">
      <label for="tenant">Institution:</label>
      <%= select_tag(:tenant, options_for_select( [['Institution', '']] + institution_select, params[:tenant]), class: 'c-input__text', onchange: "this.form.submit();" ) %>
    </div>
    <div class="o-admin-form-pair">
      <label for="editor_id">Curator:</label>
      <%= select_tag(:editor_id, options_for_select( [['Curator', '']] + editor_select, params[:editor_id]),
		     class: 'c-input__text',                 
		     onchange: "this.form.submit();" ) %>
    </div>
  <% end %>
  <div class="o-admin-form-pair">
    <label for="curation_status">Status:</label>
    <%= select_tag(:curation_status, options_for_select( [['Status', '']] + status_select, params[:curation_status]),
                 class: 'c-input__text', onchange: "this.form.submit();" ) %>
  </div>
  <% if @publications.any? %>
    <div class="o-admin-form-pair">
      <label for="publication_name">Journal name:</label>
      <%= text_field_tag(:publication_name, params[:publication_name], class: 'c-input__text', id: 'publication_name') %>
    </div>
  <% end %>
  <% if current_user.limited_curator? %>
    <div class="o-admin-form-pair">
      <label for="sponsor_org">Sponsoring org:</label>
      <%= select_tag(:sponsor_org, options_for_select( [['Sponsoring org', '']] + sponsor_select, params[:sponsor_org]),
                   class: 'c-input__text', onchange: "this.form.submit();") %>
    </div>
  <% end %> 
  <% params.except(:controller, :action, :tenant, :curation_status, :sponsor_org, :editor_id,
		   :commit, :page, :page_size, :show_all, :publication_name).each_pair do |k,v| %>
    <%= hidden_field_tag k, v, id: "filter_#{k}" %>
  <% end %>
</div>
<% end -%>
<a href="#" id="filter_resetter">Reset all filters</a>

<script>
  // put this in here because it goes along with this form only
  $("#filter_resetter").click(function(e) {
    e.preventDefault();
    $("#tenant option[value='']").prop('selected',true);
    $("#editor_id option[value='']").prop('selected',true);
    $("#curation_status option[value='']").prop('selected',true);
    $('#publication_name[type="text"]').val('');
    $("#sponsor_org option[value='']").prop('selected',true);
    $("#filter_form").submit();
  });

  <% if @publications.any? %>
    $('#publication_name[type="text"]').autocomplete({
      select: function(event, ui) {
        $('#publication_name[type="text"]').val(ui.item.value)
        $('#publication_name[type="hidden"]').val(ui.item.value)
        this.form.submit();
      },
      change: function(event, ui) {
        if($('#publication_name[type="text"]').val() == ''){
          $('#publication_name[type="hidden"]').val('')
          this.form.submit();
        }
      },
      source: <%= @publications.to_json.html_safe %>
    });
  <% end %>
</script>
