<% # local: identifier %>
<div class="o-admin-dialog">
  <h1><%= title %></h1>
  <% if params[:sub_method] != 'put'
    my_path = internal_data_create_path(@identifier)
  else
    my_path = stash_engine_internal_datum_path(@internal_datum)
  end %>
  <%= form_with(model: @internal_datum, url: my_path, method: params[:sub_method], local: false ) do |f| -%>
    <div class="c-input">
      <%= f.select(:data_type, options_for_select( @options, @internal_datum.data_type), {}, { disabled: ( params[:sub_method] == 'put' ) } ) %>
    </div>
    <div class="c-input">
      <label class="c-input__label" for="internal_datum_value">Value</label>
      <%= f.text_area(:value, class: 'c-input__textarea') %>
    </div>
    <%= f.submit 'Submit' %>
    <%= f.button 'Cancel', type: 'button', id: 'cancel_dialog' %>

  <% end %>
</div>
