<h1>Notification date</h1>
<%= form_with(url: notification_date_path(@identifier.id), method: :post, local: false, model: @identifier, scope: :identifier) do |form| -%>
  <p>The next monthly reminder email will be sent on <b><%= formatted_date(@resource.process_date.notification_date) %></b></p>
  <p>The <%= @resource.current_curation_status == 'in_progress' ? 'latest version' : 'dataset' %> will be <%= @resource.current_curation_status == 'in_progress' ? 'deleted' : 'withdrawn' %> on <b><%= formatted_date(@resource.process_date.delete_date) %></b></p>
  <p>
  <p style="max-width: 510px;">You may select a new date on which to restart the monthly emails. This will also push back the scheduled <%= @resource.current_curation_status == 'in_progress' ? 'deletion' : 'withdrawal' %> to <b><%= @resource.current_curation_status == 'peer_review' ? '6 months' : '11 months' %></b> after the new notification date.</p>
  <p>Use the buttons below, or select a specific date.</p>
  <p>
    <span id="group-label" class="c-input__label">From today, push notifications:</span>
    <span role="group" aria-labelledby="group-label">
      <% periods = @resource.current_curation_status == 'peer_review' ? [6.months, 9.months, 1.year] : [1.month, 3.months, 6.months]%>
      <% periods.each do |period| %>
      <button type="button" class="button-toggle" data-value="<%= Date.today + period %>" <%if Date.today + period == Date.today + @resource.process_date.wait_period %>aria-disabled<%end%>><%= period.inspect %></button>
      <% end %>
    </span>
  </p>
  <div class="c-input">
    <%= form.label :notification_date, 'Notification restart date', class: 'c-input__label' %>
    <%= form.date_field :notification_date, class: 'c-input__text', min: @resource.process_date.notification_date, value: Date.today + @resource.process_date.wait_period, required: true %>
  </div>
  <%= form.fields_for :curation_activity, @curation_activity do |ca| %>
    <div class="c-input">
      <%= ca.label :note, 'Notes', class: 'c-input__label' %>
      <%= ca.text_area :note, class: 'c-input__textarea', style: 'width: 100%;' %>
    </div>
  <% end %>
  <div class="c-modal__buttons-right">
    <%= submit_tag 'Submit', class: 'o-button__plain-text2', id: 'popup_submit' %>
    <%= button_tag 'Cancel', type: 'button', id: 'cancel_dialog', class: 'o-button__plain-text7' %>
  </div>
<% end %>
