<h1>Payment history</h1>
<ul class="o-list zebra-list">
  <% @logs.each do |log| %>
    <li style="display: flex; justify-content: space-between; row-gap: 1ch; column-gap: 2ch">
      <% if log.class.name == 'ResourcePayment' %>
        <%= log.pay_with_invoice? ? 'Invoice' : 'Bill' %> for $<%= log.amount %> <%= log.status %>
        <% if log.has_discount? || log.ppr_fee_paid? %>
          (<%= log.has_discount? ? 'with PPR fee discount' : 'PPR fee' %>)
        <% end %> 
        <span style="font-size: .98rem"><%= formatted_datetime(log.updated_at) %></span>
      <% else %>
        <% type = log.object_changes.dig('payment_type', 1) %>
        <% id = log.object_changes.dig('payment_id', 1) %>
        <span><%= type === 'waiver' ? 'Added' : 'Sponsorship changed to' %> <%= type %> <%= link_to_account(type, id) %></span> <span style="font-size: .98rem"><%= formatted_datetime(log.created_at) %></span>
      <% end %>
    </li>
  <% end %>
</ul>
<div class="c-modal__buttons-right">
  <%= button_tag 'Close', type: 'button', id: 'cancel_dialog', class: 'o-button__plain-text7' %>
</div>