<h1>Edit publication dates</h1>
<p style="max-width: 480px">Edit the publication dates for the public versions. To set the latest publication date to the future, please change the status to embargoed.</p>
<%= form_with(url: ds_admin_pub_dates_path(@identifier.id), method: :post, local: false, model: @identifier, scope: :identifier) do |form| -%>
  <% @identifier.resources.with_public_metadata.each do |resource| %>
    <%= form.fields_for "resources[]", resource do |f| %>
        <div class="c-input">
          <%= f.label :publication_date, "Version #{resource.stash_version.version} Publication date (Resource ID #{resource.id})", class: 'c-input__label' %>
          <%= f.date_field :publication_date, class: 'c-input__text', max: Date.today %>
        </div>
    <% end %>
  <% end %>
  <div class="c-modal__buttons-right">
    <%= submit_tag 'Submit', class: 'o-button__plain-text2', id: 'popup_submit' %>
    <%= button_tag 'Cancel', type: 'button', id: 'cancel_dialog', class: 'o-button__plain-text7' %>
  </div>
<% end %>
