<%= form_with model: publication,
      url: resource_publication_path(publication.id),
      method: :put,
      local: false do |f| %>
  <div class="input-line" style="margin-bottom: 2rem; max-width: 100%;<%if publication.pub_type == 'preprint' %>width: 800px<%end%>">
    <div class="input-stack">
      <label class="c-input__label" for="<%= publication.pub_type %>_issn">
        <% if publication.pub_type == 'primary_article' %>Publication ISSN:<% end %>
        <% if publication.pub_type == 'preprint' %>Preprint server ISSN:<% end %>
      </label>
      <%= f.text_field(:publication_issn, class: 'c-input__text', style: "min-width: 0", id: "#{publication.pub_type}_issn") %>
    </div>
    <div class="input-stack" style="flex: 2">
      <label class="c-input__label" for="<%= publication.pub_type %>_name">
        <% if publication.pub_type == 'primary_article' %>Publication name:<% end %>
        <% if publication.pub_type == 'preprint' %>Preprint server name:<% end %>
      </label>
      <%= f.text_field(:publication_name, class: 'c-input__text', id: "#{publication.pub_type}_name") %>
    </div>
    <% if publication.pub_type == 'primary_article' %>
      <%= f.hidden_field(:manuscript_number) %>
      <div class="input-stack">
        <% jid = StashEngine::Journal.find_by_issn(publication.publication_issn)&.id %>
        <%= render partial: 'stash_engine/shared/search_select', locals: {
            id: "#{publication.pub_type}_man",
            label: 'Manuscript number:',
            field_name: '',
            options_path: "/stash_datacite/publications/automsid?#{jid ? "jid=#{jid}&" : ''}term=",
            options_label: 'id',
            options_value: 'id',
            selected: {value: publication.manuscript_number, label: publication.manuscript_number},
          } %>
      </div>
      <%= button_tag 'Save', class: 'o-button__plain-text2', style: 'align-self: flex-end', id: 'pub_save' %>
      <script type="text/javascript">
        document.getElementById('pub_save').addEventListener('click', () => {
          const inp = document.getElementById('searchselect-primary_article_man__input')
          const hid = document.getElementById('stash_engine_resource_publication_manuscript_number')
          hid.value = inp.value
          hid.form.requestSubmit()
        })
      </script>
    <% else %>
      <%= submit_tag 'Save', class: 'o-button__plain-text2', style: 'align-self: flex-end' %>
    <% end %>
  </div>
<% end %>