<% @page_title = "Activity Log for #{@identifier.to_s}" %>
<h1 class="o-heading__level1">Activity Log for <%= @identifier&.latest_resource&.title %></h1>

<div>
  <div style="float: left;"><br/><%= @identifier.to_s %></div>
  <% if current_user.limited_curator? %>
    <div style="float: right;">
      <%= form_with(url: stash_url_helpers.url_for(controller: '/stash_engine/admin_datasets', action: 'note_popup', id: @identifier&.id, only_path: true),
                    method: :get, remote: true) do -%>
        <button class="o-button__submit">Add Note</button>
      <% end %>
    </div>
  <% end %>
  <div style="clear: both";>&nbsp;</div>
  <table class="c-lined-table" id="curation_table">
      <tr class="c-lined-table__head">
      <th class="c-admin-table">
        Resource ID
      </th>	  
      <th class="c-admin-table <%= sort_display('created_at') %>">
        <%= sortable_column_head sort_field: 'created_at', title: 'Timestamp' %>
      </th>
      <th class="c-admin-table">
        Version
      </th>
      <th class="c-admin-table">
        Status
      </th>
      <th class="c-admin-table">
        Action taken by
      </th>
      <th class="c-admin-table">
        Notes
      </th>
    </tr>
    <% @curation_activities.each do |ca| %>
	<%= render partial: 'activity_log_row', locals: { curation_activity: ca } %>
    <% end %>
  </table>
</div>

<% if current_user.limited_curator? %>
    <div id="salesforce_links" style="clear: both">	
	<div style="float: left"><h2>Salesforce Cases</h2></div>
	<div style="float: right">
	    <br/>
	    <%= button_to "Create Salesforce Case",
	     stash_url_helpers.create_salesforce_case_path(id: @identifier&.id, only_path: false),
	     method: :get,
	     class: 'o-button__submit',
	     form: {target: '_blank'}
	     %>
	</div>
	
	<% sf_links = salesforce_links(@identifier.identifier) %>
	<% if sf_links %>
	    <div id="sf_link_list" style="clear: both">
		<table class="c-lined-table" id="curation_table">
		    <tr class="c-lined-table__head">
			<th class="c-admin-table">
			    Case
			</th>
			<th class="c-admin-table">
			    Status
			</th>
			<th class="c-admin-table">
			    Reason
			</th>			    
		    </tr>
		    <% sf_links.each do |sf_link| %>
			<tr class="c-lined-table__row">
			    <td>				
				<%= link_to sf_link.title, sf_link.path, target: '_blank' %>
			    </td>
			    <td>
				<%= sf_link.status %>
			    </td>
			    <td>
				<%= sf_link.reason %>
			    </td>
			</tr>
		    <% end %>
		</table>
	    </div>
	<% end %>
    </div>
<% end %>


<div id="internal_data" style="clear: both">
  <div style="float: left"><h2>Internal Data</h2></div>
  <% if current_user.limited_curator? %>
    <div style="float: right">
      <br/>
      <%= form_with(url: stash_url_helpers.url_for(controller: '/stash_engine/admin_datasets', action: 'data_popup', id: @identifier.id,
						   sub_method: 'post', only_path: true),
                    method: :get, remote: true) do -%>
        <button class="o-button__submit">Add Data</button>
      <% end %>
    </div>
  <% end %>
  
  <div id="internal_data_table" style="clear: both">
    <%= render partial: 'stash_engine/internal_data/table' %>
  </div>
</div>

<% if current_user.curator? %>
    <div id="dangerous_actions">
	<div style="float: left"><h2>Dangerous Actions</h2>

	    <div style="float: left">
		<% res = @identifier&.latest_resource %>
		<%= form_with(url: stash_url_helpers.metadata_entry_pages_new_version_path, method: :post, local: true) do -%>
			<button class="o-button__submit">Forcibly Edit Dataset</button>
			<%= hidden_field_tag :resource_id, res&.id, id: "resource_id_#{res&.id}" %>
			<%= hidden_field_tag :return_url, '/stash/dashboard' %>
		<% end %>
		<p>Forcibly editing a dataset will assign it to you, and begin an editing session.
		Please only do this if you know the author is unable/unwilling to submit it.</p>
	    </div>
	</div>
    </div>
<% end %>
