<% @page_title = "Activity log for #{@identifier.to_s}" %>
<h1 class="o-heading__level1">Activity log for <%= @identifier&.latest_resource&.title %></h1>

<div>
  <div style="float: left;"><br/><%= @identifier.to_s %></div>
  <% if current_user.limited_curator? || current_user.role == 'admin' %>
    <div style="float: right;">
      <%= form_with(url: stash_url_helpers.url_for(controller: '/stash_engine/admin_datasets', action: 'note_popup', id: @identifier&.id, only_path: true),
                    method: :get, local: false) do -%>
        <button class="o-button__submit">Add note</button>
      <% end %>
    </div>
  <% end %>
  <div class="table-wrapper" style="clear: both" ;>
  <table class="c-lined-table" id="curation_table">
    <thead>
    <tr>
      <th>
        Resource ID
      </th>
      <th class="c-lined-table__sort <%= sort_display('created_at') %>">
        <%= sortable_column_head sort_field: 'created_at', title: 'Timestamp' %>
      </th>
      <th>
        Version
      </th>
      <th>
        Status
      </th>
      <th>
        Action taken by
      </th>
      <th>
        Notes
      </th>
    </tr>
  </thead>
  <tbody>
    <% @curation_activities.each do |ca| %>
      <%= render partial: 'activity_log_row', locals: { curation_activity: ca } %>
    <% end %>
  </tbody>
  </table>
  </div>
</div>

<% if Stash::Salesforce::sf_user && (current_user.limited_curator? || current_user.role == 'admin') %>
  <div id="salesforce_links" style="clear: both">
    <div style="float: left"><h2>Salesforce cases</h2></div>
    <div style="float: right">
      <br/>
      <%= button_to "Create salesforce case",
                    stash_url_helpers.create_salesforce_case_path(id: @identifier&.id, only_path: false),
                    method: :get,
                    class: 'o-button__submit',
                    form: { target: '_blank' }
      %>
    </div>

    <% sf_links = salesforce_links(@identifier.identifier) %>
    <% if sf_links %>
      <div class="table-wrapper" id="sf_link_list" style="clear: both">
        <table class="c-lined-table" id="curation_table">
          <thead>
          <tr>
            <th>Case</th>
            <th>Status</th>
            <th>Reason</th>
          </tr>
        </thead>
        <tbody>
          <% sf_links.each do |sf_link| %>
            <tr class="c-lined-table__row">
              <td>
                <%= link_to sf_link.title, sf_link.path, target: '_blank' %>
              </td>
              <td>
                <%= sf_link.status %>
              </td>
              <td>
                <%= sf_link.reason %>
              </td>
            </tr>
          <% end %>
        </tbody>
        </table>
      </div>
    <% end %>
  </div>
<% end %>


<div id="internal_data" style="clear: both">
  <div style="float: left"><h2>Internal data</h2></div>
  <% if current_user.curator? || current_user.role == 'admin' %>
    <div style="float: right">
      <br/>
      <%= form_with(url: stash_url_helpers.url_for(controller: '/stash_engine/admin_datasets', action: 'data_popup', id: @identifier.id,
                                                   sub_method: 'post', only_path: true),
                    method: :get, local: false) do -%>
        <button class="o-button__submit">Add data</button>
      <% end %>
    </div>
  <% end %>

  <div id="internal_data_table" class="table-wrapper" style="clear: both">
    <%= render partial: 'stash_engine/internal_data/table' %>
  </div>
</div>

<% if current_user.superuser? %>
  <div id="payment_info" class="table-wrapper" style="clear: both">
    <div style="float: left"><h2>Payment information</h2></div>
    <%= render partial: 'payment_info_table' %>
  </div>
<% end %>

<% if current_user.curator? %>
  <div id="dangerous_actions">
    <div style="float: left"><h2>Dangerous actions</h2>

      <div style="float: left">
        <% res = @identifier&.latest_resource %>
        <%= form_with(url: stash_url_helpers.metadata_entry_pages_new_version_path,
                      method: :post, :html => { onsubmit: "document.body.classList.add('prevent-clicks')" }) do -%>
          <button class="o-button__submit">Forcibly edit dataset</button>
          <%= hidden_field_tag :resource_id, res&.id, id: "resource_id_#{res&.id}" %>
          <%= hidden_field_tag :return_url, '/stash/dashboard' %>
        <% end %>
        <p>Forcibly editing a dataset will assign it to you, and begin an editing session.
          Please only do this if you know the author is unable/unwilling to submit it.</p>
      </div>

      <% if current_user.superuser? && @identifier.payment_type != 'waiver' %>
        <div style="float: left" id="apply_fee_waiver">
          <%= form_with(url: stash_url_helpers.url_for(controller: '/stash_engine/admin_datasets', action: 'waiver_popup', id: @identifier.id,
                                                       sub_method: 'post', only_path: true),
                        method: :get, local: false) do -%>
            <button class="o-button__submit">Apply fee waiver</button>
            <p>&nbsp;</p>
          <% end %>
        </div>
      <% end %>

      <div style="clear: both" id="revert_edit_div">

        <hr/>
        <h3>New version based on previous</h3>
        <% if @identifier&.latest_resource&.current_resource_state&.submitted? && @identifier.resources.count > 1 %>
          <%
            resource_list = @identifier.resources.includes(:stash_version).by_version
            sel_list = resource_list.map do |res|
              ["Version #{res.stash_version.version}, (updated #{res.updated_at.strftime('%Y-%m-%d')})", res.id]
            end
            sel_idx = resource_list[-2]&.id || resource_list.last.id
          %>
          <%= form_with(url: metadata_entry_pages_new_version_from_previous_path,
                        method: :post, :html => { onsubmit: "document.body.classList.add('prevent-clicks')" }) do |f| -%>

            <%= f.label :select_res, 'Select version' %>
            <%= f.select(:resource_id, options_for_select(sel_list, sel_idx), {}, id: 'select_res') %>
            <button class="o-button__submit">&lt;- New edit based on</button>

            <p>
              Note: Creating and editing a new version based on an old one does not duplicate the old files, but <em>just
              the user-entered metadata</em>. The files may need to be manually deleted or uploaded if the files in the
              last version of the dataset are not correct.
            </p>
          <% end %>
        <% else %>
          <p>
            You may only create and edit a new version based on an old version if there are currently no in-progress
            versions being edited or there is more than one version submitted.
          </p>
        <% end %>
      </div>

    </div>
  </div>
<% end %>

