<% @page_title = "Activity log for #{@identifier.to_s}" %>
<% content_for(:head) do %>
<style type="text/css">
  dl {
    margin: 0;
  }
  dl:not(:first-child) {
    margin-top: 1ch;
  }
  dl div {
    display: flex;
    align-items: baseline;
    gap: 1ch;
  }
  dt {
    font-weight: 600;
    display: inline;
    white-space: nowrap;
  }
  dd {
    display: inline;
    margin: 0;
  }
</style>
<% end %>
<% r = @identifier&.latest_resource %>

<%= render partial: 'privileged_banner' %>
<div class="admin-dashboard-header">
  <h1 class="o-heading__level1"><%= r&.title&.html_safe %></h1>
  <%= @identifier.identifier %>
</div>
<div id="dupe_check" class="callout warn" data-load="<%= stash_url_helpers.dupe_check_resource_path(format: :js, id: r&.id, admin: true) %>" aria-busy="true" role="alert"></div>
<div class="callout alt">
  <%= render partial: 'at_a_glance' %>
</div>

<div class="activity-log-header">
  <h2>Activity log</h2>
  <div class="input-line" style="align-items: baseline;">
    <% if policy([:stash_engine, :admin_datasets]).note_popup? %>
      <%= form_with(url: ds_admin_popup_path(id: @identifier&.id, field: 'note'), method: :get, local: false) do %>
        <button class="o-button__plain-text2" aria-haspopup="dialog">Add note</button>
      <% end %>
    <% end %>
    <div class="input-line" style="font-size: .99rem; padding: 0 0.5rem;">
      <button class="c-admin-edit-icon" id="all_activity" title="All curation activity" aria-label="All curation activity" aria-expanded="false">
        <i class="fas fa-comment" aria-hidden="true"></i>
      </button>
      <button class="c-admin-edit-icon" id="all_changes" title="All metadata changes" aria-label="All metadata changes" aria-expanded="false">
        <i class="fas fa-user-pen" aria-hidden="true"></i>
      </button>
      <button class="c-admin-edit-icon" id="all_file_changes" title="All file changes" aria-label="All file changes" aria-expanded="false">
        <i class="fas fa-file-pen" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
<div id="activity-log">
  <%= render partial: 'activity_log' %>
</div>

<% if policy([:stash_engine, :admin_datasets]).create_salesforce_case? && Stash::Salesforce.sf_user %>
  <div class="activity-log-header">
    <h2 id="salesforce-cases">Salesforce cases</h2>
    <%= button_to "Create SF case",
                  stash_url_helpers.create_salesforce_case_path(id: @identifier&.id, only_path: false),
                  method: :get,
                  class: 'o-button__plain-text2',
                  form: { target: '_blank' }
    %>
  </div>
  <% sf_links = salesforce_links(@identifier.identifier) %>
  <% if sf_links %>
    <div class="table-wrapper c-lined-table-wrapper" id="sf_link_list" role="region" tabindex="0" style="margin-top: 0" aria-labelledby="salesforce-cases">
      <table class="c-lined-table" id="curation_table">
        <thead>
        <tr>
          <th>Case</th>
          <th>Status</th>
          <th>Reason</th>
        </tr>
      </thead>
      <tbody>
        <% sf_links.each do |sf_link| %>
          <tr class="c-lined-table__row">
            <td><%= link_to sf_link.title, sf_link.path, target: '_blank' %></td>
            <td><%= sf_link.status %></td>
            <td><%= sf_link.reason %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  <% else %>
    <div style="background-color: #f2f2f2; padding: .5ch"><em>None</em></div>
  <% end %>
<% end %>

<% if @identifier.internal_data.present? %>
<p><button class="o-button__plain-text7" onclick="document.getElementById('internal_data').toggleAttribute('hidden')"><i class="fa fa-eye" aria-hidden="true" style="margin-right: .5ch;"></i>View historical Internal data</button></p>
<% end %>
<div id="internal_data" hidden>
  <div class="activity-log-header">
    <h2 style="margin-top: 0;">Internal data</h2>
    <% if policy([:stash_engine, :admin_datasets]).data_popup? %>
      <%= form_with(url: ds_admin_popup_path(id: @identifier&.id, field: 'data'), method: :get, local: false) do %>
        <button class="o-button__plain-text2" aria-haspopup="dialog">Add data</button>
      <% end %>
    <% end %>
  </div>
  <div id="internal_data_table" class="table-wrapper c-lined-table-wrapper" style="margin-top: 0" role="region" tabindex="0" aria-labelledby="internal-data">
    <%= render partial: 'stash_engine/internal_data/table' %>
  </div>
</div>

<% if policy(r).curate? %>
<%= render partial: 'dangerous_actions' %>
<% end %>

<% content_for(:doc_end) do %>
<script type="text/javascript">
  const cancelClick = () => {
    document.getElementById('genericModalDialog').close();
  }
  const statusChange = (e) => {
    if (e.currentTarget.value === 'published' || e.currentTarget.value === 'embargoed') {
      document.getElementById('c-input_publication_date').removeAttribute('hidden');
    } else {
      document.getElementById('c-input_publication_date').setAttribute('hidden', 'hidden');
    }
  }
  var noClicks = Array.from(document.getElementsByClassName('prevent-click'));
  noClicks.forEach(button => {
    button.removeEventListener('click', preventClicks);
    button.addEventListener('click', preventClicks);
  });
</script>
<% end %>
