<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dryad <%= @page_title %></title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#40853e">
  <meta name="msapplication-TileColor" content="#40853e">
  <meta name="theme-color" content="#ffffff">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

  <% # this is hacky, but dependency problems with geoblacklight/discovery loading jquery twice otherwise and no way to stop
  if request.path.start_with?(APP_CONFIG.stash_mount) %>
    <%= render 'layouts/stash_engine/head' %>
  <% else %>
    <%= render 'layouts/head' %>
  <% end %>

  <%= render 'layouts/stash_engine/google_analytics' %>

  <% if Rails.env == 'production' %>
    <!-- for experimental tracking of Counter Code of Practice stats on production -->
    <script async defer data-domain="datadryad.org" src="https://plausible.io/js/plausible.js"></script>
  <% end %>

  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body class='<%= "#{controller_name}_#{action_name}" %>'>
  <a class="c-skipnav" href="#maincontent">Skip to main content</a>
  <% unless request.path.start_with?(APP_CONFIG.stash_mount) %>
    <%= render partial: 'layouts/geoblacklight_extras' %>
  <% end %>
  <% if params[:controller].try(:include?, 'pages') && params[:action] == 'home' %>
    <header class="t-home__header c-header">
  <% else %>
    <header class="c-header">
  <% end %>
    <div class="c-header__logos">
      <button aria-label="mobile menu" class="o-button__menu c-header__menu-button js-header__menu-button"></button>
      <%= link_to(stash_url_helpers.root_path, class: 'c-header__dash-logo-link js-nav-out') do %>
        <%
          dash_logo = image_tag('stash_engine/logo_dryad.png', class: 'c-header__dash-logo-svg', alt: 'Dryad logo')
        tenant_logo = ( (current_tenant.blank? || current_tenant.logo_file.blank?) ? '' : logo_path(class: "c-header__dash-logo-svg") ) %>
        <%= dash_logo %><%= tenant_logo %>
      <% end %>
    </div>

    <%= render partial: "stash_engine/pages/nav" %>

  </header>
  <%= render partial: "stash_engine/shared/flash_messages" %>
  <main id="maincontent">
  <%= yield %>
  </main>

<%= render partial: "stash_engine/shared/footer" %>
</body>
</html>
