<% unless abstract.try(:description).blank? %>
  <% if params[:controller].include?('landing') %>
    <h2 class="o-heading__level2">Abstract</h2>
  <% else %>
    <h3 class="o-heading__level2">Abstract</h3>
  <% end %>
  <div class="t-landing__text-wall <%= 'highlight' if highlight_fields.include?('abstract') %>">
    <%= raw(abstract.display_desc) %>
  </div>
<% end %>

<% unless methods.try(:description).blank? %>
  <% if params[:controller].include?('landing') %>
    <h2 id="methods" class="expand-button"><button aria-expanded="false" aria-controls="methods-sec">Methods</button></h2>
  <% else %>
    <h3 class="o-heading__level2">Methods</h3>
  <% end %>
  <div id="methods-sec" <% if params[:controller].include?('landing') %>hidden<% end %> class="t-landing__text-wall <%= 'highlight' if highlight_fields.include?('methods') %>">
    <%= raw(methods.display_desc) %>
  </div>
<% end %>

<% unless other.try(:description).blank? %>
  <% if params[:controller].include?('landing') %>
    <h2 id="usage" class="expand-button"><button aria-expanded="false" aria-controls="usage-sec">Usage notes</button></h2>
  <% else %>
    <h3 class="o-heading__level2">Usage notes</h3>
  <% end %>
  <div id="usage-sec" <% if params[:controller].include?('landing') %>hidden<% end %> class="t-landing__text-wall <%= 'highlight' if highlight_fields.include?('usage_notes') %>">
    <%= raw(other.display_desc) %>
  </div>
<% end %>
