<% unless abstract.try(:description).blank? %>
  <% if params[:controller].include?('landing') %>
    <h2 class="o-heading__level2">Abstract</h2>
  <% else %>
    <h3 class="o-heading__level2">Abstract</h3>
  <% end %>
  <div class="t-landing__text-wall <%= 'highlight' if highlight_fields.include?('abstract') %>">
    <%= raw(abstract.description) %>
  </div>
<% end %>

<% unless methods.try(:description).blank? %>
  <% if params[:controller].include?('landing') %>
    <h2 class="o-heading__level2">Methods</h2>
  <% else %>
    <h3 class="o-heading__level2">Methods</h3>
  <% end %>
  <div class="t-landing__text-wall <%= 'highlight' if highlight_fields.include?('methods') %>">
    <%= raw(methods.description) %>
  </div>
<% end %>

<% unless other.try(:description).blank? %>
  <% if params[:controller].include?('landing') %>
    <h2 class="o-heading__level2">Usage notes</h2>
  <% else %>
    <h3 class="o-heading__level2">Usage notes</h3>
  <% end %>
  <div class="t-landing__text-wall <%= 'highlight' if highlight_fields.include?('usage_notes') %>">
    <%= raw(other.description) %>
  </div>
<% end %>
