<div class="table-wrapper">
<table class="c-lined-table">
  <thead>
  <tr>
    <th class="c-lined-table__sort <%= sort_display('id') %>">
      <%= sortable_column_head sort_field: 'id', title: 'ID' %>
    </th>
    <th class="c-lined-table__sort <%= sort_display('identifier_id') %>">
      <%= sortable_column_head sort_field: 'identifier_id', title: 'Ident. ID' %>
    </th>
    <th class="c-lined-table__sort <%= sort_display('resource_id') %>">
      <%= sortable_column_head sort_field: 'resource_id', title: 'Res. ID' %>
    </th>
    <th class="c-lined-table__sort <%= sort_display('state') %>">
      <%= sortable_column_head sort_field: 'state', title: 'State' %>
    </th>
    <th class="c-lined-table__sort <%= sort_display('updated_at') %>">
      <%= sortable_column_head sort_field: 'updated_at', title: 'Updated at' %>
    </th>
    <th class="c-lined-table__sort <%= sort_display('created_at') %>">
      <%= sortable_column_head sort_field: 'created_at', title: 'Created at' %>
    </th>
    <th class="c-lined-table__sort <%= sort_display('copy_type') %>">
      <%= sortable_column_head sort_field: 'copy_type', title: 'Copy type' %>
    </th>
    <th class="c-lined-table__sort <%= sort_display('size') %>">
      <%= sortable_column_head sort_field: 'size', title: 'Size' %>
    </th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @zenodo_copies.each do |zc| %>
    <tr class="c-lined-table__row" id="tr_<%= zc.id %>">
      <td class="c-lined-table__digits"><%= link_to(zc.id, zenodo_queue_item_details_path(zc.id), target: '_blank') %></td>
      <td class="c-lined-table__digits">
        <% unless zc.identifier_id.blank? %>
          <%= link_to(zc.identifier_id, zenodo_queue_identifier_details_path(zc.identifier_id), target: '_blank') %>
        <% end %>
      </td class="c-lined-table__digits">
      <td><%= zc.resource_id %></td>
      <td id="job_state_<%= zc.id %>"><%= zc.state %></td>
      <td class="c-lined-table__digits"><%= formatted_datetime(zc.updated_at) %></td>
      <td class="c-lined-table__digits"><%= formatted_datetime(zc.created_at) %></td>
      <td><%= zc.copy_type.gsub('_', ' ') %></td>
      <td class="c-lined-table__digits"><%= filesize(zc.size) %></td>
      <td>
        <%= button_to('resend', zenodo_queue_resubmit_job_path(id: zc.id), remote: true) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
