<% @page_title = 'Describe your datasets - publish and preserve your data' %>
<!-- needed for react -->
<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application' %>
<%= render partial: 'stash_engine/shared/dataset_non_user_editor', locals: {resource: @resource} %>
<%= render partial: 'stash_engine/shared/dataset_steps_nav' %>
<script>
  function googleMapsApiKey() {
    return "";
  }
</script>
<div id="find_or_create"
    data-load="<%= stash_url_helpers.datacite_metadata_entry_pages_path(resource_id: params[:resource_id], display_validation: params[:display_validation], format: :js) %>">
  <%= image_tag 'stash_engine/spinner.gif', size: '80x60', alt: 'Loading spinner' %>
</div>
