<%= form_with(model: StashEngine::SavedSearch, url: update_saved_search_path(saved_search.id), method: :patch, local: false, class: 'saved_search_form') do %>
  <div>
    <%= check_box_tag(:default, true, saved_search.default)%>
    <%= label_tag(:default, 'Default') %>
  </div>
  <div>
    <%= text_field_tag(:title, saved_search.title, class: 'c-input__text', maxlength: '50', required: true, 'aria-label': 'Name') %>
  </div>
  <div>
    <%= text_area_tag(:description, saved_search.description, class: 'c-input__textarea', style: 'width: 100%; min-height: 2rem;', 'aria-label': 'Description') %>
  </div>
  <button type="submit" aria-label="Save" class="c-admin-edit-icon"><i class="fa fa-floppy-disk" aria-hidden="true"></i></button>
  <button type="button" aria-label="Cancel" id="cancel_save<%= saved_search.id %>" class="c-admin-edit-icon"><i class="fa fa-times" aria-hidden="true"></i></button>
<% end %>