<% @page_title = "My account" %>
<%= javascript_pack_tag 'application' %>
<script type="text/javascript">
  ReactRailsUJS.mountComponents();
  console.log("loaded rails javascript for data entry and react components");
</script>
<div id="page-columns">
  <div id="page-content">
    <div style="display: flex; align-items: center; justify-content: space-between; row-gap: 2ch">
      <h1>My account</h1>
      <% if current_user.orcid %>
        <p><a href="<%= current_user.orcid_link %>" target="_blank"><span class="c-orcid__icon"><span class="screen-reader-only">ORCID profile (opens in new tab): </span></span><%= current_user.orcid %></a></p>
      <% end %>
    </div>
    <div id="user_profile">
      <%= render partial: 'user_profile' %>
    </div>
    <%= render partial: 'change_tenant' %>
    <div id="admin_searches">
      <% if current_user.min_admin? %>
        <h2 id="saved">Saved searches</h2>
        <% if current_user.admin_searches.empty? %>
          <p>Save searches from the new <%= link_to 'Admin dashboard', admin_dashboard_path %></p>
        <% else %>
          <p>Click the search name to view results and to edit search fields and filters.</p>
          <ol class="saved_searches_list" id="admin_searches_list">
            <% current_user.admin_searches.each_with_index do |s,i| %>
              <%= render partial: 'saved_search', locals: { saved_search: s, index: i } %>
            <% end %>
          </ol>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
