<% @page_title = "My account" %>
<%= javascript_pack_tag 'application' %>
<script type="text/javascript">
  ReactRailsUJS.mountComponents();
  console.log("loaded rails javascript for data entry and react components");
</script>
<div id="page-columns">
  <div id="page-content">
    <div style="display: flex; align-items: center; justify-content: space-between; row-gap: 2ch">
      <h1>My account</h1>
      <% if current_user.orcid %>
        <p><a href="<%= @orcid_link %>" target="_blank"><span class="c-orcid__icon"><span class="screen-reader-only">ORCID profile (opens in new tab): </span></span><%= current_user.orcid %></a></p>
      <% end %>
    </div>
    <%= form_with(url: edit_account_path, method: :post, id: 'user_edit_form', local: false) do |f| %>
      <div class="c-input__inline">
        <div class="c-input">
          <%= f.label :first_name, "First name", class: 'c-input__label' %>
          <%= f.text_field :first_name, class: 'c-input__text', required: true, value: current_user.first_name %>
        </div>
        <div class="c-input">
          <%= f.label :last_name, "Last name", class: 'c-input__label' %>
          <%= f.text_field :last_name, class: 'c-input__text', required: true, value: current_user.last_name %>
        </div>
      </div>
      <div class="c-input">
        <%= f.label :email, "Email", class: 'c-input__label' %>
        <%= f.text_field :email, class: 'c-input__text', value: current_user.email %>
      </div>
      <p style="display: flex; align-items: baseline; justify-content: space-between; flex-wrap: wrap; gap: 2ch">
        <span style="color: #cf4817;">* Fields are required</span>
        <%= f.submit 'Save changes', id: 'edit_submit', class: 'o-button__plain-text2', disabled: true %>
      </p>
    <% end %>
    <div style="min-height: 320px">
      <p class="c-input__label">Dryad member affiliation:</p>
      <div id="dryad-member">
        <% if current_tenant.id != 'dryad' %>
          <p style="display: flex; align-items: center; column-gap: 2ch">
            <%= logo_path({style: 'max-height: 50px'}) unless current_tenant.logo.blank? %>
            <%= current_tenant.long_name %>
            <span style="flex-grow: 1"></span>
            <button class="o-button__plain-text7" id="edit_tenant" aria-expanded="false" aria-controls="edit_tenant-form"><i class="fa fa-pencil" aria-hidden="true"></i> Edit affiliation</button>
          </p>
        <% else %>
        <p><button class="o-button__plain-text7" id="edit_tenant" aria-expanded="false" aria-controls="edit_tenant-form"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add a Dryad member institution</button></p>
        <% end %>
      </div>
      <div id="edit-tenant-form" hidden>
        <p id="label_tenant_lookup">Select your Dryad member institution:</p>
        <div class="t-login__choose">
          <div class="c-institution__container">
            <%= form_with(url: sso_path, method: :post, html: {style: 'justify-content: flex-start;'}) do %>
              <%= react_component('components/TenantForm', {tenants: @tenants}) %>
              <%= submit_tag 'Login to verify', class: 't-login__buttonlink' %>
              <span style="flex-grow: 1"></span>
              <button class="o-button__plain-text7" id="keep_tenant" aria-expanded="true" aria-controls="edit_tenant-form"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
            <% end %>
          </div>
        </div>
        <% if current_tenant.id != 'dryad' %>
          <br/><br/>
          <p>Is your institution not a member of Dryad?</p>
          <%= form_with(url: no_partner_path, method: :post) do |f| %>
            <%= f.button type: 'submit', class: 'o-button__plain-text7' do %>
               <i class="fa fa-minus-circle" aria-hidden="true"></i> Remove member affiliation (<%= current_tenant.short_name %>)
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  document.getElementById('edit_submit').disabled = true
  const form = document.getElementById('user_edit_form')
  form.addEventListener("change", () => {
    document.getElementById('edit_submit').disabled = !form.checkValidity()
  });
  document.getElementById('edit_tenant').addEventListener('click', () => {
    document.getElementById('dryad-member').setAttribute('hidden', 'hidden');
    document.getElementById('edit-tenant-form').removeAttribute('hidden');
  });
  document.getElementById('keep_tenant').addEventListener('click', (e) => {
    e.preventDefault();
    document.getElementById('edit-tenant-form').setAttribute('hidden', 'hidden');
    document.getElementById('dryad-member').removeAttribute('hidden');
  });
</script>