<%# the local variable 'related_identifier' should be passed in to this partial when there are multiple per page %>
<% form_id = unique_form_id(related_identifier) %>
<%= form_with(model: related_identifier, url: path, remote: true, authenticity_token: true, html: { id: form_id, class: 'c-input__inline' }) do |f| %>
  <% my_suffix = field_suffix(related_identifier) %>
  <%#= render "datacite/shared/error_messages", :target => @related_identifier %>

  <div class="c-input">
    <%= f.select(:work_type, StashDatacite::RelatedIdentifier::WORK_TYPE_CHOICES.invert.to_a, {},
                 {id: "work_type_#{my_suffix}", class: "js-work_type c-input__select"}) %>
  </div>
  <div class="c-input">
    <%= f.text_field :related_identifier, size: 40, id: "related_identifier_#{my_suffix}", class: "js-related_identifier c-input__text"  %>
  </div>
  <%= link_to 'remove', stash_datacite.related_identifiers_delete_path(related_identifier.id || 'new'), method: :delete, remote: true, data: { confirm: 'Are you sure you want to remove this related work?' }, class: 'remove_record t-describe__remove-button o-button__remove' %>
    <%= f.hidden_field :resource_id %>
    <%= f.hidden_field :id %>
    <%= hidden_field_tag(:form_id, form_id) %>
<% end %>