<p id="notice"><%= notice %></p>

<h1>Fos Subjects</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fos_subjects.each do |fos_subject| %>
      <tr>
        <td><%= link_to 'Show', fos_subject %></td>
        <td><%= link_to 'Edit', edit_fos_subject_path(fos_subject) %></td>
        <td><%= link_to 'Destroy', fos_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fos Subject', new_fos_subject_path %>
