<h1>Migrate Your Data</h1>

<p>To migrate your data from your old Dryad account,
  please enter the email address you used for that account.
  An email containing a six-digit code will be sent shortly. If you have any questions please get
  in touch at <a href="mailto:help@datadryad.org">help@datadryad.org</a>.
</p>

<fieldset class="c-fieldset">
  <%= form_tag auth_migrate_mail_path, class: "c-input__inline", method: "get" do %>
    <div class="c-input__emailcode-text">
      <%= label_tag("Email address", nil, {:class=>"c-input__label"})%>
      <%= text_field_tag(:email, params[:email], {:class=>"c-input__text"}) %>
    </div>
      <div class="c-input__emailcode-button">
      <br/>
      <%= submit_tag("Send code", {:class=>'o-button__plain-text5'}) %>
    </div>
    <div class="c-input__emailcode-spacer">&nbsp;</div>
  <% end %>

  <%= form_tag auth_migrate_code_path, class: "c-input__inline", method: "get" do %>
    <div class="c-input__emailcode-text">
      <%= label_tag("Enter code", nil, {:class=>"c-input__label"})%>
      <%= text_field_tag(:code, nil, {:class=>"c-input__text"}) %>
      <%= hidden_field_tag(:email, params[:email]) %>
    </div>
    <div class="c-input__emailcode-button">
      <br/>
      <%= submit_tag("Migrate data", {:class=>'o-button__plain-text5'}) %>
    </div>
    <div class="c-input__emailcode-spacer">&nbsp;</div>
  <% end %>
</fieldset>