<h1>Migrate Your Data</h1>
<div>To migrate your data from your old DASH or Dryad account, please enter the email address you used for that account.
  An email containing a six-digit code will be sent within five minutes.</div>
<%= form_tag(auth_migrate_mail_path, method: "get") do %>
  <%= label_tag(:email, "Email address:") %>
  <%= text_field_tag(:email) %>
  <%= submit_tag("Send code") %>
<% end %>

<div>Please enter the six-digit code from your email message to migrate your data.</div>
<%= form_tag(auth_migrate_code_path, method: "get") do %>
  <%= label_tag(:code, "Enter code:") %>
  <%= text_field_tag(:code) %>
  <%= submit_tag("Migrate data") %>
<% end %>
