<nav class="c-header__nav js-header__nav">
  <form role="search" class="o-global-search c-header__global-search" action="/search" accept-charset="UTF-8" method="get">
    <input name="utf8" value="✓" type="hidden">
    <label class="o-global-search__label" for="search-field-input1">Search Dryad site</label>
    <input class="o-global-search__input" id="search-field-input1" type="search" name="q" placeholder="Search">
    <button aria-label="Submit search" class="o-global-search__submit-button" type="submit" id="search"></button>
  </form>

  <div class="c-header__nav-group">
    <% if current_user && %w[development test local_dev local].include?(Rails.env) %>
      <span class="c-header__nav-item" title="<%= current_user.email %>" style="color: blue;">[<%= current_user.name %>
        @<%= current_tenant&.tenant_id %>]</span>
    <% end %>
    <% if current_user && current_user.limited_curator? && !(current_user.role == 'tenant_curator') %>
      <div class="c-header__nav-item">
        <div class="o-sites">
          <details class="o-showhide o-sites__details" role="group">
            <summary class="o-showhide__summary o-sites__summary">Admin</summary>
            <div class="o-sites__group">
              <%= link_to 'Dataset Curation', stash_url_helpers.url_for(controller: 'stash_engine/admin_datasets', action: 'index',
                                                                        editor_id: current_user.id, curation_status: 'submitted', only_path: true), class: 'o-sites__group-item' %>
              <%= link_to 'Curation Stats', stash_url_helpers.curation_stats_path, class: 'o-sites__group-item' %>
              <%= link_to 'Journals', stash_url_helpers.journals_path, class: 'o-sites__group-item' %>
              <% if current_user.curator? %>
                <%= link_to 'Publication Updater', stash_url_helpers.publication_updater_path, class: 'o-sites__group-item' %>
              <% end %>
              <%= link_to 'Dataset Funders', stash_url_helpers.ds_admin_funders_path, class: 'o-sites__group-item' %>
              <% if current_user.superuser? %>
                <%= link_to 'User Management', stash_url_helpers.user_admin_path, class: 'o-sites__group-item' %>
                <%= link_to 'Status Dashboard', stash_url_helpers.status_dashboard_path, class: 'o-sites__group-item' %>
                <%= link_to 'Submission Queue', stash_url_helpers.url_for(controller: 'stash_engine/submission_queue', action: 'index', only_path: true), class: 'o-sites__group-item' %>
                <%= link_to 'Zenodo Submissions', stash_url_helpers.zenodo_queue_path, class: 'o-sites__group-item' %>
              <% end %>
            </div>
          </details>
        </div>
      </div>
    <% elsif current_user && (current_user.journals_as_admin.present? || current_user.funders_as_admin.present?) %>
      <%= link_to 'Admin', stash_url_helpers.url_for(controller: 'stash_engine/admin_datasets', action: 'index', only_path: true), class: 'c-header__nav-item' %>
    <% elsif current_user && (current_user.role == 'admin' || current_user.role == 'tenant_curator') %>
      <div class="c-header__nav-item">
        <div class="o-sites">
          <details class="o-showhide o-sites__details" role="group">
            <summary class="o-showhide__summary o-sites__summary">Admin</summary>
            <div class="o-sites__group">
              <%= link_to 'Datasets', stash_url_helpers.url_for(controller: 'stash_engine/admin_datasets', action: 'index',
                                                                        editor_id: current_user.id, curation_status: 'submitted', only_path: true), class: 'o-sites__group-item' %>
              <%= link_to 'Dataset Funders', stash_url_helpers.ds_admin_funders_path, class: 'o-sites__group-item' %>
            </div>
          </details>
        </div>
      </div>
    <% end %>
    <%# link_to 'Home', stash_url_helpers.root_path, class: 'c-header__nav-item' %>
    <%= link_to 'Explore Data', '/search', class: 'c-header__nav-item js-nav-out' %>

    <div class="c-header__nav-item">
      <div class="o-sites">
        <details class="o-showhide o-sites__details" role="group">
          <summary class="o-showhide__summary o-sites__summary">About</summary>
          <div class="o-sites__group">
            <%= link_to 'Our Mission', "#{stash_url_helpers.our_mission_path}", class: 'o-sites__group-item' %>
            <%= link_to 'Our Membership', "#{stash_url_helpers.our_membership_path}", class: 'o-sites__subgroup-head' %>
            <%= link_to 'Join Us', "#{stash_url_helpers.join_us_path}", class: 'o-sites__subgroup-lastitem' %>
            <%= link_to 'Our Governance', "#{stash_url_helpers.our_governance_path}", class: 'o-sites__group-item' %>
            <%= link_to 'Our Team', "#{stash_url_helpers.our_staff_path}", class: 'o-sites__group-item' %>
            <%= link_to 'Our Advisors', "#{stash_url_helpers.our_advisors_path}", class: 'o-sites__group-item' %>
            <%= link_to 'Our Platform', "#{stash_url_helpers.our_platform_path}", class: 'o-sites__group-item' %>
            <%= link_to 'Our Blog', "https://blog.datadryad.org/", class: 'o-sites__group-item' %>
            <%= link_to 'Code of Conduct', stash_url_helpers.code_of_conduct_path, class: 'o-sites__group-item' %>
            <%= link_to 'Data Publishing Ethics', stash_url_helpers.ethics_path, class: 'o-sites__group-item' %>
          </div>
        </details>
      </div>
    </div>

    <div class="c-header__nav-item">
      <div class="o-sites">
        <details class="o-showhide o-sites__details" role="group">
          <summary class="o-showhide__summary o-sites__summary">Help</summary>
          <div class="o-sites__group">
            <%= link_to 'Submission Process', "#{stash_url_helpers.submission_process_path}", class: 'o-sites__group-item' %>
            <%= link_to 'Good Data Practices', "#{stash_url_helpers.best_practices_path}", class: 'o-sites__group-item' %>
            <%= link_to 'Frequently Asked Questions', stash_url_helpers.faq_path, class: 'o-sites__group-item' %>
            <%= link_to 'Contact Us', stash_url_helpers.contact_path, class: 'o-sites__group-item' %>
          </div>
        </details>
      </div>
    </div>

    <% if current_user %>
      <%= link_to 'My Datasets', stash_url_helpers.dashboard_path, class: 'c-header__nav-item js-nav-out border-left' %>
    <% end %>
    <%= render partial: 'stash_engine/shared/log_in_out' %>
  </div>
</nav>
