<% @page_title = 'Publish and preserve your data' %>
<div class="t-home__banner o-banner" role="figure" aria-label="A low exposure photograph of an unsoldered Printed Circuit Board (PCB) with ENIG (Gold) finish." style="background-image: url(<%= asset_path 'stash_engine/splash/circuit_board.jpg'%>)">
  <div class="o-banner__stretch">
    <h1 class="screen-reader-only">Dryad data</h1>
    <p class="o-banner__tagline">Trusted, simple, community driven</p>
    <%= render 'shared/search_banner' %>
  </div>
  
  <!-- Promoting scholarship through open data -->
  <!-- the above may be required for Nagios check -->
  <!-- Add class 'light' below for white text on dark background image -->
  <div class="o-banner__credit light">Photo by <a href="https://unsplash.com/@vishnumaiea">Vishnu Mohanan</a> on <a href="https://unsplash.com/photos/black-and-white-computer-keyboard-pfR18JNEMv8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      </a>
  </div>
</div>
<div class="t-home__quote-group">
  <div class="t-home__quote o-quote">
    <div class="o-quote__quote">
      Institutions, publishers, and academic societies partner with Dryad to sponsor data curation, publishing, and preservation for researchers.
      <br>
      <a href="<%= stash_url_helpers.join_us_path %>">Learn about partnership</a>
    </div>
  </div>
  <div class="o-home-submit">
    <div class="o-home-submit-group">
      <% lnk = current_user ? stash_url_helpers.dashboard_path : stash_url_helpers.choose_login_path %>
      <% txt = current_user ? 'Submit a new dataset' : 'Login and then submit a new dataset' %>
      <%= button_to 'Submit now', lnk, method: :get, class: "o-home-submit__submit-button", title: txt %>
    </div>
  </div>
</div>
<div class="o-home__group o-home__data_group">
  <h2 class="o-heading__level1-home top-row">Most recent datasets</h2>
  <%# Keep unless hostname below for rspec tests to pass %>
  <div id="latest_tiles" <% unless @hostname == 'localhost' %>data-load="<%= main_app.latest_index_path(format: :js, q: '*:*') %>"<% end %> aria-busy="true" aria-live="polite">
    <p><i class="fas fa-spin fa-spinner" aria-hidden="true"></i></p>
  </div>
  <%= render partial: 'why_share' %>
</div>
<div class="o-home__group o-home__news_group">
  <%= render partial: 'why_use' %>
  <h2 class="o-heading__level1-home">Latest news</h2>
  <div id="blog-latest-posts" data-count="5" aria-live="polite" aria-busy="true">
    <p><i class="fas fa-spin fa-spinner" aria-hidden="true"></i></p>
  </div>
</div>
<p style="text-align:right; font-size:.9em; margin-top: -2rem;"><a href="https://blog.datadryad.org">More news from Dryad →</a></p>

