<% @page_title = 'Home - publish and preserve your data' %>
<div class="t-home__banner o-banner" role="img" aria-label="Anatomy of a leaf specimen from Brazil. Image CC0 https://doi.org/10.5061/dryad.qv14t" style="background-image: url(<%= asset_path 'stash_engine/leaf_specimen.jpg'%>)">
  <h1 class="o-banner__tagline" style="background-color: rgba(0, 65, 97, 0.88);">Make the most of your research data</h1>
  <!-- Promoting scholarship through open data -->
  <!-- the above may be required for Nagios check -->
  <div class="o-banner__credit" style="color: #000">Photo DOI 10.5061/dryad.qv14t</div>
</div>
<div class="t-home__quote-search-group">
  <div class="t-home__quote o-quote">
    <div class="o-quote__quote">
      Dryad is a community-owned resource
      <br>
      <a href="<%= stash_url_helpers.join_us_path %>" class="o-quote__quote">Learn about membership</a>
    </div>
  </div>
  <div class="t-home__search o-home-search">
    <div class="o-home__search-group">
      <% lnk = current_user ? stash_url_helpers.dashboard_path : stash_url_helpers.choose_login_path %>
      <% txt = current_user ? 'Submit a new dataset' : 'Login and then submit a new dataset' %>
      <%= button_to 'Submit now', lnk, method: :get, class: "o-home-search__submit-button", title: txt %>
    </div>
  </div>
</div>
<%= render partial: 'why_share' %>

<%= render partial: 'why_use' %>
<div id="dryads-latest">
  <% unless @hostname == 'localhost' %>
    <h2 class="o-heading__level1-home top-row">Most recent datasets</h2>
    <div id="latest_tiles" data-load="<%= main_app.latest_index_path(format: :js, q: '*:*') %>">
      <%= image_tag 'stash_engine/spinner.gif', size: '80x60', alt: 'Loading spinner' %>
    </div>
  <% end %>
  <h2 class="o-heading__level1-home">Latest news</h2>
  <div id="blog-latest-posts" data-count="5">
    <%= image_tag 'stash_engine/spinner.gif', size: '80x60', alt: 'Loading spinner' %>
  </div>
</div>
<p style="text-align:right; font-size:.9em"><a href="https://blog.datadryad.org">More news from Dryad →</a></p>

