<% @page_title = 'Home - publish and preserve your data' %>
<div class="t-home__banner o-banner" role="figure" aria-label="Drosophila Wing Cells. The human CBFA2T3-GLIS2 fusion protein is a key driver of pediatric acute megakaryoblastic leukemia (AMKL), and confers a poor prognosis. Researchers found a way to express CBFA2T3-GLIS2 (red) in larval Drosophila (fruit fly) wing disc cells, confirming a major role for the BMP signaling pathway. This pathway may provide a target for new therapies. Nuclei (green) and actin filaments (purple) are also shown." style="background-image: url(<%= asset_path 'stash_engine/splash/wing_cells.jpg'%>)">
  <div class="o-banner__stretch">
    <h1 class="o-banner__tagline">Trusted, simple, community driven</h1>
    <div class="o-banner-search">
      <%= link_to raw('Explore<span class="hide-mobile">&nbsp;data</span>'), '/search', class: 'o-banner-explore js-nav-out' %>
      <form role="search" class="o-global-search c-header__global-search" action="/search" accept-charset="UTF-8" method="get">
        <input name="utf8" value="✓" type="hidden">
        <label class="o-global-search__label" for="search-field-input1">Search Dryad data</label>
        <input class="o-global-search__input" id="search-field-input1" type="search" name="q">
        <button aria-label="Submit search" class="o-global-search__submit-button" type="submit" id="search">
          <i class="fa fa-search" aria-hidden="true"></i>
          <span>Search</span>
        </button>
      </form>
    </div>
  </div>
  <!-- Promoting scholarship through open data -->
  <!-- the above may be required for Nagios check -->
  <!-- Add class 'light' below for white text on dark background image -->
  <div class="o-banner__credit light">Photo by <a href="https://unsplash.com/@nci">National Cancer Institute</a> on <a href="https://unsplash.com/photos/a-picture-of-a-green-and-purple-object-UpKCxjVM8wU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  </div>
</div>
<div class="t-home__quote-group">
  <div class="t-home__quote o-quote">
    <div class="o-quote__quote">
      Over 15 years serving the community with easy, dependable data sharing solutions.
      <br>
      <a href="<%= stash_url_helpers.join_us_path %>">Learn about membership</a>
    </div>
  </div>
  <div class="o-home-submit">
    <div class="o-home-submit-group">
      <% lnk = current_user ? stash_url_helpers.dashboard_path : stash_url_helpers.choose_login_path %>
      <% txt = current_user ? 'Submit a new dataset' : 'Login and then submit a new dataset' %>
      <%= button_to 'Submit now', lnk, method: :get, class: "o-home-submit__submit-button", title: txt %>
    </div>
  </div>
</div>
<div class="o-home__group o-home__data_group">
  <h2 class="o-heading__level1-home top-row">Most recent datasets</h2>
  <%# Keep unless hostname below for rspec tests to pass %>
  <div id="latest_tiles" <% unless @hostname == 'localhost' %>data-load="<%= main_app.latest_index_path(format: :js, q: '*:*') %>"<% end %>>
    <%= image_tag 'stash_engine/spinner.gif', size: '80x60', alt: 'Loading spinner' %>
  </div>
  <%= render partial: 'why_share' %>
</div>
<div class="o-home__group o-home__news_group">
  <%= render partial: 'why_use' %>
  <h2 class="o-heading__level1-home">Latest news</h2>
  <div id="blog-latest-posts" data-count="5">
    <%= image_tag 'stash_engine/spinner.gif', size: '80x60', alt: 'Loading spinner' %>
  </div>
</div>
<p style="text-align:right; font-size:.9em; margin-top: -2rem;"><a href="https://blog.datadryad.org">More news from Dryad →</a></p>

