<p>Dear <%= @user_name %>,</p>

<p>
  Your dataset "<%= @resource.title %>" (<%= @resource.identifier_str %>) has been approved by our curation team.
  Your dataset is now published and public.
</p>

<p>Please cite it using this DOI: <%= @resource.identifier_str %></p>

<% rel_sfw = @resource.related_identifiers&.where(added_by: 'zenodo')&.where(work_type: 'software')&.first %>

<% rel_supp = @resource.related_identifiers&.where(added_by: 'zenodo')&.where(work_type: 'supplemental_information')&.first %>

<% unless rel_sfw.nil? %>
  <p>Your related software is being published at Zenodo: <%= link_to rel_sfw.related_identifier, rel_sfw.related_identifier %></p>
<% end %>

<% unless rel_supp.nil? %>
  <p>Your supplemental information is being published at Zenodo: <%= link_to rel_supp.related_identifier, rel_supp.related_identifier %></p>
<% end %>

<p>If you would like to version or update your dataset you may do so by clicking "Update" on your "My Datasets" page.</p>

<p>Thanks again for making your research openly available.</p>

<p>The Dryad Team</p>

<p><a href="mailto:<%= @helpdesk_email %>"><%= @helpdesk_email %></a></p>
