<p>Dear <%= @user_name %>,</p>

<p>Thank you for submitting your dataset entitled, "<%= @resource.title %>".</p>

<p>Your submission will soon enter our curation process. Once your submission
    has been reviewed and approved by our curators, your dataset will be
    published, pending any questions or requests from our team and/or timed
    publication requirements dictated by the journal title associated with your
    submission. </p> 

<% shr = @resource.identifier.shares.first.sharing_link %>

<p>Your dataset has been assigned a unique digital object
    identifier (DOI): <%= @resource.identifier_str %><br/>
    If your dataset is associated with a manuscript submission, you may provide
    this DOI to the journal office. The link will only be active upon
    publication of your dataset and it will not change post-publication. For
    private access prior to publication, you may share your dataset using the
    unique URL: <a href="<%= shr %>"><%= shr %></a>.</p>

<p>If you were required to agree to payment on the final page of the submission
    form, you will receive an invoice via email upon publication.</p>

<p>Thank you for choosing Dryad to host your data. We appreciate your support. If
    you have any questions, please contact us at <a href="mailto:<%= @helpdesk_email %>"><%= @helpdesk_email %></a>.</p>

