<%# locals: presenters (array of StashDatacite::ResourcesController::DatasetPresenter) %>
<table class="c-lined-table">
  <tr class="c-lined-table__head">
    <th>
      Dataset Title
    </th>
    <th>
      Publication Date
    </th>
    <th>
      Created
    </th>
    <th>
      Last Modified
    </th>
  </tr>

  <% presenters.each do |p| %>
    <tr class="c-lined-table__row">
      <td>
        <span title="<%= p.title %>"><%= truncate(p.title) %></span>
      </td>
      <td>
        <%= default_date(p.publication_date) %>
      </td>
      <td>
        <%= default_date(p.created_at) %>
      </td>
      <td>
        <%= default_date(p.updated_at) %>
      </td>
    </tr>
  <% end %>
</table>