<%# locals: presenters (array of StashDatacite::ResourcesController::DatasetPresenter) %>
<table class="c-lined-table">
  <tr class="c-lined-table__head">
    <th class="<%= sort_display('title', @sort_column) %>">
      <%= sort_by 'title', title: 'Dataset Title', current_column: @sort_column %>
    </th>
    <th class="<%= sort_display('publication_date', @sort_column) %>">
      <%= sort_by 'publication_date', title: 'Publication Date', current_column: @sort_column %>
    </th>
    <th class="<%= sort_display('created_at', @sort_column) %>">
      <%= sort_by 'created_at', title: 'Created', current_column: @sort_column %>
    </th>
    <th class="<%= sort_display('updated_at', @sort_column) %>">
      <%= sort_by 'updated_at', title: 'Last Modified', current_column: @sort_column %>
    </th>
  </tr>

  <% presenters.each do |p| %>
    <tr class="c-lined-table__row">
      <td>
        <span title="<%= p.title %>"><%= truncate(p.title) %></span>
      </td>
      <td>
        <%= default_date(p.publication_date) %>
      </td>
      <td>
        <%= default_date(p.created_at) %>
      </td>
      <td>
        <%= default_date(p.updated_at) %>
      </td>
    </tr>
  <% end %>
</table>