<% # takes local variable line (presenter object) as input to partial %>
<tr>
  <td>
    <% if line.resource && line.resource.geolocation == true %>
      <%=  image_tag('stash_datacite/geolocation.png', size: '20x20', alt: 'Box') %><%= line.title %>
    <% else %>
      <%= line.title %>
    <% end %>
  </td>
  <td>
    required: <%= line.required_filled %> of <%= line.required_total %><br/>
    optional: <%= line.optional_filled %> of <%= line.optional_total %>
  </td>
  <td>
    <%= line.files %>
  </td>
  <td>
    <%= default_date(line.created_at) %>
  </td>
  <td>
    <%= default_date(line.updated_at) %>
  </td>
  <td>
    <%= button_to 'Resume', stash_url_helpers.metadata_entry_pages_find_or_create_path(resource_id: line.resource.id), class: "btn" %> |
    <%= button_to 'Delete', stash_url_helpers.resource_path(line.resource), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %>
  </td>
</tr>