<script type="text/javascript">
  ReactRailsUJS.mountComponents();
</script>
<% if @resource.identifier.payment_type.blank? || @resource.identifier.payment_type == 'unknown' %>
<div>
  <h3>Payment</h3>
  <% submitter_affiliation = @resource.identifier.submitter_affiliation %>
  <% if @resource.identifier.journal&.will_pay? %>
    <p>Payment for this deposit is sponsored by <b><%= @resource.identifier.journal.title %></b>.</p>
  <% elsif @resource.identifier.institution_will_pay? %>
    <p>Payment for this deposit is sponsored by <b><%= @resource.tenant.long_name %></b>.</p>
  <% elsif submitter_affiliation.present? && submitter_affiliation.fee_waivered? %>
    <p>Payment is not required for this deposit due to association with <b><%= submitter_affiliation.smart_name %></b> in <b><%= submitter_affiliation.country_name %></b>. Upon publication of your dataset, you will receive an invoice showing that the fee for this submission has been waived. If you have any questions, please <a href="mailto:help@datadryad.org">contact us</a>.</p>
  <% elsif @resource.identifier.funder_will_pay? %>
    <p>Payment for this deposit is sponsored by <b><%= @resource.identifier.funder_payment_info.contributor_name %></b></p>
  <% elsif @resource.identifier.user_must_pay? %>
    <p>
      Dryad charges a fee for data publication that covers curation and preservation of published datasets. Upon
      publication of your dataset, you will receive an invoice for
      &dollar;<%=  Stash::Payments::Invoicer.data_processing_charge(identifier: @resource.identifier) / 100 %> USD.
    </p>
    <% if @resource.identifier.large_files? %>
      <p>
        This submission contains large files.
        For data packages in excess of <%= filesize(APP_CONFIG.payments.large_file_size).gsub(' ', '') %>,
        submitters will be charged $50 USD for each additional 10GB,
        or part thereof. Submissions between 50 and 60GB = $50 USD, between 60 and 70GB = $100 USD, and so on.
      </p>
    <% end %>
    <span><%= check_box_tag 'agree_to_payment', 'yes', (@resource.version_number > 1), class: 't-review__agree-to-license js-agrees' %></span>
    <label for="agree_to_payment">I agree to Dryad's payment terms</label>
  <% else %>
    <p>This submission does not require a payment.</p>
  <% end %>
  <% if @resource.identifier.user_must_pay? || @resource.identifier.institution_will_pay? %>
    <% if @resource.identifier.user_must_pay? %>
      <h4 style="color:#cf4817">Are you affiliated with a Dryad member institution that could sponsor this fee?</h4>
      <% if @aff_tenant.present? %>
        <p>Your author list affiliation <b><%= @aff_tenant.long_name %></b> is a Dryad member.</p>
      <% end %>
    <% end %>
    <div style="max-width:700px">
      <%= render partial: 'stash_engine/shared/change_tenant' %>
    </div>
    <% if @resource.identifier.user_must_pay? && @resource.tenant&.authentication&.strategy == 'author_match' %>
      <p><em>For sponsorship, <%= @resource.tenant.short_name %> must appear as your author list affiliation for this submission.</em> <%= link_to "<i class='fa fa-pencil' aria-hidden='true'></i> Edit the author list".html_safe, stash_url_helpers.metadata_entry_pages_find_or_create_path(resource_id: @resource.id), class: 'o-button__plain-text7', style: 'margin-left: 1ch' %>.</p>
    <% end %>
    <% if @resource.identifier.institution_will_pay? && @aff_tenant.present? && @aff_tenant.id != @resource.tenant_id %>
      <p><b>Is this correct?</b> Your author list affiliation <b><%= @aff_tenant.long_name %></b> is also a Dryad member.</p>
    <% end %>
  <% end %>
</div>
<% end %>