  <%= render partial: "stash_datacite/titles/show", locals: { title: review.title_str, highlight: false } %>
  <div class="t-landing__metadata o-metadata">
    <%= render partial: "stash_datacite/authors/show", locals: { authors: review.authors, highlight_fields: [] } %>
    <%= render partial: "stash_datacite/publishers/publication_info", locals: {resource: resource, highlight: false } %>
  </div>

  <section class="citation-section">
  <%= render partial: "stash_datacite/shared/citations",
             locals: { authors: review.authors, title: review.title_str,
                       resource_type: review.resource_type,
                       identifier: resource.identifier.nil? ? 'DOI' : "#{review.identifier.identifier }",
                       publication_year: (resource.publication_date.present? ? resource.publication_date.year : resource.updated_at.year) } %>
  </section>

  <% if review.collected_datasets.count.positive? %>
    <%= render partial: "stash_datacite/related_identifiers/collection", locals: {review: review, highlight_fields: [] } %>
  <% end %>

  <%= render partial: "stash_datacite/descriptions/show",
       locals: { abstract: review.abstract, methods: '',
     other: '', highlight_fields: [] } %>

  <%= render partial: "stash_datacite/contributors/show", locals: { contributors: review.contributors, highlight_fields: [] } %>
