<h1 class="o-heading__level1"><%= @resource.title&.html_safe %></h1>
<div class="t-landing__metadata o-metadata">
  <%= render partial: "stash_datacite/authors/show", locals: { authors: @resource.authors } %>
  <%= render partial: "stash_datacite/publishers/publication_info", locals: { resource: @resource } %>
</div>

<% notice = @resource.descriptions.find_by(description_type: 'concern') %>
<% if notice&.description&.present? %>
  <div class="callout <%= @resource.identifier.retracted? ? 'err' : 'warn' %>" id="landing_concern">
    <%= raw(display_desc(notice.description)) %>
  </div>
<% end %>

<% if @user_type == 'privileged' && current_user.id == @resource&.dataset_in_progress_editor_id %>
  <div class="callout warn">
    <p><i class="fas fa-triangle-exclamation"></i> Changes are in progress! To see your in progress changes here, <%= link_to 'complete and submit your edits', metadata_entry_pages_find_or_create_path(resource_id: @id.in_progress_resource.id), class: 'js-nav-out'%></p>
  </div>
<% end %>

<% if @id.may_download?(user: current_user) %>
  <%= render partial: 'stash_engine/landing/files', locals: {dataset_identifier: @id, share: nil} %>
<% else %>
  <%= render partial: 'stash_engine/landing/files_embargoed', locals: {resource: @resource} %>
<% end %>

<%= render partial: "stash_datacite/descriptions/show",
     locals: { abstract: review.abstract, methods: '', other: '', changelog: '' } %>

<% unless @resource.identifier.retracted? && !@resource.file_view? %>

<% if @resource.display_readme? %>
  <%= render partial: "stash_datacite/descriptions/readme", locals: { review: review } %>
<% end %>

<%= render partial: "stash_datacite/descriptions/show",
   locals: { abstract: '', methods: review.methods, other: review.other, changelog: review.changelog } %>

<% end %>

<%# takes local of identifier, no_link == true means don't link metrics %>
<% no_link = false unless defined?(no_link) %>
<% if @resource.identifier&.cached_citations&.present? && !no_link %>
  <h2 class="expand-button"><button id="citations" aria-expanded="false" aria-controls="citations-sec">Works referencing this dataset</button></h2>
  <div id="citations-section">
    <%= render partial: 'stash_engine/landing/citations', locals: { identifier: @resource.identifier } %>
  </div>
<% end %>

<script type="application/ld+json">
  <%= schema_org_ds %>
</script>
  <%# render partial: "stash_datacite/licenses/review" %>
