  <%= render partial: "stash_datacite/titles/show", locals: { title: review.title_str, highlight: false } %>
  <div class="t-landing__metadata o-metadata">
    <%= render partial: "stash_datacite/authors/show", locals: { authors: review.authors, highlight_fields: [] } %>
    <%= render partial: "stash_datacite/publishers/publication_info", locals: {resource: resource, highlight: false } %>
  </div>

  <section class="citation-section">
  <%= render partial: "stash_datacite/shared/citations",
             locals: { authors: review.authors, title: review.title_str,
                       resource_type: review.resource_type,
                       identifier: resource.identifier.nil? ? 'DOI' : "#{review.identifier.identifier }",
                       publication_year: (resource.publication_date.present? ? resource.publication_date.year : resource.updated_at.year) } %>
  </section>

  <% if @user_type == 'privileged' && @resource&.identifier&.pub_state != 'published'%>
    <%= render partial: "stash_datacite/shares/show", locals: { share: review.share } %>
  <% end %>

  <%= render partial: "stash_datacite/descriptions/show",
       locals: { abstract: review.abstract, methods: '',
     other: '', highlight_fields: [] } %>

  <%= render partial: "stash_datacite/descriptions/readme", locals: { review: review, highlight_fields: [] } %>

  <%= render partial: "stash_datacite/descriptions/show",
     locals: { abstract: '', methods: review.methods,
   other: review.other, highlight_fields: [] } %>

  <%= render partial: "stash_datacite/contributors/show", locals: { contributors: review.contributors, highlight: false } %>

  <% if review.geolocation_data? %>
    <h2 class="o-heading__level2">Location</h2>

      <%
        has_map_meta = review.geolocation_points.count.positive? || review.geolocation_boxes.count.positive?
        if has_map_meta %>
        <div id="map_review" class="o-map"></div>
      <% end %>
      <div class="c-locations">
        <% if has_map_meta %>
          <%= render partial: "stash_datacite/geolocation_points/show",
                     locals: { geolocation_points: review.geolocation_points } %>
          <%= render partial: "stash_datacite/geolocation_boxes/show",
                     locals: { geolocation_boxes: review.geolocation_boxes } %>
        <% end %>
      <%= render partial: "stash_datacite/geolocation_places/show",
                 locals: { geolocation_places: review.geolocation_places } %>
    </div>
  <% end %>
<script type="application/ld+json">
  <%= schema_org_ds %>
</script>
<script>
  $( document ).ready( loadReviewMap(<%=resource.id%>) );
</script>
  <%# render partial: "stash_datacite/licenses/review" %>

<script type="text/javascript">
  document.querySelectorAll('.copy-icon').forEach((button) => {
    button.addEventListener('click', (e) => {
      const item = e.currentTarget.dataset.item
      const icon = e.currentTarget.firstElementChild
      const citation = e.currentTarget.nextElementSibling.innerText
      window.navigator.clipboard.writeText(citation)
      icon.classList.remove('fa-clipboard');
      icon.classList.add('fa-check');
      icon.innerHTML = `<span class="screen-reader-only">${item} copied</span>`
      setTimeout(function(){
        icon.parentElement.setAttribute('title', `Copy ${item.toLowerCase()}`);
        icon.classList.add('fa-clipboard');
        icon.classList.remove('fa-check');
        icon.innerHTML = '';
      }, 2000);
    });
  });
</script>
