<%
def check(id, indent = false)
  h = {funders: 'Grant funders', awards: 'Award IDs', sponsor: 'Journal sponsor', dpc: 'DPC paid by', updated_at: 'Last modified', submit_date: 'Submitted', publication_date: 'Published', first_sub_date: 'First submitted', first_pub_date: 'First published', queue_date: 'First queued', created_at: 'First created', identifiers: 'Publication IDs'}
  label = h[id.to_sym]
  label ||= id.length < 4 ? id.upcase : id.capitalize

  '<span class="field-pair">' + (indent ? '<i class="fa-solid fa-arrow-turn-up fa-rotate-90" style="font-size:.85em; margin-left: .2em" role="img" aria-label="Can include "></i>' : '') +
  check_box_tag('fields[]', id, @fields.include?(id), {id: id, 'aria-describedby': "#{id}-desc"}) +
  label_tag('fields[]', label, {for: id})+
  '</span>'
end
%>
<div class="admin-dashboard-buttons">
  <b role="heading" aria-level="3" id="edit_fields">Display fields</b>
  <button type="button" class="o-button__plain-text7" id="edit_fields-help"><i aria-hidden="true" class="fa fa-info-circle"></i> Display field help</button>
</div>
<fieldset id="edit_fields-form" <% if @role_object.blank? || @user_role.role == 'curator' %>class="curator"<% end %> aria-labelledby="edit_fields">
  <div>Description</div>
  <div>
    <%= check('doi', true).html_safe %>
    <span class="help" id="doi-desc"><a href="https://www.doi.org/" target="_blank" rel="noreferrer">Identifier<i class="fas fa-arrow-up-right-from-square exit-icon" aria-label=" (opens in new window)" role="img"></i></a> assigned to the dataset. Appears under Description.</span>
  </div>
  <div>
    <%= check('keywords', true).html_safe %>
    <span class="help" id="keywords-desc">Subjects entered by the submitter. Appear under Description.</span>
  </div>
  <div>
    <%= check('submitter').html_safe %>
    <span class="help" id="submitter-desc">The submitting user of the dataset linked to their <a href="https://orcid.org/" target="_blank" rel="noreferrer">ORCID<i class="fas fa-arrow-up-right-from-square exit-icon" aria-label=" (opens in new window)" role="img"></i></a>.</span>
  </div>
  <div>
    <%= check('authors').html_safe %>
    <span class="help" id="authors-desc">The first 6 listed authors of the dataset.</span>
  </div>
  <div>
    <%= check('emails').html_safe %>
    <span class="help" id="emails-desc">Email addresses, if provided, for the first 6 listed authors of the dataset.</span>
  </div>
  <div>
    <%= check('affiliations').html_safe %>
    <span class="help" id="affiliations-desc">Up to 6 unique author affiliations matched with a <a href="https://ror.org/" target="_blank" rel="noreferrer">ROR ID<i class="fas fa-arrow-up-right-from-square exit-icon" aria-label=" (opens in new window)" role="img"></i></a>.</span>
  </div>
  <div>
    <%= check('countries', true).html_safe %>
    <span class="help" id="countries-desc">Up to 6 countries associated with author affiliations. Appear with Affiliations.</span>
  </div>
  <div>
    <%= check('status').html_safe %>
    <span class="help" id="status-desc">Status of the submission in Dryad processing.</span>
  </div>
  <div>
    <%= check('size').html_safe %>
    <span class="help" id="size-desc">Total size of the uploaded data files.</span>
  </div>
  <div>
    <%= check('metrics').html_safe %>
    <span class="help" id="metrics-desc">View, download, and citation statistics.</span>
  </div>
  <div>
    <%= check('funders').html_safe %>
     <span class="help" id="funders-desc">Funding organizations matched with a <a href="https://ror.org/" target="_blank" rel="noreferrer">ROR ID<i class="fas fa-arrow-up-right-from-square exit-icon" aria-label=" (opens in new window)" role="img"></i></a>.</span>
  </div>
  <div>
    <%= check('awards', true).html_safe %>
    <span class="help" id="awards-desc">Grant and other funder identifiers. Appear with Funders.</span>
  </div>
  <div>
    <%= check('journal').html_safe %>
    <span class="help" id="journal-desc">Journal of the manuscript or primary article associated with the dataset.</span>
  </div>
  <div>
    <%= check('sponsor').html_safe %>
    <span class="help" id="sponsor-desc">Publisher or organization sponsoring the journal.</span>
  </div>
  <div>
    <%= check('identifiers').html_safe %>
    <span class="help" id="identifiers-desc">Up to 6 related work identifiers, including manuscripts.</span>
  </div>
  <div>
    <%= check('dpc').html_safe %>
    <span class="help" id="dpc-desc">Party responsible for the <a href="/costs" target="_blank">Dryad Data Publishing Charge<i class="fas fa-arrow-up-right-from-square exit-icon" aria-label=" (opens in new window)" role="img"></i></a>.</span>
  </div>
  <% if @role_object.blank? || @user_role.role == 'curator' %>
    <div>
      <%= check('curator').html_safe %>
      <span class="help" id="curator-desc">The curator currently assigned to the dataset.</span>
    </div>
    <div>
      <%= check('editor').html_safe %>
      <span class="help" id="editor-desc">The user currently editing the dataset.</span>
    </div>
  <% end %>
  <div>
    <%= check('updated_at').html_safe %>
    <span class="help" id="updated_at-desc">Date of the last edit made.</span>
  </div>
  <div>
    <%= check('submit_date').html_safe %>
    <span class="help" id="submit_date-desc">Date of version submission for curation or peer review.</span>
  </div>
  <div>
    <%= check('first_sub_date').html_safe %>
    <span class="help" id="first_sub_date-desc">Date of first version submission for curation or peer review.</span>
  </div>
  <div>
    <%= check('publication_date').html_safe %>
    <span class="help" id="publication_date-desc">Publication date of the dataset version.</span>
  </div>
  <div>
    <%= check('first_pub_date').html_safe %>
    <span class="help" id="first_pub_date-desc">First publication date of the dataset.</span>
  </div>
  <div>
    <%= check('created_at').html_safe %>
    <span class="help" id="created_at-desc">Creation date of the dataset.</span>
  </div>
  <% if @role_object.blank? || @user_role.role == 'curator' %>
    <div>
      <%= check('queue_date').html_safe %>
      <span class="help" id="queue_date-desc">First time the dataset entered the curator queue.</span>
    </div>
  <% end %>
</fieldset>