<%
def selecter(id, options)
  h = { member: 'Institution partner', sponsor: 'Publishing partner' }
  label = h[id.to_sym] || id.capitalize

  "<label for='filter-#{id}'>#{label}:</label>" +
  select_tag("filters[#{id}]", options_for_select(options, @filters.dig(id.to_sym)), id: "filter-#{id}", 'aria-describedby': "filter-#{id}-desc", class: "c-input__select#{@filters.dig(id.to_sym).present? ? ' selected' : ''}")
end
%>
<div class="admin-dashboard-buttons">
  <b id="edit_filters" role="heading" aria-level="3">Search filters</b>
  <button type="button" class="o-button__plain-text7" id="edit_filters-help"><i aria-hidden="true" class="fa fa-info-circle"></i> Search filter help</button>
</div>
<fieldset id="edit_filters-form" aria-labelledby="edit_filters<% if @role_object.present? %> edit_filters-desc<% end %>">
  <% if @role_object.present? %>
    <p class="help" id="edit_filters-desc" style="grid-column: span 2;">
      By default, the result datasets on your admin dashboard are limited to those datasets
      <% if @role_object.is_a?(StashEngine::Tenant) %>
        with affiliations, funders, research stations, or a submitter sponsor with an institution ROR ID included under the <%= @role_object.short_name %> partner record.
      <% elsif @role_object.is_a?(StashEngine::JournalOrganization) %>
        listing a <%= @role_object.name %> journal or preprint server as publishing the primary article or preprint
      <% elsif @role_object.is_a?(StashEngine::Journal) %>
        listing <%= @role_object.title %> as publishing the primary article or preprint
      <% elsif @role_object.is_a?(StashEngine::Funder) %>
        funded by <%= @role_object.name %>
      <% end %>
    </p>
  <% end %>
  <% if @tenant_limit.length == 1 %>
    <div class="o-admin-form-pair half-width">
      <%= check_box_tag 'submitter_limit', name: 'filters[submitter_limit]', 'aria-describedby': 'submitter_limit-desc' %>
      <label for="submitter_limit">Limit results to those with a matching submitter sponsor</span>
    </div>
    <p class="help" id="submitter_limit-desc">Search for only submitter sponsors matching <%= @tenant_limit.first.short_name %>, rather than including datasets with affiliations, funders, and research stations with an institution ROR ID included under the partner record.</p>
  <% end %>
  <div class="o-admin-form-pair <%= @role_object.blank? || @user_role.role == 'curator' ? 'quarter-width' : 'half-width' %>">
    <%= render partial: 'stash_engine/shared/multi_select', locals: {
      id: 'status',
      label: 'Status:',
      field_name: 'filters[status]',
      options: status_select,
      selected: @filters.dig(:status),
      describedby: 'status_select-desc'
    } %>
  </div>
  <p class="help" id="status_select-desc">Filter result datasets by current curation status. Multiple statuses can be selected.</p>
  <% if @role_object.blank? || @user_role.role == 'curator' %>
    <div class="o-admin-form-pair quarter-width">
      <%= selecter('flag', [['', '']] + flag_select).html_safe %>
    </div>
    <p class="help" id="filter-flag-desc">Filter by the type of curation flag set.</p>
    <div class="o-admin-form-pair half-width">
      <%= selecter('curator', [['', ''], ['Unassigned', 'unassigned']] + editor_select).html_safe %>
    </div>
    <p class="help" id="filter-curator-desc">Filter by the assigned curator.</p>
    <div class="o-admin-form-pair half-width">
      <%= render partial: 'stash_engine/shared/multi_select', locals: {
        id: 'editor',
        label: 'Curator editor:',
        field_name: 'filters[editor]',
        options: editor_select,
        selected: @filters.dig(:editor),
        describedby: 'editor_select-desc'
      } %>
    </div>
    <p class="help" id="editor_select-desc">Filter by curators currently editing a dataset. Multiple curators can be selected.</p>
  <% end %>
  <div class="o-admin-form-pair half-width">
    <%= render partial: 'stash_engine/shared/search_select', locals: {
      id: 'affiliation',
      label: 'Affiliation:',
      field_name: 'filters[affiliation]',
      options_path: '/stash_datacite/affiliations/autocomplete?query=',
      options_label: 'name',
      options_value: 'id',
      selected: @filters.dig(:affiliation),
      describedby: 'affiliation_select-desc'
    } %>
  </div>
  <p class="help" id="affiliation_select-desc">Filter result datasets for organizations matched with a <a href="https://ror.org/" target="_blank" rel="noreferrer">ROR ID<i class="fas fa-arrow-up-right-from-square exit-icon" aria-label=" (opens in new window)" role="img"></i></a> set as an affiliation by at least one author.</p>
  <% if @tenant_limit.length > 1 %>
    <div class="o-admin-form-pair half-width">
      <%= selecter('member', [['', '']] + @tenant_limit.map { |t| [t.short_name, t.id] }).html_safe %>
      <span class="limiter">
        <%= check_box_tag 'submitter_limit', name: 'filters[submitter_limit]' %>
        <label for="submitter_limit">Limit to submitter</span>
      </span>
    </div>
    <p class="help" id="filter-member-desc">Filter result datasets by Dryad institutional partners. Searches affiliations, funders, research stations, and submitter sponsor for partner institution ROR IDs. Limiting to submitter sets the search to submitter sponsors only.</p>
  <% end %>
  <% if @journal_limit.present? %>
    <% if @journal_limit.length > 1 %>
      <div class="o-admin-form-pair half-width">
        <label for='filter-journal'>Journal:</label>
        <%= select_tag("filters[journal][value]", options_for_select([['', '']] + @journal_limit.map { |j| [j.title, j.id] }, @filters.dig(:journal, :value)), id: "filter-journal", 'aria-describedby': 'filter-journal-desc', class: "c-input__select#{@filters.dig(:journal, :value).present? ? ' selected' : ''}") %>
      </div>
    <% end %>
  <% else %>
    <div class="o-admin-form-pair half-width">
      <%= render partial: 'stash_engine/shared/search_select', locals: {
        id: 'journal',
        label: 'Journal:',
        field_name: 'filters[journal]',
        options_path: '/stash_datacite/publications/autocomplete?term=',
        options_label: 'title',
        options_value: 'id',
        selected: @filters.dig(:journal),
        describedby: 'filter-journal-desc'
      } %>
    </div>
  <% end %>
  <p class="help" id="filter-journal-desc">Filter result datasets by the journal or preprint server publishing the primary article or preprint associated with the dataset</p>
  <% unless @journal_limit.present? && @sponsor_limit.length < 2 %>
    <div class="o-admin-form-pair half-width">
      <% if @sponsor_limit.length > 1 %>
        <%= selecter('sponsor', [['', '']] + @sponsor_limit.map { |item| [item.name, item.id] }).html_safe %>    
      <% else %>
        <%= selecter('sponsor', [['', '']] + sponsor_select).html_safe %>
      <% end %>
    </div>
    <p class="help" id="filter-sponsor-desc">Filter result datasets by the journal or preprint server publishing the primary article or preprint associated with the dataset and published or managed by one of Dryad&apos;s publishing partners</p>
  <% end %>
  <div class="o-admin-form-pair half-width">
    <%= render partial: 'stash_engine/shared/search_select', locals: {
      id: 'funder',
      label: 'Funder:',
      field_name: 'filters[funder]',
      options_path: '/stash_datacite/contributors/autocomplete?query=',
      options_label: 'name',
      options_value: 'id',
      selected: @filters.dig(:funder),
      describedby: 'filter-funder-desc'
    } %>
  </div>
  <p class="help" id="filter-funder-desc">Filter result datasets by funding organizations matched with a <a href="https://ror.org/" target="_blank" rel="noreferrer">ROR ID<i class="fas fa-arrow-up-right-from-square exit-icon" aria-label=" (opens in new window)" role="img"></i></a>.
  <div class="date-flex">
    <%= render partial: 'filter_date', locals: { id: 'submit_date', label: 'Submitted' } %>
    <p class="help" id="submit_date-filter-desc">Filter results by the date the latest revision of the dataset was submitted</p>
    <%= render partial: 'filter_date', locals: { id: 'first_sub_date', label: 'First submitted' } %>
    <p class="help" id="first_sub_date-filter-desc">Filter results by the date the dataset was first submitted</p>
    <%= render partial: 'filter_date', locals: { id: 'publication_date', label: 'Published' } %>
    <p class="help" id="publication_date-filter-desc">Filter results by the date the latest revision of the dataset was published</p>
    <%= render partial: 'filter_date', locals: { id: 'first_pub_date', label: 'First published' } %>
    <p class="help" id="first_pub_date-filter-desc">Filter results by the date the dataset was first published</p>
  </div>
</fieldset>