<div class="table-wrapper">
  <table class="c-lined-table">
    <%= render partial: 'table_header' %>
    <tbody>
      <% @datasets.each do |dataset| %>
        <%= render partial: 'table_row', locals: {dataset: dataset} %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="search-results-footer">
  <div class="c-space-paginator">
    <% pagination = Kaminari.paginate_array([], total_count: session[:admin_search_count]).page(@page).per(@page_size) %>
    <%= paginate pagination, params: {fields: nil, filters: nil, q: nil, page_size: @page_size}, remote: true %>
    <div class="c-paginator-page_size">
      Page size:
      <%[10, 50, 100].each do |ps| %>
        <% if ps == @page_size %>
          <span class="page-current"><%= ps %></span>
        <% else %>
          <%= link_to(ps, stash_url_helpers.admin_dashboard_results_path(request.parameters.except(:action, :controller, :authenticity_token, :fields, :filters, :q).merge(page_size: ps, page: 1)), remote: true) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>