<div class="table-wrapper c-lined-table-wrapper" style="margin-top: .5rem" tabindex="0" role="region" aria-labelledby="search_head">
  <table class="c-lined-table">
    <%= render partial: 'table_header' %>
    <tbody>
      <% @datasets.each do |dataset| %>
        <%= render partial: 'table_row', locals: {dataset: dataset} %>
      <% end %>
    </tbody>
  </table>
</div>

<div id="announce" aria-live="polite" class="screen-reader-only">
  <% if @sort %>Results sorted by <%= @sort.humanize.downcase %>, <%= params[:direction] %>ending.<% end %>
</div>

<div class="search-results-footer" id="admin-pagination">
  <%= form_with(url: admin_dashboard_count_path(format: :js, page: @page, page_size: @page_size, sort: @sort, direction: params[:direction], search: params[:search], share: params[:share]), method: :post, local: false, id: 'count_form') do %>
    <input type="hidden" name="sql" value="<%= @sql %>"/>
    <button type="submit" id="count_form_button" hidden/>
  <% end %>
</div>