<% unaltered = @saved_search&.filters == @filters && @saved_search&.fields == @fields && (@saved_search&.search_string == @search_string || (@saved_search&.search_string.blank? && @search_string.blank?)) %>
<% unless unaltered %>
  <% if @saved_search %>
    <%= form_with(url: save_admin_search_path(id: @saved_search&.id), method: :patch, local: false) do %>
      <input type="hidden" name="properties" value="<%= @properties %>" />
      <button class="o-button__plain-text7" id="search_edit" aria-controls="search_form" aria-expanded="true"><i class="far fa-bookmark" aria-hidden="true"></i>Save search changes</button>
    <% end %>
  <% end %>
  <%= form_with(url: new_admin_search_path, method: :get, local: false) do %>
    <input type="hidden" name="properties" value="<%= @properties %>" />
    <button class="o-button__plain-text7" id="search_save" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bookmark" aria-hidden="true"></i>Save <%= @saved_search ? 'as new ' : ''%>search</button>
  <% end %>
  <% if @saved_search %>
    <a href="<%=admin_dashboard_path(search: @search, clear: true) %>" class="o-button__plain-text7"><i class="fa fa-xmark" aria-hidden="true"></i>Clear search changes</a>
  <% end %>
<% end %>