<%= form_with(url: stash_url_helpers.admin_dashboard_results_path(format: :js, search: params[:search], share: params[:share], sort: params[:sort], direction: params[:direction], page_size: params[:page_size]), method: :post, local: false, class: 'admin-dashboard-form') do %>
  <%= render partial: 'fields' %>
  <%= render partial: 'filters' %>
  <div class="admin-dashboard-buttons" style="border: 0; padding: 0; column-gap: 3ch; row-gap: 2ch">
    <div class="o-admin-form-pair" style="flex-grow: 2;">
      <label for="search-string">Search metadata: </label>
      <%= search_field_tag(:q, @search_string, class: "c-input__text#{@search_string.present? ? ' selected' : ''}", id: 'search-string', style: 'flex-grow: 2' ) %>
    </div>
    <div class="o-admin-form-pair" style="flex-grow: 2;">
      <label for="related-search"><span class="screen-reader-only">Search </span>Publication IDs: </label>
      <%= search_field_tag('filters[identifiers]', @filters[:identifiers], class: "c-input__text#{@filters[:identifiers].present? ? ' selected' : ''}", id: 'related-search', style: 'flex-grow: 2' ) %>
    </div>
    <div class="admin-dashboard-results" style="margin-left: auto">
      <button type="button" class="o-button__plain-text7" id="clear_filters" title="Clear search and filters"><i class="fa fa-times" aria-hidden="true"></i>Clear</button>
      <button type="submit" class="o-button__submit" id="apply_changes">Apply</button>
    </div>
  </div>
<% end %>