<tr>
  <td><div class="c-lined-table__with-actions">
    <div class="c-lined-table__data">
      <% if dataset.identifier&.last_submitted_resource&.present? %>
        <%= link_to "#{dataset.title}<i class=\"fas fa-arrow-up-right-from-square exit-icon\" aria-label=\" (opens in new window)\" role=\"img\"></i>".html_safe, stash_url_helpers.show_path(id: dataset.identifier_str), target: '_blank' %>
      <% else %>
        <%= dataset.title&.html_safe %>
      <% end %>
      <div class="c-lined-table__digits">
        <% if policy(dataset).flag? %>
          <span>
            <% flag_type = {'StashEngine::Journal': 'journal', 'StashEngine::User': 'user', 'StashEngine::Tenant': 'institution', 'StashEngine::Resource': ''} %>
            <% [dataset.flag].concat(dataset.flags).reject(&:blank?).map do |flag| %>
              <i role="img" aria-label="Flagged" class="fas fa-flag dashboard-flag <%= flag_type[flag.flaggable_type.to_sym].present? ? flag_type[flag.flaggable_type.to_sym][0,4] : flag.flag %>" title="<%= flag_type[flag.flaggable_type.to_sym].present? ? "Flagged #{flag_type[flag.flaggable_type.to_sym]}#{flag.note.present? ? ": #{flag.note}" : ''}" : flag.flag&.humanize %>"></i>
            <% end %>
          </span>
        <% end %>
        <% if @fields.include?('doi') %>
          <span>DOI: <%= dataset.identifier.identifier %></span>
        <% end %>
      </div>
      <% if @fields.include?('keywords') && dataset.subjects.present? %>
        <div class="c-lined-table__digits"><%= dataset.subjects.map(&:subject).join(', ') %></div>
      <% end %>
    </div>
    <div class="c-lined-table__actions" id="dataset_description_<%= dataset.identifier_id %>"> 
      <%= render partial: 'table_description', locals: {dataset: dataset} %>
    </div>
  </div></td>
  <% if @fields.include?('submitter') %>
    <td>
      <% if dataset.submitter&.orcid %><a href="<%= dataset.submitter&.orcid_link %>" target="blank" rel="noreferrer"><% end %>
      <%= "#{dataset.submitter&.first_name} #{dataset.submitter&.last_name}" %>
      <% if dataset.submitter&.orcid %></a><% end %>
    </td>
  <% end %>
  <% if @fields.include?('authors') %>
    <td><%= dataset.author_string %></td>
  <% end %>
  <% if @fields.include?('emails') %>
    <td><%= dataset.authors.limit(6).map(&:author_email).reject(&:blank?)&.join(', ') %></td>
  <% end %>
  <% if @fields.include?('affiliations') || @fields.include?('countries') %>
    <td><% affs = dataset.authors.map(&:affiliations).flatten.uniq.each_with_object([]) { |a, arr| 
        if a.ror_id 
          arr << a 
        end
        arr }.map { |aff| ([@fields.include?('affiliations') ? aff.smart_name : nil] + [@fields.include?('countries') ? aff.country_name : nil]).reject(&:blank?).join(', ') }%>
        <%= ([dataset.tenant_id == 'dryad' ? nil : ([@fields.include?('affiliations') ? dataset.tenant&.short_name : nil] + [@fields.include?('countries') ? dataset.tenant&.country_name : nil]).reject(&:blank?).join(', ')].flatten).concat(affs).uniq.reject(&:blank?).first(6).join('; ') %></td>
  <% end %>
  <% if @fields.include?('status') %>
    <td id="dataset_status_<%= dataset.identifier_id %>">
      <%= render partial: 'table_status', locals: {dataset: dataset} %>
    </td>
  <% end %>
  <% if @fields.include?('size') %>
    <td class="c-lined-table__digits"><%= filesize(dataset.total_file_size) %></td>
  <% end %>
  <% if @fields.include?('metrics') %>
    <td class="c-lined-table__digits"><%= dataset.identifier.counter_stat.unique_investigation_count.blank? || dataset.identifier.counter_stat.unique_investigation_count < dataset.identifier.counter_stat.unique_request_count ? dataset.identifier.counter_stat.unique_request_count || 0 : dataset.identifier.counter_stat.unique_investigation_count %> views<br/>
      <%= dataset.identifier.counter_stat.unique_request_count || 0 %> downloads<br/>
      <%= dataset.identifier.counter_stat.citation_count || 0 %> citations
    </td>
  <% end %>
  <% if @fields.include?('funders') || @fields.include?('awards') %>
    <td><%= dataset.funders.map { |f| ([@fields.include?('funders') ? f.contributor_name : nil] + [@fields.include?('awards') ? f.award_number : nil]).reject(&:blank?).join(', ')}.uniq.reject(&:blank?).join('; ') %></td>
  <% end %>
  <% if @fields.include?('journal') %>
    <td><%= dataset.journal&.title %></td>
  <% end %>
  <% if @fields.include?('sponsor') %>
    <td><%= dataset.journal&.sponsor&.name %></td>
  <% end %>
  <% if @fields.include?('identifiers') %>
    <td class="c-lined-table__digits"><%= ([dataset.resource_publication&.manuscript_number] + dataset.related_identifiers.map {|id| id.related_identifier.partition('//doi.org/').last}).reject(&:blank?).first(6).join(', ') %></td>
  <% end %>
  <% if @fields.include?('dpc') %>
    <td>
      <% dpc = ''
        dpc = dataset.tenant&.short_name if dataset.identifier.payment_id == dataset.tenant_id
        dpc = dataset.journal&.title if dataset.journal&.issn_array&.include?(dataset.identifier.payment_id)
        dpc = dataset.identifier.payment_id.split("funder:").last.split("|").first if dataset.identifier.payment_id&.starts_with?('funder')
      %>
      <%= dpc %>
    </td>
  <% end %>
  <% if @fields.include?('curator') %>
    <td id="dataset_curator_<%= dataset.identifier_id %>">
      <%= render partial: 'table_curator', locals: {dataset: dataset, curator_name: dataset.curator_name} %>
    </td>
  <% end %>
  <% if @fields.include?('editor') %>
    <td><%= render partial: 'table_editor', locals: {dataset: dataset} %></td>
  <% end %>
  <% if @fields.include?('updated_at') %>
    <td class="c-lined-table__digits" id="dataset_updated_<%= dataset.identifier_id %>">
      <%= formatted_datetime(dataset.last_curation_activity.updated_at) %>
    </td>
  <% end %>
  <% if @fields.include?('submit_date') %>
    <td class="c-lined-table__digits"><%= formatted_datetime(dataset.submitted_date) %></td>
  <% end %>
  <% if @fields.include?('first_sub_date') %>
    <td class="c-lined-table__digits"><%= formatted_datetime(dataset.identifier.process_date.processing || dataset.identifier.process_date.queued || dataset.identifier.process_date.peer_review) %></td>
  <% end %>
  <% if @fields.include?('publication_date') %>
    <td class="c-lined-table__digits" id="dataset_published_<%= dataset.identifier_id %>">
      <%= formatted_date(dataset.publication_date) %>
    </td>
  <% end %>
  <% if @fields.include?('first_pub_date') %>
    <td class="c-lined-table__digits">
      <%= formatted_date(dataset.identifier.publication_date) %>
    </td>
  <% end %>
  <% if @fields.include?('created_at') %>
    <td class="c-lined-table__digits"><%= formatted_datetime(dataset.identifier.created_at) %></td>
  <% end %>
  <% if @fields.include?('queue_date') %>
    <td class="c-lined-table__digits">
      <%= formatted_datetime(dataset.identifier.process_date.queued) %>
    </td>
  <% end %>
  <% if @fields.include?('status_date') %>
    <td class="c-lined-table__digits">
      <%= formatted_datetime(dataset.process_date.last_status_date) %>
    </td>
  <% end %>
</tr>