
<% # Article IDs %>

<% prim_article_ids = @resource.related_identifiers.where(work_type: :primary_article).where(hidden: false).order(work_type: :desc) %>
<%= render partial: 'special_article', locals: {article_ids: prim_article_ids, item_label: 'Primary article'} %>

<% article_ids = @resource.related_identifiers.where(work_type: :article).where(hidden: false).order(work_type: :desc) %>
<%= render partial: 'special_article', locals: {article_ids: article_ids, item_label: 'Article'} %>

<% # All other related IDs %>

<% other_relations = if @resource&.resource_type&.resource_type == 'collection'
		@resource.related_identifiers.select(:work_type).where(hidden: false).where.not(work_type: [:article, :primary_article]).where.not(relation_type: 'haspart').distinct.order(:work_type)
	else
		@resource.related_identifiers.select(:work_type).where(hidden: false).where.not(work_type: [:article, :primary_article]).distinct.order(:work_type)
	end %>
<% other_relations.each do |orel| %>
    <h3 class="o-heading__level3-related-works"><%= orel.work_type_friendly %></h3>
    <% other_ids = @resource.related_identifiers.where(work_type: orel.work_type).where(hidden: false) %>
    <ul class="o-list-related">
	<% other_ids.each do |r| %>
	    <% bad_asterisk = ( (current_user&.limited_curator? && !r.verified?) ? ' *' : '') %>
	    <li>
		<% if r.work_type == 'undefined' %>
		    This dataset <%= r.relation_name_english %>
		    <%= display_id(type: r.related_identifier_type,
				   my_id: r.related_identifier) %> <%= bad_asterisk %>
		<% else %>
		    <%= link_to r.related_identifier.ellipsisize(40), r.related_identifier, class: 'o-link__primary', title: r.related_identifier, target: "_blank" %>
		    <%= bad_asterisk %><span class="screen-reader-only"> (opens in new window)</span>
		<% end %>
	    </li>
	<% end %>
    </ul>
<% end %>
