<% # Article IDs %>

<%= render partial: 'special_article', locals: {article_ids: prim_article_ids, item_label: 'Primary article', icon: icons[:primary_article]} %>

<%= render partial: 'special_article', locals: {article_ids: article_ids, item_label: 'Article', icon: icons[:article]} %>

<% # All other related IDs %>
<% other_relations.each do |orel| %>
<div>
  <h3><%= orel.work_type_friendly %></h3>
  <% other_ids = @resource.related_identifiers.where(work_type: orel.work_type).where(hidden: false) %>
  <ul>
  <% other_ids.each do |r| %>
    <% unverified = ( (current_user&.min_app_admin? && !r.verified?) ? '<i class="fas fa-link-slash unmatched-icon" role="note" aria-label="Unverified link" title="Unverified link"></i>'.html_safe : '') %>
      <li>
        <% if r.work_type == 'undefined' %>
          This dataset <%= r.relation_name_english %>
          <%= display_id(type: r.related_identifier_type,
            my_id: r.related_identifier) %> <%= unverified %>
        <% else %>
          <% if r.added_by != 'zenodo' || !unpublished %>
            <%= link_to "#{icons[r.work_type.to_sym]}#{r.related_identifier}".html_safe, r.related_identifier, class: 'o-link__primary', title: "Go to #{orel.work_type_friendly.downcase}", target: "_blank" %><%= unverified %>
            <% else %> <!-- not put in the zenodo queue to publish until the dataset is actually published -->
            <span><%= r.related_identifier %></span><%= unverified %>
          <% end %>
        <% end %>
        <% if r.added_by == 'zenodo' && unpublished %>
            <span style="color: #3c763d; font-size: .98rem;"><i class="fas fa-circle-info" aria-hidden="true"></i>(to be published with dataset)</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
