<% # Article IDs %>

<% icons = {
	primary_article: "<i class=\"fas fa-newspaper\" aria-hidden=\"true\"></i>",
	article: "<i class=\"far fa-newspaper\" aria-hidden=\"true\"></i>",
	dataset: "<i class=\"fas fa-table-cells\" aria-hidden=\"true\"></i>",
	software: "<i class=\"far fa-file-code\" aria-hidden=\"true\"></i>",
	preprint: "<i class=\"far fa-receipt\" aria-hidden=\"true\"></i>",
	supplemental_information: "<i class=\"far fa-file-image\" aria-hidden=\"true\"></i>",
	data_management_plan: "<i class=\"fas fa-list-check\" aria-hidden=\"true\"></i>",
	undefined: ''
} %>

<% prim_article_ids = @resource.related_identifiers.where(work_type: :primary_article).where(hidden: false).order(work_type: :desc) %>
<%= render partial: 'special_article', locals: {article_ids: prim_article_ids, item_label: 'Primary article', icon: icons[:primary_article]} %>

<% article_ids = @resource.related_identifiers.where(work_type: :article).where(hidden: false).order(work_type: :desc) %>
<%= render partial: 'special_article', locals: {article_ids: article_ids, item_label: 'Article', icon: icons[:article]} %>

<% unpublished = @resource.identifier.latest_resource_with_public_download.nil? %>

<% # All other related IDs %>

<% other_relations = if @resource&.resource_type&.resource_type == 'collection'
		@resource.related_identifiers.select(:work_type).where(hidden: false).where.not(work_type: [:article, :primary_article]).where.not(relation_type: 'haspart').distinct.order(:work_type)
	else
		@resource.related_identifiers.select(:work_type).where(hidden: false).where.not(work_type: [:article, :primary_article]).distinct.order(:work_type)
	end %>
<% other_relations.each do |orel| %>
<div>
    <h3><%= orel.work_type_friendly %></h3>
    <% other_ids = @resource.related_identifiers.where(work_type: orel.work_type).where(hidden: false) %>
    <ul>
	<% other_ids.each do |r| %>
	    <% unverified = ( (current_user&.min_app_admin? && !r.verified?) ? '<i class="fas fa-link-slash unmatched-icon" role="note" aria-label="Unverified link" title="Unverified link"></i>'.html_safe : '') %>
	    <li>
				<% if r.work_type == 'undefined' %>
						This dataset <%= r.relation_name_english %>
						<%= display_id(type: r.related_identifier_type,
							 my_id: r.related_identifier) %> <%= unverified %>
				<% else %>
					<% if r.added_by != 'zenodo' || !unpublished %>
						<%= link_to "#{icons[r.work_type]}#{r.related_identifier}<span class=\"screen-reader-only\"> (opens in new window)</span>".html_safe, r.related_identifier, class: 'o-link__primary', title: "Go to #{orel.work_type_friendly.downcase}", target: "_blank" %><%= unverified %>
					<% else %> <!-- not put in the zenodo queue to publish until the dataset is actually published -->
						<span><%= r.related_identifier %></span><%= unverified %>
					<% end %>
				<% end %>
				<% if r.added_by == 'zenodo' && unpublished %>
					<br/>(to be published with dataset)
				<% end %>
	    </li>
	<% end %>
    </ul>
</div>
<% end %>
