<% unless related_identifiers.blank? || related_identifiers.length < 1 %>
    <h3 class="o-heading__level2">Related works</h3>
	<ul class="o-list">
	    <% related_identifiers.each do |r| %>
	    <% highlights = highlight_fields.detect {|h| h[:id] == r.related_identifier} %>
		<% if r.work_type == 'undefined' %>
		    <% unverified = ( (current_user&.min_app_admin? && !r.verified?) ? '<i class="fas fa-link-slash unmatched-icon" role="note" aria-label="Unverified link" title="Unverified link"></i>'.html_safe : '') %>
		    <li><span class="<%= 'highlight' if highlights&.key?(:type) %>">This dataset <%= r.relation_name_english %></span>
			<span class="<%= 'highlight' if highlights&.key?(:id) %>"><%= display_id(type: r.related_identifier_type,
				       my_id: r.related_identifier) %><%= unverified %></span></li>
		<% else %>
		    <li><span class="<%= 'highlight' if highlights&.key?(:type) %>"><%= r.work_type_friendly %></span>:  <%= link_to "#{r.related_identifier}<span class=\"screen-reader-only\"> (opens in new window)</span>".html_safe, r.related_identifier, class: highlights&.key?(:id) ? 'highlight' : '', target: "_blank" %><%= unverified %>
		    	<% if r.work_type == 'primary_article' && journal.present? %>
		    	 (<%= journal.title %>)
		    	<% end %>
		    </li>
		<% end %>
	    <% end %>
	</ul>
<% end %>
<% deleted = highlight_fields.detect {|h| h.key?(:deleted) } %>
<% if deleted %>
	<div class="highlight"><%= deleted[:deleted] %> related works deleted</div>
<% end %>
