<% unless related_identifiers.blank? || related_identifiers.length < 1 %>
    <h3 class="o-heading__level2">Related Works</h3>
    <div class="<%= 'highlight' if highlight %>"> 
	<ul class="o-list">
	    <% related_identifiers.each do |r| %>
		<% if r.work_type == 'undefined' %>
		    <% bad_asterisk = ( (current_user&.limited_curator? && !r.verified?) ? ' *' : '') %>
		    <li>This dataset <%= r.relation_name_english %>
			<%= display_id(type: r.related_identifier_type,
				       my_id: r.related_identifier) %><%= bad_asterisk %></li>
		<% else %>
		    <li><%= r.work_type_friendly %>:  <%= link_to r.related_identifier, r.related_identifier %><%= bad_asterisk %></li>
		<% end %>
	    <% end %>
	</ul>
    </div>
<% end %>
