<% # takes locals of article_ids and item_label (singular version of item like Article or Primary article)  %>
<% if article_ids.present? %>
  <h3 <%if item_label == 'Primary article'%>class="primary_article"<%end%>><%= item_label.pluralize(article_ids.count) %></h3>
  <% if item_label == 'Primary article' && @resource.journal.present? %>
    <a href="/search?f%5Bdryad_related_publication_name_s%5D%5B%5D=<%= URI.encode_www_form_component(@resource.journal.title) %>" class="article_journal"><%= @resource.journal.title %></a>
  <% end %>
  <ul>
    <% article_ids.each do |r| %>
      <% bad_asterisk = ( (current_user&.min_app_admin? && !r.verified?) ? ' *' : '') %>
      <li>
        <% if r.work_type == 'undefined' %>
          This dataset <%= r.relation_name_english %>
          <%= display_id(type: r.related_identifier_type,
                         my_id: r.related_identifier) %> <%= bad_asterisk %>
        <% else %>
          <%= link_to "#{icon}#{r.related_identifier}<span class=\"screen-reader-only\"> (opens in new window)</span>".html_safe, r.related_identifier, title: "Go to #{item_label.downcase}", target: "_blank" %>
          <%= bad_asterisk %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>