<%# locals: resource, upload_method [:files, :manifest] %>

<h2 class="t-upload__choose-heading--active">Step 1: Choose File Upload Technique</h2>

<% if @datatype == 'Software' %>
    <p>
      Software and code can be uploaded here for publication at <a href="https://zenodo.org" target="_blank">Zenodo</a>.
      You will have
      the opportunity to choose a separate license for your code on the review page. For more information about our
      Zenodo partnership <%= link_to 'see our FAQ', faq_path(anchor: 'zenodo-integrate'), target: '_blank' %>.
    </p>

<% else %>
  <p>
    You may upload data via two mechanisms: directly from your computer, or from a URL on an external server
    (e.g., Box, Dropbox, AWS, lab server). We do not recommend using Google Drive. Please note that for this
    version of your submission you may only use one of these two upload mechanisms.
  </p>

  <p>
    We require that you include a README file to provide key information for understanding and using your data.
  </p>

  <%= render 'stash_engine/data_files/file_size_text' %>
<% end %>

<div>
  <div class="t-upload__method-section">
    <div class="t-uploads__method-choice" id="alternate_up_method">
      <% if params[:action].include?('code') %>
        <br/>
        <%= link_to 'Option 1: Upload directly', up_code_resource_path(resource.id, anchor: 'open'), class: 'choosing_up_method o-button__link-dark' %>
        OR
        <%= link_to 'Option 2: Upload by URL', up_code_manifest_resource_path(@resource.id, anchor: 'open'), class: 'choosing_up_method o-button__link-dark' %>
      <% else %>
        <br/>
        <%= link_to 'Option 1: Upload directly', upload_resource_path(@resource.id, anchor: 'open'), class: 'choosing_up_method o-button__link-dark' %>
        OR
        <%= link_to 'Option 2: Upload by URL', upload_manifest_resource_path(resource.id, anchor: 'open'), class: 'choosing_up_method o-button__link-dark' %>
      <% end %>
    </div>
  </div>
</div>
