<%# locals: resource %>
<br/>
<h2 class="t-upload__choose-heading--active">Step 2: Enter Files</h2>

  <% my_route = (@file_model == StashEngine::SoftwareFile ?
                     stash_engine.software_file_validate_urls_path(resource.id) : stash_engine.data_file_validate_urls_path(resource.id)) %>

  <%= form_with(url: my_route, remote: true, id: 'url_validate') do %>

  <%= hidden_field_tag :resource_id, resource.id %>
	<%= text_area_tag :url, '', cols: 80, rows: 15, id: 'location_urls', placeholder: 'List file location URLs here'	%>

	<p>Place each URL on a new line.</p>

  <p id="confirm_text_validate"><span>
    <%= check_box_tag 'confirm_to_validate', 'yes', false, id: 'confirm_to_validate' %></span>
    <strong style="color: red;"> *</strong>
    <label for="confirm_to_validate">I confirm that no Personal Health Information or Sensitive Data are being uploaded with this submission.</label>
  </p>

	<div class="actions" id="post_submit_before_spinner">
    <%= submit_tag 'Validate Files', id: 'validate_files', class: 'o-button__submit', disabled: true %>
  </div>
  <div class="spinner" id="post_submit_spinner">
    <%= image_tag 'stash_engine/spinner.gif', size: '80x60', alt: 'Loading spinner', id: 'post_submit_spinner' %>
  </div>
<% end %>



<div id="validated_errors">
  <%= render partial: 'stash_engine/data_files/validated_errors', locals: {resource: resource} %>
</div>

<h2 class="t-upload__choose-heading--active">Uploaded Files</h2>

<div class="c-upload" id="validated_files">
	<%= render partial: 'stash_engine/data_files/validated_files', locals: {resource: resource} %>
</div>

<script type="text/javascript">
$(function () {
  $('#post_submit_spinner').hide();
});

validateFileUrl();

$(function () {
  $("#validate_files").click(function() {
    $("#validate_files").hide();
    $('#post_submit_spinner').show();
  });
});
</script>