<% #takes local variable of resource %>
<% dups = resource.duplicate_filenames(association: @resource_assoc) %>
<div class="c-manifest">
  <div id="manifest_errors">
    <% if resource.send(@resource_assoc).newly_created.errors.count > 0 || dups.count > 0 %>
      <h2 class="t-upload__choose-heading--active">Validation Status</h2>
      <% resource.send(@resource_assoc).newly_created.errors.each do |fu| %>
        <div class="c-manifest__item">
          <div class="c-manifest__url"><%= fu.url %></div>
          <div class="c-manifest__error"><%= fu.error_message %></div>
          <div class="c-manifest__action">
            <%= button_to 'Edit', polymorphic_path(['destroy_error', fu], edit: true), method: :patch, remote: true, class: "c-upload__button",
                          form_class: 'o-button__inline-form' %>
            <%= button_to 'Delete', polymorphic_path(['destroy_error', fu]), method: :patch, remote: true, class: "c-upload__button",
                          form_class: 'o-button__inline-form' %>
          </div>
        </div>
      <% end %>

      <% dups.each do |fu| %>
        <div class="c-manifest__item">
          <div class="c-manifest__url"><%= fu.url %></div>
          <div class="c-manifest__error"><%= "#{fu.upload_file_name} is the same as another filename.  The filename cannot be the same for multiple items." %></div>
          <div class="c-manifest__action">
            <%= button_to 'Delete', polymorphic_path(['destroy_error',fu]), method: :patch, remote: true, class: "c-upload__button",
                          form_class: 'o-button__inline-form' %>
          </div>
        </div>
      <% end %>

    <% end %>
  </div>
</div>