<% @page_title = "Prepare your README – publish and preserve your data" %>
<div id="submission-wizard">
<%= render partial: 'stash_engine/shared/dataset_non_user_editor', locals: {resource: @resource} %>
<%= render partial: 'stash_engine/shared/dataset_steps_nav' %>

<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application' %>

<% if params[:display_validation] %>
  <%= render partial: "stash_datacite/resources/missing_mandatory_data",
             locals: { error_items: StashDatacite::Resource::DatasetValidations.new(resource: @resource).errors } %>
<% end %>

<% if @loading_error == true %>
  <div class="js-alert c-alert--error" role="alert">
    <div class="c-alert__text">
      Your previous README file cannot be loaded due to its encoding.
    </div>
    <button aria-label="close" class="js-alert__close o-button__close c-alert__close flash_button"></button>
  </div>
<% end %>

<div className="c-autosave-header">
  <h1 className="o-heading__level1" style="margin-bottom: 1rem" id="readme-label">Prepare README file</h1>
  <div className="c-autosave__text saving_text" hidden>Saving&hellip;</div>
  <div className="c-autosave__text saved_text" hidden>All progress saved</div>
</div>

<!-- map(&:attributes) one way for translating ActiveRecord field type to json at React side adequately -->
<%= react_component('containers/ReadMeWizard', {
  dcsDescription: @metadata_entry.technical_info,
  updatePath: descriptions_update_path,
  fileContent: @file_content,
  fileList: @resource.data_files.map {|f| {name: f.upload_file_name, variables: f.upload_file_name.end_with?('csv', 'tsv') ? f.preview_file.lines.first.chomp.delete_prefix('"').delete_suffix('"').split(Regexp.union([/"?,"?/, /"?\t"?/])) : []}},
  title: @resource.title || 'Title of Dataset',
  doi: @resource.identifier_uri
}) %>

</div>

<%= render partial: 'stash_engine/shared/dataset_steps_bottom_nav', locals: {page: 2} %>
