<% @page_title = 'Upload Your Files' %>
<%= render partial: 'stash_engine/shared/dataset_steps_nav' %>

<h1>Upload your files (optional)</h1>

<h2>Step 1: choose your files</h2>
<div>
  <%= form_for @file, html: {multipart: true, id: 'fileupload'} do |f| %>
    <div id="upload_bg">

      <%= f.hidden_field :resource_id %>
      <p>
        <%= image_tag('stash_engine/dragndrop.png') %>
      </p>
      or

      <p>
        <%= label_tag(:upload_upload, "Add files...") %>
        <%= file_field_tag 'upload[upload]', multiple: true %>
      </p>
    </div>
    <!-- The loading indicator is shown during image processing -->
    <div class="fileupload-loading"></div>
    <br/>
    <!-- The table listing the files available for upload/download -->
    <table class="table table-striped">
      <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
    </table>

  <% end %>
</div>

<h2>Step 2: Upload your files</h2>

<div id="upload_list">
  <%= render partial: "stash_engine/file_uploads/uploaded_file", collection: @resource.file_uploads %>
</div>

<div id="upload_total">
  Total:
</div>


<div>
  <button id="upload_all" type="button">Upload</button>
</div>
<div style="clear:both">&nbsp;</div>


<%= render partial: 'stash_engine/file_uploads/dropped_file' %>

<style>
  .buttony {
    border-width: 1px;
    border-style: solid;
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
  }
</style>

<div class="t-describe__dataset-nav o-dataset-nav">
  <%= link_to 'Back to Describe Dataset', metadata_entry_pages_find_or_create_path(resource_id: params[:id]), class: 'o-button__icon-left', role: 'button', id: 'describe_back' %>
  <%= link_to 'Proceed to Review', review_resource_path(params[:id]), class: 'o-button__icon-right', role: 'button', id: 'proceed_review' %>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
      maxChunkSize: 1048576,
      //acceptFileTypes: /(\.|\/)(gif|jpe?g|png|tif?f)$/i
      maxFileSize: <%= StashEngine.app.max_file_size %>,// 2GB,
      //maxFileSize: 1048576 ,// 1MB,
      limitMultiFileUploadSize: <%= StashEngine.app.max_submission_size %>
    });
  });

  // start first upload-it line
  $('#upload_all').click( function(e){
    if(totalSize() > <%= StashEngine.app.max_submission_size %>){
      e.preventDefault();
      alert('You are attempting to upload more than <%= filesize(StashEngine.app.max_submission_size)%>.  Please remove some files to get under this limit.');
      return false;
    }
    if(largestSize() > <%= StashEngine.app.max_file_size %>) {
      e.preventDefault();
      alert('You are attempting to upload a file larger than <%= filesize(StashEngine.app.max_file_size)%>.  Please remove any files larger than this limit and try again.');
      return false;
    }
    $('.upload-it:first').click();
  });

  updateTotalSize();

</script>
