<%= render partial: 'stash_engine/shared/dataset_steps_nav' %>

<h1>Upload your files (optional)</h1>

<h2>Step 1: choose your files</h2>
<div>
  <%= form_for @file, html: {multipart: true, id: 'fileupload'} do |f| %>
    <%= f.hidden_field :resource_id %>

    <%= label_tag(:upload_upload, "Add files...") %>
    <%= file_field_tag 'upload[upload]', multiple: true %>

  <% end %>
</div>

<h2>Step 2: Upload your files</h2>