<% @page_title = 'Upload Your Files' %>
<%= render partial: 'stash_engine/shared/dataset_steps_nav' %>

<h1 class="o-heading__level1">Upload Your Files <span class="t-upload__heading-optional">(optional)</span></h1>

<p>Size limits: 2GB per file, 10 GB in total. To upload larger datasets, <a href="mailto:uc3@ucop.edu">contact us</a>.</p>

<h2 class="t-upload__choose-heading--active">Step 1: Choose your files</h2>
<div>
  <%= form_for @file, html: {multipart: true, id: 'fileupload'} do |f| %>
    <div class="c-choose">
      <%= f.hidden_field :resource_id %>
      <div id="upload_bg" class="c-choose__drop o-drop">
        Drag and drop files here
      </div>
      <div class="c-choose__or">or</div>
      <div class="c-choose__label">
        <%= label_tag(:upload_upload, "Choose Files", class: 'c-input__file-label') %>
        <%= file_field_tag 'upload[upload]', multiple: true, class: 'c-input__file' %>
      </div>
    </div>
  <% end %>
</div>

<h2 class="t-upload__choose-heading" id="upload_tweaker_head">Step 2: Upload your files</h2>
<div class="c-upload">
  <div id="upload_list">
    <% if @resource.file_uploads.count < 1 %>
      <span id="no_chosen">No files chosen</span>
    <% else %>
      <%= render partial: "stash_engine/file_uploads/uploaded_file", collection: @resource.file_uploads %>
    <% end %>
  </div>

  <div id="upload_total">
    Total:
  </div>

  <div class="c-upload__upload-complete-text" id="upload_complete" style="display: none;">Upload complete.</div>

  <div class="bad_upload" id="over_single_size"></div>
  <div class="bad_upload" id="over_files_size" style="display: none;">
    <p>
      Your file size is over <%= filesize(StashEngine.app.max_submission_size) %>. You must remove some files to bring your total
      file size under this limit before you can upload.
    </p>
  </div>

  <div>
    <button id="upload_all" type="button" class="o-button__plain-text2">Upload</button>
    <button id="cancel_all" type="button" class="o-button__plain-text2" style="display:none;">Cancel all</button>
  </div>
</div>

<%= render partial: 'stash_engine/file_uploads/dropped_file' %>

<div class="t-describe__dataset-nav o-dataset-nav">
  <%= link_to 'Back to Describe Dataset', metadata_entry_pages_find_or_create_path(resource_id: params[:id]), class: 'o-button__icon-left', role: 'button', id: 'describe_back' %>
  <%= link_to 'Proceed to Review', review_resource_path(params[:id]), class: 'o-button__icon-right', role: 'button', id: 'proceed_review' %>
</div>

<script type="text/javascript" charset="utf-8">
  var uploadInProgress = false;
  $(function () {
    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
      maxChunkSize: 1048576,
      //acceptFileTypes: /(\.|\/)(gif|jpe?g|png|tif?f)$/i
      maxFileSize: <%= StashEngine.app.max_file_size %>,// 2GB,
      //maxFileSize: 1048576 ,// 1MB,
      limitMultiFileUploadSize: <%= StashEngine.app.max_submission_size %>
    });
  });

  function maxTotalSize(){
    return <%= StashEngine.app.max_submission_size %>;
  }

  function maxFileSize(){
    return <%= StashEngine.app.max_file_size %>;
  }

  function overTotalSize(mySize){
    return (mySize > maxTotalSize());
  }

  function overFileSize(mySize){
    return (mySize > maxFileSize());
  }

  updateButtonLinkStates();

</script>
