<%  @datatype = (params[:action].include?('code') ? 'Software' : 'Data') %>
<% @page_title = "Upload your files - publish and preserve your #{@datatype}" %>
<%= render partial: 'stash_engine/shared/dataset_non_user_editor', locals: {resource: @resource} %>
<%= render partial: 'stash_engine/shared/dataset_steps_nav' %>

<% if @datatype == 'Software' %>
  <%= image_tag('stash_engine/logo_zenodo.png', alt: 'Zenodo logo', class: 'c-files-zenodo') %>
<% end %>

<h1 class="o-heading__level1">Upload Your <%= @datatype %></h1>

<div id="choose_method">
  <%= render partial: 'stash_engine/data_files/choose_upload_method', locals: { resource: @resource, upload_method: :manifest} %>
</div>

<!-- manifest workflow -->
<div class="manifest_upload" class="limits_and_part_2">
  <%= render partial: 'stash_engine/data_files/manifest_upload',
       locals: { resource: @resource } %>
</div>

<div class="o-dataset-nav">
  <% if params[:controller]&.end_with?('resources') && params[:action].include?('upload') %>
    <!-- standard upload page -->
    <%= link_to 'Back to Describe Dataset', metadata_entry_pages_find_or_create_path(resource_id: params[:id]), class: 'o-button__icon-left', role: 'button', id: 'describe_back' %>

    <%= link_to 'Proceed to Upload Software', up_code_resource_path(params[:id]), class: 'o-button__icon-right', role: 'button', id: 'proceed_review' %>
  <% else %>
    <!-- software/supplemental zenodo upload page, should only get here if you can upload to zenodo -->
    <%= link_to 'Back to Upload data', stash_url_helpers.upload_resource_path(params[:id]), class: 'o-button__icon-left', role: 'button', id: 'describe_back' %>
    <%= link_to 'Proceed to review', review_resource_path(params[:id]), class: 'o-button__icon-right', role: 'button', id: 'proceed_review' %>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">

  $(function () {
    // set up initial page loaded state
    setUploadMethodLockout('<%= escape_javascript(@resource.upload_type(association: @resource_assoc).to_s) %>'); // set lockout so you can't change view if you have files already
    $('#post_submit_spinner').hide(); // hide the submit spinner for manifest uploads
    confirmToValidate(); // add event to require checking acceptance before validating
  });
</script>
