<%= render partial: 'stash_engine/shared/dataset_steps_nav' %>

<h1>Upload your files (optional)</h1>

<h2>Step 1: choose your files</h2>
<div>
  <%= form_for @file, html: {multipart: true} do |f| %>
    <%= f.hidden_field :resource_id %>

    <%= label_tag(:upload_upload, "Add files...") %>
    <%= file_field_tag 'upload[upload]', multiple: true %>

  <% end %>
</div>

<h2>Step 2: Upload your files</h2>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>

<h2>Already Uploaded</h2>
<% @resource.file_uploads.each do |f| %>
  <%= f.upload_file_name %> (<%= number_to_human_size(f.upload_file_size) %>)</br>
<% end %>