<%= fields_for @related_identifier do |related_identifier| %>
<%#= render "datacite/shared/error_messages", :target => @related_identifier %>
  <strong><%= related_identifier.label :related_identifier, "Related work(s)" %></strong>articles, other datasets: e.g., This dataset is cited by DOI 10.1000/182.
  <table>
    <tr>
        <td></td>
        <td><%= related_identifier.label :relation_type_id, "Relationship" %>&nbsp;&nbsp;&nbsp;</td>
        <td><%= related_identifier.label :related_identifier_type_id, "ID Type" %>&nbsp;&nbsp;&nbsp;</td>
        <td><%= related_identifier.label :related_identifier, "Identifier" %>&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr>
      <td>This Dataset&nbsp;</td>
      <td><%= related_identifier.collection_select(:relation_type_id, @relation_types, :id, :relation, prompt: "select relationship") %>&nbsp;&nbsp;&nbsp;</td>
      <td><%= related_identifier.collection_select(:related_identifier_type_id, @related_identifier_types, :id, :related_identifier_type, prompt: "identifier_type") %>&nbsp;&nbsp;&nbsp;</td>
      <td><%= related_identifier.text_field :related_identifier, size: 40 %>&nbsp;&nbsp;&nbsp;</td>
    </tr>
  <%= related_identifier.hidden_field :resource_id, value: params[:resource_id] %>
  <br/>
  </table>
<% end %>