<p>Welcome to the new Dryad Digital Platform, <%= @email %></p>

<p>To migrate your old datasets to your new dashboard, please go to <a href="<%= @url %>" title="Migrate your datasets"><%= @url %></a> and enter the following code: <%= @code %>.</p>

<p>If you have any questions, please message us at <a href="mailto:<%= @helpdesk_email %>"><%= @helpdesk_email %></a>. Thank you for joining the Dryad community!</p>

