<% @datasets.each_with_index do |dataset, i| 
  if dataset.present? && dataset.identifier.present?
%>
  <% title = dataset.title.blank? ? '[No title supplied]' : dataset.title.html_safe %>
  <% delete_confirm = 'Are you sure you want to remove this dataset'
    if dataset.stash_version&.version > 1
      delete_confirm << ' version?'
      if dataset.identifier.pub_state == 'published'
        delete_confirm << ' The published version will still be available.'
      end
    else
      delete_confirm << '?'
    end 
  %>
  <% if @datasets.index{ |d| d.sort_order == dataset.sort_order } == i %>
    <% if i > 0 %>
      </ul>
    <% end %>
    <h2 class="c-user-datasets-heading">
      <%case dataset.sort_order%><%when 0%>Needs attention<%when 1%>In progress with another user<%when 2%>Kept private<%when 3%>Curation<%when 4%>Complete<%when 5%>Withdrawn<%end%>
    </h2>
    <ul class="c-user-datasets-list" id="<%case dataset.sort_order%><%when 0%>user_in-progress<%when 1%>user_other-editor<%when 2%>user_private<%when 3%>user_processing<%when 4%>user_complete<%when 5%>user_withdrawn<%end%>">
  <% end %>
  <li>
    <div>
      <p class="c-user-dataset-title">
        <% if dataset.submitted? # merritt state %>
          <%= link_to title, stash_url_helpers.show_path(dataset.identifier.identifier_str) %>
        <% else %>
          <%= title %>
        <% end %>
      </p>
      <p class="c-user-dataset-details">
        <span>DOI: <%= dataset.identifier.identifier %></span>
        <span><%= time_ago_in_words(dataset.updated_at, include_seconds: true) %> since last update</span>
        <% if dataset.identifier.pub_state == 'published' %>
          <span>Published: <%= formatted_date(dataset.identifier.date_last_published) %></span><% if dataset.sort_order != 3 %>
            <span class="prev-published"><i class="fa fa-check" aria-hidden="true"></i> Previous version published</span>
          <% end %>
        <% end %>
      </p>
    </div>
      <div>
      <div class="c-user-datasets-status">
        <span class="dataset-status <%case dataset.sort_order%><%when 0%>error-status<%when 3%>info-status<%when 4%>success-status<%else%>warning-status<%end%>"><%= dataset.last_curation_activity&.readable_status %></span>
        <div class="c-user-datasets-actions">
          <% if dataset.last_curation_activity&.status == 'in_progress' %>
            <% if dataset.current_editor_id.nil? || dataset.current_editor_id == current_user&.id %>
              <%= button_to stash_url_helpers.metadata_entry_pages_find_or_create_path(resource_id: dataset.id), name: 'resume', form_class: 'o-button__inline-form', class: 'o-button__plain-text7', method: :post do %>
                <i class="fas fa-pencil" aria-hidden="true"></i><%= dataset.current_editor_id.nil? ? "Edit" : "Resume" %><span class="screen-reader-only"> <%= dataset.identifier.identifier %></span>
              <% end %>
              <% if dataset.current_editor_id == current_user&.id %>
                <%= button_to stash_url_helpers.logout_resource_path(dataset), name: 'exit', form_class: 'o-button__inline-form', class: 'o-button__plain-text7', method: :post do %>
                  <i class="fas fa-floppy-disk" aria-hidden="true"></i>Save & exit<span class="screen-reader-only"> <%= dataset.identifier.identifier %></span>
                <% end %>
              <% end %>
              <% if policy(dataset).delete? %>
                <%= button_to stash_url_helpers.resource_path(dataset), method: :delete, data: { confirm: delete_confirm }, name: 'delete', form_class: 'o-button__inline-form', class: 'o-button__plain-text7 prevent-click', title: dataset&.stash_version.version > 1 ? 'Revert to previous version' : 'Delete dataset' do %>
                  <i class="fas fa-trash-can" aria-hidden="true"></i><%= dataset.stash_version&.version > 1 ? 'Revert' : 'Delete' %><span class="screen-reader-only"> <%= dataset.identifier.identifier %></span>
                <% end %>
              <% end %>
            <% elsif dataset.current_editor_id.present? %>
              <%= dataset.editor.name %> is editing
            <% end %>
          <% end %>
          <% if dataset.sort_order == 2 %>
            <%= button_to stash_url_helpers.peer_review_release_path(id: dataset.id), method: :patch, name: 'release', data: { confirm: 'Is this dataset ready for curation and publication?' }, form_class: 'o-button__inline-form', class: 'o-button__plain-text7' do %>
              <i class="fa fa-paper-plane" aria-hidden="true"></i>Release<span class="screen-reader-only"> <%= dataset.identifier.identifier %></span> for curation
            <% end %>
          <% end %>
          <% if policy(dataset).revise? %>
          <% if ['submitted', 'action_required'].include?(dataset.last_curation_activity&.status) || dataset.sort_order == 2 || dataset.sort_order >= 4 %>
            <%= form_with(url: stash_url_helpers.metadata_entry_pages_new_version_path(resource_id: dataset.id), method: :post, class: 'o-button__inline-form') do %>
              <button class="o-button__plain-text7 prevent-click" name="update"><i class="fas fa-pencil" aria-hidden="true"></i>Revise submission<span class="screen-reader-only"> <%= dataset.identifier.identifier %></span></button>
            <% end %>
          <% end %>
          <% end %>
          <% if dataset.sort_order == 4 && dataset.identifier.publication_article_doi.nil? %>
            <%= form_with(url: primary_article_path(resource_id: dataset.id), method: :get, local: false, class: 'o-button__inline-form', id: "#{dataset.id}_pub_form") do %>
              <button class="o-button__plain-text7"><i class="fas fa-newspaper" aria-hidden="true"></i>Link article<span class="screen-reader-only"> to <%= dataset.identifier.identifier %></span></button>
            <% end %>
          <% end %>
          <% #form_with(url: contact_helpdesk_form_path(id: dataset.identifier.id), method: :get, local: false, class: 'o-button__inline-form', style: 'margin-left: auto', id: "#{dataset.id}_contact_form") do %>
              <!--button class="o-button__plain-text7"><i class="fas fa-circle-question" aria-hidden="true"></i>Get help<span class="screen-reader-only"> with <%= dataset.identifier.identifier %></span></button-->
          <% #end %>
        </div>
      </div>
    </div>
  </li>
  <% if i == @datasets.length - 1 %>
    </ul>
  <% end %>
<% end %>
<% end %>
<%= paginate @datasets, params: {page_size: @page_size}, remote: true %>