<p id="notice"><%= notice %></p>
<h2>My Datasets</h2>

<div>
  <%= link_to "New Dataset", new_resource_path %>
</div>

<h3>In Progress</h3>
<div id="user_in_progress"
     data-load="<%= metadata_url_helpers.resources_user_in_progress_path(format: :js) %>">
  <%= image_tag 'stash_engine/spinner.gif', size: '80x60', alt: 'Loading spinner' %>
</div>

<h3>Submitted</h3>
<div id="user_submitted"
     data-load="<%= metadata_url_helpers.resources_user_submitted_path(format: :js) %>">
  <%= image_tag 'stash_engine/spinner.gif', size: '80x60', alt: 'Loading spinner' %>
</div>

<h3>Latest Activity</h3>
