<%# the local variable 'geolocation_point' should be passed in to this partial when there are multiple per page %>
<div id="geolocation_point" style="flex: 1 0 auto">
  <%= form_for(geolocation_point, url: stash_datacite.geolocation_points_create_path, remote: true, authenticity_token: true, html: {id: "geolocation_point_new_form", class: 'c-location__point-inputs'}) do |f| %>
    <%#= render "datacite/shared/error_messages", :target => @geolocation_point %>
    <%= f.text_field :latitude, class: 'c-location__input', id: "geo_lat_point" %>&nbsp;,&nbsp;
    <%= f.text_field :longitude, class: 'c-location__input', id: "geo_lng_point" %>
    <%= f.hidden_field :resource_id %>
    <%= f.submit "Add", id: "add_geo_point", class: 'c-location__add-button o-button__plain-text2' %>
  <% end %>
</div>

<script type="text/javascript">
$(document).ready(function() {

  $("#geolocation_point").show();
  $("#geo_point").on('click', function(e){
    $("#geolocation_box").hide();
    $("#geolocation_point").show();
  });

  // latitude longitude vlaidation for Geolcoation Point
  $("#geo_lat_point").on('blur', function(e){
  var lat = $(this).val();
  var latReg = /^(\+|-)?(?:90(?:(?:\.0{1,6})?)|(?:[0-9]|[1-8][0-9])(?:(?:\.[0-9]{1,6})?))$/;
    if(lat == "") {
      return false;
    }
    else if (!latReg.test(lat)) {
      alert("Please enter valid latitude value");
      $('#geo_lat_point').val('');
    }
  });

  $("#geo_lng_point").on('blur', function(e){
  var lng = $(this).val();
  var lngReg = /^(\+|-)?(?:180(?:(?:\.0{1,6})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\.[0-9]{1,6})?))$/;
    if(lng == "") {
      return false;
    }
    else if(!lngReg.test(lng)) {
      alert("Please enter valid longitude value")
      $('#geo_lng_point').val('');
    }
  });

});
</script>