$('div.geolocation_points').replaceWith('<%= j render partial: "stash_datacite/geolocation_points/index", locals: { geolocation_points: @geolocation_points } %>')

// Add id to a marker
customMarker = L.Marker.extend({
   options: {
      id: 'Custom data!'
   }
});

var newMarker = new customMarker(new L.LatLng(<%= @geolocation_point.latitude %>, <%= @geolocation_point.longitude %>),
     { title: 'Marker', draggable: true, id: <%= @geolocation_point.id %> });
newMarker.addTo(map).bindPopup(<%= @geolocation_point.latitude %> +","+ <%= @geolocation_point.longitude %> + " " +"<button class='delete-button'>Delete</button>");

newMarker.on("popupopen", onPopupOpen);

  newMarker.on('dragend', function(event){
    var chagedPos = event.target.getLatLng();
    this.bindPopup(chagedPos.toString()).openPopup();
  });

function onPopupOpen() {

    var tempMarker = this;

    // To remove marker on click of delete button in the popup of marker
    $(".marker-delete-button:visible").click(function () {
        map.removeLayer(tempMarker);
    });
}