<div id="dialog-form" title="Large File Download Request" style="display: none;">

  <p>Due to its size, this dataset is not available for immediate download.</p>

  <p>
    Please provide your email address to receive an email with a download link when the dataset is ready. We
    will not use your email for any other purpose.
  </p>
  <%= form_tag stash_engine.download_async_request_path(resource.id), id: 'async_form',
               method: :post, remote: true do %>
    <strong><%= label_tag 'email', 'Email address:', class: 'c-input__label' %></strong>
    <%= email_field_tag 'email', (current_user.try(:email) || session[:saved_email]), id: 'user_email',
                        class: 'c-input__text', placeholder: 'yourusername@yourdomain.tld', style: "width: 18em;" %>
    <%= hidden_field_tag :resource_id, resource.id %>
    <%= hidden_field_tag :secret_id, params[:secret_id] %>
    <%# submit_tag 'submit', value: 'Submit', id: 'capture_email_submit' %>
  <% end %>
  <p id="bad_email" class="c-input__error-message">Please enter a valid email address.</p>
</div>

<!--
  <button id="create-user">Show dialog</button>
  -->

<script>

  $( "#create-user" ).button().on( "click", function() {
    dialog.dialog( "open" );
  });

  var dialog, form;
  dialog = $("#dialog-form").dialog({
    autoOpen: false,
    height: 400,
    width: 500,
    modal: true,
    buttons: {
      Cancel: function () {
        $('#bad_email').hide();
        dialog.dialog("close");
      },
      "Submit": function(e) {
        patt = /^\S+@\S+\.\S+$/g;
        if (patt.test($('#user_email').val())){
          // good email, submit
          dialog.dialog("close");
          $('#bad_email').hide();
          $('#async_form').submit();
        }else{
          // bad email. display error message.
          e.preventDefault();
          $('#bad_email').show();
        }


      }
    },
    close: function () {
      $('#bad_email').hide();
      // form[0].reset();
      // allFields.removeClass("ui-state-error");
    }
  });

  <% if params[:big] == 'showme' %>
    dialog.dialog( "open" );
  <% end %>

</script>