<%= content_for(:head) %>
<div class='jumbotron'>
  <div class='home-search-area'>
    <%= content_tag :h2, t('geoblacklight.home.headline') %>
    <%= content_tag :h3, t('geoblacklight.home.search_heading') %>
    <div class='col-md-6 col-md-offset-3'>
      <%= render_search_form_no_navbar %>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-6'>
      <%= content_tag :h3, t('geoblacklight.home.category_heading'), class: 'text-center' %>
      <div class='category-block'>
        <div class='category-icon'>
          <span><%= image_tag('stash_engine/icon_globe.svg', size: '100x100', alt: 'Box') %></span>
        </div>
        <h4>Placename</h4>
        <%= render_facet_tags [Settings.FIELDS.SPATIAL_COVERAGE] %>
      </div>
      <div class='category-block'>
        <div class='category-icon'>
          <span><i class="fa fa-tags" aria-hidden="true" style="color: steelblue;size: 100px;"></i></span>
        </div>
        <h4>Subject</h4>
        <%= render_facet_tags [Settings.FIELDS.SUBJECT] %>
      </div>
      <div class='category-block'>
        <div class='category-icon'>
          <span><i class="fa fa-book" aria-hidden="true" style="color: steelblue;size: 100px;"></i></span>
        </div>
        <h4>Journal</h4>
        <%= render_facet_tags [Settings.FIELDS.RELATED_PUBLICATION_NAME] %>
      </div>
      <div class='category-block'>
        <div class='category-icon'>
          <span><i class="fa fa-university" aria-hidden="true" style="color: steelblue;size: 100px;"></i></span>
        </div>
        <h4>Institutions</h4>
        <%= render_facet_tags [Settings.FIELDS.AUTHOR_AFFILIATION_NAME] %>
      </div>
    </div>
    <div class='col-md-6 text-center'>
      <%= content_tag :h3, t('geoblacklight.home.map_heading') %>
      <%= content_tag :div, '', id: 'map', data: { map: 'home', 'catalog-path'=> search_catalog_path , 'map-bbox' => params[:bbox], basemap: geoblacklight_basemap, leaflet_options: leaflet_options } %>
    </div>
  </div>
</div>