<%# locals: resource, upload_method [:files, :manifest] %>
<h2 class="t-upload__choose-heading--active">Step 1: Choose File Upload Technique</h2>
<% if @datatype == 'Software' %>
  <p>
    Software and other supporting files may be uploaded to Zenodo through our partnership and integration. You will have
    the opportunity to choose a separate license for your code on the review page. For more information about our integration: [XXX]
  </p>
<% end %>
<%= render 'stash_engine/file_uploads/file_size_text' %>
<div>

  <div class="t-upload__method-section">
    <div class="t-uploads__method-choice">
      <% if params[:action].include?('code') %>
        <% if params[:action].include?('manifest') %>
          <%= link_to 'Upload software files directly', up_code_resource_path(resource.id), id: 'alternate_up_method' %>
        <% else %>
          <%= link_to 'Upload software files from public URLs', up_code_manifest_resource_path(@resource.id), id: 'alternate_up_method' %>
        <% end %>
      <% else %>
        <% if params[:action].include?('manifest') %>
          <%= link_to 'Upload files directly', upload_resource_path(@resource.id), id: 'alternate_up_method' %>
        <% else %>
          <%= link_to 'Upload files from public URLs', upload_manifest_resource_path(resource.id), id: 'alternate_up_method' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
