<%# locals: resource, upload_method [:files, :manifest] %>
<h2 class="t-upload__choose-heading--active">Step 1: Choose File Upload Technique</h2>
<p>You may upload data via two mechanisms: directly from your computer, or from a URL on an external server (Box, Dropbox,
  lab server).
  Please note that for this submission you may only use one of these two upload mechanisms.
</p>
<%= render 'stash_engine/file_uploads/file_size_text' %>
<div>

  <div class="t-upload__method-section">
    <div class="t-uploads__method-choice">
      <% if params[:action].include?('code') %>
        <% if params[:action].include?('manifest') %>
          <%= link_to 'Upload files directly instead', up_code_resource_path(resource.id), id: 'alternate_up_method' %>
        <% else %>
          <%= link_to 'Upload files from public URLs instead', up_code_manifest_resource_path(@resource.id), id: 'alternate_up_method' %>
        <% end %>
      <% else %>
        <% if params[:action].include?('manifest') %>
          <%= link_to 'Upload files directly instead', upload_resource_path(@resource.id), id: 'alternate_up_method' %>
        <% else %>
          <%= link_to 'Upload files from public URLs instead', upload_manifest_resource_path(resource.id), id: 'alternate_up_method' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
