<%# locals: resource, upload_method [:files, :manifest] %>
<h2 class="t-upload__choose-heading--active">Step 1: Choose File Upload Technique</h2>
<p>You may upload data via two mechanisms: directly from your computer, or from a URL on an external server (Box, Dropbox,
  lab server).
  We do
not recommend using Google Drive. Please note that for this version of
your submission you may only use one of these two upload mechanisms.
</p>

<p>
We strongly encourage you to include README files to
provide key information for those wanting to re-use.
</p>
<% if @datatype == 'Software' %>
  <!-- TODO:  This is hacked in for Daniella to do a demo in a time crunch, put back into the ui library and css -->
  <div style="display:flex">
    <div style="margin-right: 5px;">
      <p>
        Software and other supporting files may be uploaded to Zenodo through our partnership and integration. You will have
        the opportunity to choose a separate license for your code on the review page. For more information about our integration: [XXX]
      </p>
    </div>
    <div>
      <%= image_tag('stash_engine/logo_zenodo.png', alt: 'Zenodo logo', class: 'c-review-zenodo') %>
    </div>
  </div>
<% end %>

<%= render 'stash_engine/file_uploads/file_size_text' %>
<div>
  <div class="t-upload__method-section">
    <div class="t-uploads__method-choice" id="alternate_up_method">
      <% if params[:action].include?('code') %>
        <%= link_to 'Upload directly', up_code_resource_path(resource.id, anchor: 'open'), class: 'choosing_up_method o-button__plain-text5' %>
        OR
        <%= link_to 'Upload by URL', up_code_manifest_resource_path(@resource.id, anchor: 'open'), class: 'choosing_up_method o-button__plain-text5' %>
      <% else %>
        <%= link_to 'Upload directly', upload_resource_path(@resource.id, anchor: 'open'), class: 'choosing_up_method o-button__plain-text5' %>
        OR
        <%= link_to 'Upload by URL', upload_manifest_resource_path(resource.id, anchor: 'open'), class: 'choosing_up_method o-button__plain-text5' %>
      <% end %>
    </div>
  </div>
</div>
