<%# the file_uploads are passed in, which may be either merritt or zenodo types of files.  Only link submitted files. %>
<% unless file_uploads.where(url: [nil, '']).nil? %>
  <ul class="c-review-files__list">
  <% file_uploads.each do |file_upload| %>
    <div class="<%= 'strike-deleted' if file_upload.file_state == 'deleted' %>">
      <li>
        <% if file_upload.file_state == 'copied' %>
          <% if file_upload.class == StashEngine::FileUpload %>
            <%= file_upload.upload_file_name %>
          <% else %>
            <%= link_to file_upload.upload_file_name, stash_url_helpers.download_zenodo_path(file_id: file_upload.last_version_file.id), target: '_blank' %>
          <% end %>
        <% else %>
          <%= file_upload.upload_file_name %>
        <% end %>
        <%= filesize(file_upload.upload_file_size) %>
      </li>
    </div>
  <% end %>
  </ul>
<% end %>

