<% @page_title = "Activity Log for #{@identifier.to_s}" %>
<h1 class="o-heading__level1">Activity Log for <%= @identifier&.latest_resource&.title %></h1>

<div>
  <div style="float: left;"><br/><%= @identifier.to_s %></div>
  <% if %w[admin superuser tenant_curator].include?(current_user.role) %>
    <div style="float: right;">
      <%= form_with(url: url_for(controller: '/stash_engine/admin_datasets', action: 'note_popup', id: @identifier&.id, only_path: true),
                    method: :get, remote: true) do -%>
        <button class="o-button__submit">Add Note</button>
      <% end %>
    </div>
  <% end %>
  <div style="clear: both";>&nbsp;</div>
  <table class="c-lined-table" id="curation_table">
      <tr class="c-lined-table__head">
      <th class="c-admin-table">
        Resource ID
      </th>	  
      <th class="c-admin-table <%= sort_display('created_at') %>">
        <%= sortable_column_head sort_field: 'created_at', title: 'Timestamp' %>
      </th>
      <th class="c-admin-table">
        Version
      </th>
      <th class="c-admin-table">
        Status
      </th>
      <th class="c-admin-table">
        Action taken by
      </th>
      <th class="c-admin-table">
        Notes
      </th>
    </tr>
    <% @curation_activities.each do |ca| %>
      <%= render partial: 'activity_log_row', locals: { curation_activity: ca} %>
    <% end %>
  </table>
</div>

<div id="internal_data">
  <div style="float: left"><h2>Internal Data</h2></div>
  <% if %w[admin superuser tenant_curator].include?(current_user.role) %>
    <div style="float: right">
      <br/>
      <%= form_with(url: url_for(controller: '/stash_engine/admin_datasets', action: 'data_popup', id: @identifier.id,
                                 sub_method: 'post', only_path: true),
                    method: :get, remote: true) do -%>
        <button class="o-button__submit">Add Data</button>
      <% end %>
    </div>
  <% end %>

  <div id="internal_data_table" style="clear: both">
    <%= render partial: 'stash_engine/internal_data/table' %>
  </div>
</div>

<div id="popup_dialog" style="display:none;">
</div>

<% if current_user.superuser? %>
    <div id="dangerous_actions">
	<div style="float: left"><h2>Dangerous Actions</h2>

	    <div style="float: left">
		<% res = @identifier&.latest_resource %>
		<%= form_with(url: metadata_entry_pages_new_version_path, method: :post, local: true) do -%>
			<button class="o-button__submit">Forcibly Edit Dataset</button>
			<%= hidden_field_tag :resource_id, res&.id, id: "resource_id_#{res&.id}" %>
			<%= hidden_field_tag :return_url, '/stash/dashboard' %>
		<% end %>
		<p>Forcibly editing a dataset will assign it to you, and begin an editing session.
		Please only do this if you know the author is unable/unwilling to submit it.</p>
	    </div>
	</div>
    </div>
<% end %>
