<% @page_title = "Curation stats" %>
<h1 class="o-heading__level1">Curation stats</h1>

<div class="o-admin-container">
  <div class="o-admin-head-left">
    <h2 class="o-heading__level3">At a glance</h2>
    <ul>
      <li style="cursor: help" title="Datasets in 'submitted' with no curator"><%= @admin_stats.datasets_submitted_unclaimed_count %> unassigned submitted datasets</li>
      <li style="cursor: help" title="All datasets in 'submitted' and 'curation'"><%= @admin_stats.datasets_available_for_curation %> datasets currently queued for curation</li>
      <li><%= @admin_stats_3day.datasets_available_for_curation %> datasets available for curation untouched in 72 hours</li>
    </ul>
  </div>
</div>

<h2>Curation stats table</h2>
<p>Recent statistics are available in the table below (mouseover any table heading for a more complete description), or the complete stats history can be downloaded as a CSV: <%= link_to 'Get full stats as CSV', curation_stats_path(format: :csv) %></p>

<p id="timezone">Timezone: UTC</p>
<div class="table-wrapper">
<table class="c-lined-table">
  <thead style="cursor: help">
  <tr>
      <th title="End of the date range for the activity">Date</th>
      <th title="The number of datasets available for curation on that day ('curation' or 'submitted')"
	 >Queue Size</th>
      <th title="The number of new datasets submitted that day (so the first time we see them as 'submitted' in the system)"
	 >New to submitted</th>
      <th title="The number of new private for peer review submissions that day (so the first time we see them as 'peer_review' in the system)"
	 >New to PPR</th>
      <th title="Count of datasets released from PPR (status change to 'submitted', and had previously been in PPR with no intervening 'curation')"
	 >PPR to submitted</th>
      <th title="Count of datasets AAR'd that day (status change from 'curation' to 'action_required')"
	 >Curation to AAR</th>
      <th title="Count of datasets published that day (status change from 'curation' to 'published' or 'embargoed')"
	 >Curation to published</th>
      <th title="Cound of datasets withdrawn that day (change from any status to 'withdrawn' per day)"
	 >Withdrawn</th>
      <th title="Cound of datasets submitted after author action that day (change status from 'action_required' to 'submitted' or 'curation')"
	 >Author revised</th>
      <th title="Cound of datasets resubmitted that day (were 'published' or 'embargoed' before, and change status to 'submitted')"
	 >Author versioned</th>
  </tr>
</thead>
<tbody>
  <% @current_stats.each do |stat| %>
  <tr class="c-lined-table__row" id="js-dataset-row-id-<%= stat.id %>">
      <td title="<%= formatted_datetime(stat.date) %>"><span class="local-date" data-dt="<%= stat.date.iso8601 %>"><%= formatted_datetime(stat.date) %></span></td>
      <td><%= stat.datasets_to_be_curated %></td>
      <td><%= stat.new_datasets_to_submitted %></td>
      <td><%= stat.new_datasets_to_peer_review %></td>
      <td><%= stat.ppr_to_curation %></td>
      <td><%= stat.datasets_to_aar %></td>
      <td><%= stat.datasets_to_published + stat.datasets_to_embargoed %></td>
      <td><%= stat.datasets_to_withdrawn %></td>
      <td><%= stat.author_revised %></td>
      <td><%= stat.author_versioned %></td>
  </tr>
<% end -%>
</tbody>
</table>
</div>

