<% @page_title = "Curation stats" %>
<div style="display: flex; gap: 2ch; align-items: flex-start;">
<h1 class="o-heading__level1" id="stats-label">Curation stats</h1>
  <div style="display: flex; gap: 4ch; margin: 0; align-items: center;">
    <div class="callout alt" style="padding: 1ch">Current queue size:
      <b><%= @admin_stats.datasets_available_for_curation %></b></div>
    <div class="callout" style="padding: 1ch">Current unassigned: <b><%= @admin_stats.datasets_unclaimed_count %></b>
    </div>
  </div>
</div>
<div style="display: flex; justify-content: space-between; align-items: center;">
  <p>Recent statistics are available in the table below (mouseover any table heading for a more complete description), or the complete stats history can be downloaded as a CSV</p>
  <%= link_to 'Get full stats as CSV', curation_stats_path(format: :csv), class: 'o-link__buttonlink' %>
</div>
<div class="table-wrapper" role="region" tabindex="0" aria-labelledby="stats-label">
  <table class="c-lined-table">
    <thead style="cursor: help">
      <tr>
        <th title="End of the date range for the activity">Date</th>
        <th title="The number of records created on that day">Created</th>
        <th title="The number of datasets available for curation on that day ('curation' or 'queued')">Queue size</th>
        <th title="The number of datasets unclaimed for curation on that day ('queued' with no curator)">Unassigned</th>
        <th title="The number of new datasets queued that day (so the first time we see them as 'queued' in the system)">New to queue</th>
        <th title="The number of new Private for Peer Review submissions that day (so the first time we see them as 'peer_review' in the system)">New to PPR</th>
        <th title="Count of datasets released from PPR (status change to 'queued', and had previously been in PPR with no intervening 'curation')">PPR to queue</th>
        <th title="The number of datasets that were in PPR status on the date">PPR size</th>
        <th title="Count of datasets AAR'd that day (status change from 'curation' to 'action_required')">Curation to AAR</th>
        <th title="The number of datasets that were in AAR status on the date')">AAR size</th>
        <th title="Count of datasets published that day (status change from 'curation' to 'published' or 'embargoed')">Curation to published</th>
        <th title="Cound of datasets withdrawn that day (change from any status to 'withdrawn' per day)">Withdrawn</th>
        <th title="Count of datasets queued after author action that day (change status from 'action_required' to 'queued' or 'curation')">Author revised</th>
        <th title="Count of datasets requeued that day (were 'published' or 'embargoed' before, and change status to 'queued')">Author versioned</th>
      </tr>
    </thead>
    <tbody>
      <% @current_stats.each do |stat| %>
        <tr class="c-lined-table__row" id="js-dataset-row-id-<%= stat.id %>">
          <td class="c-lined-table__digits" style="white-space: nowrap"><%= formatted_date(stat.date) %></td>
          <td><%= stat.new_datasets %></td>
          <td><%= stat.datasets_to_be_curated %></td>
          <td><%= stat.datasets_unclaimed %></td>
          <td><%= stat.new_datasets_to_queued %></td>
          <td><%= stat.new_datasets_to_peer_review %></td>
          <td><%= stat.ppr_to_curation %></td>
          <td><%= stat.ppr_size %></td>
          <td><%= stat.datasets_to_aar %></td>
          <td><%= stat.aar_size %></td>
          <td><%= stat.datasets_to_published + stat.datasets_to_embargoed %></td>
          <td><%= stat.datasets_to_withdrawn %></td>
          <td><%= stat.author_revised %></td>
          <td><%= stat.author_versioned %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div style="padding-bottom: 20px">
  <span style="float: left">
    <%= link_to 'View charts', curation_stats_charts_path %>
  </span>
  <span style="float: right">* All curation stats are calculated daily at 00:00 UTC</span>
</div>
