<% @page_title = "Curation stats" %>
<h1 class="o-heading__level1">Curation stats</h1>

<div class="o-admin-container">
    <div class="o-admin-left-head">
      <div class="o-heading__level3">At a glance</div>
      <%= @admin_stats.datasets_submitted_unclaimed_count %> datasets currently in 'Submitted' status (that are unclaimed/unassigned)<br/>
      <%= @admin_stats.datasets_available_for_curation %> datasets currently available for curation<br/>
      <%= @admin_stats_3day.datasets_available_for_curation %> datasets available for curation and not touched in 72 hours 
    </div>
</div>

<p>Recent statistics are available in the table below (mouseover any table heading for a more complete description), or the complete stats history can be downloaded as a CSV.</p>

  <div>
    <%= link_to 'Get full stats as CSV', curation_stats_path(format: :csv) %>
  </div>

<table class="c-lined-table">
  <tr class="c-lined-table__head">
      <th title="Date for the activity, bounded by UTC." class="c-admin-table">Date</th>
      <th title="The number processed that day (meaning the status changed from 'curation' to 'action_required', 'embargoed' or 'published')"
	  class="c-admin-table">Datasets Curated</th>
      <th title="The number of datasets available for curation on that day (either entered 'curation' or 'submitted', and the author made the last change)"
	  class="c-admin-table">Datasets to be Curated</th>
      <th title="Total of all new submissions that day (so the first time we see them as 'submitted' or 'peer_review' in the system)"
	  class="c-admin-table">New Submissions</th>
      <th title="The number of new submissions that day (so the first time we see them as 'submitted' in the system)"
	  class="c-admin-table">New Datasets to Submitted</th>
      <th title="The number of new PPR that day (so the first time we see them as 'peer_review' in the system)"
	  class="c-admin-table">New Datasets to Peer Review</th>
      <th title="The number released from PPR into Curation (status change from 'peer_review' to 'curation')"
	  class="c-admin-table">PPR to Curation</th>
      <th title="The number AAR'd that day (status change from 'curation' to 'action_required')"
	  class="c-admin-table">Datasets to AAR</th>
      <th title="The number published by a curator that day (status change from 'curation' to 'published' by a curator and not the system)"
	  class="c-admin-table">Datasets to Published</th>
      <th title="The number embargoed that day (status change from 'curation' to 'embargoed' per day)"
	  class="c-admin-table">Datasets to Embargoed</th>
      <th title="The number withdrawn that day (change from any status to 'withdrawn' per day)"
	  class="c-admin-table">Datasets to Withdrawn</th>
      <th title="The number that come back to us after an Author Action Required that day (so they change status from 'action_required' to 'curation')"
	  class="c-admin-table">Author Revised</th>
      <th title="The number resubmitted that day (were 'published' or 'embargoed' before, and change status to 'submitted')"
	  class="c-admin-table">Author Versioned</th>
  </tr>
  <% @current_stats.each do |stat| %>
  <tr class="c-lined-table__row" id="js-dataset-row-id-<%= stat.id %>">
      <td><%= formatted_date(stat.date) %></td>
      <td><%= stat.datasets_curated %></td>
      <td><%= stat.datasets_to_be_curated %></td>
      <td><%= stat.new_datasets_to_submitted.to_i + stat.new_datasets_to_peer_review.to_i %></td>
      <td><%= stat.new_datasets_to_submitted %></td>
      <td><%= stat.new_datasets_to_peer_review %></td>
      <td><%= stat.ppr_to_curation %></td>
      <td><%= stat.datasets_to_aar %></td>
      <td><%= stat.datasets_to_published %></td>
      <td><%= stat.datasets_to_embargoed %></td>
      <td><%= stat.datasets_to_withdrawn %></td>
      <td><%= stat.author_revised %></td>
      <td><%= stat.author_versioned %></td>
  </tr>

<% end -%>

  
</table>

