<div class="t-login__section">
  <div class="t-login__choose">
    <h1>Login</h1>
    <p><%= image_tag('stash_engine/icon_orcid', class: 't-login__orcid-small', alt: 'ORCID logo') %> <strong>ORCID login successful</strong></p>

    <% tenants = StashEngine::Tenant.partner_list %>

    <% unless tenants.empty? %>
      <h2>Your institution may be a member* of Dryad.</h2>

      <div class="c-institution__container">
        <%= select_tag :tenant_id, tenants %>

        <% tenants.each do |t| %>
          <%= link_to t.short_name, t.omniauth_login_path({tenant_id: t.tenant_id}) %><br/>
        <% end %>
      </div>
    <% end %>

    <p>My institution is not a Dryad member</p>
    <%= link_to dashboard_path, class: 't-login__buttonlink' do %>
      Continue to My Datasets
    <% end %>

    <p>* Member institutions cover the fees for their researchers to use Dryad.</p>
  </div>
  <%= render partial: 'login_info' %>
</div>