<nav class="c-header__nav js-header__nav">
  <form class="o-global-search c-header__global-search" action="/search" accept-charset="UTF-8" method="get">
    <input name="utf8" value="✓" type="hidden">
    <label class="o-global-search__label" for="search-field-input1">Search</label>
    <input class="o-global-search__input" id="search-field-input1" type="search" name="q" placeholder="Search">
    <button aria-label="Submit" class="o-global-search__submit-button" type="submit" id="search"></button>
  </form>

  <div class="c-header__nav-group">
    <% if current_user && %w[development test].include?(Rails.env) %>
      <span class="c-header__nav-item" title="<%= current_user.email %>" style="color: blue;">[<%= current_user.name %>@<%= current_tenant.tenant_id %>]</span>
    <% end %>
    <% if current_user && %w[admin superuser].include?(current_user.role) %>
      <%= link_to 'Admin', stash_url_helpers.url_for(controller: 'stash_engine/admin_datasets', action: 'index', only_path: true),
                  class: 'c-header__nav-item' %>
    <% end %>
    <%# link_to 'Home', stash_url_helpers.root_path, class: 'c-header__nav-item' %>
    <%= link_to 'Explore Data', '/search', class: 'c-header__nav-item js-nav-out' %>

    <div class="c-header__nav-item">
      <div class="o-sites">
        <details class="o-showhide o-sites__details" role="group">
          <summary class="o-showhide__summary o-sites__summary">About</summary>
          <div class="o-sites__group">
            <%= link_to 'Our Mission', '/about_mission', class: 'o-sites__group-item' %>
            <%= link_to 'Our Member Community', '/about_community', class: 'o-sites__group-item' %>
            <%= link_to 'Our Governance', '/about_governance', class: 'o-sites__group-item' %>
            <%= link_to 'Our Staff', '/about_staff', class: 'o-sites__group-item' %>
            <%= link_to 'Our Platform', '/about_platform', class: 'o-sites__group-item' %>
          </div>
        </details>
      </div>
    </div>

    <div class="c-header__nav-item">
      <div class="o-sites">
        <details class="o-showhide o-sites__details" role="group">
          <summary class="o-showhide__summary o-sites__summary">Help</summary>
          <div class="o-sites__group">
            <%= link_to 'Why Use Dryad?', '/help_why_use', class: 'o-sites__group-item' %>
            <%= link_to 'Submission Information', '/help_submission', class: 'o-sites__group-item' %>
            <%= link_to 'Data Processing Charges', '/help_fees', class: 'o-sites__group-item' %>
            <%= link_to 'Fequently Asked Questions', '/help_faq', class: 'o-sites__group-item' %>
          </div>
        </details>
      </div>
    </div>

    <% if current_user %>
      <%= link_to 'My Datasets', stash_url_helpers.dashboard_path, class: 'c-header__nav-item js-nav-out border-left' %>
    <% end %>
    <%= render partial: 'stash_engine/shared/log_in_out' %>
    <%# render partial: "stash_engine/shared/sites" %>
  </div>
</nav>
