<% # takes local variable line (presenter object) as input to partial %>
<tr>
  <td>
    <% if line.resource && line.resource.has_geolocation == true %>
      <span class="c-category__globe"></span><%= line.title %>
    <% else %>
      <%= line.title %>
    <% end %>
  </td>
  <td>
    <%= line.embargo_status_pretty %>
  </td>
  <td>
    <%= default_date(line.created_at) %>
  </td>
  <td>
    <%= default_date(line.updated_at) %>
  </td>
  <td>
    <% if line.resource.dataset_in_progress_editor.id == current_user.id %>
      <% if line.status == 'error' %>
        Please <%= link_to 'contact us', StashEngine.app.contact_us_uri %> to fix this submission error.
      <% else %>
        <%= button_to 'Resume', stash_url_helpers.metadata_entry_pages_find_or_create_path(resource_id: line.resource.id), form_class: 'o-button__inline-form', class: 'o-button__plain-text6' %>
        <%= button_to 'Delete', stash_url_helpers.resource_path(line.resource), method: :delete, data: { confirm: 'Are you sure?' }, form_class: 'o-button__inline-form', class: 'o-button__plain-text7' %>
      <% end %>
    <% else %>
      Dataset being edited by <%= line.resource.dataset_in_progress_editor.name %>
    <% end %>
  </td>
</tr>