<% if @resource.identifier.allow_review? && @resource.previous_curated_resource.nil? && @resource.curation_start_date.nil? %>
  <!-- This is only available if the id has not been curated AND
     the associated journal allows a review workflow -->
  <div>
    <div>
      <%= form_with model: @resource, url: peer_review_path, local: false, authenticity_token: true do |f| %>
        <div id="stash_engine_resource_hold_for_peer_review" role="group" aria-labelledby="peer_review_label">
        <p><%= f.radio_button :hold_for_peer_review, false, class: "t-review__agree-to-license" %>
          <%= f.label :hold_for_peer_review, "Make my dataset available for public download as soon as possible", value: "false"%>  
         <p><%= f.radio_button :hold_for_peer_review, true, class: "t-review__agree-to-license" %>
          <%= f.label :hold_for_peer_review, "Keep my dataset private while my related article is in peer review", value: "true" %>
        </div>
        <p id="stash_engine_resource_hold_for_peer_review_disclaimer" <% if !@resource.hold_for_peer_review? %>hidden<% end %>>By choosing this option, your dataset will be kept private during your related article's peer review process. After submission your Dryad data files can be shared with collaborators and others using a private URL that will be provided. Your submission will not be evaluated by curators or published until you choose to release your submission from this status. To do so, please edit this choice or <%= mail_to APP_CONFIG[:contact_us_uri], 'email us'  %> when your dataset is ready to enter curation.</p>
        <span class="c-input__error-message"><%= @error %></span>
        <%= f.hidden_field :id %>
      <% end %>
    </div>
    <br/>
    <script type="text/javascript">
      $('#stash_engine_resource_hold_for_peer_review').ready(function(e) {
        if ($('#stash_engine_resource_hold_for_peer_review input:radio:checked').length === 0) {
          $('#stash_engine_resource_hold_for_peer_review_false').prop('checked', true).trigger('click');
        }
      });
      $('#stash_engine_resource_hold_for_peer_review input:radio').on('change', function(e) {
        $(this).closest('form').submit();
      });
    </script>
  </div>
<% else %>
  <div>
    <p>The private for peer review option is not available for this data submission<% if @resource.identifier.pub_state == 'published' %>, because the data has been previously published<% elsif @resource.identifier.has_accepted_manuscript? %>, because the associated article has been accepted for publication by the journal<% elsif @resource.identifier.publication_article_doi %>, because the associated article has been published by the journal<% elsif @resource.previous_curated_resource.present? || @resource.curation_start_date.present? %>, because the dataset has been submitted and entered curation<% end %>. Upon submission, the dataset will proceed to our curation process for evaluation and publication.</p>
  </div>
<% end %>
