<% # local: user %>
<h1>Choose <%= "#{user.first_name} #{user.last_name}".strip %>&apos;s Role</h1>
<%
role_radios = [ ['superuser', 'Superuser -- Has full access.'],
  ['curator', 'Curator -- Has access to most features, though not some that are more dangerous.'],
  ['limited_curator', 'Limited Curator -- like a curator, but no editing or auto-assignment of datasets'],
  ['tenant_curator', 'Tenant Curator -- Can view and edit datasets in the associated tenant.'], 
  ['admin', 'Tenant Administrator -- Can view datasets in the associated tenant.'],
  ['user', 'User -- Can view published datasets. Can view and edit datasets they created.']
]
  role_radios.drop(1) if current_user.role == 'admin' # don't give admins a choice to make a superuser
%>

<%= form_with(url: user_admin_set_role_path(user.id), method: :post, remote: true) do -%>
  <p>
  <% role_radios.each do |role| %>
      <%= radio_button_tag('role', role.first, user.role == role.first) %> <label for="<%= "role_#{role.first}" %>"><%= role[1] %></label></br>
  <% end %>
  </p>
  <br/>
  <%= submit_tag 'Submit' %>
  <!-- default focus to the cancel button so it is not confusingly on the first role option -->
  <%= button_tag 'Cancel', type: 'button', id: 'cancel_dialog', autofocus: true %>
<% end %>

