<div class="table-wrapper c-lined-table-wrapper" role="region" tabindex="0" aria-labelledby="user-label">
<table class="c-lined-table">
  <thead>
    <tr>
      <% if policy([:stash_engine, :user]).merge? %><th class="c-admin-table__user-selection"><i class="fas fa-user-check" title="Select user to merge" id="merge-label"><span class="screen-reader-only">Select user to merge</span></i></th><% end %>
      <th class="c-lined-table__sort c-admin-table__user-name" <%= sort_display('last_name') %>>
        <%= sortable_column_head sort_field: 'last_name', title: 'Name' %>
      </th>
      <th class="c-lined-table__sort c-admin-table__user-email" <%= sort_display('email') %>>
        <%= sortable_column_head sort_field: 'email', title: 'Email' %>
      </th>
      <th class="c-admin-table__user-orcid">
        ORCID
      </th>
      <th class="c-lined-table__sort c-admin-table__user-tenant" <%= sort_display('tenant_id') %>>
        <%= sortable_column_head sort_field: 'tenant_id', title: 'Institution' %>
      </th>
      <th class="c-admin-table__user-role">
        Roles
      </th>
      <th class="c-lined-table__sort c-admin-table__user-last-login" <%= sort_display('last_login') %>>
        <%= sortable_column_head sort_field: 'last_login', title: 'Last login' %>
      </th>
    </tr>
  </thead>

<tbody>  
  <% users.each do |u| %>
    <tr class="c-lined-table__row">
      <% if policy(u).merge? %>
        <td><%= check_box("user_ids", "selections", {multiple: true, class: 'merge-checkbox', 'aria-labelledby': 'merge-label'}, u.id, nil) %></td>
      <% end %>
      <td>
        <div class="c-lined-table__with-actions">
          <div class="c-lined-table__data">
            <%= link_to "#{u.first_name} #{u.last_name}".strip, stash_url_helpers.user_admin_profile_path(u), title: "#{u.first_name} #{u.last_name}'s activity and datasets" %>
          </div>
          <% if policy(u).edit? %>
            <div class="c-lined-table__with-actions">
              <span id="user_flag_<%= u.id %>">
                <% if u.flag.present? %>
                  <i class="fas fa-flag user" aria-label="Flagged" title="<%= u.flag.note %>"></i>
                <% end %>
              </span>
              <%= form_with(url: user_edit_path(id: u.id), method: :get, local: false) do %>
                <button class="c-admin-edit-icon" aria-label="Edit user" aria-haspopup="dialog" id="edit_button_<%= u.id %>">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
              <% end %>
            </div>
          <% end %>
        </div>
      </td>
      <td id="user_email_<%= u.id %>"><%= u.email %></td>
      <td class="c-lined-table__digits"><nobr><%= u.orcid %></nobr></td>
      <td id="user_tenant_id_<%= u.id %>">
        <%= StashEngine::Tenant.find(u.tenant_id)&.short_name if StashEngine::Tenant.exists?(u.tenant_id) %>
      </td>
      <td id="user_role_<%= u.id %>">
        <%= role_list(u) %>
      </td>
      <td class="c-lined-table__digits"><%= formatted_datetime(u.last_login) %></td>
    </tr>
  <% end %>
</tbody>
</table>
</div>

