<% # locals: user_role, label, select_label, roles, options %>
<fieldset class="c-fieldset" <%= "hidden" unless user_role&.id %> >
  <legend class="c-fieldset__legend"><%= label.capitalize %> role:</legend>
  <%= fields.hidden_field :id %>
  <%= fields.hidden_field :role_object_type %>
  <p>
    <%= fields.label :role_object_id, select_label %>
    <%= fields.select :role_object_id, options_for_select(options, user_role&.role_object_id), {}, {class: 'c-input__select'} %>
  </p>
  <ul>
    <% roles.each do |role| %>
      <li><%= fields.radio_button :role, role.first, checked: user_role&.role == role.first %> <%= fields.label :role, role[1].html_safe, value: role.first %>
    <% end %>
  </ul>
</fieldset>