<div class="table-wrapper">
<table class="c-lined-table">
  <thead>
    <tr>
      <th class="c-admin-table__user-selection" />
      <th class="c-lined-table__sort c-admin-table__user-name <%= sort_display('last_name') %>">
        <%= sortable_column_head sort_field: 'last_name', title: 'Name' %>
      </th>
      <th class="c-lined-table__sort c-admin-table__user-email <%= sort_display('email') %>">
        <%= sortable_column_head sort_field: 'email', title: 'Email' %>
      </th>
      <th class="c-admin-table__user-orcid">
        ORCID
      </th>
      <th class="c-lined-table__sort c-admin-table__user-tenant <%= sort_display('tenant_id') %>">
        <%= sortable_column_head sort_field: 'tenant_id', title: 'Institution' %>
      </th>
      <th class="c-admin-table__user-role">
        Roles
      </th>
      <th class="c-lined-table__sort c-admin-table__user-last-login <%= sort_display('last_login') %>">
        <%= sortable_column_head sort_field: 'last_login', title: 'Last login' %>
      </th>
    </tr>
  </thead>

<tbody>  
  <% users.each do |u| %>
    <tr class="c-lined-table__row">
      <td><%= check_box("user_ids", "selections", {:multiple => true}, u.id, nil) %></td>
      <td><%= link_to "#{u.first_name} #{u.last_name}".strip, stash_url_helpers.user_admin_profile_path(u), title: "#{u.first_name} #{u.last_name}'s activity and datasets" %></td>
      <td>
        <div class="c-lined-table__with-actions">
        <div class="c-lined-table__data" id="user_email_<%= u.id %>">
	       <%= u.email %>
        </div>
        <div class="c-lined-table__actions">
      	  <%= form_with(url: stash_url_helpers.user_email_popup_path(u.id), method: :get, local: false) do %>
      	    <button class="c-admin-edit-icon" aria-label="Edit user email" alt="Edit user email">
      	      <i class="fa fa-pencil" aria-hidden="true"></i>
      	    </button>
      	  <% end %>
        </div>
        </div>
      </td>
      <td class="c-lined-table__digits"><nobr><%= u.orcid %></nobr></td>
      <td>
        <div class="c-lined-table__with-actions">
        <div class="c-lined-table__data" id="user_tenant_<%= u.id %>"><%= StashEngine::Tenant.find(u.tenant_id)&.short_name if StashEngine::Tenant.exists?(u.tenant_id) %></div>
          <div class="c-lined-table__actions">
      	  <%= form_with(url: stash_url_helpers.user_tenant_popup_path(u.id), method: :get, local: false) do %>
      	    <button class="c-admin-edit-icon" aria-label="Edit user tenant" alt="Edit user tenant">
      	      <i class="fa fa-pencil" aria-hidden="true"></i>
      	    </button>
      	  <% end %>
          </div>
        </div>
      </td>
      <td>
        <div class="c-lined-table__with-actions">
        <div class="c-lined-table__data" id="user_role_<%= u.id %>"><%= u.roles.present? ? u.roles.map{|r| "#{r.role_object_type&.delete_prefix("StashEngine::")&.sub('JournalOrganization', 'Publisher')} #{r.role}".strip.capitalize }.join(", ") : "User" %></div>
        <div class="c-lined-table__actions">
    	    <a class="c-admin-edit-icon" aria-label="Edit user role" title="Edit user role" href="<%=stash_url_helpers.user_admin_profile_path(u) %>#edit_roles">
    	      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    	    </a>
        </div>
      </div>
      </td>
      <td class="c-lined-table__digits"><%= formatted_datetime(u.last_login) %></td>
    </tr>
  <% end %>
</tbody>
</table>
</div>

