<% # local: user %>
<h1>Choose <%= "#{user.first_name} #{user.last_name}".strip %>&apos;s tenant institution</h1>

<%= form_with(url: user_admin_set_tenant_path(user.id), method: :post, remote: true) do |f| -%>  

  <p>
    <%=
    tenant_options = StashEngine::Tenant.all.collect { |t| [ t.short_name, t.tenant_id ] }
    select_tag('tenant', options_for_select(tenant_options, user.tenant_id))
    %>  
  </p>
  
  
  <br/>
  <%= submit_tag 'Submit' %>
  <%= button_tag 'Cancel', type: 'button', id: 'cancel_dialog' %>

<% end %>

