<% # local: user %>
<h1>Choose <%= "#{user.first_name} #{user.last_name}".strip %>&apos;s Role</h1>
<%
  role_radios = [ ['user', 'User'], ['admin', 'Administrator'], ['curator', 'Curator'], ['superuser', 'Superuser'] ]
  role_radios.pop if current_user.role == 'admin' # don't give admins a choice to make a superuser
%>

<%= form_with(url: user_admin_set_role_path(user.id), method: :post, remote: true) do -%>
  <p>
  <% role_radios.each do |role| %>
      <%= radio_button_tag('role', role.first, user.role == role.first) %> <label for="<%= "role_#{role.first}" %>"><%= role[1] %></label></br>
  <% end %>
  </p>
  <br/>
  <%= submit_tag 'Submit' %>
  <%= button_tag 'Cancel', type: 'button', id: 'cancel_dialog' %>

<% end %>

