<% # local: user %>
<div id="role_form_flex">
  <fieldset class="c-fieldset">
    <legend class="c-fieldset__legend">Dryad system roles:</legend>
    <ul>
      <% system_roles.each do |role| %>
        <%= @form.fields_for :roles, StashEngine::Role.new do |fields| %>
          <% existing = @system_roles.where(role: role.first).first %>
          <%= fields.hidden_field :id, value: existing&.id %>
          <li><%= fields.check_box :role, { checked: existing.present? }, role.first, '' %> <%= fields.label :role, role.last.html_safe %>
        <% end %>  
      <% end %>
    </ul>
  </fieldset>
  <%# Tenant (Institution) %>
  <%= @form.fields_for :roles, @tenant_roles do |fields| %>
    <%= render partial: 'admin_role_fieldset', locals: { user_role: fields.object, fields: fields, label: 'institution', select_label: 'For a partner institution:', roles: tenant_roles, options: tenant_list } %>
  <% end %>
  <%# Add new button %>
  <button type="button" class="o-button__plain-text7 button-expand" aria-expanded="false"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add an institution role</button>
  <%= @form.fields_for :roles, StashEngine::Role.new(role_object_type: 'StashEngine::Tenant') do |fields| %>
    <%= render partial: 'admin_role_fieldset', locals: { user_role: fields.object, fields: fields, label: 'institution', select_label: 'For partner institution:', roles: tenant_roles, options: tenant_list } %>
  <% end %>
  <%# Publisher %>
  <%= @form.fields_for :roles, @publisher_roles do |fields| %>
    <%= render partial: 'admin_role_fieldset', locals: { user_role: fields.object, fields: fields, label: 'publisher', select_label: 'For organization or society:', roles: publisher_roles, options: publisher_list } %>
  <% end %>
  <%# Add new button %>
  <button type="button" class="o-button__plain-text7 button-expand" aria-expanded="false"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add a publisher role</button>
  <%= @form.fields_for :roles, StashEngine::Role.new(role_object_type: 'StashEngine::JournalOrganization') do |fields| %>
    <%= render partial: 'admin_role_fieldset', locals: { user_role: fields.object, fields: fields, label: 'publisher', select_label: 'For organization or society:', roles: publisher_roles, options: publisher_list } %>
  <% end %>
  <%# Journal %>
  <%= @form.fields_for :roles, @journal_roles do |fields| %>
    <%= render partial: 'admin_role_journal_fieldset', locals: { fields: fields, user_role: fields.object, roles: journal_roles } %>
  <% end %>
  <%# Add new button %>
  <button type="button" class="o-button__plain-text7 button-expand" aria-expanded="false"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add a journal role</button>
  <%= @form.fields_for :roles, StashEngine::Role.new(role_object_type: 'StashEngine::Journal') do |fields| %>
    <%= render partial: 'admin_role_journal_fieldset', locals: { fields: fields, user_role: fields.object, roles: journal_roles } %>
  <% end %>
  <%# Funder %>
  <%= @form.fields_for :roles, @funder_roles do |fields| %>
    <%= render partial: 'admin_role_fieldset', locals: { fields: fields, user_role: fields.object, label: 'funder', select_label: 'For funder:', roles: funder_roles, options: funder_list } %>
  <% end %>
  <%# Add new button %>
  <button type="button" class="o-button__plain-text7 button-expand" aria-expanded="false"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add a funder role</button>
  <%= @form.fields_for :roles, StashEngine::Role.new(role_object_type: 'StashEngine::Funder') do |fields| %>
    <%= render partial: 'admin_role_fieldset', locals: { fields: fields, user_role: fields.object, label: 'funder', select_label: 'For funder:', roles: funder_roles, options: funder_list } %>
  <% end %>
</div>