<% # local: user %>
<h1>Update <%= "#{user.first_name} #{user.last_name}".strip %>&apos;s email</h1>

<%= form_with(url: user_admin_set_email_path(user.id), method: :post, local: false) do -%>
  <p>
    <%= text_field_tag('email', user.email, autofocus: true) %>
  </p>
  <br/>
  <%= submit_tag 'Submit' %>
  <!-- default focus to the cancel button first role option -->
  <%= button_tag 'Cancel', type: 'button', id: 'cancel_dialog' %>
<% end %>

