<div class="table-wrapper c-lined-table-wrapper" role="region" tabindex="0" aria-labelledby="user-label">
<table class="c-lined-table">
  <thead>
    <tr>
      <% if policy([:stash_engine, :user]).merge? %><th class="c-admin-table__user-selection" /><% end %>
      <th class="c-lined-table__sort c-admin-table__user-name" <%= sort_display('last_name') %>>
        <%= sortable_column_head sort_field: 'last_name', title: 'Name' %>
      </th>
      <th class="c-lined-table__sort c-admin-table__user-email" <%= sort_display('email') %>>
        <%= sortable_column_head sort_field: 'email', title: 'Email' %>
      </th>
      <th class="c-admin-table__user-orcid">
        ORCID
      </th>
      <th class="c-lined-table__sort c-admin-table__user-tenant" <%= sort_display('tenant_id') %>>
        <%= sortable_column_head sort_field: 'tenant_id', title: 'Institution' %>
      </th>
      <th class="c-admin-table__user-role">
        Roles
      </th>
      <th class="c-lined-table__sort c-admin-table__user-last-login" <%= sort_display('last_login') %>>
        <%= sortable_column_head sort_field: 'last_login', title: 'Last login' %>
      </th>
    </tr>
  </thead>

<tbody>  
  <% users.each do |u| %>
    <tr class="c-lined-table__row">
      <% if policy([:stash_engine, :user]).merge? %>
        <td><%= check_box("user_ids", "selections", {multiple: true, class: 'merge-checkbox'}, u.id, nil) %></td>
      <% end %>
      <td><%= link_to "#{u.first_name} #{u.last_name}".strip, stash_url_helpers.user_admin_profile_path(u), title: "#{u.first_name} #{u.last_name}'s activity and datasets" %></td>
      <td>
        <div class="c-lined-table__with-actions">
          <div class="c-lined-table__data" id="user_email_<%= u.id %>">
  	        <%= u.email %>
          </div>
          <% if policy([:stash_engine, :user]).popup? %>
          <div class="c-lined-table__actions">
        	  <%= form_with(url: user_popup_path(id: u.id, field: 'email'), method: :get, local: false) do %>
              <button class="c-admin-edit-icon" aria-label="Edit user email" aria-haspopup="dialog" aria-expanded="false" id="email_button_<%= u.id %>">
        	      <i class="fa fa-pencil" aria-hidden="true"></i>
        	    </button>
        	  <% end %>
          </div>
          <% end %>
        </div>
      </td>
      <td class="c-lined-table__digits"><nobr><%= u.orcid %></nobr></td>
      <td>
        <div class="c-lined-table__with-actions">
          <div class="c-lined-table__data" id="user_tenant_id_<%= u.id %>">
            <%= StashEngine::Tenant.find(u.tenant_id)&.short_name if StashEngine::Tenant.exists?(u.tenant_id) %>
          </div>
          <% if policy([:stash_engine, :user]).popup? %>
          <div class="c-lined-table__actions">
        	  <%= form_with(url: user_popup_path(id: u.id, field: 'tenant_id'), method: :get, local: false) do %>
              <button class="c-admin-edit-icon" aria-label="Edit user tenant" aria-haspopup="dialog" aria-expanded="false" id="tenant_id_button_<%= u.id %>">
        	      <i class="fa fa-pencil" aria-hidden="true"></i>
        	    </button>
        	  <% end %>
          </div>
          <% end %>
        </div>
      </td>
      <td>
        <div class="c-lined-table__with-actions">
        <div class="c-lined-table__data" id="user_role_<%= u.id %>">
          <%= u.roles.present? ? u.roles.admin_roles.map{|r| "#{r.role_object_type&.delete_prefix("StashEngine::")&.sub('JournalOrganization', 'Publisher')} #{r.role}".strip.capitalize }.join(", ") : "User" %>
        </div>
        <% if policy([:stash_engine, :user]).set_role? %>
        <div class="c-lined-table__actions">
    	    <a class="c-admin-edit-icon" aria-label="Edit user role" title="Edit user role" href="<%=stash_url_helpers.user_admin_profile_path(u) %>#edit_roles">
    	      <i class="fa fa-pen-to-square" aria-hidden="true"></i>
    	    </a>
        </div>
        <% end %>
      </div>
      </td>
      <td class="c-lined-table__digits"><%= formatted_datetime(u.last_login) %></td>
    </tr>
  <% end %>
</tbody>
</table>
</div>

