<% # local: user %>
<h1>Choose member institution</h1>
<p>Set new member institution for user: <%= "#{user.first_name} #{user.last_name}".strip %></p>
<p>Choosing 'Dryad' will remove the current member institution.</p>
<%= form_with(url: user_admin_set_tenant_path(user.id), method: :post, local: false) do |f| -%>  
  <div class="c-input">
    <% tenant_options = StashEngine::Tenant.enabled.collect { |t| [ t.short_name, t.id ] } %>
    <%= label_tag 'tenant', 'Dryad members', class: 'c-input__label' %>
    <%= select_tag('tenant', options_for_select(tenant_options, user.tenant_id), class: 'c-input__select') %>  
  </div>
  <br/>
  <div class="c-modal__buttons-right">
  <%= submit_tag 'Submit', class: 'o-button__plain-text2' %>
  <%= button_tag 'Cancel', type: 'button', id: 'cancel_dialog', class: 'o-button__plain-text7' %>

<% end %>

