<h1>Update user information</h1>
<p style="display: flex; align-items: baseline; justify-content: space-between; column-gap: 2ch; flex-wrap: wrap;">
  <span><%= @user.name %></span>
  <% if @user.orcid.present? %>
    <a href="<%= @user.orcid_link %>" target="_blank" rel="noreferrer"><i class="fab fa-orcid" style="margin-right: 3px;" role="img" aria-label="ORCID profile (opens in new tab): "></i><%= @user.orcid %></a>
  <% end %>
</div>
<%= form_with(url: user_update_path(@user.id), method: :post, local: false) do |form| %>
  <div class="o-admin-form-inline" style="align-items: flex-start; gap: 2ch;">
    <div class="c-input">
        <%= label_tag 'email', 'Email address' %>
        <%= text_field_tag('email', @user.email, class: 'c-input__text') %>
    </div>
    <div class="c-input" style="max-width: 100%;">
      <% tenant_options = StashEngine::Tenant.enabled.collect { |t| [ t.short_name, t.id ] } %>
      <%= label_tag :tenant_id, 'Dryad partner institution' %>
      <%= select_tag(:tenant_id, options_for_select(tenant_options, @user.tenant_id), class: 'c-input__select', style: 'flex-shrink: 1; flex-grow: 1; min-width: 0; max-width: 100%;') %>  
      <p style="margin: .5rem 0; font-size: .98rem;">Choosing 'Dryad' will remove any set partner institution.</p>
    </div>
  </div>
  <div class="o-admin-form-inline">
    <p>
      <%= form.check_box :flag, { checked: @user.flag.present? }, 1, nil %> <%= form.label :flag, "Flag user", class: 'c-input__label' %>
    </p>
    <p class="o-admin-form-pair" style="flex: 1">
      <%= form.label :note, 'Flag note:' %>
      <%= form.text_field :note, value: @user.flag&.note, class: 'c-input__text', style: 'flex: 1', disabled: @user.flag.nil? %>
    </p>
  </div>
  <h2>Edit roles</h2>
    <%= render partial: 'admin_role_form' %>
  </div>
  <div class="c-modal__buttons-right">
    <%= submit_tag 'Submit', class: 'o-button__plain-text2' %>
    <%= button_tag 'Cancel', type: 'button', id: 'cancel_dialog', class: 'o-button__plain-text7' %>
  </div>
<% end %>
<div>
<% if @user.roles.admin_roles.where.not(role_object_type: nil) && @user.orcid.blank? %>
  <h2>API account</h2>
  <p>A Dryad API account can be created for admin users without an ORCID (generally for journal publishing systems). Normal users with ORCID logins can manage their own API accounts from the <em>My account</em> page.</p>
  <% if @user.api_application %>
    <div class="callout">
      <p class="api_info">
        <span><b>Account ID:</b><button title="Copy account ID" aria-label="Copy account ID" class="copy-icon" data-item="Account ID"><i class="fa fa-paste" role="status"></i><span>Copy</span></button><code><%= @user.api_application.uid %></code></span>
        <span><b>Secret:</b><button title="Copy account secret" aria-label="Copy account secret" class="copy-icon" data-item="Secret"><i class="fa fa-paste" role="status"></i><span>Copy</span></button><code><%= @user.api_application.secret %></code></span>
      </p>
    </div>
    <p>New API users should see the instructions for <a href="https://github.com/datadryad/dryad-app/blob/main/documentation/apis/api_accounts.md">using the Dryad API</a>, including getting tokens programmatically.</p>
  <% else %>
    <div style="display: flex; align-items: baseline; column-gap: 3ch; row-gap: 1ch;">
      <em>No API account exists for this user.</em>
      <%= form_with(url: user_api_path, method: :post, local: false, class: 'o-button__inline-form') do %>
        <button class="o-button__plain-textlink"><i class="fas fa-user-gear" aria-hidden="true" style="margin-right: .25ch"></i>Create a Dryad API account for <%= @user.name %></button>
      <% end %>
    </div>
  <% end %>
  <br/>
<% end %>