<h1>Update user information</h1>
<p style="display: flex; align-items: baseline; justify-content: space-between; column-gap: 2ch; flex-wrap: wrap;">
  <span><%= @user.name %></span>
  <% if @user.orcid.present? %>
    <a href="<%= @user.orcid_link %>" target="_blank" rel="noreferrer"><i class="fab fa-orcid" style="margin-right: 3px;" role="img" aria-label="ORCID profile (opens in new tab): "></i><%= @user.orcid %></a>
  <% end %>
</div>
<%= form_with(url: user_update_path(@user.id), model: @user, method: :post, local: false) do |form| %>
  <% @form = form %>
  <div class="o-admin-form-inline" style="align-items: flex-start; gap: 2ch;">
    <div class="c-input">
        <%= form.label :email, 'Email address' %>
        <%= form.text_field :email, class: 'c-input__text' %>
    </div>
    <div class="c-input" style="max-width: 100%;">
      <%= form.label :tenant_id, 'Dryad partner institution' %>
      <%= form.select :tenant_id, options_for_select(tenant_list.drop(1), @user.tenant_id), {}, {class: 'c-input__select', style: 'flex-shrink: 1; flex-grow: 1; min-width: 0; max-width: 100%;'} %>  
      <p style="margin: .5rem 0; font-size: .98rem;">Choosing 'Dryad' will remove any set partner institution.</p>
    </div>
  </div>
  <%= form.fields_for :flag, @user_flag do |fields| %>
    <%= fields.hidden_field :id %>
    <div class="o-admin-form-inline">
      <p>
        <%= fields.check_box :_destroy, { checked: @user.flag.id.present? }, 0, 1 %><%= fields.label :_destroy, 'Flag user', class: 'c-input__label', style: 'margin-left: .35ch' %>
      </p>
      <p class="o-admin-form-pair" style="flex: 1">
        <%= fields.label :note, 'Flag note:' %>
        <%= fields.text_field :note, value: @user.flag&.note, class: 'c-input__text', style: 'flex: 1', disabled: @user.flag.id.blank? %>
      </p>
    </div>
  <% end %>
  <h2>Edit roles</h2>
  <div class="callout">
    <p style="font-size: .98rem;">You may add multiple roles for a type of partner, but must add and submit them one at a time. Prefer one publisher role over each of its individual journals, or one consortium role over each of its separate institutions, so the admin is able to make combined reports.</p>
  </div>
  <%= render partial: 'admin_role_form' %>
  <div class="c-modal__buttons-right">
    <%= submit_tag 'Submit', class: 'o-button__plain-text2' %>
    <%= button_tag 'Cancel', type: 'button', id: 'cancel_dialog', class: 'o-button__plain-text7' %>
  </div>
<% end %>
<div>
<% if @user.roles.admin_roles.where.not(role_object_type: nil) && @user.orcid.blank? %>
  <h2>API account</h2>
  <p>A Dryad API account can be created for admin users without an ORCID (generally for journal publishing systems). Normal users with ORCID logins can manage their own API accounts from the <em>My account</em> page.</p>
  <% if @user.api_application %>
    <div class="callout">
      <p class="api_info">
        <span><b>Account ID:</b><button title="Copy account ID" aria-label="Copy account ID" class="copy-icon" data-item="Account ID"><i class="fa fa-paste" role="status"></i><span>Copy</span></button><code><%= @user.api_application.uid %></code></span>
        <span><b>Secret:</b><button title="Copy account secret" aria-label="Copy account secret" class="copy-icon" data-item="Secret"><i class="fa fa-paste" role="status"></i><span>Copy</span></button><code><%= @user.api_application.secret %></code></span>
      </p>
    </div>
    <p>New API users should see the instructions for <a href="https://github.com/datadryad/dryad-app/blob/main/documentation/apis/api_accounts.md">using the Dryad API</a>, including getting tokens programmatically.</p>
  <% else %>
    <div style="display: flex; align-items: baseline; column-gap: 3ch; row-gap: 1ch;">
      <em>No API account exists for this user.</em>
      <%= form_with(url: user_api_path, method: :post, local: false, class: 'o-button__inline-form') do %>
        <button class="o-button__plain-textlink"><i class="fas fa-user-gear" aria-hidden="true" style="margin-right: .25ch"></i>Create a Dryad API account for <%= @user.name %></button>
      <% end %>
    </div>
  <% end %>
  <br/>
<% end %>