<h1>Update user information</h1>
<p style="display: flex; align-items: baseline; justify-content: space-between; column-gap: 2ch">
  <span><%= "#{@user.first_name} #{@user.last_name}".strip %></span>
  <% if @user.orcid.present? %>
    <a href="<%= @user.orcid_link %>" target="_blank"><i class="fab fa-orcid" aria-hidden="true" style="margin-right: 3px;"></i><span class="screen-reader-only">ORCID profile (opens in new tab): </span><%= @user.orcid %></a>
  <% end %>
</div>
<%= form_with(url: user_update_path(@user.id), method: :post, local: false) do |form| %>
  <div class="o-admin-form-inline" style="align-items: flex-start; gap: 2ch;">
    <div class="c-input">
        <%= label_tag 'email', 'Email address' %>
        <%= text_field_tag('email', @user.email, class: 'c-input__text') %>
    </div>
    <div class="c-input" style="max-width: 100%;">
      <% tenant_options = StashEngine::Tenant.enabled.collect { |t| [ t.short_name, t.id ] } %>
      <%= label_tag :tenant_id, 'Dryad member institution' %>
      <%= select_tag(:tenant_id, options_for_select(tenant_options, @user.tenant_id), class: 'c-input__select', style: 'flex-shrink: 1; flex-grow: 1; min-width: 0; max-width: 100%;') %>  
      <p style="margin: .5rem 0; font-size: .98rem;">Choosing 'Dryad' will remove any set member institution.</p>
    </div>
  </div>
  <div class="o-admin-form-inline">
    <p>
      <%= form.check_box :flag, { checked: @user.flag.present? }, 1, nil %> <%= form.label :flag, "Flag user", class: 'c-input__label' %>
    </p>
    <p class="o-admin-form-pair" style="flex: 1">
      <%= form.label :note, 'Flag note:' %>
      <%= form.text_field :note, value: @user.flag&.note, class: 'c-input__text', style: 'flex: 1', disabled: @user.flag.nil? %>
    </p>
  </div>
  <h2>Edit roles</h2>
    <%= render partial: 'admin_role_form' %>
  </div>
  <div class="c-modal__buttons-right">
    <%= submit_tag 'Submit', class: 'o-button__plain-text2' %>
    <%= button_tag 'Cancel', type: 'button', id: 'cancel_dialog', class: 'o-button__plain-text7' %>
  </div>
<% end %>