<h1 id="merge-label">Merge users</h1>

<%= form_with(url: user_admin_merge_path, method: :post, id: 'merge_user_form', local: false) do -%>
  <% if @user1 && @user2 %>
    <%= hidden_field_tag 'user1', @user1.id, id: "selected_users" %>
    <%= hidden_field_tag 'user2', @user2.id, id: "selected_users" %>
    <p>Pressing the Merge button will combine these two users into a single user, which owns all of the associated datasets. Once these users are merged, the operation cannot be reversed.</p>
    <p>The name, email, ORCID, etc. from the second user will be kept, unless these are blank. To keep the other user&apos;s information instead, reorder the table so that user is second, and select the users again.</p>

    <div class="table-wrapper c-lined-table-wrapper" role="region" tabindex="0" aria-labelledby="merge-label">
    <table class="c-lined-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>ORCID</th>
          <th>Institution</th>
          <th>Last login</th>
          <th>Num datasets</th>
        </tr>
      </thead>
      <tbody>
        <tr class="c-lined-table__digits">
          <td><nobr><%= "#{@user1.first_name} #{@user1.last_name}" %></nobr></td>
          <td><nobr><%= @user1.email %></nobr></td>
          <td><nobr><%= @user1.orcid %></nobr></td>
          <td><nobr><%= @user1.tenant&.short_name %></nobr></td>
          <td><nobr><%= @user1.last_login %></nobr></td>
          <td><%= @user1.resources.map(&:identifier).uniq.size %></td>
        </tr>
        <tr class="c-lined-table__digits">
          <td><nobr><%= "#{@user2.first_name} #{@user2.last_name}" %></nobr></td>
          <td><nobr><%= @user2.email %></nobr></td>
          <td><nobr><%= @user2.orcid %></nobr></td>
          <td><nobr><%= @user2.tenant&.short_name %></nobr></td>
          <td><nobr><%= @user2.last_login %></nobr></td>
          <td><%= @user2.resources.map(&:identifier).uniq.size %></td>
        </tr>
      </tbody>
    </table>
    </div>
    <br/>
    <div class="c-modal__buttons-right">
      <%= submit_tag 'Merge', id: 'submit_merge', class: 'o-button__plain-text2' %>
      <%= button_tag 'Cancel', type: 'button', id: 'cancel_dialog', class: 'o-button__plain-text7' %>
    </div>
  <% else %>
    <p>
      <strong>Error: Exactly 2 users must be selected for merging.</strong>
    </p>
    <div class="c-modal__buttons-right">
      <%= button_tag 'Cancel', type: 'button', id: 'cancel_dialog', class: 'o-button__plain-text7' %>
    </div>
  <% end %>
<% end %>

