<div class="table-wrapper" role="region" tabindex="0" aria-label="User datasets">
<table class="c-lined-table" style="margin-top: 0">
  <thead>
    <tr>
      <th class="c-lined-table__sort" <%= sort_display('title') %>>
        <%= sortable_column_head sort_field: 'title', title: 'Dataset title' %>
      </th>
      <th class="c-lined-table__sort" <%= sort_display('status') %>>
        <%= sortable_column_head sort_field: 'status', title: 'Status' %>
      </th>
      <th class="c-lined-table__sort" <%= sort_display('publication_date') %>>
        <%= sortable_column_head sort_field: 'publication_date', title: 'Publication Date' %>
      </th>
      <th class="c-lined-table__sort" <%= sort_display('total_file_size') %>>
        <%= sortable_column_head sort_field: 'total_file_size', title: 'Size' %>
      </th>
      <th class="c-lined-table__sort" <%= sort_display('updated_at') %>>
        <%= sortable_column_head sort_field: 'updated_at', title: 'Last Modified' %>
      </th>      
      <th class="c-lined-table__sort" <%= sort_display('current_editor_id') %>>
        <%= sortable_column_head sort_field: 'current_editor_id', title: 'Edited By' %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @resources.each do |res| %>
    <% title = res.title.blank? ? '[No title supplied]' : res.title %>
    <tr class="c-lined-table__row">
      <td>
        <div class="c-lined-table__with-actions">
        <div class="c-lined-table__data">
          <%= link_to title, stash_url_helpers.show_path(id: res.identifier_str), target: '_blank' %>
          <div class="c-lined-table__digits">DOI: <%= res.identifier.identifier %></div>
        </div>
        <div class="c-lined-table__actions">
          <a title="Activity log" aria-label="Activity log" href="<%= stash_url_helpers.activity_log_path(id: res.identifier_id) %>" class="c-admin-edit-icon">
            <i class="fa fa-clock" aria-hidden="true"></i>
          </a>
          <% if policy(res).curator_edit? %>
            <%= form_with(url: stash_url_helpers.metadata_entry_pages_new_version_path, method: :post) do %>
              <%= hidden_field_tag :resource_id, res.id, id: "resource_id_#{res.id}" %>
              <button class="c-admin-edit-icon js-trap-curator-url" title="Edit dataset" aria-label="Edit dataset"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <% end %>
          <% end %>
        </div>
      </div>
      </td>
      <td>
        <%= res&.last_curation_activity&.readable_status %>
      </td>
      <td class="c-lined-table__digits">
        <% if res.submitted? %>
          <%= formatted_date(res.publication_date) %>
        <% end %>
      </td>
      <td class="c-lined-table__digits">
        <%= filesize(res.total_file_size) %>
      </td>
      <td class="c-lined-table__digits">
        <%= formatted_date(res.updated_at) %>
      </td>
      <td>
        <%= res.editor&.name %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
