<% @page_title = "#{@user.first_name} #{@user.last_name}".strip + "'s activity" %>
<h1 class="o-heading__level1"><%= "#{@user.first_name} #{@user.last_name}".strip %>'s activity</h1>

<%= render partial: 'user_activity_head', locals: {user: @user, progress_count: @progress_count } %>

<div class="o-admin-columns">
  <div class="o-admin-left">
    <h2>Filters</h2>
    <%= render partial: 'status_facet', locals: { facets: @status_facets } %>
  </div>
  <div class="o-admin-right">
    <h2>Datasets</h2>
    <!-- table and paging here -->
    <%= render partial: 'stash_engine/user_admin/user_datasets', locals: { presenters: @page_presenters } %>

    <div class="c-space-paginator">
      <%= paginate @page_presenters, params: {page_size: @page_size} %>
    </div>
  </div>
</div>
