<% @page_title = "#{@user.first_name} #{@user.last_name}".strip %>
<% content_for(:head) do %>
  <style type="text/css">
    .o-admin-container {
      @media (min-width: 870px) {
        flex-wrap: nowrap;
      }
      align-items: stretch;
    }
    .o-admin-container > * {
      flex-basis: 30%;
      flex-shrink: 1;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .callout {
        flex-grow: 1;
      }
    }
    .user-admin-header {
      display: flex;
      align-items: baseline;
      justify-content: flex-start;
      column-gap: 2.5ch;
      flex-wrap: wrap;
      @media (min-width: 870px) {
        flex-wrap: nowrap;
      }
    }
    .user-admin-header > *:last-child {
      margin-left: auto;
      align-self: flex-end;
    }
  </style>
<% end %>
<div class="user-admin-header">
  <h1 class="o-heading__level1"><%= "#{@user.first_name} #{@user.last_name}".strip %></h1>
  <% if @user.orcid.present? %>
    <p><a href="<%= @user.orcid_link %>" target="_blank" rel="noreferrer"><i class="fab fa-orcid" style="margin-right: 3px;" role="img" aria-label="ORCID profile (opens in new tab): "></i><%= @user.orcid %></a></p>
  <% end %>
  <% if policy([:stash_engine, :user]).edit? %>
    <span id="user_flag_<%= @user.id %>">
      <% if @user.flag.present? %>
        <i class="fas fa-flag user" aria-label="Flagged" title="<%= @user.flag.note %>"></i>
      <% end %>
    </span>  
    <%= form_with(url: user_edit_path(id: @user.id), method: :get, local: false) do %>
      <p><button class="c-admin-edit-icon" aria-haspopup="dialog" id="edit_button_<%= @user.id %>">
        Edit user <i class="fa fa-pencil" aria-hidden="true"></i>
      </button></p>
    <% end %>
  <% end %>
</div>
<div class="o-admin-container">
  <div>
    <b role="heading" aria-level="2">Activity</b>
    <div class="callout">
      <ul class="o-list">
        <li>Last login: <span style="font-size: .9em"><%= formatted_datetime(@user.last_login) %></span>
        <li><%= @progress_count %> datasets in progress
      </ul>
    </div>
  </div>
  <div>
    <b role="heading" aria-level="2">Information</b>
    <div class="callout alt">
      <ul class="o-list">
        <li><b>Institution:</b> <span id="user_tenant_id_<%= @user.id %>"><%= StashEngine::Tenant.find(@user.tenant_id)&.short_name if StashEngine::Tenant.exists?(@user.tenant_id)%></span></li>
        <li><b>Email:</b> <span id="user_email_<%=@user.id%>"><%=@user.email%></span></li>
      </ul>
    </div>
  </div>  
  <div>
    <b role="heading" aria-level="2">Roles</b>
    <div class="callout">
      <ul class="o-list">
        <li id="user_role_details">
          <%= role_details(@user) %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="o-admin-columns" style="flex-direction: row-reverse;">
  <div class="o-admin-right">
    <h2>Datasets</h2>
    <!-- table and paging here -->
    <%= render partial: 'stash_engine/user_admin/user_datasets' %>

    <div class="c-space-paginator">
      <%= paginate @resources, params: { page_size: @page_size } %>
    </div>
  </div>
  <div class="o-admin-left">
    <h3>Filters</h3>
    <%= render partial: 'facet_status', locals: { facets: @status_facets } %>
  </div>
</div>
