<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= geolocation_image(resource) %><%= title(resource) %></td>
        <td><%= link_to 'Edit', metadata_entry_pages_find_or_create_path(resource_id: resource.id), class: "btn" %></td>
        <td><%= button_to 'Delete', resource_path(resource), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>