<% @page_title = 'Upload Your Files - Publish and Preserve your Data' %>
<%= render partial: 'stash_engine/shared/dataset_steps_nav' %>

<h1 class="o-heading__level1">Upload Your Files <span class="t-upload__heading-optional">(optional)</span></h1>

<p>
  Size limits: <%= filesize(current_tenant.max_file_size) %> per file,
  <%= filesize(current_tenant.max_total_version_size) %> in total. To upload larger datasets,
  <%= link_to "contact us", contact_us_url, class: 'o-link__primary' %>.
</p>

<h2 class="t-upload__choose-heading--active">Step 1: Choose files to Upload</h2>
<div>
  <strong>Where are your files located?</strong>
  <%= select_tag "file_location", options_for_select([ ['On this Computer', 'files'], ['On a Server', 'manifest'] ],
             selected: ([:files, :unknown].include?(@resource.upload_type) ? 'files': 'manifest') ),
             id: 'file_location_select', disabled: (@resource.upload_type != :unknown) %>
</div>
<br/>

<!-- manifest workflow -->
<div class="files_on_server" style="display: none;">
  <%= render partial: 'stash_engine/file_uploads/files_on_server', locals: { file: @file, messages: @messages, path: stash_engine.file_uploads_validate_urls_path(@resource.id) } %>
</div>

<div class="files_on_computer" style="display: none;">
  <%= render partial: 'stash_engine/file_uploads/files_on_computer', locals: { file: @file } %>
</div>
<!-- manifest workflow -->

<div class="o-dataset-nav">
  <%= link_to 'Back to Describe Dataset', metadata_entry_pages_find_or_create_path(resource_id: params[:id]), class: 'o-button__icon-left', role: 'button', id: 'describe_back' %>
  <%= link_to 'Proceed to Review', review_resource_path(params[:id]), class: 'o-button__icon-right', role: 'button', id: 'proceed_review' %>
</div>

<script type="text/javascript" charset="utf-8">
  var uploadInProgress = false;
  $(function () {
    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
      maxChunkSize: 1048576,
      //acceptFileTypes: /(\.|\/)(gif|jpe?g|png|tif?f)$/i
      maxFileSize: <%= current_tenant.max_file_size %>,// 2GB,
      //maxFileSize: 1048576 ,// 1MB,
      limitMultiFileUploadSize: <%= current_tenant.max_submission_size %>
    });
  });

  function maxTotalSize(){
    return <%= current_tenant.max_total_version_size %>;
  }

  function maxSubmissionSize(){
    return <%= current_tenant.max_submission_size %>;
  }

  function maxFileSize(){
    return <%= current_tenant.max_file_size %>;
  }

  function overTotalSize(mySize){
    return (mySize > maxTotalSize());
  }

  function overSubmissionSize(mySize){
    return (mySize > maxSubmissionSize());
  }

  function overFileSize(mySize){
    return (mySize > maxFileSize());
  }

  function versionNumber(){
    return <%= @resource.version_number %>;
  }

  updateButtonLinkStates();

  $(function () {
    showFilesOrManifest(); // decides to either show files or manifest uploads based on select list state
    $('#post_submit_spinner').hide();
    selectFileLocation();
  });
</script>