<% @page_title = 'Upload Your Files - Publish and Preserve your Data' %>
<%= render partial: 'stash_engine/shared/dataset_steps_nav' %>

<h1 class="o-heading__level1">Upload Your Files <span class="t-upload__heading-optional">(optional)</span></h1>



<h2 class="t-upload__choose-heading--active">Step 1: Choose File Upload Technique</h2>
<p>You may upload data via two mechanisms: directly from your computer, or from a URL on an external server.
  Please note that for this version of your submission you may only use one of these two upload mechanisms.
</p>
<div>

  <div class="t-upload__method-section">
    <div class="t-uploads__method-choice">
      <input type="radio" name="file_location" value="files" id="files_from_computer" class="t-uploads__method-input"
             <%= raw([:files, :unknown].include?(@resource.upload_type) ? 'checked="checked"': '') %>
      />
      <label for="files_from_computer">Drag and drop or choose files from your computer</label>
    </div>
    <div class="t-uploads__method-choice">
      <input type="radio" name="file_location" value="manifest" id="files_from_manifest" class="t-uploads__method-input"
            <%= raw(@resource.upload_type == :manifest ? 'checked="checked"' : '') %>
      />
      <label for="files_from_manifest">Enter URLs of file locations</label>
    </div>
  </div>
  <%# select_tag "file_location", options_for_select([ ['On this Computer', 'files'], ['On a Server', 'manifest'] ],
             selected: ([:files, :unknown].include?(@resource.upload_type) ? 'files': 'manifest') ),
             id: 'file_location_select', disabled: (@resource.upload_type != :unknown) %>
</div>


<!-- manifest workflow -->
<div class="files_on_server" style="display: none;" class="limits_and_part_2">
  <p>
    Size limits: up to 1,000 files and <%= filesize(current_tenant.max_submission_size) %>
  </p>
  <h2 class="t-upload__choose-heading--active">Step 2: Enter Files</h2>
  <%= render partial: 'stash_engine/file_uploads/files_on_server', locals: { file: @file, messages: @messages, path: stash_engine.file_uploads_validate_urls_path(@resource.id) } %>
</div>

<div class="files_on_computer" style="display: none;">
  <p>
    Size limits: <%= filesize(current_tenant.max_file_size) %> per file,
    <%= filesize(current_tenant.max_total_version_size) %> in total.
  </p>
  <h2 class="t-upload__choose-heading--active">Step 2: Choose Files</h2>
  <%= render partial: 'stash_engine/file_uploads/files_on_computer', locals: { file: @file } %>
</div>
<!-- manifest workflow -->

<div class="o-dataset-nav">
  <%= link_to 'Back to Describe Dataset', metadata_entry_pages_find_or_create_path(resource_id: params[:id]), class: 'o-button__icon-left', role: 'button', id: 'describe_back' %>
  <%= link_to 'Proceed to Review', review_resource_path(params[:id]), class: 'o-button__icon-right', role: 'button', id: 'proceed_review' %>
</div>

<script type="text/javascript" charset="utf-8">
  var uploadInProgress = false;
  $(function () {
    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
      maxChunkSize: 1048576,
      //acceptFileTypes: /(\.|\/)(gif|jpe?g|png|tif?f)$/i
      maxFileSize: <%= current_tenant.max_file_size %>,// 2GB,
      //maxFileSize: 1048576 ,// 1MB,
      limitMultiFileUploadSize: <%= current_tenant.max_submission_size %>
    });
  });

  function maxTotalSize(){
    return <%= current_tenant.max_total_version_size %>;
  }

  function maxSubmissionSize(){
    return <%= current_tenant.max_submission_size %>;
  }

  function maxFileSize(){
    return <%= current_tenant.max_file_size %>;
  }

  function overTotalSize(mySize){
    return (mySize > maxTotalSize());
  }

  function overSubmissionSize(mySize){
    return (mySize > maxSubmissionSize());
  }

  function overFileSize(mySize){
    return (mySize > maxFileSize());
  }

  function versionNumber(){
    return <%= @resource.version_number %>;
  }

  updateButtonLinkStates();

  $(function () {
    showFilesOrManifest(); // decides to either show files or manifest uploads based on select list state
    $('#post_submit_spinner').hide();
    selectFileLocation();
  });
</script>