<%# the local variable 'creator' should be passed in to this partial when there are multiple per page.
  # the 'path' to submit to should also be passed in. %>
<% form_id = unique_form_id(creator) %>
<%= form_for(creator, url: path, remote: true, authenticity_token: true, html: {id: form_id, class: 'c-input__inline'}) do |f| %>
  <% my_suffix = field_suffix(creator) %>

<%#= render "datacite/shared/error_messages", target: @creator %>
  <div class="c-input">
    <%= f.label "first_name_#{my_suffix}", "First Name", class: 'c-input__label required' %>
    <%= f.text_field :creator_first_name, id: "creator_first_name_#{my_suffix}", class: "c-input__text js-creator_first_name" %>
  </div>
  <div class="c-input">
    <%= f.label "last_name_#{my_suffix}", "Last Name", class: 'c-input__label' %>
    <%= f.text_field :creator_last_name, id: "creator_last_name_#{my_suffix}", class: "c-input__text js-creator_last_name" %>
  </div>
  <div class="c-input">
    <%= f.label "affiliation_id_#{my_suffix}", "Institutional Affiliation", class: 'c-input__label required' %>
    <%= text_field_tag(:affiliation, creator.affiliation.try(:long_name), id: "creator_affiliation_id_#{my_suffix}", class: 'c-input__text js-affiliation') %>
  </div>
  <%= link_to 'remove', stash_datacite.creators_delete_path(creator.id || 'new'), method: :delete, remote: true, data: {confirm: 'Are you sure?'}, class: 't-describe__remove-button o-button__remove remove_record' %>
  <%= f.hidden_field :resource_id %>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :affiliation_id, class: 'js-affiliation_id' %>
  <%= hidden_field_tag(:form_id, form_id) %>
<% end %>

<!-- Begin Orcid ID Component -->
  <div class="c-orcid">
    <% unless creator.blank? || creator.orcid_id.blank? %>
      <%= link_to '', "http://orcid.org", class: 'c-orcid__icon', title: 'orcid_website' %>
      <%= link_to "https://sandbox.orcid.org/#{creator.orcid_id}", "https://sandbox.orcid.org/#{creator.orcid_id}",target: '_blank', class: 'c-orcid__id' %>
    <% end %>
  </div>
<!-- Begin Orcid ID Component -->

<script type="text/javascript">
  $(function () {
    $('.js-affiliation').unbind('blur');
    $('.js-affiliation').autocomplete({
      source: function (request, response) {
        $.ajax({
          url: "<%= stash_datacite.affiliations_autocomplete_path %>",
          dataType: "json",
          data: {
            term: request.term
          },
          success: function (data) {
            response($.map(data, function (item) {
                  return {
                    value: item.long_name,
                    id: item.id
                  }
                }
            ));
          }
        });
      },
      minLength: 1,
      focus: function () {
        // prevent value inserted on focus
        $('.saving_text').show();
        $('.saved_text').hide();
        return false;
      },
      select: function (event, ui) {
        $(".js-affiliation_id").val(ui.item.id); // set hidden field id
      },
      open: function (event, ui) {
        disable = true
      },
      close: function (event, ui) {
        disable = false;
        $(this).focus();
      }
    }).blur(function (event) {
      // if (!disable) {
        var form = $(this).parents('form');
        $(form).trigger('submit.rails');
        $('.saved_text').show();
        $('.saving_text').hide();
      // }
    });
  });
</script>