<%# the local variable 'creator' should be passed in to this partial when there are multiple per page %>
<%= form_for(creator, url: stash_datacite.creators_create_path, remote: true, authenticity_token: true, html: { id: "creator_new_form"}) do |f| %>
<%#= render "datacite/shared/error_messages", target: @creator %>
  <table>
    <tr>
      <td><%= f.label :creator_first_name, "First Name" %></td>
      <td><%= f.label :creator_last_name, "Last Name" %></td>
      <td><%= f.label :affliation_id, "Institutional Affiliation" %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= f.text_field :creator_first_name, class: "creator_first_name", size: 30 %>&nbsp;&nbsp;</td>
      <td><%= f.text_field :creator_last_name, class: "creator_last_name", size: 30 %>&nbsp;&nbsp;</td>
      <td><%= f.text_field :affliation_id, id: 'affliation_id', size: 40 %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><%= link_to 'remove', '#', class: 'remove' %></td>
    </tr>
  </table>
  <%= f.hidden_field :resource_id %>
<% end %>

<script>
$(document).ready(function() {
  $('.remove').on('click', function (event) {
    $(this).closest('form').remove();
    $(this).closest('br').remove();
    event.preventDefault(); // Prevent link from following its href
  });
});

$(document).ready(function(){
  $( ".creator_first_name" ).on('focus', function () {
    previous_value = this.value;
    }).change(function() {
      new_value = this.value;
      // Save when the new value is different from the previous value
      if(new_value != previous_value) {
        var form = $(this).parents('form');
        $(form).trigger('submit.rails');
      }
    });
});

$(document).ready(function(){
  $( ".creator_last_name" ).on('focus', function () {
    previous_value = this.value;
    }).change(function() {
      new_value = this.value;
      // Save when the new value is different from the previous value
      if(new_value != previous_value) {
        var form = $(this).parents('form');
        $(form).trigger('submit.rails');
      }
    });
});

$(function() {
  $( "#affliation_id" ).autocomplete({
    source: function( request, response ) {
      $.ajax({
        url: "<%= stash_datacite.affliations_autocomplete_path %>",
        dataType: "json",
        data: {
          term: request.term
        },
        success: function( data ) {
          response( data );
        }
      });
    },
    minLength: 1,
    focus: function() {
      // prevent value inserted on focus
      return false;
    },
    open: function() {
      $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
    },
    close: function() {
      $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
    }
  });
});
</script>