<script>
$(function() {
  $( "#affliation_id" ).autocomplete({
    source: function( request, response ) {
      $.ajax({
        url: "<%= stash_datacite.affliations_autocomplete_path %>",
        dataType: "json",
        data: {
          term: request.term
        },
        success: function( data ) {
          response( data );
        }
      });
    },
    minLength: 1,
    focus: function() {
      // prevent value inserted on focus
      return false;
    },
    open: function() {
      $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
    },
    close: function() {
      $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
    }
  });
});
</script>

<%= form_for(creator, url: stash_datacite.creators_update_path, remote: true, authenticity_token: true) do |f| %>
  <%#= render "datacite/shared/error_messages", target: @creator %>
  <table>
    <tr>
      <td><%= f.label :creator_first_name, "First Name" %></td>
      <td><%= f.label :creator_last_name, "Last Name" %></td>
      <td><%= f.label :affliation_id, "Institutional Affiliation" %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= f.text_field :creator_first_name, size: 30 %>&nbsp;&nbsp;</td>
      <td><%= f.text_field :creator_last_name, size: 30 %>&nbsp;&nbsp;</td>
      <td><%= f.text_field :affliation_id, id: 'affliation_id', size: 40 %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><%= f.submit 'add', class: 'button' %>&nbsp;&nbsp;</td>
      <td><%= link_to 'remove', stash_datacite.creators_delete_path(creator.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'remove_record' %></td>
    </tr>
    <%= f.hidden_field :resource_id %>
    <%= f.hidden_field :id %>
  </table>
  <% if (creator.creator_first_name.downcase == current_user.first_name.downcase) && (creator.creator_last_name.downcase == current_user.last_name.downcase) %>
    <%= link_to "add my Orcid ID", "/stash/auth/orcid?creator_id=#{creator.id}", id: "add_my_Orcid_ID", style: "display:inline;" %>
    <%= image_tag("stash_datacite/orcid.png", size: "20x20", alt: "Place") %><%= f.text_field :orcid_id, size: 30, style: "border:none;display:inline;", id: "orcid_id" %>&nbsp;&nbsp;
  <% end %>
<% end %>