<%# the local variable 'creator' should be passed in to this partial when there are multiple per page %>
<%= form_for(creator, url: stash_datacite.creators_update_path, remote: true, authenticity_token: true) do |f| %>
  <%#= render "datacite/shared/error_messages", target: @creator %>
  <table>
    <tr>
      <td><%= f.label :creator_first_name, "First Name" %></td>
      <td><%= f.label :creator_last_name, "Last Name" %></td>
      <td><%= f.label :affliation_id, "Institutional Affiliation" %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= f.text_field :creator_first_name, class: "creator_first_name", size: 30 %>&nbsp;&nbsp;</td>
      <td><%= f.text_field :creator_last_name, class: "creator_last_name", size: 30 %>&nbsp;&nbsp;</td>
      <td><%= f.text_field :affliation_id, id: 'affliation_id', size: 40 %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><%= link_to 'remove', stash_datacite.creators_delete_path(creator.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'remove_record' %></td>
    </tr>
  </table>
    <%= f.hidden_field :resource_id %>
    <%= f.hidden_field :id %>
  <div>
    <% unless creator.orcid_id.blank? %>
    <%= image_tag("stash_datacite/orcid.png", class: "orcid_img", size: "20x20", alt: "Place") %><%= f.text_field :orcid_id, style: "border:none;" %>
    <% end %>
  </div>
<% end %>