
<p>This dataset has been successfully submitted to Dryad:</p>

<p>
Title: <%= @resource.title %><br/>
Data DOI: <%= @resource.identifier_str %><br/>
Submitted by: <%= @user_name %><br/>
Journal: <%= @resource.identifier.publication_name %>
<% if @resource.identifier.manuscript_number.present? %>
  <br/>Journal manuscript number: <%= @resource.identifier.manuscript_number %>
<% end %>
<% if @resource.identifier.publication_article_doi.present? %>
  <br/>Article DOI: <%= @resource.identifier.publication_article_doi %>
<% end %>
</p>

<% shr = @resource.identifier.shares.first.sharing_link %>
<p>The submission will remain private until the related manuscript has been accepted. Once a notification of acceptance is received, the curation process will be initiated. For private access during this review period, you may share the unpublished data files using this unique link: <a href="<%= shr %>"><%= shr %></a></p>

<p>If you have questions or concerns, please visit our Help page, or contact us at <a href="mailto:<%= @helpdesk_email %>"><%= @helpdesk_email %></a>.</p>

<p>The Dryad Team</p>
