
<p>Congratulations! This dataset has been approved for publication in Dryad:</p>

<p>
Title: <%= @resource.title %><br/>
Data DOI: <%= @resource.identifier_str %><br/>
Journal: <%= @resource.identifier.publication_name %>
<% if @resource.identifier.manuscript_number.present? %>
  <br/>Journal manuscript number: <%= @resource.identifier.manuscript_number %>
<% end %>
<% if @resource.identifier.publication_article_doi.present? %>
  <br/>Article DOI: <%= @resource.identifier.publication_article_doi %>
<% end %>
</p>

<p>Thank you for choosing Dryad to host your data. If you have any questions, please contact us at <a href="mailto:<%= @helpdesk_email %>"><%= @helpdesk_email %></a>.</p>

<p>The Dryad Team</p>
