<p>A user has requested these accounts be merged.</p>

<p><b>New account:</b> <%= @user.name %>, <%= @user.orcid %>, ID: <%= @user.id %></p>

<b>Other account:</b> <%= @old.name %>, <%= @old.email %>, ID: <%= @old.id %> </p>