<p>Dear <%= @user_name %>,</p>

<p>You are a listed author of the recently published dataset "<%= @resource.title %>"</p>

<p>We encourage you to register your ORCID researcher information for this dataset by following the URL below:</p>

<p><a href="<%= @url %>"><%= @url %></a></p>

<p>If you have questions or concerns, please visit the help page or get in touch with us at <a href="mailto:<%= @helpdesk_email %>"><%= @helpdesk_email %></a>.</p>
