<p>Dear <%= @user_name %>,</p>

<p>As a co-author of the recently published Dryad dataset "<%= @resource.title %>", we encourage you to link your ORCID iD to this publication by following the URL below. Linking your ORCID iD creates a reliable and discoverable connection to all of your research outputs:</p>

<p><a href="<%= @url %>"><%= @url %></a></p>

<p>If you have questions, please get in touch with us at <a href="mailto:<%= @helpdesk_email %>"><%= @helpdesk_email %></a>.</p>

<p>We appreciate your support of Dryad and your contribution to open data.</p>

<p>The Dryad Team</p>

