<p>Dear <%= @user_name %>,</p>

<p>Thank you for submitting your dataset "<%= @resource.title %>" (<%= @resource.identifier_str %>) to Dryad. Your 
dataset will now remain private until your related manuscript has been accepted. At that point we will begin 
the curation process.
</p>

<p>Please note, you have selected to keep your submission in "Private for Peer
Review" status. While in this status, your submission will not enter our
curation process for review and publication.</p>

<% shr = @resource.identifier.shares.first.sharing_link %>
<p>A private, randomized Reviewer URL has been created for your submission. This
    link allows for a double-blind download of the dataset and can be used by
    the journal office to access the data files during the review period or
    shared with collaborators while the dataset is not yet published. You may
    share your unpublished dataset using this temporary link: 
  <a href="<%= shr %>"><%= shr %></a></p>

<p>
Your dataset has also been assigned a unique identifier, called a DOI (<%= @resource.identifier_str %>). You may provide 
this DOI to the journal or include it in your manuscript, although it will not be live until the dataset is published. 
</p>

<p>If your related article has been accepted or if you are ready to initiate the curation process and proceed to publication, please follow these steps:</p>
<ol>
    <li>Login to https://datadryad.org</li>
    <li>Click on “My Datasets”</li>
    <li>Click “Update” on your dataset</li>
    <li>On the final page of the submission form (Review and Submit page), deselect the checkbox for "Private for Peer Review"</li>
    <li>Click "Submit"
</ol>

<p>If you experience any difficulty or require clarification, please let us know. Thank you for your ongoing support of Dryad.</p>

