<p>Dear <%= @user_name %>,</p>

<p>Thank you for submitting your dataset "<%= @resource.title %>" (<%= @resource.identifier_str %>) to Dryad.</p>

<p>Please note, you have selected to keep your Dryad data submission in "Private for peer review" status. While in this status, your submission will not enter our curation process for review and publication.</p>

<% shr = @resource.identifier.shares.first.sharing_link %>
<p>A private, randomized URL has been created for your submission. This temporary link can be shared with the journal office and/or collaborators while your manuscript is in peer review and your dataset is unpublished. Clicking the link immediately launches a download of the data files <em>only</em>: <a href="<%= shr %>"><%= shr %></a></p>

<p>
Your data submission has also been assigned a unique DOI (<%= @resource.identifier_str %>). You may provide this DOI to the journal or include it in your manuscript, although it will not be live until the dataset is published. Should you need to reach out to Dryad’s Helpdesk regarding this submission, kindly provide the DOI in your email to ensure efficient and effective assistance.
</p>

<p>When your related manuscript has been accepted or when you are ready to initiate the curation process and proceed to publication, follow these steps:</p>
<ol>
    <li><a href="https://datadryad.org">Login to https://datadryad.org</a></li>
    <li>Click on “My datasets”</li>
    <li>Click “Update” on your dataset</li>
    <li>On the final page of the submission form (Review and submit page), select "Make my dataset available for public download as soon as possible"</li>
    <li>Click "Submit"</li>
</ol>

<p>If you have any questions, please let us know. We appreciate your support of Dryad.</p>

<p>The Dryad Team</p>

