<p>Dear <%= @user_name %>,</p>

<p>A published or accepted article has been linked to your Dryad data submission:</p>

<p>Title: <%= @resource.title %><br/>
DOI: <%= @resource.identifier_uri %></p>

<p>As your manuscript is no longer under peer review, the data should be made public. Payment of the <a href="<%= @costs_url %>">Data Publishing Charge</a> is required for the curation and publication of your data.</p>

<p>
<% if @invoice %>
  Please ensure that the invoice you requested for this dataset is paid in order to proceed.
<% else %>
  <a href="<%= @submission_url %>">Edit your submission</a> and click "Pay & Submit for publication" to pay the remaining fee and submit your dataset for curation and publication.
<% end %>
</p>

<p>Please contact us at <a href="mailto:<%= @helpdesk_email %>?subject=DOI: <%= @resource.identifier_value %>"><%= @helpdesk_email %></a> if you have any concerns.</p>
