<p>Dear <%= @user_name %>,</p>

<p>A published or accepted article has been linked to your Dryad data submission:</p>

<p>Title: <%= @resource.title.html_safe %><br/>
DOI: <%= @resource.identifier_uri %></p>

<p>As your manuscript is no longer under peer review, the data should be made public. Therefore your submission will be automatically released for curation and publication.</p>

<p>Please contact us at <a href="mailto:<%= @helpdesk_email %>?subject=DOI: <%= @resource.identifier_value %>"><%= @helpdesk_email %></a> if you have any concerns.</p>
