<p>Dear <%= @user_name %>,</p>

<p>Thank you for your submission to Dryad titled, "<%= @resource.title.html_safe %>".</p>

<p>
  Each dataset submitted to Dryad undergoes our process of curation and approval before being made publicly available.
  After a dataset is submitted, it enters our queue for curation. Datasets are evaluated in chronological order,
  with the oldest dataset submissions at the top of the queue. Your data submission will soon be evaluated by a member
  of our curation team who will contact you with any revision requests. After your dataset is approved by a curator,
  it will be published and made publicly available, and the dataset DOI will be active.
</p>

<p>If you do not intend for your data to be publicly available yet, contact us at
  <a href="mailto:<%= @helpdesk_email %>?subject=PPR for DOI: <%= @resource.identifier_value %>"><%= @helpdesk_email %></a>
  and we will place your submission in ‘Private for Peer Review’ status.
</p>

<p>Your dataset has been assigned an important link:</p>
<ul>
  <li>
    A unique digital object identifier (DOI): <%= @resource.identifier_uri %><br/>
    <p>This DOI link is permanent and should included in the Data Availability Statement of your published article.</p>
  </li>
</ul>

<%if @resource.identifier.user_must_pay? && @resource.identifier.old_payment_system %>
  <p>You will receive an invoice via email upon publication of your dataset.</p>
<% end %>

<p>
  The time from initial submission to final publication depends on the volume and complexity of submissions received
  ahead of yours, that of your submission, and your timely response to modifications required for dataset
  approval — which will be communicated by a curator, if necessary. You can find more information on our
  Publication Process help page:<br/>
  <a href="https://datadryad.org/process">https://datadryad.org/process</a>.
</p>

<p>You can check the status of your data submission via your Dryad "My datasets" page.</p>

<p>
  If you have any questions, please contact us at
  <a href="mailto:<%= @helpdesk_email %>?subject=Dataset with DOI: <%= @resource.identifier_value %>"><%= @helpdesk_email %></a>.
</p>

<p>Thank you for choosing Dryad to host your data. We appreciate your support.</p>

<p>
  We would greatly appreciate your feedback! Please complete
  <a href="https://form.jotform.com/232493320676357?datasetDOI=<%= CGI.escape(@resource.identifier_value) %>">
    a short survey about your submission experience</a>.
</p>
