<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

<p>Dear <%= @to_name %>:</p>

<p>An error occurred while updating your dataset &ldquo;<%= @title %>&rdquo;
  (<%= link_to("https://dx.doi.org/#{@identifier}", "doi:#{@identifier}")%>)
  to Dash. The error details below have been sent to the Dash administrative team, and you will be contacted
  once the problem has been resolved.
</p>

<p>
  If you have any questions, please contact your administrator at
  <%= link_to("mailto:#{@contact_email }", @contact_email ) %>;
  do not reply to this email.
</p>

<hr/>

<pre>
<%= @backtrace  %>
</pre>

</body>
</html>
