<p>Dear <%= @user_name %>,</p>

<p>Your data submission has been withdrawn from the Dryad platform:</p>

<p>
  Title: <%= @resource.title.html_safe %><br/>
  DOI: <%= @resource.identifier_uri %>
</p>

<p>Please note that this dataset will be permanently deleted after one year.</p>

<p>
  If you have any questions, please contact us at
  <a href="mailto:<%= @helpdesk_email %>?subject=Withdrawn <%= @resource.identifier_value %>"><%= @helpdesk_email %></a>.
</p>
