<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<% if per_page == 1000000 && !(params[:show_all] == false) %>
  <%= link_to 'Show pages', params.merge(page_size: 5, page: 1), remote: remote %>
<% end %>
<%= paginator.render do -%>
  <% puts "PPPP0 #{params}" %>
  <% puts "PPPP1 #{@params}" %>
  <% puts "PPPP2 #{@template}" %>
  <% puts "PPPP3 #{request.query_parameters}" %>
  <% puts "PPPP3.5 #{params.merge(request.query_parameters)}" %>
  <% puts "PPPP4 #{request.params}" %>
  <% puts "PPPP5 #{request.path}" %>
  <% puts "PPPP6 #{Addressable::URI.parse(request.path).merge(bogus: 'aaa')}" %>
  <% puts "PPPP7 #{Addressable::URI.parse(request.path).query_values}" %>
  <% puts "PPPP8 #{request.path}?#{params.to_query}" %>
  <% puts "PPPP9 #{request.path}?#{params.merge(page: 3).to_query}" %>
  
  <nav class="pagination" role="navigation" aria-label="Pagination Navigation">
    <% unless params[:show_all] == false %>
      <%= link_to 'Show all', params.merge(page_size: '1000000', page: 1), remote: remote %>
    <% end %>

    <% unless current_page.first? %>
      <span class="first">
	<%= link_to t('views.pagination.first').html_safe,
	 "#{request.path}?#{params.merge(page: 1).to_query}",
	 'aria-label': "Go to first page", :remote => remote %>
      </span>
      <span class="prev">
	<%= link_to t('views.pagination.previous').html_safe,
	 "#{request.path}?#{params.merge(page: current_page.number - 1).to_query}",
	 :rel => 'prev', 'aria-label': "Go to previous page", :remote => remote %>
      </span>
    <% end %>

    <%#
    *page_tag are not working, but they only get triggered in certain cases
    see .orig file for previous details
    -%>
    <% puts "-- #{current_page.number}" %>
    <% each_page do |page| %>
      <% puts "-- #{page.number}" %>
      <% puts "-- lo #{page.left_outer?} ro #{page.right_outer?} iw #{page.inside_window?} tr #{page.was_truncated?}" %>
      <% if page.left_outer? || page.right_outer? || page.inside_window? %>
        <span class="page<%= ' current' if page.current? %>">
	  <% if page.current? %>
	    <span aria-label="Current page, page <%= page %>" aria-current="true"><%= page %></span>
	  <% else %>
	    <% puts "-- PAR #{params.merge(page: page.number)}" %>
	    <% puts "   #{request.path}?#{params.merge(page: page.number).to_query}" %>
	    <%= link_to page,
		"#{request.path}?#{params.merge(page: page.number).to_query}" %>
	  <% end %>
	</span>
      <% elsif !page.was_truncated? %>
	<span class="page gap"><%= t('views.pagination.truncate').html_safe %></span>
      <% end %>     
    <% end %>    

    <% unless current_page.last? %>
      <span class="next">	
	<%= link_to t('views.pagination.next').html_safe,
	 "#{request.path}?#{params.merge(page: current_page.number + 1).to_query}",
	 :rel => 'next', 'aria-label': "Go to next page", :remote => remote %>
      </span>
    <% end %>    
  </nav>
<% end -%>
