<% if params[:display_validation] %>
  <%= render partial: "stash_datacite/resources/missing_mandatory_data",
             locals: { error_items: StashDatacite::Resource::DatasetValidations.new(resource: @resource).errors } %>
<% end %>
<div class="c-autosave-header">
  <h1 class="o-heading__level1">Describe Your Dataset</h1>
  <div class="c-autosave__text saving_text" style="display: none;">Saving&hellip;</div>
  <div class="c-autosave__text saved_text" style="display: none;">All Progress Saved.</div>
</div>

<h2 class="o-heading__page-span">Preliminary Information</h2>
  <div class="js-contributors_form_top">
    <%= render partial: "stash_datacite/metadata_entry_pages/publication", locals: { publication: @publication, resource: @resource } %>
  </div>

<h2 class="o-heading__page-span">Dataset: Basic Information</h2>

  <%= react_component('components/MetadataEntry/Title', { resource: @resource.slice(:id, :title), path: titles_update_path } ) %><br>

  <fieldset class="c-fieldset">
  <legend class="c-fieldset__legend">Author(s)</legend>
    <div class="js-authors_form">
      <% if @metadata_entry.authors.exists? %>
        <% @metadata_entry.authors.each do |author| %>
          <%= render partial: "stash_datacite/authors/form", locals: { author: author, path: stash_datacite.authors_update_path } %>
        <% end %>
      <% else %>
          <%= render partial: "stash_datacite/authors/form", locals: { author: @metadata_entry.new_author, path: stash_datacite.authors_create_path } %>
      <% end %>
    </div>
    <%= link_to "Add Author", stash_datacite.authors_new_path( resource_id: @resource.id ), role: 'button', remote: :true, class: 't-describe__add-button o-button__add' %>
  </fieldset>

  <div class="c-input__inline">
    <div class="c-input">
      <%= react_component('components/MetadataEntry/ResearchDomain',
                         resourceId: @resource.id,
                         subject: @resource&.subjects&.permissive_fos&.first&.subject,
                         subjectList: StashDatacite::Subject.fos.pluck(:subject).uniq.sort,
                         updatePath: fos_subjects_update_path) %>
    </div>
    <div class="c-input">
      <%= render partial: "stash_datacite/contributors/facility_form", locals: { resource: @resource } %>
    </div>
  </div>

  <fieldset class="c-fieldset">
    <legend class="c-fieldset__legend">Funding</legend>
    <div className="js-contributors_form">
      <%= react_component('components/MetadataEntry/Funders',
                          resourceId: @resource.id,
                          contributors: @metadata_entry.contributors,
                          createPath: stash_datacite.contributors_create_path,
                          updatePath: stash_datacite.contributors_update_path,
                          deletePath: stash_datacite.contributors_delete_path('id_xox'))
      %>
    </div>

  </fieldset>

    <%= react_component('components/MetadataEntry/Description',
                        dcsDescription: @metadata_entry.abstract,
                        path: stash_datacite.descriptions_update_path,
                        mceKey: APP_CONFIG[:mce_key],
                        mceLabel: {label: 'Abstract', required: true, describe: ''}) %>

    <h2 class="o-heading__page-span">Data Description</h2>

    <%# if @metadata_entry.subjects.empty? %>
      <%# render partial: "stash_datacite/subjects/form", locals: { subject: @metadata_entry.new_subject, resource_id: @resource.id } %>
    <%# else %>
      <%# render partial: "stash_datacite/subjects/form", locals: { resource_id: @resource.id } %>
    <%# end %>

    <%= react_component('components/MetadataEntry/Keywords',
                        resourceId: @resource.id,
                        subjects: @metadata_entry.subjects.map{ |i| {id: i.id, subject: i.subject }  },
                        createPath: stash_datacite.subjects_create_path,
                        deletePath: stash_datacite.subjects_delete_path('subj_xoxo', resource_id: @resource.id)) %>

    <%= react_component('components/MetadataEntry/Description',
                    dcsDescription: @metadata_entry.methods,
                    path: stash_datacite.descriptions_update_path,
                    mceKey: APP_CONFIG[:mce_key],
                    mceLabel: {label: 'Methods:', required: false, describe: ' How was this dataset collected? How has it been processed?'}) %>

    <%= react_component('components/MetadataEntry/Description',
                    dcsDescription: @metadata_entry.other,
                    path: stash_datacite.descriptions_update_path,
                    mceKey: APP_CONFIG[:mce_key],
                    mceLabel: {label: 'Usage Notes:', required: false,
                               describe: ' What else would someone need to know to use this dataset?' +
                                   ' Are there any missing values? Please upload any files necessary for re-use ' +
                                   '(i.e. ReadMe files) and note them.'}) %>

    <h2 class="o-heading__page-span">Related Works</h2>

    <fieldset class="c-fieldset">
    <legend class="c-fieldset__legend">
      <span class="c-input__hint">Are there any preprints, articles, datasets, software packages, or supplemental
        information that have resulted from or are related to this Data Publication?</span></legend>
    <div class="js-related_identifiers_form">
      <% if @metadata_entry.related_identifiers.exists? %>
        <% @metadata_entry.related_identifiers.each do |related_identifier| %>
          <%= render partial: "stash_datacite/related_identifiers/form", locals: { related_identifier: related_identifier, path: stash_datacite.related_identifiers_update_path } %>
        <% end %>
      <% else %>
        <%= render partial: "stash_datacite/related_identifiers/form", locals: { related_identifier: @metadata_entry.new_related_identifier, path: stash_datacite.related_identifiers_create_path } %>
      <% end %>
    </div>
    <%= link_to "add another related work", stash_datacite.related_identifiers_new_path( resource_id: @resource.id ), remote: :true, class: 'o-button__add' %>
    </fieldset>
