<% @page_title = "Funding updater" %>
<div class="admin-dashboard-header">
<h1 class="o-heading__level1" id="updater-label">Funding updater</h1>
<a href="<%= record_updaters_log_path %>">Match history</a>
</div>
<div>
  <p>Suggested matches are retreived from grant database APIs based upon the funder and award number originally entered. Matches may change existing fields, or may only add discovered award titles and/or URIs to the existing data.</p>
  <h2>Instructions</h2>
  <p>Clicking "Accept" will overwrite the existing funding information with the listed replacement. If the dataset has been published, it will be re-indexed and the updated funding metadata will be sent to Datacite.</p>
  <p>Click "Reject" if the new funding information should not replace what exists.</p>
  <h2>Limit to:</h2>
  <%= form_with url: record_updaters_path(@data_type), method: :get do |_form| %>
  <div class="o-admin-form-inline">
    <div class="o-admin-form-pair">
      <label for="query">Search:</label>
      <%= text_field_tag 'search', params[:search], {class: 'c-input__text', id: 'query'} %>
    </div>
    <div class="o-admin-form-pair">
      <label for="status">Curation status:</label>
      <%= select_tag :status, options_from_collection_for_select(@statuses, "value", "label", params[:status]), class: 'c-input__select' %>
    </div>
    <%= submit_tag('Search', class: 'o-button__submit', name: nil ) %>
    <%= button_tag "Reset", type: :reset, id: 'reset_button', class: "o-button__remove" %>
  </div>
  <% end %>

  <p style="margin-bottom: 0; text-align: right"><%= @proposed_changes.total_count %> results</p>
  <div class="table-wrapper c-lined-table-wrapper" role="region" tabindex="0" aria-labelledby="updater-label" style="margin-top: 0">
    <table class="c-lined-table record-updater">
      <thead>
      <tr>
        <th style="min-width: 128px">Fields</th>
        <th style="min-width: 44%;">Existing</th>
        <th>Proposed</th>
      </tr>
      </thead>
      <% @proposed_changes.each do |proposed_change| %>
        <%= render partial: 'proposed_change_line',locals: { rows: @columns, proposed_change: proposed_change, resource: proposed_change.resource } %>
      <% end %>
    </table>
  </div>

  <div class="c-space-paginator">
    <%= paginate @proposed_changes, params: { page_size: @page_size } %>
        <div class="c-paginator-page_size">
      Page size:
      <%
        current_ps = params[:page_size].to_i
        current_ps = 10 if current_ps == 0
        [10, 50, 100].each do |ps| %>
        <% if ps == current_ps %>
          <span class="page-current"><%= ps %></span>
        <% else %>
          <%= link_to(ps, record_updaters_path(@data_type, request.parameters.except(:action, :controller, :data_type).merge(page_size: ps, page: 1)), 'aria-label': "#{ps} results per page") %>
        <% end %>
      <% end %>
    </div>
  </div>

  <script type="text/javascript">
    $('.c-lined-table').on('click', 'button[name="accept_changes"], button[name="reject_changes"]', function(){
      $('#genericModalContent').html('<h1>Please wait . . .</h1>');
      $('#genericModalDialog')[0].showModal();
    });

    $("#reset_button").on("click", function(e) {
      e.preventDefault();
      $("#query").val("");
      $("#status").val("");
      e.target.form.submit();
    });
  </script>
</div>
