<%# modified splash page for exploring results before doing a search %>
<%= content_for(:head) %>
<div class='container' data-turbolinks="false">
  <div class='row text-center'>
    <div class='col-sm'>
      <%= content_tag :h3, t('geoblacklight.home.category_heading') %>
      <div class='row'>
        <%= render 'home_facet_component', icon: 'globe', label: 'geoblacklight.home.funder', facet_field: Settings.FIELDS.FUNDER, response: @response %>
        <%= render 'home_facet_component', icon: 'tags', label: 'geoblacklight.home.subject', facet_field: Settings.FIELDS.SUBJECT, response: @response %>
      </div>
      <div class='row'>
        <%= render 'home_facet_component', icon: 'book', label: 'geoblacklight.home.publication', facet_field: Settings.FIELDS.RELATED_PUBLICATION_NAME, response: @response %>
        <%= render 'home_facet_component', icon: 'arrow-circle-down', label: 'geoblacklight.home.institution', facet_field: Settings.FIELDS.AUTHOR_AFFILIATION_NAME, response: @response %>
      </div>
    </div>
    <div class='col-sm'>
      <%= content_tag :h3, t('geoblacklight.home.map_heading') %>
      <a class="c-skipnav" href="#page-footer">Skip to footer</a>
    </div>
  </div>
  <div id="geoblacklight-version" class="text-right">
    <%= t('geoblacklight.home.version', version: Blacklight::VERSION ) %>
  </div>
</div>
