
<div class="c-autosave-header">
  <h1 class="o-heading__level1">Describe Your Datasets</h1>
  <div class="c-autosave__text success_top">
    Changes Autosaved at <%= DateTime.now.in_time_zone%>
  </div>
</div>

<h3 class="o-heading__page-span">Basic Information</h3>

  <% if @metadata_entry.resource_type.new_record? %>
    <%= render partial: "stash_datacite/resource_types/form", locals: { resource_type: @metadata_entry.resource_type, path: stash_datacite.resource_types_create_path } %>
  <% else %>
    <%= render partial: "stash_datacite/resource_types/form", locals: { resource_type: @metadata_entry.resource_type, path: stash_datacite.resource_types_update_path } %>
  <% end %>

  <% if @metadata_entry.title.new_record? %>
    <%= render partial: "stash_datacite/titles/form", locals: { title: @metadata_entry.title, path: stash_datacite.titles_create_path, } %>
  <% else %>
    <%= render partial: "stash_datacite/titles/form", locals: { title: @metadata_entry.title, path: stash_datacite.titles_update_path } %>
  <% end %>

  <fieldset class="c-fieldset">
  <legend class="c-fieldset__legend">Author(s)</legend>

    <% if @metadata_entry.creators.exists? %>
      <% @metadata_entry.creators.each do |creator| %>
        <%= render partial: "stash_datacite/creators/form", locals: { creator: creator, path: stash_datacite.creators_update_path } %>
      <% end %>
    <% else %>
        <%= render partial: "stash_datacite/creators/form", locals: { creator: @metadata_entry.new_creator, path: stash_datacite.creators_create_path } %>
    <% end %>
    
    <div class="t-describe__group-add-buttons">
    <%= link_to "Add Author", stash_datacite.creators_new_path( resource_id: @resource.id ), remote: :true, class: 't-describe__group-add-button o-button__add' %>
      <%= render partial: "stash_datacite/creators/add_orcid_link", locals: { resource: @resource } %>
      <button aria-label="help" class="o-button__help" title="ORCID provides a persistent digital identifier that distinguishes you from other researchers. Learn more at orcid.org"></button>
    </div>

  </fieldset>

    <%= render partial: "stash_datacite/descriptions/form", locals: { description: @metadata_entry.abstract,  description_type: :abstract }  %>

<p class="c-input__required-note">required fields</p>

  <div id="accordion">

  <h3><strong>Data Description (Optional)</strong></h3>
  <div>

    <fieldset class="c-fieldset">
    <legend class="c-fieldset__legend">Funding</legend>

    <div class="contributors_form">
    <% if @metadata_entry.contributors.exists? %>
      <% @metadata_entry.contributors.each do |contributor| %>
        <%= render partial: "stash_datacite/contributors/form", locals: { contributor: contributor, path: stash_datacite.contributors_update_path } %>
      <% end %>
    <% else %>
        <%= render partial: "stash_datacite/contributors/form", locals: { contributor: @metadata_entry.new_contributor, path: stash_datacite.contributors_create_path } %>
    <% end %>
    </div>
    <%= link_to "add funder", stash_datacite.contributors_new_path( resource_id: @resource.id ), remote: :true %>

    </fieldset>

    <% if @metadata_entry.subjects.empty? %>
    <%= render partial: "stash_datacite/subjects/form", locals: { subject: @metadata_entry.new_subject, resource_id: @resource.id } %><br/>
    <% else %>
    <%= render partial: "stash_datacite/subjects/form", locals: { resource_id: @resource.id } %><br/>
    <% end %>

    <strong><%= label_tag :description, "Methods" %></strong>&nbsp;&nbsp;How was this dataset collected? How has it been processed?<br/>
    <%= render partial: "stash_datacite/descriptions/form", locals: { description: @metadata_entry.methods, description_type: :methods } %><br/>

    <strong><%= label_tag :description, "Usage Notes" %></strong>&nbsp;&nbsp;What else would someone need to know to use this dataset?<br/>
    <%= render partial: "stash_datacite/descriptions/form", locals: { description: @metadata_entry.usage_notes, description_type: :usage_notes } %><br/>

    <!-- <strong><%= label_tag :related_identifier, "Related work(s)" %></strong> articles, other datasets: e.g., This dataset is cited by DOI 10.1000/182. -->

    <fieldset class="c-fieldset">
    <legend class="c-fieldset__legend">Related work(s) <span class="c-input__hint">articles, other datasets: e.g., This dataset is cited by DOI 10.1000/182.</span></legend>

    <div class="related_identifiers_form">
    <% if @metadata_entry.related_identifiers.exists? %>
      <% @metadata_entry.related_identifiers.each do |related_identifier| %>
        <%= render partial: "stash_datacite/related_identifiers/form", locals: { related_identifier: related_identifier, path: stash_datacite.related_identifiers_update_path } %>
      <% end %>
    <% else %>
      <%= render partial: "stash_datacite/related_identifiers/form", locals: { related_identifier: @metadata_entry.new_related_identifier, path: stash_datacite.related_identifiers_create_path } %>
    <% end %>
    </div>
    <%= link_to "add another related work", stash_datacite.related_identifiers_new_path( resource_id: @resource.id ), remote: :true, class: 'o-button__add' %><br/>
    </div>

    </fieldset>

  <h3 id="location_section"><strong>Location Information (optional)</strong></h3>

  <div>
    <p>Where was the data collected? Does it focus on particular locations?</p>
    <strong><%= label_tag "Add a point or rectangular area with lat/long coordinates" %></strong><br/>
    <div style="float:left"><%= link_to(image_tag("stash_datacite/geo_point.png", size: "30x30", alt: "Point", id: "geo_point"), '#')  %><%= link_to(image_tag("stash_datacite/geo_box.png", size: "30x30", alt: "Box", id: "geo_box"), '#') %>&nbsp;&nbsp;</div>
    <%= render partial: "stash_datacite/geolocation_points/form", locals: { geolocation_point: @metadata_entry.new_geolocation_point } %>
    <%= render partial: "stash_datacite/geolocation_boxes/form", locals: { geolocation_box: @metadata_entry.new_geolocation_box } %>
    <br/>
    <%= render partial: "stash_datacite/shared/map" %>
    <div class="locations_added">
      <strong>Locations Added</strong>
      <%= render partial: "stash_datacite/shared/locations" %>
    </div>
  </div>
</div>
<br/>