<div class="table-wrapper c-lined-table-wrapper" role="region" tabindex="0" aria-labelledby="tenants-label">
<table class="c-lined-table">
  <thead>
    <tr>
      <th class="c-lined-table__sort" <%= sort_display('id') %>>
        <%= sortable_column_head sort_field: 'id', title: 'ID' %>
      </th>
      <th class="c-lined-table__sort" <%= sort_display('short_name') %>>
        <%= sortable_column_head sort_field: 'short_name', title: 'Short name' %>
      </th>
      <th class="c-lined-table__sort" <%= sort_display('long_name') %>>
        <%= sortable_column_head sort_field: 'long_name', title: 'Long name' %>
      </th>
      <th class="c-lined-table__sort" <%= sort_display('authentication') %>>
        <%= sortable_column_head sort_field: 'authentication', title: 'Auth method' %>
      </th>
      <th class="c-admin-table">
        Logo
      </th>
      <th class="c-admin-table">
        ROR IDs
      </th>
      <th class="c-admin-table">
        Notify
      </th>
      <th class="c-lined-table__sort" <%= sort_display('enabled') %>>
        <%= sortable_column_head sort_field: 'enabled', title: 'Active' %>
      </th>      
      <th class="c-lined-table__sort" <%= sort_display('partner_display') %>>
        <%= sortable_column_head sort_field: 'partner_display', title: 'Display' %>
      </th>
      <th class="c-lined-table__sort" <%= sort_display('covers_dpc') %>>
        <%= sortable_column_head sort_field: 'covers_dpc', title: 'DPC' %>
      </th>
    </tr>
  </thead>

  <tbody id="tenant_table_body">  
    <% tenants.each do |t| %>
      <tr class="c-lined-table__row" id="<%=t.id%>_row">
        <%= render partial: 'admin_tenant_row', locals: {t: t} %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

