<div class="table-wrapper c-lined-table-wrapper" role="region" tabindex="0" aria-labelledby="tenants-label">
<table class="c-lined-table">
  <thead>
    <tr>
      <th class="c-lined-table__sort" <%= sort_display('id') %>>
        <%= sortable_column_head sort_field: 'id', title: 'ID' %>
      </th>
      <th class="c-lined-table__sort" <%= sort_display('short_name') %>>
        <%= sortable_column_head sort_field: 'short_name', title: 'Short name' %>
      </th>
      <th class="c-lined-table__sort" <%= sort_display('long_name') %>>
        <%= sortable_column_head sort_field: 'long_name', title: 'Long name' %>
      </th>
      <th class="c-lined-table__sort" <%= sort_display('authentication') %>>
        <%= sortable_column_head sort_field: 'authentication', title: 'Auth method' %>
      </th>
      <th class="c-admin-table">
        Logo
      </th>
      <th class="c-admin-table">
        ROR IDs
      </th>
      <th class="c-admin-table">
        Notify
      </th>
      <th class="c-lined-table__sort" <%= sort_display('covers_dpc') %>>
        <%= sortable_column_head sort_field: 'covers_dpc', title: 'Pays DPC' %>
      </th>
      <th class="c-lined-table__sort" <%= sort_display('partner_display') %>>
        <%= sortable_column_head sort_field: 'partner_display', title: 'Display' %>
      </th>
      <th class="c-lined-table__sort" <%= sort_display('enabled') %>>
        <%= sortable_column_head sort_field: 'enabled', title: 'Connect' %>
      </th>
    </tr>
  </thead>

<tbody>  
  <% tenants.each do |t| %>
    <tr class="c-lined-table__row">
      <td><%= t.id %></td>
      <td>
        <div class="c-lined-table__with-actions">
          <div class="c-lined-table__data" id="short_name_<%= t.id %>"><%= t.short_name %></div>
          <% if policy([:stash_engine, :tenant]).popup? %>
          <div class="c-lined-table__actions">
            <%= form_with(url: tenant_popup_path(id: t.id, field: 'short_name'), method: :get, local: false) do %>
              <button class="c-admin-edit-icon" aria-label="Edit member name" aria-haspopup="dialog" id="short_name_button_<%= t.id %>">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            <% end %>
          </div>
          <% end %>
        </div>
      </td>
      <td>
        <div class="c-lined-table__with-actions">
          <div class="c-lined-table__data" id="long_name_<%= t.id %>"><%= t.long_name %></div>
          <% if policy([:stash_engine, :tenant]).popup? %>
          <div class="c-lined-table__actions">
            <%= form_with(url: tenant_popup_path(id: t.id, field: 'long_name'), method: :get, local: false) do %>
              <button class="c-admin-edit-icon" aria-label="Edit member long name" aria-haspopup="dialog" id="long_name_button_<%= t.id %>">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            <% end %>
          </div>
          <% end %>
        </div>
      </td>
      <td>
        <div class="c-lined-table__with-actions">
          <div class="c-lined-table__data" id="authentication_<%= t.id %>"><%= t.authentication&.strategy&.sub('_', ' ')&.capitalize&.sub('Ip', 'IP') %></div>
          <% if policy([:stash_engine, :tenant]).popup? %>
          <div class="c-lined-table__actions">
            <%= form_with(url: tenant_popup_path(id: t.id, field: 'authentication'), method: :get, local: false) do %>
              <button class="c-admin-edit-icon" aria-label="Edit member authentication" aria-haspopup="dialog" id="authentication_button_<%= t.id %>">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            <% end %>
          </div>
          <% end %>
        </div>
      </td>
      <td>
        <div class="c-lined-table__with-actions">
          <div class="c-lined-table__data" id="logo_<%= t.id %>">
            <%= "<img src='#{t.logo.data}' style='min-width: 40px;' alt='#{t.short_name} logo'/>".html_safe if t.logo&.data&.present? %>
          </div>
          <% if policy([:stash_engine, :tenant]).popup? %>
          <div class="c-lined-table__actions">
            <%= form_with(url: tenant_popup_path(id: t.id, field: 'logo'), method: :get, local: false) do %>
              <button class="c-admin-edit-icon" aria-label="Edit member logo" aria-haspopup="dialog" id="logo_button_<%= t.id %>">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            <% end %>
          </div>
          <% end %>
        </div>
      </td>
      <td>
        <div class="c-lined-table__with-actions">
          <div class="c-lined-table__data" id="ror_orgs_<%= t.id %>">
            <%= t.ror_ids.map {|r|
              org = t.ror_orgs.find{ |o| o.ror_id == r }
              "<a href='#{r}' target='_blank'>#{org ? org.name : r}</a>"}.join(', ').html_safe
            %>
          </div>
          <% if policy([:stash_engine, :tenant]).popup? %>
          <div class="c-lined-table__actions">
            <%= form_with(url: tenant_popup_path(id: t.id, field: 'ror_orgs'), method: :get, local: false) do %>
              <button class="c-admin-edit-icon" aria-label="Edit member ROR Orgs" aria-haspopup="dialog" id="ror_orgs_button_<%= t.id %>">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            <% end %>
          </div>
          <% end %>
        </div>
      </td>
      <td>
        <div class="c-lined-table__with-actions">
          <div class="c-lined-table__data" id="campus_contacts_<%= t.id %>">
            <%= t.campus_contacts.join(', ') %>
          </div>
          <% if policy([:stash_engine, :tenant]).popup? %>
          <div class="c-lined-table__actions">
            <%= form_with(url: tenant_popup_path(id: t.id, field: 'campus_contacts'), method: :get, local: false) do %>
              <button class="c-admin-edit-icon" aria-label="Edit member contacts" aria-haspopup="dialog" id="campus_contacts_button_<%= t.id %>">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            <% end %>
          </div>
          <% end %>
        </div>
      </td>
      <td>
        <div class="c-lined-table__with-actions">
          <div class="c-lined-table__data" id="covers_dpc_<%= t.id %>">
            <span style="color: <%= t.covers_dpc ? '#3c763d' : 'rgb(209, 44, 29)'%>">
              <%= t.covers_dpc ? "True" : "False" %>
            </span>
          </div>
          <% if policy([:stash_engine, :tenant]).popup? %>
          <div class="c-lined-table__actions">
            <%= form_with(url: tenant_popup_path(id: t.id, field: 'covers_dpc'), method: :get, local: false) do %>
              <button class="c-admin-edit-icon" aria-label="Edit member payment" aria-haspopup="dialog" id="covers_dpc_button_<%= t.id %>">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            <% end %>
          </div>
          <% end %>
        </div>
      </td>
      <td>
        <div class="c-lined-table__with-actions">
          <div class="c-lined-table__data" id="partner_display_<%= t.id %>">
            <span style="color: <%= t.partner_display ? '#3c763d' : 'rgb(209, 44, 29)'%>">
              <%= t.partner_display ? "Shown" : "Hidden" %>
            </span>
          </div>
          <% if policy([:stash_engine, :tenant]).popup? %>
          <div class="c-lined-table__actions">
            <%= form_with(url: tenant_popup_path(id: t.id, field: 'partner_display'), method: :get, local: false) do %>
              <button class="c-admin-edit-icon" aria-label="Edit member display" aria-haspopup="dialog" id="partner_display_button_<%= t.id %>">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            <% end %>
          </div>
          <% end %>
        </div>
      </td>
      <td>
        <div class="c-lined-table__with-actions">
          <div class="c-lined-table__data" id="enabled_<%= t.id %>">
            <span style="color: <%= t.enabled ? '#3c763d' : 'rgb(209, 44, 29)'%>">
              <%= t.enabled ? "Enabled" : "Disabled" %>
            </span>
          </div>
          <% if policy([:stash_engine, :tenant]).popup? %>
          <div class="c-lined-table__actions">
            <%= form_with(url: tenant_popup_path(id: t.id, field: 'enabled'), method: :get, local: false) do %>
              <button class="c-admin-edit-icon" aria-label="Edit whether member is enabled" aria-haspopup="dialog" id="enabled_button_<%= t.id %>">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            <% end %>
          </div>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
</div>

