<%
radios = [ ['shibboleth', 'Shibboleth (InCommon)'], ['email', 'Email confirmation'], ['ip_address', 'IP address match'], ['author_match', 'Author affiliation match'], ]
%>
<fieldset class="c-fieldset" id="strategy" style="margin-bottom: 1rem;">
  <legend>Authentication strategy:</legend>
  <% radios.each do |s| %>
      <label><%= radio_button_tag('authentication[strategy]', s.first, @tenant.authentication&.strategy == s.first, required: true) %> <%= s.last %></label></br>
  <% end %>
</fieldset>
<div id="shibboleth" <% unless @tenant.authentication&.strategy == 'shibboleth'%>hidden<%end%>>
  <div class="c-input">
    <%= form.label 'authentication[entity_id]', "The Shibboleth entity ID (usually found on InCommon)"%>
    <%= form.text_field('authentication[entity_id]', value: @tenant.authentication&.entity_id, class: 'c-input__text', style: 'width:100%') %>
  </div>
  <div class="c-input">
    <%= form.label 'authentication[entity_domain]', "The domain portion of the entity ID"%>
    <%= form.text_field('authentication[entity_domain]', value: @tenant.authentication&.entity_domain, class: 'c-input__text', style: 'width:100%') %>
  </div>
</div>
<div class="c-input" id="email" <% unless @tenant.authentication&.strategy == 'email'%>hidden<%end%>>
  <%= form.label 'authentication[email_domain]', 'The domain for institutional email addresses (like datadryad.org)' %>
  <%= form.text_field('authentication[email_domain]', value: @tenant.authentication&.email_domain, class: 'c-input__text', style: 'width:100%') %>
</div>
<div class="c-input" id="ip_address" <% unless @tenant.authentication&.strategy == 'ip_address'%>hidden<%end%>>
  <%= form.label 'authentication[ranges]', "Place each IP address range on a new line:"%>
  <%= form.text_area('authentication[ranges]', value: @tenant.authentication&.ranges&.join("\n"), class: 'c-input__textarea', style: 'width:100%; min-height:200px') %>
</div>
<script type="text/javascript">
  document.getElementById('strategy').addEventListener('change', e => {
    if (e.target.value === 'shibboleth') {
      document.getElementById('shibboleth').removeAttribute('hidden')
    } else {
      document.getElementById('shibboleth').setAttribute('hidden', true)
    }
    if (e.target.value === 'ip_address') {
      document.getElementById('ip_address').removeAttribute('hidden')
    } else {
      document.getElementById('ip_address').setAttribute('hidden', true)
    }
    if (e.target.value === 'email') {
      document.getElementById('email').removeAttribute('hidden')
    } else {
      document.getElementById('email').setAttribute('hidden', true)
    }
  })
</script>
