<div class="c-input">
  <%= form.label :long_name, "Full name"%>
  <%= form.text_field(:long_name, required: true, value: @tenant.long_name, class: 'c-input__text', style: 'width:100%') %>
</div>
<div class="c-input">
  <%= form.label :short_name, "Short name"%>
  <%= form.text_field(:short_name, required: true, value: @tenant.short_name, class: 'c-input__text', style: 'width:100%') %>
</div>
<p class="o-admin-form-inline">
  <%= render 'stash_engine/flags/admin_form', record: @tenant %>
</p>
<h2>Auth method</h2>
<div class="callout" style="padding: .75rem">
  <%= render partial: 'authentication', locals: {form: form} %>
</div>
<h2>Logo</h2>
<div class="callout alt" style="margin-top: 1em; padding: 0 .75rem 1px">
<%= render partial: 'logo', locals: {form: form} %>
</div>
<h2>ROR IDs</h2>
<p>Include the ROR IDs of all institutions which constitute the institution and which should be visible in the admin dashboard. For a consortium, this should include the main ROR IDs of other partners.</p>
<div class="c-input">
  <%= form.label :ror_orgs, "Place each ROR ID (as a URL) on a new line:"%>
  <%= form.text_area(:ror_orgs, value: @tenant.ror_ids&.join("\n"), class: 'c-input__textarea', style: 'width:100%; min-height:200px') %>
</div>
<h2>Notify</h2>
<p>These addresses will be BCCed on status change emails for related submissions</p>
<div class="c-input">
  <%= form.label :campus_contacts, "Place each email address on a new line:"%>
  <%= form.text_area(:campus_contacts, value: @tenant.campus_contacts&.join("\n"), class: 'c-input__textarea', style: 'width:100%') %>
</div>
<h2>Active</h2>
<p>This setting controls whether <%= @tenant.short_name.presence || 'the institution'%> is enabled and selectable from the admin dashboard.</p>
<p><%= form.check_box :enabled, {checked: @tenant.enabled}, 1, 0 %> <%= form.label :enabled, "Partner is active", class: 'c-input__label' %></p>
<h2>Display</h2>
<p>This setting controls whether <%= @tenant.short_name.presence || 'the institution'%>, if <b>active</b>, is displayed on the public partner list.</p>
<p><%= form.check_box :partner_display, {checked: @tenant.partner_display}, 1, 0 %> <%= form.label :partner_display, "Partner is displayed", class: 'c-input__label' %></p>

<%= fields_for :payment_configuration_attributes do |pf| %>
  <%= pf.hidden_field :id, value: @payment_configuration.id %>
  <h2>Membership</h2>
  <fieldset class="c-fieldset">
    <legend>Payment plan type:</legend>
    <% ([ ['', 'None'] ] + (StashEngine::Tenant::PAYMENT_PLANS.map {|p| [p, p.capitalize]})).each do |plan| %>
      <%= pf.radio_button :payment_plan, plan.first, checked: plan.first == @payment_configuration.payment_plan.to_s %>
      <label for="<%= "payment_configuration_attributes_payment_plan_#{plan.first.downcase}" %>"><%= plan[1] %></label>
      <br />
    <% end %>
  </fieldset>
  <h2>DPC</h2>
  <p>This setting controls whether <%= @tenant.short_name.presence || 'the institution'%> covers the cost of Dryad for its users. Partners must be <b>active</b>, <b>displayed</b>, and <b>cover the DPC</b> for users to be invited to connect to them.</p>
  <p>
    <%= pf.check_box :covers_dpc, {checked: @payment_configuration.covers_dpc}, 1, 0 %>
    <%= pf.label :covers_dpc, "Partner covers the DPC", class: 'c-input__label' %>
  </p>
  <p>This setting controls whether <%= @tenant.short_name.presence || 'the institution'%> covers Large Data Fees for its users.</p>
  <p>
    <%= pf.check_box :covers_ldf, {checked: @payment_configuration.covers_ldf}, 1, 0 %>
    <%= pf.label :covers_ldf, "Partner covers Large Data Fees", class: 'c-input__label' %>
  </p>
  <p>
    <%= pf.label :ldf_limit, "Covered Large Data Fee limit (GB)" %>
    <%= pf.select :ldf_limit, ldf_pricing_tiers_options, { selected: @payment_configuration.ldf_limit }, class: 'c-input__select', disabled: !@payment_configuration.covers_ldf %>
  </p>
  <p>
    <%= pf.label :yearly_ldf_limit, "Yearly Large Data Fee limit $" %>
    <%= pf.number_field :yearly_ldf_limit, value: @payment_configuration.yearly_ldf_limit, class: 'c-input__text', disabled: !@payment_configuration.covers_ldf %>
  </p>
<% end %>

<h2>Sponsor</h2>
<p>Are the institution's fees sponsored by another institution?</p>
<div class="c-input">
  <%
    options = StashEngine::Tenant.enabled.all.collect { |o| [ o.short_name, o.id ] } 
    options.unshift(['None', ''])
  %>
  <%= label_tag 'sponsor_id', 'Choose a sponsoring institution' %>
  <%= select_tag('sponsor_id', options_for_select(options, @tenant.sponsor_id), class: 'c-input__select') %>  
</div>
