<% @page_title = 'Choose a partner' %>
<%= javascript_pack_tag 'application' %>
<div class="t-login__section">
  <div class="t-login__choose">
    <h1><%= params.key?(:reverify) ? 'Reconnect' : 'Choose a partner' %></h1>
    <% if params.key?(:reverify) %>
      <h2 id="label_tenant_lookup">Verify your affiliation with <%= current_user.tenant.short_name %></h2>
      <p>Choose another partner institution if your affiliation has ended.</p>
    <% else %>
      <p><i class="fab fa-orcid" aria-hidden="true" style="font-size: 1.8rem"></i> <strong>ORCID login successful</strong></p>
      <h2 id="label_tenant_lookup">Is your institution a Dryad partner?</h2>
    <% end %>    
    <p style="margin-top: 0"><span id="label_tenant_id">Partner institutions</span> cover the fees for their researchers to use Dryad.<br/>
    <div class="c-institution__container">
      <%= form_with(url: sso_path(reverify: params.key?(:reverify)), method: :post) do %>
        <% if @target_page %><input type="hidden" name="target_page" value="<%= @target_page %>"><% end %>
        <div style="text-align: left;">
          <%= render partial: 'stash_engine/shared/search_select', locals: {
            id: 'tenant',
            label: 'Select your Dryad partner institution',
            field_name: 'tenant_id',
            options: tenant_select.to_json.html_safe,
            options_label: 'name',
            options_value: 'id',
            selected: params.key?(:reverify) && current_user.tenant_id.present? ? {label: current_user.tenant.short_name, value: current_user.tenant.id} : {},
            required: true,
          } %>
        </div>
        <button type="submit" class="t-login__buttonlink" style="padding: 5px 15px">Login to verify</button>
      <% end %>
    </div>
    
    <br/>

    <h2>If your institution is not a Dryad partner:</h2>
    <%= link_to stash_url_helpers.no_partner_path, class: 't-login__buttonlink', method: :post do %>
      Continue to email verification
    <% end %>
  </div>
  <%= render partial: 'login_info' %>
</div>
