<style>
  .hidden { display: none; }
</style>

<p>
  If you would like to keep your dataset private for peer review, for up to <%= APP_CONFIG.max_review_days %> days,
  please select a date below.
</p>
<p>
  A private reviewer URL will be available for sharing until your dataset is public. Your permanent DOI
  for citation use will be available upon submission on the data landing page. If you would like to
  preserve data privately for longer than six months for non-peer review purposes, please contact us at
  <a href="mailto:<%= [APP_CONFIG['contact_email']].flatten.first %>">
    <%= [APP_CONFIG['contact_email']].flatten.first %></a>.
</p>


<% starting_embargo = (@resource.embargo && @resource.embargo.end_date) || Time.new %>
<p class="c-pubdate__randomstrong">Make my dataset publicly available:</p>
<%= form_tag(stash_engine.embargoes_changed_path(resource_id: @resource.id),
             remote: true, authenticity_token: true, id: 'embargo_form') do %>
  <div class="o-select">
    <div class="c-input o-select__input">
      <span style="white-space:nowrap">
        <label class=c-pubdate__radio-label" for="today_button">
          <input type="radio" class="c-pubdate__radio" id="today_button" name="when-to-publish" value="today"
            <%= @resource.embargo && @resource.embargo.end_date ? '' : 'checked' %> />
          Today
        </label>
      </span>

      <span style="white-space:nowrap">
        <label class="c-pubdate__radio-label" for="future_button">
          <input type="radio" class="c-pubdate__radio" id="future_button" name="when-to-publish" value="in_future"
                 <%= @resource.embargo && @resource.embargo.end_date ? 'checked' : '' %> />
          On
          <input type="text" pattern="[0-9]{1,2}" maxlength="2" id="mmEmbargo" name="mmEmbargo"
                 value="<%= starting_embargo.month %>" class="c-pubdate__twodigit js-embargo-select"/>
          /
          <input type="text" pattern="[0-9]{1,2}" maxlength="2" id="ddEmbargo" name="ddEmbargo"
                 value="<%= starting_embargo.day %>" class="c-pubdate__twodigit js-embargo-select"/>
          /
          <input type="text" pattern="[0-9]{4}" maxlength="4" id="yyyyEmbargo" name="yyyyEmbargo"
                 value="<%= starting_embargo.year %>" class="c-pubdate__fourdigit js-embargo-select"/>
          <!-- this ugly hidden button is because the datepicker needs a text input -->
          <input type="text" id="date" class="hidden" />
          <button aria-label="open calendar" id="datepicker" class="o-button__calendar js-embargo-select"
              title="Press to open calendar"></button>
        </label>
      </span>


      <div class="c-pubdate__warning-visible" id="embargo_warnings"></div>
    </div>
  </div>
<% end %>
<script>
  $( document ).ready(function() {
    loadDatepicker(<%= APP_CONFIG.max_review_days %>);
  });
</script>

<% if current_user.id != @resource.user_id %>
  <script>
    disableDatepicker();
  </script>
<% end %>

