<h1>Save this search</h1>
<% if current_user.present? %>
  <% if current_user.public_searches.count == 50 %>
    <p>You have 50 saved searches. Please delete one of your <a href="/account#saved" style="font-weight: normal;">existing saved searches</a> to create more.</p>
  <% else %>
    <p>Save your search to easily repeat it. Once saved, you can subscribe to be notified of new dataset results for this search as they are published.</p>
    <p>Add a name and description to help you identify this search.</p>
    <%= form_with(model: StashEngine::PublicSearch, url: stash_url_helpers.saved_search_path, method: :post, local: false ) do %>
      <input type="hidden" name="type" value="StashEngine::PublicSearch">
      <input type="hidden" name="user_id" value="<%= current_user.id %>">
      <input type="hidden" name="properties" value="<%= @properties %>">
      <div class="c-input">
        <label for="title" class="required">Name</label>
        <%= text_field_tag(:title, '', class: 'c-input__text', maxlength: '50', required: true) %>
      </div>
      <div class="c-input">
        <label for="description">Description</label>
        <%= text_area_tag(:description, '', class: 'c-input__textarea', style: 'width: 100%') %>
      </div>
      <div class="c-modal__buttons-right">
        <%= submit_tag 'Submit', class: 'o-button__plain-text2', id: 'popup_submit' %>
        <%= button_tag 'Cancel', type: 'button', id: 'cancel_dialog', class: 'o-button__plain-text7' %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>You must <%= link_to 'log in or create a Dryad account', choose_login_path %> to save searches.</p>
<% end %>