<li id="saved_search<%= saved_search.id %>">
  <span class="default"><%if saved_search.default %><i class="fa fa-star" aria-hidden="true"></i><span class="screen-reader-only">Default</span><% end %></span>
  <% if saved_search.is_a?(StashEngine::AdminSearch) %>
    <%= link_to saved_search.title, admin_dashboard_path(search: index + 1, clear: true)%>
    <span><%= saved_search.description %></span>
    <a href="<%= admin_dashboard_path(share: saved_search.share_code, clear: true) %>" class="c-admin-edit-icon copy-share-code" title="Copy link to share search" aria-label="Copy link to share search"><i class="fas fa-share" aria-hidden="true"></i></a>
  <% else %>
  <%= link_to saved_search.title, new_search_path(**saved_search.properties)%>
    <span><%= saved_search.description %></span>
    <a href="<%= new_search_path(**saved_search.properties, id: saved_search.id,format: :xml) %>" class="c-admin-edit-icon copy-share-code" title="Copy link to web feed" aria-label="Copy link to web feed"><i class="fas fa-rss-square" aria-hidden="true"></i></a>
  <% end %>
  <%= form_with(url: saved_search_edit_path(saved_search.id), method: :get, local: false) do %>
    <button class="c-admin-edit-icon" title="Edit search description" aria-label="Edit search description: <%= saved_search.title %>" aria-haspopup="menu" aria-expanded="false"><i class="fa fa-pencil" aria-hidden="true"></i></button>
  <% end %>
  <%= form_with(url: saved_search_delete_path(saved_search.id), method: :delete, local: false) do %>
    <button class="c-admin-edit-icon" title="Delete saved search" aria-label="Delete saved search: <%= saved_search.title %>"><i class="fa fa-trash-can" aria-hidden="true"></i></button>
  <% end %>
</li>