<% if c.event != 'update' %>
Deleted <%= c.object_changes['contributor_type'][0] %> (<%= c.object_changes['contributor_name'][0].presence || "<em>empty</em>".html_safe %>)
<% else %>
  <span>Set <%= c.object['contributor_type'] %>:</span>
  <dl>
    <div><dt>Name:</dt><dd><%= c.object['contributor_name']%></dd></div>
    <% if c.object['name_identifier_id'].present? %>
      <div><dt>ROR ID:</dt><dd><a href="<%= c.object['name_identifier_id'] %>" target="_blank" rel="noreferrer"><%= c.object['name_identifier_id']%></a></dd></div>
    <% end %>
    <% if c.object['contributor_type'] == 'funder' %>
      <div><dt>Award ID:</dt><dd><%= c.object['award_number']%></dd></div>
      <div><dt>Award title:</dt><dd><%= c.object['award_title']%></dd></div>
      <div><dt>Award description:</dt><dd><%= c.object['award_description']%></dd></div>
    <% end %>
  </dl>
<% end %>