<% if c.object_changes.empty? %>
  <dl><div>
    <dt>Subject list:</dt>
    <dd><%= c.additional_info['subjects_list'].map { |s| s['subject'] }.join(', ') %></dd>
  </div></dl>
<% else %>
  <% c.object_changes.each do |k, v| %>
    <% if k == 'title' %>
      <dl><div><dt>Submission title:</dt><dd><%= v[1] %></dd></div></dl>
    <% end %>
    <% if k == 'hold_for_peer_review' %>
      <%= v[1] ? 'Set' : 'Removed' %> peer review hold
    <% end %>
    <% if k == 'accepted_agreement' %>
      <%= v[1] ? 'Accepted' : 'Removed acceptance of' %> Dryad terms and conditions
    <% end %>
    <% if k == 'publication_date' %>
      Set publication date to <%= formatted_date(v[1]) %>
    <% end %>
    <% if k == 'tenant_id' %>
      Submission institution ID is now <%= v[1] %>
    <% end %>
    <% if k == 'display_readme' %>
      README <%= v[1] ? 'will' : 'will not' %> be displayed
    <% end %>
  <% end %>
<% end %>
