<td>
  <div class="c-lined-table__with-actions">
    <div class="c-lined-table__data" id="name_<%= o.id %>"><%= o.name %></div>
    <% if policy([:stash_engine, :journal_organization]).edit? %>
    <div class="c-lined-table__actions">
      <%= form_with(url: publisher_edit_path(id: o.id), method: :get, local: false) do %>
        <button class="c-admin-edit-icon" aria-label="Edit publisher" aria-haspopup="dialog" id="name_button_<%= o.id %>">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
      <% end %>
    </div>
    <% end %>
  </div>
</td>
<td><%= o.contact&.join(', ') %></td>
<td><%= o.children.map(&:name).join(', ') %></td>
<td><%= o.journals_sponsored_deep.map(&:title).join(', ') %></td>
<td><%= o.parent_org&.name %></td>