<td>
  <div class="c-lined-table__with-actions">
    <div class="c-lined-table__data" id="name_<%= o.id %>"><%= o.name %></div>
    <% if policy([:stash_engine, :journal_organization]).edit? %>
    <div class="c-lined-table__actions">
      <%= form_with(url: publisher_edit_path(id: o.id), method: :get, local: false) do %>
        <button class="c-admin-edit-icon" aria-label="Edit publisher" aria-haspopup="dialog" id="edit_button_<%= o.id %>">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <%= payer_payment_details_debugger(o) %>
      <% end %>
    </div>
    <% end %>
  </div>
</td>
<td><%= o.children.map(&:name).join(', ') %></td>
<td><%= o.journals_sponsored_deep.map(&:title).join(', ') %></td>
<td>
  <% if o.top_level_org.payment_configuration&.payment_plan&.present? %>
    <b>Plan:</b> <%= o.top_level_org.payment_configuration&.payment_plan&.humanize %><br/>
    <b>Covers LDF:</b> <%= o.payment_configuration&.covers_ldf ? "Yes" : "No" %>
    <% if o.payment_configuration&.covers_ldf %>
      <% if o.payment_configuration.ldf_limit.present? %>
        (Up to <%= filesize(ESTIMATED_FILES_SIZE.find{|tier| tier[:tier] == o.payment_configuration.ldf_limit }[:range].max) %>)
      <% end %>
      <% if o.payment_configuration.yearly_ldf_limit.present? %>
        <br/><b>Remaining LDF budget:</b> <%= o.payment_configuration.yearly_ldf_limit - SponsoredPaymentLog.for_current_year.where(payer: o.payers_sponsored).sum(:ldf) %>
      <% end %>
    <% end %>
  <% end %>
</td>
<td><%= o.parent_org&.name %></td>