<div class="c-input">
  <%= form.label :name, "Name of publisher or society" %>
  <%= form.text_field(:name, required: true, value: @org.name, class: 'c-input__text', style: 'width:100%') %>
</div>
<h2>Contacts</h2>
<div class="c-input">
  <%= form.label :contact, "Place each email address on a new line:" %>
  <%= form.text_area(:contact, value: @org.contact&.join("\n"), class: 'c-input__textarea', style: 'width:100%') %>
</div>
<h2>Parent org</h2>
<div class="c-input">
  <%
    options = @publishers.collect { |o| [o.name, o.id] }
    options.unshift(['None', ''])
  %>
  <%= label_tag 'parent_org_id', 'Choose a sponsoring organization' %>
  <%= select_tag('parent_org_id', options_for_select(options, @org.parent_org_id), class: 'c-input__select') %>
</div>

<h2>Partnership</h2>
<%
  plan_options = [['', 'None']] + StashEngine::Journal::PAYMENT_PLANS.map { |p| [p, p.capitalize] }
  sponsor_id = @org.parent_org_id
  has_children = @org.id && StashEngine::JournalOrganization.where(parent_org_id: @org.id).any?
%>

<% if sponsor_id || has_children %>
<div role="status" class="callout warn">
  <% if sponsor_id %><p>The payment plan must be selected for the top level organization.</p><% end %>
  <% if has_children %><p>Payment limits must be set on each lowest level organization.</p><% end %>
</div>
<% end %>

<%= render '/stash_engine/payment_configuration/form', format: :html,
  sponsor_id: sponsor_id,
  payment_configuration: @payment_configuration,
  plan_options: plan_options,
  has_children: has_children
%>
