<% @page_title = "Manage publishers &amp; societies" %>

<%= render partial: 'stash_engine/shared/account_header', locals: {current: 'publishers'} %>

<h2 id="orgs-label">Manage publishers &amp; societies</h2>

<div class="o-admin-form-inline">
<%= form_with(url: stash_url_helpers.publisher_admin_path, method: 'get', id: 'admin_search') do %>
  <div class="o-admin-form-inline">
    <div class="o-admin-form-pair">
      <label for="search-terms">Organization search:</label>
      <%= search_field_tag(:q, params[:q], class: 'c-input__text', id: 'search-terms' ) %>
    </div>
    <div class="o-admin-form-pair">
      <label for="sponsor">Parent org:</label>
      <%= select_tag :sponsor, options_from_collection_for_select(@sponsors, "id", "name", params[:sponsor]), class: 'c-input__select' %>
    </div>
    <%= submit_tag('Search', name: nil, class: 'o-button__plain-text2' ) %>
  </div>
<% end %>
<% if policy([:stash_engine, :journal_organization]).new? %>
  <%= form_with(url: publisher_new_path, method: :get, local: false, html: {style: "margin-left: auto"}) do %>
    <button class="o-button__plain-text7"><i class="fa fa-plus" aria-hidden="true"></i> Add new</button>
  <% end %>
<% end %>
</div>

<%= render partial: 'admin_org_table', locals: { orgs: @orgs } %>

<div class="search-results-footer">
  <div class="c-space-paginator">
    <%= paginate @orgs, params: { page_size: @page_size } %>
    <div class="c-paginator-page_size">
      Page size:
      <%
        current_ps = params[:page_size].to_i
        current_ps = 10 if current_ps == 0
        [10, 50, 100].each do |ps| %>
        <% if ps == current_ps %>
          <span class="page-current"><%= ps %></span>
        <% else %>
          <%= link_to(ps, stash_url_helpers.publisher_admin_path(request.parameters.except(:action, :controller).merge(page_size: ps, page: 1))) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
