<% # pass in local of curation_activity %>
<tr class="c-lined-table__row">
  <td><%= formatted_datetime(curation_activity.created_at) %></td>
  <td><%= curation_activity.status %> (<%= curation_activity.id %>)</td>
  <td><%= curation_activity.user&.name %></td>
  <td><%= curation_activity.note %></td>
  <td><%= curation_activity.keywords %></td>
</tr>