<%# takes a local of all_stats and seven_day_stats %>
<div class="o-admin-container">
  <div class="o-admin-left-head">
    <div class="o-heading__level3">At a glance</div>
    <%= number_with_delimiter(all_stats.user_count) %> Users<br/>
    <%= number_with_delimiter(all_stats.dataset_count) %> Datasets<br/>
  </div>
  <div class="o-admin-right-head">
    <div class="o-heading__level3">Activity in the last 7 days</div>
    <%= number_with_delimiter(seven_day_stats.user_count) %> users added<br/>
    <%= number_with_delimiter(seven_day_stats.datasets_started_count) %> datasets started<br/>
    <%= number_with_delimiter(seven_day_stats.datasets_submitted_count) %> datasets submitted
  </div>
</div>