<% # local: curation_activity %>
<div class="o-admin-dialog">
  <%= form_for :curation_activity,
        url: curation_embargo_change_path(@resource.identifier_id),
        method: :post,
        remote: true do |f| %>

    <div class="c-input">
      <%= date_field_tag :publication_date, formatted_html5_date(@resource.publication_date) %>
    </div>
    <div class="c-input">
      <label class="c-input__label">Notes</label>
      <%= f.text_area :note, class: 'c-input__textarea' %>
    </div>
    <%= f.hidden_field :resource_id %>
    <%= f.hidden_field :status %>
    <%= submit_tag 'Submit' %>
    <%= button_tag 'Cancel', type: 'button', id: 'cancel_dialog' %>
  <% end %>
</div>

<script type="text/javascript">
  initDatePicker();
</script>