<% # local: identifier %>
<div class="o-admin-dialog">

  <%= form_tag(curation_status_change_path(identifier.id), method: :post, remote: true) do -%>
    <div class="c-input">
      <%= select_tag(:status, options_for_select( status_select, identifier&.identifier_state&.current_curation_status) ) %>
    </div>
    <div class="c-input">
      <label class="c-input__label">Notes</label>
      <%= text_area_tag(:note, nil, class: 'c-input__textarea') %>
    </div>
    <%= submit_tag 'Submit' %>
    <%= button_tag 'Cancel', type: 'button', id: 'cancel_dialog' %>

  <% end %>
</div>