<% # local: identifier %>
<div class="o-admin-dialog">
  <%= form_for :curation_activity,
        url: curation_status_change_path(@curation_activity.resource.identifier_id),
        method: :post,
        remote: true do |f| %>
    <%= hidden_field_tag :log_page, 'true' %>
    <div class="c-input">
      <label class="c-input__label">Notes</label>
      <%= f.text_area(:note, class: 'c-input__textarea') %>
    </div>
    <%= f.hidden_field :resource_id %>
    <%= f.hidden_field :status %>
    <%= submit_tag 'Submit' %>
    <%= button_tag 'Cancel', type: 'button', id: 'cancel_dialog' %>
  <% end %>
</div>