<%# locals: ds_identifiers %>
<table class="c-lined-table">
  <tr class="c-lined-table__head">
    <th class="c-admin-table <%= sort_display('title', @sort_column) %>" colspan="2">
      <%= sort_by 'title', title: 'Title', current_column: @sort_column %>
    </th>
    <th class="c-admin-table <%= sort_display('status', @sort_column) %>" colspan="2">
      <%= sort_by 'status', title: 'Status', current_column: @sort_column %>
    </th>
    <th class="c-admin-table <%= sort_display('author', @sort_column) %>">
      <%= sort_by 'author', title: 'Author', current_column: @sort_column %>
    </th>
    <th class="c-admin-table <%= sort_display('doi', @sort_column) %>">
      <%= sort_by 'doi', title: 'DOI', current_column: @sort_column %>
    </th>
    <th class="c-admin-table <%= sort_display('last_modified', @sort_column) %>" colspan="2">
      <%= sort_by 'last_modified', title: 'Last Modified', current_column: @sort_column %>
    </th>
    <th class="c-admin-table <%= sort_display('modified_by', @sort_column) %>">
      <%= sort_by 'modified_by', title: 'Last modified by', current_column: @sort_column %>
    </th>
    <th class="c-admin-table <%= sort_display('size', @sort_column) %>">
      <%= sort_by 'size', title: 'Size', current_column: @sort_column %>
    </th>
    <th class="c-admin-table <%= sort_display('publication_date', @sort_column) %>" colspan="2">
      <%= sort_by 'publication_date', title: 'Publication Date', current_column: @sort_column %>
    </th>
  </tr>

  <% ds_identifiers.each do |i| %>
    <% latest_resource = i&.latest_resource %>
    <tr class="c-lined-table__row">
      <td class="c-admin-hide-border-right">
        <%= link_to latest_resource&.title, landing_show_path(id: i.to_s), target: :blank %>
      </td>
      <td class="c-admin-hide-border-left">
        <% if latest_resource&.submitted? || latest_resource&.dataset_in_progress_editor&.id == current_user.id %>
          <%= form_tag(metadata_entry_pages_new_version_path, method: :post) do -%>
            <button class="c-admin-edit-icon" title="Edit Dataset"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <%= hidden_field_tag :resource_id, latest_resource.id %>
          <% end %>
        <% end %>
      </td>
      <td class="c-admin-hide-border-right">
        <%= i&.identifier_state&.current_curation_status %>
      </td>
      <td class="c-admin-hide-border-left">
        <button class="c-admin-edit-icon" aria-label="Edit user role" alt="Edit user role">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
      </td>
      <td><%= i&.latest_resource&.user&.name %></td>
      <td><%= i.identifier %></td>
      <td class="c-admin-hide-border-right">
        <%= formatted_datetime(i&.identifier_state&.curation_activity&.updated_at) %>
      </td>
      <td class="c-admin-hide-border-left">
        <button class="c-admin-edit-icon" aria-label="Edit user role" alt="Edit user role">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
      </td>
      <td><%= i&.identifier_state&.curation_activity&.user&.name %></td>
      <td><%= filesize(i.storage_size) %></td>
      <td class="c-admin-hide-border-right">
        My last modified
      </td>
      <td class="c-admin-hide-border-left">
        <button class="c-admin-edit-icon" aria-label="Edit user role" alt="Edit user role">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  <% end %>
</table>