<%# locals: ds_identifiers %>
<table class="c-lined-table">
  <tr class="c-lined-table__head">
    <th class="c-admin-table <%= sort_display('title', @sort_column) %>" colspan="2">
      <%= sort_by 'title', title: 'Title', current_column: @sort_column %>
    </th>
    <th class="c-admin-table <%= sort_display('status', @sort_column) %>" colspan="2">
      <%= sort_by 'status', title: 'Status', current_column: @sort_column %>
    </th>
    <th class="c-admin-table <%= sort_display('author', @sort_column) %>">
      <%= sort_by 'author', title: 'Author', current_column: @sort_column %>
    </th>
    <th class="c-admin-table <%= sort_display('doi', @sort_column) %>">
      <%= sort_by 'doi', title: 'DOI', current_column: @sort_column %>
    </th>
    <th class="c-admin-table <%= sort_display('last_modified', @sort_column) %>" colspan="2">
      <%= sort_by 'last_modified', title: 'Last Modified', current_column: @sort_column %>
    </th>
    <th class="c-admin-table <%= sort_display('modified_by', @sort_column) %>">
      <%= sort_by 'modified_by', title: 'Last modified by', current_column: @sort_column %>
    </th>
    <th class="c-admin-table <%= sort_display('size', @sort_column) %>">
      <%= sort_by 'size', title: 'Size', current_column: @sort_column %>
    </th>
    <th class="c-admin-table <%= sort_display('publication_date', @sort_column) %>" colspan="2">
      <%= sort_by 'publication_date', title: 'Publication Date', current_column: @sort_column %>
    </th>
  </tr>

  <% resources.each do |resource| %>
    <% identifier = resource.identifier %>
    <% latest_curation_activity = resource.current_curation_activity %>

    <tr class="c-lined-table__row">
      <td class="c-admin-hide-border-right">
        <%= link_to resource.title, show_path(id: identifier.to_s, latest: true), target: :blank %>
      </td>
      <td class="c-admin-hide-border-left">
        <% if resource&.submitted? || resource&.dataset_in_progress_editor&.id == current_user.id %>
          <%= form_tag(metadata_entry_pages_new_version_path, method: :post) do -%>
            <button class="c-admin-edit-icon" title="Edit Dataset"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <%= hidden_field_tag :resource_id, resource.id %>
          <% end %>
        <% end %>
      </td>
      <td class="c-admin-hide-border-right" id="js-curation-state-<%= identifier.id %>">
        <%= latest_curation_activity.readable_status %>
      </td>
      <td class="c-admin-hide-border-left">
        <% if current_user.role == 'superuser' && resource.curatable? %>
          <%= form_tag({ controller: '/stash_engine/admin_datasets', action: 'status_popup', id: resource.id }, method: :get, remote: true) do -%>
            <button class="c-admin-edit-icon" aria-label="Update status" alt="Update status">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          <% end %>
        <% end %>
      </td>
      <td><%= resource&.user&.name %></td>
      <td><%= identifier.identifier %></td>
      <td class="c-admin-hide-border-right">
        <%= formatted_datetime(latest_curation_activity.updated_at) %>
      </td>
      <td class="c-admin-hide-border-left">
        <%= form_tag({ controller: '/stash_engine/admin_datasets', action: 'activity_log', id: identifier.id }, method: :get) do -%>
          <button class="c-admin-edit-icon" aria-label="View Activity Log" alt="View Activity Log">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </button>
        <% end %>
      </td>
      <td><%= latest_curation_activity.user&.name %></td>
      <td><%= filesize(identifier.storage_size) %></td>
      <td class="c-admin-hide-border-right" id="js-embargo-state-<%= identifier.id %>">
        <%= formatted_date(resource&.publication_date) %>
      </td>
      <td class="c-admin-hide-border-left">
        <% if current_user.role == 'superuser' && resource.curatable? %>
          <%= form_tag({ controller: '/stash_engine/admin_datasets', action: 'embargo_popup', id: resource.id }, method: :get, remote: true) do -%>
            <button class="c-admin-edit-icon" aria-label="Update publication date" alt="Update publication date">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>