<%# locals: ds_identifiers %>
<table class="c-lined-table">
  <tr class="c-lined-table__head">
    <th class="c-admin-table <%= sort_display('title', @sort_column) %>" colspan="2">
      <%= sort_by 'title', title: 'Title', current_column: @sort_column %>
    </th>
    <th class="c-admin-table" colspan="2">
      Status
    </th>
    <th class="c-admin-table">
      Author
    </th>
    <th class="c-admin-table">
      DOI
    </th>
    <th class="c-admin-table" colspan="2">
      Last modified
    </th>
    <th class="c-admin-table">
      Last modified by
    </th>
    <th class="c-admin-table">
      Size
    </th>
    <th class="c-admin-table" colspan="2">
      Publication date
    </th>
  </tr>

  <% ds_identifiers.each do |i| %>
    <tr class="c-lined-table__row">
      <td class="c-admin-hide-border-right">
        <%= i&.latest_resource&.title %>
      </td>
      <td class="c-admin-hide-border-left">
        <button class="c-admin-edit-icon" aria-label="Edit user role" alt="Edit user role">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
      </td>
      <td class="c-admin-hide-border-right">
        <%= i&.identifier_state&.current_curation_status %>
      </td>
      <td class="c-admin-hide-border-left">
        <button class="c-admin-edit-icon" aria-label="Edit user role" alt="Edit user role">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
      </td>
      <td><%= i&.latest_resource&.user&.name %></td>
      <td><%= i.identifier %></td>
      <td class="c-admin-hide-border-right">
        <%= formatted_datetime(i&.identifier_state&.curation_activity&.updated_at) %>
      </td>
      <td class="c-admin-hide-border-left">
        <button class="c-admin-edit-icon" aria-label="Edit user role" alt="Edit user role">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
      </td>
      <td><%= i&.identifier_state&.curation_activity&.user&.name %></td>
      <td><%= filesize(i.storage_size) %></td>
      <td class="c-admin-hide-border-right">
        My last modified
      </td>
      <td class="c-admin-hide-border-left">
        <button class="c-admin-edit-icon" aria-label="Edit user role" alt="Edit user role">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  <% end %>
</table>