<% # local: identifier %>
<div class="o-admin-dialog">
  <% if params[:sub_method] != 'put'
    my_path = identifier_internal_data_path(@identifier)
  else
    my_path = internal_datum_path(@internal_datum)
  end %>
  <%= form_for(@internal_datum, url: my_path, method: params[:sub_method], remote: true ) do |f| -%>
    <div class="c-input">
      <%= f.select(:data_type, options_for_select( @options, @internal_datum.data_type), {}, { disabled: ( params[:sub_method] == 'put' ) } ) %>
    </div>
    <div class="c-input">
      <label class="c-input__label">Value</label>
      <%= f.text_area(:value, class: 'c-input__textarea') %>
    </div>
    <%= f.submit 'Submit' %>
    <%= f.button 'Cancel', type: 'button', id: 'cancel_dialog' %>

  <% end %>
</div>