<% @page_title = "Activity Log for #{@identifier.to_s}" %>
<h1 class="o-heading__level1">Activity Log for <%= @identifier&.latest_resource&.title %></h1>

<div>
  <div style="float: left;"><%= @identifier.to_s %></div>
  <div style="float: right;">
    <%= form_tag({ controller: '/stash_engine/admin_datasets', action: 'note_popup', id: @identifier.id }, method: :get, remote: true) do -%>
      <button class="o-button__submit">Add Note</button>
    <% end %>
  </div>
  <div style="clear: both";>&nbsp;</div>

  <table class="c-lined-table" id="curation_table">
    <tr class="c-lined-table__head">
      <th class="c-admin-table <%= sort_display('created_at', @sort_column) %>">
        <%= sort_by 'created_at', title: 'Timestamp', current_column: @sort_column %>
      </th>
      <th class="c-admin-table">
        Status
      </th>
      <th class="c-admin-table">
        Action taken by
      </th>
      <th class="c-admin-table">
        Notes
      </th>
      <th class="c-admin-table">
        Keywords
      </th>
    </tr>
    <% @curation_activities.each do |ca| %>
      <%= render partial: 'activity_log_row', locals: { curation_activity: ca} %>
    <% end %>
  </table>
</div>

<div id="popup_dialog" style="display:none;">
</div>