<title>Dryad | <%= @page_title %></title>

<%= favicon_link_tag 'favicon.ico' %>
<%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'img/png', sizes:'180x180' %>
<%= favicon_link_tag 'favicon-32x32.png', rel: 'icon', type: 'img/png', sizes:'32x32' %>
<%= favicon_link_tag 'favicon-16x16.png', rel: 'icon', type: 'img/png', sizes:'16x16' %>
<%= favicon_link_tag 'safari-pinned-tab.svg', rel: 'mask-icon', type: 'img/svg', color:'#40853e' %>
<meta name="msapplication-TileColor" content="#40853e">
<meta name="theme-color" content="#ffffff">

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

<%= render 'layouts/stash_engine/google_analytics' %>
<%= render 'layouts/stash_engine/matomo_analytics' %>

<%= csrf_meta_tags %>
