<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'shared/standard_head' %>
  <%= render 'shared/stash_head' %>
  <%= content_for :head %>
  <script type="text/javascript" src="<%= asset_path 'dataload.js'%>" defer></script>
</head>
<body class='<%= "#{controller_name}_#{action_name}" %>'>
  <%= render partial: "shared/sandbox_message" %>
  <%= render 'shared/top_area' %>
  <%= render partial: "stash_engine/shared/flash_messages" %>
  <% if current_page?(api_path) %>
    <div id="maincontent">
    <%= yield %>
    </div>
  <% else %>
    <main id="maincontent">
    <%= yield %>
    </main>
  <% end %>
  <%= render partial: "shared/footer" %>
  <script type="text/javascript" src="<%= asset_path 'interactions.js'%>"></script>
  <%= render partial: "stash_engine/shared/dialog_confirm" %>
  <%= render partial: "stash_engine/shared/dialog_modal" %>
  <%= content_for :doc_end %>
</body>
</html>
