<!DOCTYPE html>
<html>
<head>
  <title>StashEngine</title>
  <%= stylesheet_link_tag    "stash_engine/application", media: "all" %>
  <%= javascript_include_tag "stash_engine/application", 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "stash_datacite/application", media: "all" %>
  <%= javascript_include_tag "stash_datacite/application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="head_box">
  <div class="logo">image for <%= current_tenant.short_name %></div>
  <div class="dash_logo">Dash</div>
  <div class="search_and_login">Search</div>
  <div class="menu_bar">
    <%= link_to 'Home', root_path %>
    |
    <%= link_to 'Browse Data', search_path %>
    |
    <%= link_to 'About Dash', about_path %>
    |
    <% if current_user %>
      <%= link_to 'My Datasets', dashboard_path %>
    <% else %>
      <%= link_to "My Datasets", dashboard_path, html: { style: "color: gray"} %>
    <% end %>
  </div>
  <div class="log_in_out">
    <%= log_in_out %>
  </div>
  <div style="clear:both"></div>
</div>

<%= render partial: "stash_engine/shared/flash_messages", flash: flash %>

<%= yield %>

</body>
</html>
