<!DOCTYPE html>
<html>
<head>
  <title>StashEngine</title>
  <%= stylesheet_link_tag    "stash_engine/application", media: "all" %>
  <%= javascript_include_tag "stash_engine/application", 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "stash_datacite/application", media: "all" %>
  <%= javascript_include_tag "stash_datacite/application", 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://leaflet.github.io/Leaflet.draw/leaflet.draw.css"/>
  <script src="https://leaflet.github.io/Leaflet.draw/leaflet.draw.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.4.0/leaflet-geocoder-mapzen.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.4.0/leaflet-geocoder-mapzen.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="head_box">
  <header>
    <div class="logo">image for <%= current_tenant.short_name %></div>
    <div class="dash_logo">Dash</div>
    <div class="search_and_login">Search</div>
  </header>
  <nav class="menu_bar">
    <%= link_to 'Home', stash_url_helpers.root_path %>
    |
    <%= link_to 'Browse Data', stash_url_helpers.search_path %>
    |
    <%= link_to 'About Dash', stash_url_helpers.about_path %>
    |
    <% if current_user %>
      <%= link_to 'My Datasets', stash_url_helpers.dashboard_path %>
    <% else %>
      <%= link_to "My Datasets", stash_url_helpers.dashboard_path, html: { style: "color: gray"} %>
    <% end %>
  </nav>
  <div class="log_in_out">
    <%= log_in_out %>
  </div>
  <div style="clear:both"></div>
</div>

<%= render partial: "stash_engine/shared/flash_messages", flash: flash %>

<%= yield %>

<%= render partial: "stash_engine/shared/footer" %>
</body>
</html>
