<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'layouts/stash_engine/standard_head' %>
  <%= render 'layouts/stash_engine/stash_head' %>
  <%= content_for :head %>
</head>
<body class='<%= "#{controller_name}_#{action_name}" %>'>
  <%= render 'layouts/stash_engine/top_area' %>
  <%= render partial: "stash_engine/shared/flash_messages" %>
  <main id="maincontent">
  <%= yield %>
  </main>
  <%= render partial: "stash_engine/shared/footer" %>

  <%= render partial: "stash_engine/shared/dialog_confirm" %>

  <%= render partial: "stash_engine/shared/dialog_modal" %>
  <%= content_for :doc_end %>
</body>
</html>
