<!DOCTYPE html>
<html>
<head>
  <title>StashEngine</title>

  <% # this is hacky, but dependency problems with geoblacklight/discovery loading jquery twice otherwise and no way to stop
  if request.path.start_with?(APP_CONFIG.stash_mount) %>
    <%= render 'layouts/stash_engine/head' %>
  <% else %>
    <%= render 'layouts/head' %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="head_box">
  <header>
    <div class="logo">image for <%= current_tenant.short_name %></div>
    <div class="dash_logo">Dash</div>
    <div class="search_and_login"><%= link_to 'Search', main_app.search_path %></div>
  </header>
  <nav class="menu_bar">
    <%= link_to 'Home', stash_url_helpers.root_path %>
    |
    <%= link_to 'Browse Data', stash_url_helpers.search_path %>
    |
    <%= link_to 'Help', stash_url_helpers.help_path %>
    |
    <% if current_user %>
      <%= link_to 'My Datasets', stash_url_helpers.dashboard_path %>
    <% else %>
      <%= link_to "My Datasets", stash_url_helpers.dashboard_path, html: { style: "color: gray"} %>
    <% end %>
  </nav>
  <div class="log_in_out">
    <%= log_in_out %>
  </div>
  <div style="clear:both"></div>
</div>
<%= yield %>

<%= render partial: "stash_engine/shared/footer" %>
</body>
</html>
