<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'stash_engine/shared/standard_head' %>
  <%= render 'stash_engine/shared/stash_head' %>
  <%= content_for :head %>
  <script type="text/javascript" src="/javascript/dataload.js?20250326" defer></script>
</head>
<body class='<%= "#{controller_name}_#{action_name}" %>'>
  <%= render partial: "stash_engine/shared/sandbox_message" %>
  <%= render 'stash_engine/shared/top_area' %>
  <%= render partial: "stash_engine/shared/flash_messages" %>
  <main id="maincontent">
  <%= yield %>
  </main>
  <%= render partial: "stash_engine/shared/footer" %>
  <script type="text/javascript" src="/javascript/interactions.js?20250326"></script>
  <%= render partial: "stash_engine/shared/dialog_confirm" %>
  <%= render partial: "stash_engine/shared/dialog_modal" %>
  <%= content_for :doc_end %>
</body>
</html>
