<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

<% lp = show_path(@invite.identifier.to_s) %>
<%
  # UGGH. Adding a parameter causes Rails to barf when inside the emailer, but only when calling from some places and impossible to trace.
  # so hacking together my own query string and tacking it on to a manually generated URL because link_to or something else barfs.
  qs = {invitation: @invite.secret}.to_param
%>

<p>Dear <%= "#{@invite.first_name} #{@invite.last_name}".strip %>:</p>

<p>The dataset &ldquo;<%= @invite.resource.title %>&rdquo;
  (<%= link_to(@invite.landing(lp), @invite.landing(lp))%>)
  has been submitted to Dash and you are one of the authors for this dataset.
</p>

<p>We encourage you to register your ORCID researcher information
for this dataset by following the URL below:</p>

<p><a href="<%= "#{@invite.landing(lp)}?#{qs}" %>"><%= "#{@invite.landing(lp)}&#{qs}" %></a></p>

<p>Please do not reply to this email. If you have any questions you may contact us at <a href="mailto:uc3@ucop.edu">uc3@ucop.edu</a></p>

</body>
</html>
