<p>Dear <%= @user_name %>,</p>

<p>Your dataset "<%= @resource.title %>" (<%= @resource.identifier_str %>) has been approved by our curation team. Your dataset is now published and public.</p>

<p>We recommend that you cite it using this DOI: <%= @resource.identifier_str %></p>

<p>If at any time you would like to version or update your dataset you may do so by clicking "Update" on your "My Datasets" page.</p>

<p>Thanks again for making your research openly available.</p>

<p>We welcome your feedback! Contact us at <a href="mailto:<%= @helpdesk_email %>"><%= @helpdesk_email %></a>.</p>
