<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

<p>Dear <%= @to_name %>:</p>

<p>Your dataset &ldquo;<%= @title %>&rdquo;
  (<%= link_to(@identifier_uri, @identifier_uri)%>)
  has been successfully submitted. There may be a brief delay for processing
  and review before further actions are taken.
</p>

<p>
  To see the status of your dataset, visit your
  <%= link_to 'My Datasets', url_for(protocol: 'https', controller: 'stash_engine/dashboard', action: 'show') %>
  page. If you have questions or concerns, please visit the
  <%= link_to 'help page', url_for(protocol: 'https', controller: 'stash_engine/pages', action: 'help') %>.
</p>

<p>Please do not reply to this email.</p>

</body>
</html>
