<p>Dear <%= @resource.user.email %>:</p>

<p>
  An error occurred while submitting your dataset "<%= @resource.title %>""
  (<%= link_to(@resource.identifier_uri, @resource.identifier_uri)%>)
  to Dash.
</p>

<p>
  The Dash support team has been notified and will fix the problem as soon as possible.
  You do not need to do anything.
</p>

<p>
  To see the status of your dataset, visit your
  <%= link_to 'My Datasets', url_for(host: @host, controller: 'stash_engine/dashboard', action: 'show') %>
  page. If you have questions or concerns, please visit the
  <%= link_to 'help page', url_for(host: @host, controller: 'stash_engine/pages', action: 'help') %>.
</p>

<p>Please do not reply to this email.</p>

