<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

<p>Dear <%= @to_name %>:</p>

<p>Your dataset &ldquo;<%= @title %>&rdquo;
  (<%= link_to(@identifier_uri, @identifier_uri)%>)
  has been successfully submitted. There may be a brief delay for processing
  before the dataset is available.
</p>

<% if @embargo_date.present? %>
  The dataset will be private for peer review until <%= @embargo_date.strftime("%B %e, %Y") %>.
<% end %>

<p>
  To see the status of your dataset, visit your
  <%= link_to 'My Datasets', url_for(host: @host, protocol: 'https', controller: 'stash_engine/dashboard', action: 'show') %>
  page. If you have questions or concerns, please visit the
  <%= link_to 'help page', url_for(host: @host, protocol: 'https', controller: 'stash_engine/pages', action: 'help') %>.
</p>

<p>Please do not reply to this email.</p>

</body>
</html>
