<% @page_title = "Journals" %>
<h1 class="o-heading__level1">Journals</h1>

<p>Dryad works with journals to integrate article submission with data submission, and
encourages publishers to sponsor their authors' Data Publishing Charges (DPCs). All journals
    with integrated data submission and/or sponsored DPCs are listed below.</p>

<p>If your journal is not sponsored or does not appear on this list, and your institution is not a
Dryad member, you will be responsible for paying the DPC as well as any overage fees for large files.</p>

<table class="c-lined-table">
  <tr class="c-lined-table__head">
      <th class="c-admin-table <%= sort_display('title') %>">
	  <%= sortable_column_head sort_field: 'title', title: 'Title' %>
      </th>
      <th class="c-admin-table <%= sort_display('issn') %>">
	  <%= sortable_column_head sort_field: 'issn', title: 'ISSN' %>
      </th>
      <th class="c-admin-table <%= sort_display('allow_blackout') %>">
	  <%= sortable_column_head sort_field: 'allow_blackout', title: 'Automatic embargo?' %>
      </th>
      <th class="c-admin-table">Covers DPC?</th>
      <th class="c-admin-table <%= sort_display('name') %>">
	  <%= sortable_column_head sort_field: 'name', title: 'Sponsored by' %>
      </th>
  </tr>
  <% @journals.each do |journal| %>
  <tr class="c-lined-table__row" id="js-dataset-row-id-<%= journal.id %>">
      <td><%= journal.title %></td>
      <td><span style="white-space: nowrap;"><%= journal.issn %></span></td>
      <td><%= journal.allow_blackout %></td>
      <td><%= journal.will_pay? %></td>
      <td><%= journal.sponsor&.name %></td>
  </tr>

<% end -%>

  
</table>

