<%# the local variable 'contributor' should be passed in to this partial when there are multiple per page %>
<% form_id = unique_form_id(contributor) %>
<%= form_with(model: contributor, url: path, local: false, authenticity_token: true, id: form_id, class: 'c-input__inline') do |f| %>
<% my_suffix = field_suffix(contributor) %>
<%#= render "datacite/shared/error_messages", target: @contributor %>
	<div class="c-input">
		<%= react_component('components/MetadataEntry/FunderAutocomplete',
												{name: (contributor&.contributor_name || ''),
												 id: (contributor&.name_identifier_id || ''),
												 'controlOptions': { 'htmlId' => "contrib_#{my_suffix}", 'labelText' => 'Granting Organization', 'isRequired' => false }
												}) %>
	</div>

	<div class="c-input">
		<%= f.label "award_number_#{my_suffix}", "Award number", class: 'c-input__label' %>
		<%= f.text_field :award_number, id: "contributor_award_number_#{my_suffix}", class: "js-award_number c-input__text" %>
	</div>
	<%= link_to 'remove', contributors_delete_path(contributor.id || 'new'), method: :delete, remote: true, role: 'button',
							data: { confirm: 'Are you sure you want to remove this funder?' }, class: 'remove_record t-describe__remove-button o-button__remove' %>
	<%= f.hidden_field :contributor_type, value: :funder %>
	<%= f.hidden_field :resource_id %>
	<%= f.hidden_field :id %>
	<%= hidden_field_tag(:form_id, form_id) %>
<% end %>
