<div class="table-wrapper">
<table class="c-lined-table">
  <thead>
  <tr>
    <th class="c-lined-table__sort <%= sort_display('title') %>">
      <%= sortable_column_head sort_field: 'title', title: 'Title' %>
    </th>
    <th class="c-lined-table__sort <%= sort_display('authors') %>">
      <%= sortable_column_head sort_field: 'authors', title: 'Authors' %>
    </th>
    <th class="c-lined-table__sort <%= sort_display('identifier') %>">
      <%= sortable_column_head sort_field: 'identifier', title: 'DOI' %>
    </th>
    <th class="c-lined-table__sort <%= sort_display('contributor_name') %>">
      <%= sortable_column_head sort_field: 'contributor_name', title: 'Funder' %>
    </th>
    <th class="c-lined-table__sort <%= sort_display('award_number') %>">
      <%= sortable_column_head sort_field: 'award_number', title: 'Award' %>
    </th>
    <th class="c-lined-table__sort <%= sort_display('init_sub_date') %>">
      <%= sortable_column_head sort_field: 'init_sub_date', title: 'Submitted' %>
    </th>
    <th class="c-lined-table__sort <%= sort_display('publication_date1') %>">
      <%= sortable_column_head sort_field: 'publication_date1', title: 'Embargoed' %>
    </th>
    <th class="c-lined-table__sort <%= sort_display('publication_date2') %>">
      <%= sortable_column_head sort_field: 'publication_date2', title: 'Published' %>
    </th>
  </tr>
  </thead>
  <tbody>
    <%= render partial: 'funder_row', collection: @funder_table  %>
  </tbody>

</table>
</div>