<div>
  <p><h2>Describe your dataset</h2>
  * required fields</p>
</div>

<div id="accordion">
  <h3><strong>Basic Information</strong></h3>
  <div>
    <%= render partial: "stash_datacite/titles/form", locals: {title: @title} %><br/>
    <%= render "stash_datacite/creators/form" %><br/>
    <%= render "stash_datacite/resource_types/form" %><br/>
    <strong><%= label_tag :description, "Abstract" %></strong><br/>
    <%= render partial: "stash_datacite/descriptions/form", locals: { description_type: "abstract" }  %>
  </div>

  <h3><strong>Data Description (Optional)</strong></h3>
  <div>
    <%= render "stash_datacite/contributors/form"%><br/>
    <%= render "stash_datacite/subjects/form" %><br/>
    <strong><%= label_tag :description, "Methods" %></strong>&nbsp;&nbsp;How was this dataset collected? How has it been processed?<br/>
    <%= render partial: "stash_datacite/descriptions/form", locals: { description_type: "methods" } %><br/>
    <strong><%= label_tag :description, "Usage Notes" %></strong>&nbsp;&nbsp;What else would someone need to know to use this dataset?<br/>
    <%= render partial: "stash_datacite/descriptions/form", locals: { description_type: "usage_notes" } %><br/>
    <%= render "stash_datacite/relations/form" %>
  </div>

  <h3><strong>Location information (optional)</strong></h3>
  <div>
    <%= render "stash_datacite/geolocation_places/form" %>
    <%= render "stash_datacite/geolocation_points/form" %>
    <%= render "stash_datacite/geolocation_boxes/form" %>
  </div>
</div>

</br>
<%= link_to 'Back to My Datasets', stash_engine.dashboard_path, class: "btn" %>
<%= link_to 'Proceed to Uploads', stash_engine.file_uploads_path, class: "btn" %>