<%= link_to 'Back to My Datasets', stash_engine.resources_path, class: "btn" %>
<%= link_to 'Proceed to Uploads', stash_engine.resources_path, class: "btn" %>

<div>
  <p><h3>Describe your dataset</h3>
  * required fields</p>
</div>

<div>
  <%= form_for :general, url: generals_update_path do |f| %>

    <%= f.hidden_field :resource_id, value: params[:resource_id] %>
    <%= render partial: 'stash_datacite/generals/metadata_entry_forms' %>
  <% end %>
</div>