<div class="capture_email">
  <main class="t-landing__main c-columns__content">
    <div id="display_resource">

      <h2>Hi <%=  current_user.first_name %> <%=  current_user.last_name %>,</h2>
      <h3>The dataset you are trying to download is large and hence we need your email address to contact you with further instructions.</h3>

      <div>
        <%= form_tag stash_engine.download_async_request_path(@resource.id), method: :post do %>
          <%= label_tag 'email', 'Email', class: 'required c-input__label' %>
          <%= email_field_tag 'email', '', id: 'user_email', type:'email', required: true, class: 'c-input__text', placeholder: "yourname@gmail.com", style: "height:40px;width:500px;" %>
          <%= hidden_field_tag :resource_id, value: @resource.id %>
        <%= submit_tag "submit", value: "Submit", id: 'capture_email_submit' %>
        <%end%>
      </div>
    </div>
  </main>
</div>

<style type="text/css">
#user_email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#capture_email_submit {
    background-color: #FF9933;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div.capture_email {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
</style>