<div class="capture_email">
  <% if current_user %>
    <h3>Hi <%= "#{current_user.first_name} #{current_user.last_name}" %>,</h3>
  <% end %>
  <h4>The dataset you are trying to download is large. Please submit your email address so we could mail you the url to download .</h4>
  <div class="capture_email_form" >
    <%= form_tag stash_engine.download_async_request_path(resource.id), method: :post do %>
      <strong><%= label_tag 'email', 'Email', class: 'required c-input__label' %></strong>
      <% if current_user %>
        <%= email_field_tag 'email', current_user.email , id: 'user_email', class: 'c-input__text' %>
      <% else %>
        <%= email_field_tag 'email', '', id: 'user_email', class: 'c-input__text', placeholder: 'yourname@gmail.com' %>
      <% end %>
      <%= hidden_field_tag :resource_id, value: resource.id %>
      <%= hidden_field_tag :secret_id, value: secret_id %>
    <%= submit_tag 'submit', value: 'Submit', id: 'capture_email_submit' %>
    <%end%>
  </div>
</div>

<style type="text/css">
#user_email {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 800px);
}

#capture_email_submit {
  background-color: #FF9933;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

div.capture_email {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
