<%
  if share.present?
    resources = [share[:resource]]
    dl_resource = share[:resource]
  else
    resources = dataset_identifier.resources.files_published.by_version  # the public ones
    if @user_type == 'privileged' # add any non-public, submitted to merritt resources with changes
      res_ver = resources.last&.version_number || 0
      new_res = dataset_identifier.resources.with_file_changes.submitted.by_version.where('stash_engine_versions.version > ?', res_ver).to_a.uniq
      # show admins all versions but authors just the latest
      resources = current_user.min_admin? ? resources.to_a + new_res : resources.to_a.push(new_res.last)
    end
    resources = resources.compact
    dl_resource = dataset_identifier.latest_downloadable_resource(user: @user_type == 'privileged' ? current_user : nil)
  end
%>
<div class="data_files_section">
  <h2>Data files</h2>
  <div>
  <% if resources.count.positive? %>
    <!-- list individual files -->
    <% resources.each do |res| %>
      <details <% if dl_resource == res %>id="download_resource"<% end %> class="c-file-group" <%if res.id == resources.last.id && (res.current_file_uploads.count < 10 || res.total_file_size > APP_CONFIG.maximums.zip_size) %> open<%end%>>
        <summary role="button" class="o-showhide__summary c-file-group__summary">
          <span><%= formatted_date(res.publication_date.present? && res.publication_date < Time.now.utc ? res.publication_date : res.updated_at) %> version files</span>
          <span><%= filesize(res.total_file_size) %><% if dl_resource == res && res.total_file_size > APP_CONFIG.maximums.zip_size %><i id="download-select" class="fas fa-download" title="Select files for download"></i><% end %></span>
        </summary>
        <% if dl_resource == res %><form id="download-select-form" <% if res.total_file_size > APP_CONFIG.maximums.zip_size %>aria-labelledby="download-select-label"<% end %>></form><% end %>
        <ul class="c-file-group__list">
          <% res.current_file_uploads.each do |fu| %>
          <% params = {file_id: fu.id} %>
          <% params[:share] = share[:code] if share.present? %>
            <li>
              <span>
                <%= download_file_name_link(fu, params) %>
                <% unless fu.preview_type.nil? %>
                  <div id="file_preview_check<%= fu.id %>" data-load="<%= preview_check_path(file_id: fu.id, format: :js) %>" aria-live="polite" aria-busy="true">
                    <i class="fas fa-spin fa-spinner" aria-hidden="true"></i>
                  </div>
                <% end %>
              </span>
              <div>
                <%= filesize(fu.upload_file_size) %>
                <% if dl_resource == res %>
                  <% if fu.file_deleted_at.nil? %>
                    <% if fu&.upload_file_size < APP_CONFIG.maximums.zip_size %>
                      <input class="select-file-download" data-size="<%= fu.upload_file_size %>" type="checkbox" name="<%= fu.download_filename%>" <%if res.total_file_size < APP_CONFIG.maximums.zip_size %>checked hidden <% end %>aria-label="Select <%= fu.download_filename%> for download" form="download-select-form">
                    <% else %>
                      <span class="select-file-download" title="Too big for zip download" aria-label="Too big for zip download"></span>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </details>
    <% end %>
    <div id="file_preview_box" role="status"></div>
    <!-- full download second -->
    <%= render partial: 'stash_engine/downloads/download', locals: { dataset_identifier: dataset_identifier, resource: dl_resource, share: share.present? ? share[:code] : nil } %>
  <% else %>
    <p>No data files are available for display.</p>
  <% end %>
  </div>
</div>
<script type="text/javascript">
  const load_preview = (n) => {
    const box = document.getElementById('file_preview_box');
    box.innerHTML = `<div class="file_preview"><p role="heading" level="3" id="preview_file_name"><span>Preview: ${n}</span></p><p><i class="fa fa-spin fa-spinner" aria-label="Loading" role="img"></i></p></div>`;
    box.scrollIntoView();
  }
  const close_preview = () => {
    document.getElementById('file_preview_box').innerHTML = '';
  }
</script>
