<%# takes local variable of dataset_identifier and resource %>
<%
  resources = dataset_identifier.resources.files_published  # the public ones
  res_id = -9999 # negative for no special file views
  if @user_type == 'privileged' # add any non-public, submitted to merritt resources with changes
    res_id = resources.last&.id || 0
    # rails 5 has an OR we could use, but not yet in rails 4.2, so change to an array rather than an ActiveRecord Relation
    # note: resources_with_file_changes is a method and not a scope, so must come first
    # The rest are scopes on resources, greater than the last ID means submitted after the last version shown to public
    resources = resources.to_a + dataset_identifier.resources_with_file_changes.submitted.where('stash_engine_resources.id > ?', res_id).to_a
  end
%>
<% if resources.count.positive? %>
  <div class="c-sidebox">
    <h2 class="c-sidebox__heading">Data Files</h2>

    <!-- full download first -->
    <%= render partial: 'stash_engine/landing/download', locals: { dataset_identifier: dataset_identifier } %>

    <!-- list individual files -->
    <% resources.each do |res| %>
      <details class="c-file-group" role="group">
        <summary role="button" class="o-showhide__summary c-file-group__summary">
          <%= formatted_date(res.publication_date.present? && res.publication_date < Time.new ?
                                 res.publication_date : res.updated_at) %>
          <%= ( res_id.positive? && res.id > res_id ? '*' : '' ) -%>
        </summary>
        <ul class="c-file-group__list">
          <% res.current_file_uploads.each do |fu| %>
            <li>
              <%= link_to fu.upload_file_name.ellipsisize(20), Rails.application.routes.url_helpers.download_stream_path(fu.id),
                        title: fu.upload_file_name, target: '_blank' %>
              <div style="float: right;"><%= filesize(fu.upload_file_size) %></div>

              <% if fu.upload_file_name.ends_with?('csv') %>
                <div style="clear: both">
                  <div style="float: right">
                    <%= button_to preview_csv_path(fu.id), remote: true, class: 'c-file-group__preview',
                          title: "Preview #{fu.upload_file_name}", 'aria-label': "Preview #{fu.upload_file_name}",
                          method: 'get' do %>
                      <i class="fa fa-search c-file-group__preview" aria-hidden="true"></i>
                    <% end %>
                  </div>
                </div><div style="clear:both"></div>
              <% end %>

            </li>
          <% end %>
        </ul>
      </details>
    <% end %>
    <% if res_id != -9999 %>
      <br/><em>* changes not displayed to the public</em>
    <% end %>
  </div>
<% else %>
  <div class="c-sidebox">
    <h2 class="c-sidebox__heading">Data Files</h2>
    <p>No data files are available for display.</p>
  </div>
<% end %>
