<%# takes local of identifier, no_link == true means don't link metrics %>
<% no_link = false unless defined?(no_link) %>
<div class="o-metrics__metric">
  <div class="o-metrics__group">
    <%= image_tag 'stash_engine/icon_views.svg', class: 'o-metrics__icon', alt: '' %>
    <!-- <span class="o-metrics__label">views</span> -->
  </div>
  <div class="o-metrics__number">
    <%= identifier.counter_stat.views %> views
  </div>
</div>
<% unless identifier.latest_resource&.resource_type&.resource_type == 'collection' %>
<div class="o-metrics__metric">
  <div class="o-metrics__group">
    <%= image_tag 'stash_engine/icon_downloads.svg', class: 'o-metrics__icon', alt: '' %>
    <!-- <span class="o-metrics__label">downloads</span> -->
  </div>
  <div class="o-metrics__number"><%= identifier.counter_stat.unique_request_count %> downloads</div>
</div>
<% end %>
<div class="o-metrics__metric">
  <div class="o-metrics__group">
    <%= image_tag 'stash_engine/icon_cites.svg', class: 'o-metrics__icon', alt: '' %>
    <!-- <span class="o-metrics__label">citations</span> -->
  </div>
  <div class="o-metrics__number" id="metrics_citation_count">
    <% if identifier.counter_stat.citation_count > 0 && !no_link %>
      <%= link_to "#{identifier.counter_stat.citation_count} citations", stash_url_helpers.show_citations_path(identifier_id: identifier.id),
                  id: 'citation_link', remote: true %>
    <% else %>
      <%= identifier.counter_stat.citation_count %> citations
    <% end %>
  </div>
  <div class="o-metrics__number" id="metrics_citation_spinner" style="display: none;">
    <%= image_tag 'stash_engine/spinner.gif', size: '80x60', alt: 'Loading spinner' %>
  </div>
</div>