<div class="sidebox" id="sidebox-cite">
  <div id="cite_section">
  <%= render partial: "stash_datacite/shared/citations",
           locals: { authors: review.authors, title: review.title_str,
                     resource_type: review.resource_type,
                     identifier: resource.identifier.nil? ? 'DOI' : "#{review.identifier.identifier }",
                     publication_year: (resource.publication_date.present? ? resource.publication_date.year : resource.updated_at.year) } %>
  </div>

  <div id="show_metrics"
       data-load="<%= stash_url_helpers.show_metrics_path(identifier_id: @id.id) %>" aria-live="polite" aria-busy="true">
    <i class="fas fa-spin fa-spinner" aria-hidden="true"></i>
  </div>
  
  <% if @resource&.identifier&.pub_state == 'published' %>
    <div id="share_section">
      <%= render partial: 'stash_engine/landing/share', locals: {identifier: @id, resource: @resource, review: @review} %>
    </div>
  <% end %>

  <% unless @resource&.resource_type&.resource_type == 'collection' %>
    <div id="show_license"
         data-load="<%= metadata_url_helpers.license_details_path(resource_id: @resource.id, format: :js) %>" aria-live="polite" aria-busy="true">
      <i class="fas fa-spin fa-spinner" aria-hidden="true"></i>
    </div>
  <% end %>
</div>

<div class="sidebox" id="sidebox-search">
  <div id="keyword_section">
    <h2>Subject keywords</h2>
    <div id="show_subjects"
         data-load="<%= metadata_url_helpers.subjects_landing_path(resource_id: @resource.id, format: :js) %>" aria-live="polite" aria-busy="true">
      <i class="fas fa-spin fa-spinner" aria-hidden="true"></i>
    </div>
  </div>
  <%= render partial: "stash_datacite/contributors/show", locals: { contributors: review.contributors } %>
</div>

<% related = @resource&.resource_type&.resource_type == 'collection' ? @resource.related_identifiers.where.not(relation_type: 'haspart') : @resource.related_identifiers %>
<% unless related.length < 1 %>
<div class="sidebox" id="sidebox-related_works">
  <h2>Related works</h2>
  <div id="show_related_works"
       data-load="<%= metadata_url_helpers.related_identifiers_show_path(resource_id: @resource.id, format: :js) %>" aria-live="polite" aria-busy="true">
    <p><i class="fas fa-spin fa-spinner" aria-hidden="true"></i></p>
  </div>
</div>
<% end %>
