<div>
  <%= link_to "Download this dataset", @resource.download_uri %>
</div>

<div>
  <h3>Data Files</h3>
  <% @id.resources.submitted.by_version.each do |resource| %>
    <p>Version <%= resource.version.version %></p>
    <% resource.file_uploads.each do |fu| %>
      <p>&nbsp;<%= fu.upload_file_name %>&nbsp;&nbsp;<%= filesize(fu.upload_file_size) %></p>
    <% end %>
  <% end %>
</div>

<div>
  <h3>Metrics</h3>
  (view icon): <%= @id.view_count %><br/>
  (downloads icon): <%= @id.download_count %>
</div>

<div>
  <h3>Keywords</h3>
</div>

<div>
  <h3>License</h3>
</div>