<% @page_title = "Data -- #{@resource.clean_title}" %>
<!-- Track View for COUNTER and new DataCite metrics widget -->
<script defer data-doi="<%= @resource&.identifier&.identifier %>"
				data-repoid="<%= APP_CONFIG[:datacite_data_repo_id] %>"
				data-metric="view"
				src="https://cdn.jsdelivr.net/npm/@datacite/datacite-tracker"></script>
<div class="c-columns">
	<main class="t-landing__main c-columns__content">
		<% if @user_type == 'privileged' %>
			<%= render(partial: 'priveleged_banner') %>
		<% end %>
		<div id="display_resource">
		  <%# image_tag 'stash_engine/spinner.gif', size: '80x60', alt: 'Loading spinner' %>
      <%# render(partial: 'stash_datacite/resources/show') %>
      <%= render(partial: metadata_render_path('resources', 'show')) %>
		</div>
	</main>
	<aside class="t-landing__sidebar c-columns__sidebar2">
		<div id="sidebar">
		  <%= render :partial => 'sidebar' %>
		</div>
	</aside>
</div>

<% unless @invitations.blank? %>
  <%= render partial: 'orcid_invite', locals: {identifier_id: id.id} %>
<% end %>
