<% @page_title = "Data: #{@resource.clean_title.html_safe}" %>
<!-- Track View for COUNTER and new DataCite metrics widget -->
<% content_for(:head) do %>
<link rel="linkset" type="application/linkset" href="<%= linkset_url(id: @resource.identifier_str) %>">
<link rel="linkset" type="application/linkset+json" href="<%= linkset_url(id: @resource.identifier_str) %>.json">
<script data-autotrack="false" src="https://cdn.jsdelivr.net/npm/@datacite/datacite-tracker"></script>
<script>
	const { trackMetric } = DataCiteTracker.Tracker({
		repoId: '<%= APP_CONFIG[:datacite_data_repo_id] %>',
		trackLocalhost: <%= Rails.env.include?('production') ? 'true' : 'false' %>,
	});
	let dc_download = DataCiteTracker.MetricType.Download;
	trackMetric(DataCiteTracker.MetricType.View, { doi: '<%= @resource&.identifier&.identifier %>' });

	document.addEventListener("DOMContentLoaded", function(){
		// track individual downloads
		const downloadLinks = document.querySelectorAll('a.js-individual-dl');
		downloadLinks.forEach((link) => {
			link.addEventListener('click', (e) => {
				trackMetric(DataCiteTracker.MetricType.Download, { doi: '<%= @resource&.identifier&.identifier %>' });
			});
		});

		const downloadFullLinks = document.querySelectorAll('button.js-download');
		downloadFullLinks.forEach((link) => {
			link.addEventListener('click', (e) => {
				trackMetric(DataCiteTracker.MetricType.Download, { doi: '<%= @resource&.identifier&.identifier %>' });
			});
		});
	});
</script>
<% if current_user.min_admin? %>
	<%= javascript_pack_tag 'server_rendering' %>
<% end %>
<% end %>
<% if @user_type == 'privileged' %>
  <%= render(partial: 'privileged_banner') %>
  <% if @resource&.identifier&.pub_state != 'published'%>
    <div id="privilege_share" class="callout alt">
      <%= render partial: "stash_datacite/shares/show", locals: { share: review.share } %>
    </div>
  <% end %>
<% end %>
<div class="c-columns">
	<article class="t-landing__main c-columns__content">
		<div id="display_resource">
      <% if @resource&.resource_type&.resource_type == 'collection' %>
	      <%= render(partial: metadata_render_path('resources', 'show_collection')) %>
  		<% else %>
  	    <%= render(partial: metadata_render_path('resources', 'show')) %>
  	  <% end %>
		</div>
	</article>
	<aside class="c-columns__sidebar">
	  <%= render :partial => 'sidebar' %>
	</aside>
</div>

<% unless @invitations.blank? %>
  <%= render partial: 'orcid_invite', locals: {identifier_id: id.id} %>
<% end %>
