<% @page_title = "Data -- #{@resource.clean_title}" %>
<!-- Track View for COUNTER and new DataCite metrics widget -->

<script data-autotrack="false" src="https://cdn.jsdelivr.net/npm/@datacite/datacite-tracker"></script>
<script>
	const { trackMetric } = DataCiteTracker.Tracker({
		repoId: '<%= APP_CONFIG[:datacite_data_repo_id] %>',
		trackLocalhost: <%= Rails.env == 'production' ? 'true' : 'false' %>,
	});
	let dc_download = DataCiteTracker.MetricType.Download;
	trackMetric(DataCiteTracker.MetricType.View, { doi: '<%= @resource&.identifier&.identifier %>' });

	document.addEventListener("DOMContentLoaded", function(){
		// track individual downloads
		const downloadLinks = document.querySelectorAll('a.js-individual-dl');
		downloadLinks.forEach((link) => {
			link.addEventListener('click', (e) => {
				trackMetric(DataCiteTracker.MetricType.Download, { doi: '<%= @resource&.identifier&.identifier %>' });
			});
		});
	});
</script>
<div class="c-columns">
	<main class="t-landing__main c-columns__content">
		<% if @user_type == 'privileged' %>
			<%= render(partial: 'priveleged_banner') %>
		<% end %>
		<div id="display_resource">
		  <%# image_tag 'stash_engine/spinner.gif', size: '80x60', alt: 'Loading spinner' %>
      <%# render(partial: 'stash_datacite/resources/show') %>
      <% if @resource&.resource_type&.resource_type == 'collection' %>
	      <%= render(partial: metadata_render_path('resources', 'show_collection')) %>
  		<% else %>
  	    <%= render(partial: metadata_render_path('resources', 'show')) %>
  	  <% end %>
		</div>
	</main>
	<aside class="t-landing__sidebar c-columns__sidebar2">
		<div id="sidebar">
		  <%= render :partial => 'sidebar' %>
		</div>
	</aside>
</div>

<% unless @invitations.blank? %>
  <%= render partial: 'orcid_invite', locals: {identifier_id: id.id} %>
<% end %>
