<% @page_title = "Manage CEDAR templates" %>

<%= render partial: 'shared/cedar_header', locals: {current: 'templates'} %>

<h2 id="templates-label">CEDAR Templates</h2>
<p>Create the associated word bank first. The CEDAR template title and ID are automatically pulled from the file uploaded. After creation, only the connected word bank may be updated.</p>

<div class="o-admin-form-inline">
<%= form_with(url: cedar_template_path, method: 'get', id: 'admin_search') do %>
  <div class="o-admin-form-pair">
    <label for="search-terms">Search terms:</label>
    <%= search_field_tag(:q, params[:q], class: 'c-input__text', id: 'search-terms' ) %>
  </div>
  <div class="o-admin-form-pair">
    <label for="word_bank">Word bank:</label>
    <%= select_tag :word_bank_id, options_from_collection_for_select([OpenStruct.new(id: '', label: '')] + CedarWordBank.all, :id, :label, params[:word_bank_id]), class: 'c-input__select', id: 'word_bank' %>
  </div>
  <%= submit_tag('Search', name: nil, class: 'o-button__plain-text2' ) %>
<% end %>
<% if policy(:cedar_template).new? %>
  <%= form_with(url: cedar_template_new_path, method: :get, local: false, html: {style: "margin-left: auto"}) do %>
    <button class="o-button__plain-text7"><i class="fa fa-plus" aria-hidden="true"></i> Add new</button>
  <% end %>
<% end %>
</div>

<div class="table-wrapper c-lined-table-wrapper" role="region" tabindex="0" aria-labelledby="templates-label">
<table class="c-lined-table">
  <thead>
    <tr>      
      <th class="c-lined-table__sort" <%= sort_display('title') %>>
        <%= sortable_column_head sort_field: 'title', title: 'Title' %>
      </th>
      <th>
        ID
      </th>
      <th class="c-lined-table__sort" <%= sort_display('word_bank_id') %>>
        <%= sortable_column_head sort_field: 'word_bank_id', title: 'Word bank' %>
      </th>
    </tr>
  </thead>

  <tbody>  
    <% @templates.each do |t| %>
      <tr class="c-lined-table__row" id="row_<%=t.id%>">
        <%= render partial: 'template_row', locals: {t: t} %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="search-results-footer">
  <div class="c-space-paginator">
    <%= paginate @templates, params: { page_size: @page_size } %>
    <div class="c-paginator-page_size">
      Page size:
      <%
        current_ps = params[:page_size].to_i
        current_ps = 10 if current_ps == 0
        [10, 50, 100].each do |ps| %>
        <% if ps == current_ps %>
          <span class="page-current"><%= ps %></span>
        <% else %>
          <%= link_to(ps, cedar_template_path(request.parameters.except(:action, :controller).merge(page_size: ps, page: 1)), 'aria-label': "#{ps} results per page") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
