<!DOCTYPE html>
<html>
<head>
  <title>StashDatacite</title>
  <%= stylesheet_link_tag    "stash_datacite/application", media: "all" %>
  <%= javascript_include_tag "stash_datacite/application", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://www.mapquestapi.com/sdk/leaflet/v2.s/mq-map.js?key=Jbz41iZLdjj63daDdS7jfAWAMervMCxY " %>
  <%= javascript_include_tag "http://www.mapquestapi.com/sdk/leaflet/v2.s/mq-geocoding.js?key=Jbz41iZLdjj63daDdS7jfAWAMervMCxY " %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
