<!-- manifest workflow -->
<%= form_for file, url: path, remote: true, html: { id: 'url_validate' } do |f| %>
  <%= f.hidden_field :resource_id %>
	<%= f.text_area :url, cols: 80, rows: 15, id: 'location_urls', placeholder: 'List file location URLs here'	%>

	<p>Place each URL on a new line.</p>

	<div class="actions" id="post_submit_before_spinner">
    <%= f.submit 'Validate Files', id: 'validate_files', class: 'o-button__submit' %>
  </div>
  <div class="spinner" id="post_submit_spinner">
    <%= image_tag 'stash_engine/spinner.gif', size: '80x60', alt: 'Loading spinner', id: 'post_submit_spinner'  %>
  </div>
<% end %>

<h2 class="t-upload__choose-heading--active">Step 2: Validation Status</h2>

<div id="validated_errors">
  <%= render partial: 'stash_engine/file_uploads/validated_errors', locals: {resource: @resource} %>
</div>

<div class="c-upload" id="validated_files">
	<%= render partial: 'stash_engine/file_uploads/validated_files', locals: {resource: @resource} %>
</div>

<script type="text/javascript">
$(function () {
  $('#post_submit_spinner').hide();
});

validateFileUrl();

$(function () {
  $("#validate_files").click(function() {
    $("#validate_files").hide();
    $('#post_submit_spinner').show();
  });
});
</script>