<!-- manifest workflow -->
<% f = uploaded_file %>
<tr id="manifest_file_<%= f.id %>" class="manifest-table__row">
  <td><%= f.upload_file_name %></td>
  <td><%= f.url %></td>
  <td><%= filesize(f.upload_file_size) %><%# f.upload_file_size %></td>
  <td><%= f.resource.version_number %></td>
  <td>
    <%= button_to 'Delete', f, method: :delete, remote: true, class: "c-upload__button",
                    form_class: 'o-button__inline-form' %>
  </td>
</tr>

