<td>
  <strong>Dataset:</strong>
  <%= link_to resource.title, show_path(id: resource.identifier.to_s), target: '_blank' %>
</td>
<td><%= existing_pubname %></td>
<td><%= existing_pubissn %></td>
<td><%= existing_pubdoi %></td>
<td><%= formatted_date(resource.publication_date) %></td>
<td><%= existing_authors(resource: resource)&.join('<br/>')&.html_safe %></td>