<td>
  <strong>Dateset:</strong>
  <%= link_to resource.title, show_path(id: resource.identifier.to_s), target: '_blank' %>
</td>
<td class="c-proposed-change-table__column-centered"><strong>Current Metadata</strong></td>
<td><%= existing_pubname %></td>
<td><%= existing_pubissn %></td>
<td><%= existing_pubdoi %></td>
<td><%= formatted_date(resource.publication_date) %></td>
<td><%= existing_authors(resource: resource).html_safe %></td>
<td>&nbsp;</td>