<td colspan="2"></td>
<td>
  <strong>Publication:</strong>
  <%= link_to proposed_change.title, proposed_change.url, target: '_blank' %>
  <% unless proposed_change.xref_type.blank? %>
    <p><strong>Type:</strong> <%= proposed_change.xref_type %></p>
  <% end %>
  <div style="white-space: nowrap;">
    <% url = "#{stash_url_helpers.publication_updater_path}/#{proposed_change.id}" %>
  </div>
</td>
<%= render_column(old_val: existing_pubname, new_val: proposed_change.publication_name).html_safe %>
<%= render_column(old_val: existing_pubissn, new_val: proposed_change.publication_issn).html_safe %>
<%= render_column(old_val: existing_pubdoi, new_val: proposed_change.publication_doi).html_safe %>
<td><%= formatted_date(proposed_change.publication_date).present? ? formatted_date(proposed_change.publication_date) : 'Not available' %></td>
<td><%= proposed_authors(json: proposed_change.authors)&.join('<br/>')&.html_safe %></td>