<% @page_title = "Publication updater" %>
<h1 class="o-heading__level1" id="pubupdate-label">Publication updater</h1>

<div>
  <p>Matches are based on the title and author list returned by Crossref. Matches with no ISSN are likely preprint servers.</p>
  <h2>Instructions</h2>
  <ol>
    <li>Evaluate the relationship between the dataset and the publication</li>
    <li>If the publication should not be associated with the dataset, click "Reject"</li>
    <li>Otherwise, decide on a related work type for the publication: Primary, Related article, or Preprint
      <br/>Note: <span class="callout" style="padding: .3rem .4rem">Choosing "Primary" will replace any existing primary article, update the dataset Publication, and will release datasets in PPR for curation</span></li>
    <li>Make your type selection from the dropdown, and click "Accept"</li>
  </ol>
  <h2>Limit to:</h2>
  <%= form_with url: stash_url_helpers.publication_updater_path, method: :get do |form| %>  
  <div class="o-admin-form-inline">
    <div class="o-admin-form-pair">
      <label for="list_search">Search:</label>
      <%= text_field_tag 'list_search', params[:list_search], {class: 'c-input__text'} %>
    </div>
    <div class="o-admin-form-pair">
      <label for="status">Curation status:</label>
      <%= select_tag :status, options_from_collection_for_select(@statuses, "value", "label", params[:status]), class: 'c-input__text' %>
    </div>
    <div class="o-admin-form-pair">
      <label for="match_type">Type:</label>
      <%= select_tag :match_type, options_for_select([['', ''], ['Likely articles', 'articles'], ['Likely preprints', 'preprints']], params[:match_type]), class: 'c-input__text' %>
    </div>
    <%= submit_tag('Search', class: 'o-button__submit', name: nil ) %>
    <%= button_tag "Reset", type: :reset, id: 'reset_button', class: "o-button__remove" %>
  </div>
  <% end %>

  <p style="margin-bottom: 0; text-align: right"><%= @proposed_changes.total_count %> results</p>
  <div class="table-wrapper c-lined-table-wrapper" role="region" tabindex="0" aria-labelledby="pubupdate-label" style="margin-top: 0">
    <table class="c-lined-table c-proposed-change-table">
      <thead>
      <tr>
        <th class="c-lined-table__sort c-proposed-change-table__column-large" <%= sort_display('stash_engine_proposed_changes.title') %> >
          <%= sortable_column_head sort_field: 'stash_engine_proposed_changes.title', title: 'Title' %>
        </th>
        <th class="c-lined-table__sort c-proposed-change-table__column-small" <%= sort_display('publication_name') %>>
          <%= sortable_column_head sort_field: 'publication_name', title: 'Publication' %>
        </th>
        <th class="c-lined-table__sort c-proposed-change-table__column-small" <%= sort_display('publication_issn') %>>
          <%= sortable_column_head sort_field: 'publication_issn', title: 'ISSN' %>
        </th>
        <th class="c-lined-table__sort c-proposed-change-table__column" <%= sort_display('publication_doi') %>>
          <%= sortable_column_head sort_field: 'publication_doi', title: 'Publication DOI' %>
        </th>
        <th class="c-lined-table__sort c-proposed-change-table__column-small" <%= sort_display('stash_engine_proposed_changes.publication_date') %>>
          <%= sortable_column_head sort_field: 'stash_engine_proposed_changes.publication_date', title: 'Published' %>
        </th>
        <th class="c-lined-table__sort c-proposed-change-table__column-medium" <%= sort_display('authors') %>>
          <%= sortable_column_head sort_field: 'authors', title: 'Authors' %>
        </th>
      </tr>
      </thead>
      <tbody>
      <% @proposed_changes.each do |proposed_change| %>
        <%= render partial: 'proposed_change_line',locals: { proposed_change: proposed_change, resource: proposed_change.latest_resource } %>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="c-space-paginator">
    <%= paginate @proposed_changes, params: { page_size: @page_size } %>
        <div class="c-paginator-page_size">
      Page size:
      <%
        current_ps = params[:page_size].to_i
        current_ps = 10 if current_ps == 0
        [10, 50, 100].each do |ps| %>
        <% if ps == current_ps %>
          <span class="page-current"><%= ps %></span>
        <% else %>
          <%= link_to(ps, stash_url_helpers.publication_updater_path(request.parameters.except(:action, :controller).merge(page_size: ps, page: 1)), 'aria-label': "#{ps} results per page") %>
        <% end %>
      <% end %>
    </div>

  </div>

  <%= link_to 'Get Comma Separated Values (CSV) for import into Excel',
              stash_url_helpers.publication_updater_path(sortable_table_params.merge(format: :csv)) %>
  <div id="proposed-change-dialog" class="o-admin-dialog" style="display: none">Processing your request ...</div>

  <script type="text/javascript">
    $('.c-lined-table').on('click', 'button[name="accept_changes"], button[name="reject_changes"]', function(){
      $('#genericModalContent').html('<h1>Please wait . . .</h1>');
      $('#genericModalDialog')[0].showModal();
    });

    $("#reset_button").on("click", function(e) {
      e.preventDefault();
      $("#list_search").val("");
      $("#status").val("");
      e.target.form.submit();
    });
  </script>
</div>
