<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <p>Welcome to the new Dryad Digital Repository, <%= @email %></p>

  <p>To migrate your old datasets to your new dashboard, please go to <a href="<%= url %>" title="Migrate your datasets"><%= @url %></a> and enter the following code: <%= @code %>.</p>

  <p>If you have any questions, please message us at <a href="mailto:<%= @help %>"><%= @help %></a>. Thank you for joining the Dryad community!</p>

  <p>The Dryad Team</p>
  <p><a href="www.datadryad.org" title="Dryad">www.datadryad.org</a></p>
</body>
</html>
