<div style="float: right; width: 30rem;">
  <p>
    <strong>Internal concurrent-ruby executor pool state for repository class</strong><br>
    pool length: <%= @executor.length %><br>
    queue length: <%= @executor.queue_length %><br>
    scheduled task count: <%= @executor.scheduled_task_count %><br>
    largest_length: <%= @executor.largest_length %><br>
    completed_task_count: <%= @executor.completed_task_count %>
  </p>
</div>
<div>
  <p>
    Current host is <%= StashEngine.repository.class.hostname %>, refreshed at <%= formatted_datetime(Time.new.utc) %><br/>
    <% if @holding_submissions %>Submissions are being held for shutdown on this server<% else %>Normal submissions in effect on this server<% end %><br/><br/>
    <%= @server_held_count %> items being held on this server<br/>
    <%= @server_queued_count %> queued on this server<br/>
    <%= @server_processing_count %> are currently processing from this server<br/>
    <br/>
    <%= @queued_count %> are in queued state<br/>
    <%= @processing_count %> are currently processing<br/>
    <%= @errored_count %> errored<br/>
    <%= @day_completed_submissions %> submissions completed in the last 24 hours<br/>
  </p>
</div>

<div class="table-wrapper">
<table class="c-lined-table">
  <thead>
	<tr>
		<th>&check;</th>
		<th class="c-lined-table__sort <%= sort_display('resource_id') %>">
				<%= sortable_column_head sort_field: 'resource_id', title: 'Resource' %>
		</th>
		<th>
				DOI
		</th>
		<th class="c-lined-table__sort <%= sort_display('state') %>">
				<%= sortable_column_head sort_field: 'state', title: 'State' %>
		</th>
		<th class="c-lined-table__sort <%= sort_display('hostname') %>">
				<%= sortable_column_head sort_field: 'hostname', title: 'Hostname' %>
		</th>
		<th class="c-lined-table__sort <%= sort_display('updated_at') %>">
				<%= sortable_column_head sort_field: 'updated_at', title: 'Updated at' %>
		</th>
	</tr>
  </thead>
  <tbody class="c-lined-table__digits">
    <% @queue_rows.each do |qr| %>
    <tr class="c-lined-table__row">
			<td><%= check_box_tag(qr.resource_id) %></td>
      <td><%= qr.resource_id %></td>
      <td><%= StashEngine::Resource.find(qr.resource_id).identifier.to_s %></td>
      <td><%= qr.state %></td>
      <td><%= qr.hostname %></td>
      <td><%= formatted_datetime(qr.updated_at) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>