<p>Dear <%= @user_name %>,</p>

<p>
<% if journal_name = @journal&.title %>
  <% source = @journal.preprint_server? ? 'preprint' : 'manuscript' %>
  <%= journal_name %> has informed us of your recent <%= source %> titled "<%= @resource.title %>", and you are invited to deposit data associated with the <%= source %> to Dryad.
<% else %>
  You are invited to deposit data associated with the manuscript "<%= @resource.title %>" to Dryad.
<% end %>
</p>

<p><a href="<%= @edit_url %>">Accept the invitation by clicking this link</a>. You will be prompted to log into Dryad.</p>

<p>
  Please visit the Dryad site to <a href="https://datadryad.org/requirements">review our instructions</a> for preparing your data and uploading files. Follow the prompts in the submission form to complete your data submission.
</p>

<p>After submission, Dryad will send you an email acknowledgment of your data submission that includes important links and further instructions.</p>

<p>If you have any questions, please contact Dryad at <a href="mailto:<%= @helpdesk_email %>?subject=Dataset with DOI: <%= @resource.identifier_str %>"><%= @helpdesk_email %></a>.</p>