<p>Dear <%= @user_name %>,</p>

<p>
<% if journal_name = @resource.journal&.title %>
  <% source = @resource.journal.preprint_server? ? 'preprint' : 'manuscript' %>
  <%= journal_name %> has informed us of your recent <%= source %> titled "<%= @resource.title %>", and you are invited to deposit data associated with the <%= source %> to Dryad.
<% else %>
  You are invited to deposit data associated with the manuscript "<%= @resource.title %>" to Dryad.
<% end %>
</p>

<p>
  Please visit the Dryad site to <a href="https://datadryad.org/requirements">review our instructions</a> for preparing your data and uploading files prior to initiating your data submission. To upload your data to Dryad, you may use the following link:<br />
  <a href="<%= @edit_url %>"><%= @edit_url %></a>
</p>

<p>You may be prompted to log into Dryad. Follow the prompts in the submission form and select to either keep your dataset private during peer review, which will prevent it from being curated and published, or submit it to our curation queue to have it published.</p>

<p>After submission, Dryad will send you an email acknowledgment of your data submission that includes important links and further instructions.</p>

<p>If you have any questions, please contact Dryad at <a href="mailto:<%= @helpdesk_email %>?subject=Dataset with DOI: <%= @resource.identifier_str %>"><%= @helpdesk_email %></a>.</p>