<p>Dear <%= @user_name %>,</p>

<p>Thank you for your submission to Dryad titled, "<%= @resource.title %>".</p>

<p>
  Your data submission will soon be evaluated by a member of our curation team. Keep in mind that datasets are evaluated in the order they are received.
</p>

<% shr = @resource.identifier.shares.first.sharing_link %>

<p>Your dataset has been assigned one important links:</p>
<p>Reviewer URL: <a href="<%= @edit_url %>"><%= @edit_url %></a>. </p>
<%= @resource.identifier_str %>

<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfw9aG7WoKYan3nlxU4O61QjOEDbqyav8wGImRTQlev7LGoyQ/viewform">Subscribe to Dryad's monthly round-up of compelling datasets</a>.</p>
