
<div class="c-autosave-header">
  <h1 class="o-heading__level1">Describe Your Datasets</h1>
  <div class="c-autosave__text saving_text" style="display: none;">Saving&hellip;</div>
  <div class="c-autosave__text saved_text" style="display: none;">All Progress Saved.</div>
</div>

<h3 class="o-heading__page-span">Basic Information</h3>
  <div class="js-contributors_form">
    <%= render partial: "stash_datacite/metadata_entry_pages/publication", locals: { publication: @publication, resource: @resource } %>
  </div>

  <%= render partial: "stash_datacite/titles/form", locals: { resource: @resource } %><br/>

  <fieldset class="c-fieldset">
  <legend class="c-fieldset__legend">Author(s)</legend>
    <div class="js-authors_form">
      <% if @metadata_entry.authors.exists? %>
        <% @metadata_entry.authors.each do |author| %>
          <%= render partial: "stash_datacite/authors/form", locals: { author: author, path: stash_datacite.authors_update_path } %>
        <% end %>
      <% else %>
          <%= render partial: "stash_datacite/authors/form", locals: { author: @metadata_entry.new_author, path: stash_datacite.authors_create_path } %>
      <% end %>
    </div>
    <%= link_to "Add Author", stash_datacite.authors_new_path( resource_id: @resource.id ), remote: :true, class: 't-describe__add-button o-button__add' %>
  </fieldset>

    <%= label_tag :description, "Abstract", class: 'c-input__label required', for: 'description_abstract' %>
    <%= render partial: "stash_datacite/descriptions/form", locals: { description: @metadata_entry.abstract, description_type: :abstract }  %>

  <p class="c-input__required-note">required fields</p>

  <details class="c-fgroup" role="group">
    <summary class="o-showhide__summary c-fgroup__summary">Data Description (optional)</summary>
    <fieldset class="c-fieldset">
    <legend class="c-fieldset__legend">Funding</legend>
    <div class="js-contributors_form">
      <% if @metadata_entry.contributors.exists? %>
        <% @metadata_entry.contributors.each do |contributor| %>
          <%= render partial: "stash_datacite/contributors/form", locals: { contributor: contributor, path: stash_datacite.contributors_update_path } %>
        <% end %>
      <% else %>
          <%= render partial: "stash_datacite/contributors/form", locals: { contributor: @metadata_entry.new_contributor, path: stash_datacite.contributors_create_path } %>
      <% end %>
    </div>
    <%= link_to "add another funder", stash_datacite.contributors_new_path( resource_id: @resource.id ), remote: :true, class: 't-describe__add-funder-button o-button__add', role: 'button' %>
    </fieldset>

    <% if @metadata_entry.subjects.empty? %>
    <%= render partial: "stash_datacite/subjects/form", locals: { subject: @metadata_entry.new_subject, resource_id: @resource.id } %>
    <% else %>
    <%= render partial: "stash_datacite/subjects/form", locals: { resource_id: @resource.id } %>
    <% end %>

    <%= label_tag :description, "Methods:", class: 'c-input__label', for: 'description_methods' %>&nbsp;&nbsp;How was this dataset collected? How has it been processed?
    <%= render partial: "stash_datacite/descriptions/form", locals: { description: @metadata_entry.methods, description_type: :methods } %>

    <%= label_tag :description, "Usage Notes:", class: 'c-input__label', for: 'description_other' %>&nbsp;&nbsp;What else would someone need to know to use this dataset? Are there any missing values? Please upload any files necessary for re-use (i.e. ReadMe files) and note them.
    <%= render partial: "stash_datacite/descriptions/form", locals: { description: @metadata_entry.other, description_type: :other } %>

    <fieldset class="c-fieldset">
    <legend class="c-fieldset__legend">Related Work(s): <span class="c-input__hint">Are there any articles (posted or published), datasets, or code that are related to this Data Publication? Please choose the relation type and identifier type from the drop downs and enter your unique permanent identifier below.</span></legend>
    <div class="js-related_identifiers_form">
      <% if @metadata_entry.related_identifiers.exists? %>
        <% @metadata_entry.related_identifiers.each do |related_identifier| %>
          <%= render partial: "stash_datacite/related_identifiers/form", locals: { related_identifier: related_identifier, path: stash_datacite.related_identifiers_update_path } %>
        <% end %>
      <% else %>
        <%= render partial: "stash_datacite/related_identifiers/form", locals: { related_identifier: @metadata_entry.new_related_identifier, path: stash_datacite.related_identifiers_create_path } %>
      <% end %>
    </div>
    <%= link_to "add another related work", stash_datacite.related_identifiers_new_path( resource_id: @resource.id ), remote: :true, class: 'o-button__add' %>
    </fieldset>
  </details>

  <details class="c-fgroup" role="group">
    <summary id="location_opener" class="o-showhide__summary c-fgroup__summary">Location Information (optional)</summary>
    <p>Where was the data collected? Does it focus on particular locations?</p>
    <fieldset class="c-fieldset">
      <legend class="c-fieldset__legend">Add a point or rectangular area with lat/long coordinates</legend>
      <div class="c-location">
        <div class="c-location__button-group">
          <button id="geo_point" class="js-location__point-button c-location__point-button--active">Point</button>
          <button id="geo_box" class="js-location__box-button c-location__box-button">Bounding Box</button>
        </div>

        <%= render partial: "stash_datacite/geolocation_points/form", locals: { geolocation_point: @metadata_entry.new_geolocation_point } %>
        <%= render partial: "stash_datacite/geolocation_boxes/form", locals: { geolocation_box: @metadata_entry.new_geolocation_box } %>
      </div>
    </fieldset>

    <p class="t-describe__map-label">Add a point or draw a rectangle on the map</p>
    <%= render partial: "stash_datacite/shared/map" %>
    <div class="c-locations" role="group" aria-labelledby="c-locations__label">
      <div class="c-locations__label" id="c-locations__label">Locations Added</div>
      <%= render partial: "stash_datacite/shared/locations" %>
    </div>
  </details>
