<%= form_for(@publication, url: publications_update_path, method: :patch, remote: true, authenticity_token: true, html: { class: 'c-input__inline' }) do |f| %>
	<div class="c-input">
		<%= f.label "journal_name", 'Journal Name', class: 'c-input__label' %>
		<%= f.text_field :publication_name, value: @publication.value, class: "js-publications c-input__text" %>
    <%= f.hidden_field :identifier_id, value: @resource.identifier_id %>
    <%= f.hidden_field :resource_id, value: @resource.id %>
    <%= f.hidden_field :publication_issn, value: @publication.value %>
		<%= f.hidden_field :do_import, value: 'false' %>
  </div>
  <div class="c-input">
    <%= f.label "msid", 'Manuscript Number', class: 'c-input__label' %>
    <%= f.text_field :msid, value: @msid.value, class: "js-msid c-input__text" %>
  </div>
	<%= f.submit "Import Manuscript Metadata", method: :post, class: 'js-import-ms o-button__jane-random' %>
	<!--  publications_autofill_data_path( id: @resource.id ), method: :post, class: 'o-button__jane-random' -->
<% end %>
<div id="population-warnings"></div>

