<div>
  <h3>License and terms of service for data</h3>
  <p>
    <span><%= check_box_tag 'agree_to_license', 'yes', (@resource.version_number > 1), class: 't-review__agree-to-license js-agrees' %></span>
    <label for="agree_to_license" class="required">By checking this box, I agree to the license
      <% if @resource.rights.blank? %>
        <%= render partial: 'stash_datacite/licenses/license_review', locals:
            {license: StashEngine::License.by_id(@resource.identifier.license_id), right: nil } %>
      <% else %>
        <% @resource.rights.each do |r| %>
          <%= render partial: 'stash_datacite/licenses/license_review', locals:
              {license: StashEngine::License.by_uri(r.rights_uri), right: r } %>
        <% end %>
      <% end %>
    </label>
  </p>
  <p>
    <span><%= check_box_tag 'agree_to_tos', 'yes', (@resource.version_number > 1), class: 't-review__agree-to-license js-agrees' %></span>
    <label for="agree_to_tos" class="required">By checking this box, I agree to <%= link_to "Dryad's Terms of Service", stash_url_helpers.terms_view_path, target: '_blank' %></label>
  </p>

  <% if current_tenant.data_deposit_agreement? %>
    <p>
      <span><%= check_box_tag 'agree_to_dda', 'yes', false, class: 't-review__agree-to-license js-agrees' %></span>
      <label for="agree_to_dda">
        By checking this box, I agree to the
        <%= link_to 'Data Deposit Agreement', stash_url_helpers.dda_path, target: '_blank' %>
      </label>
    </p>
  <% end %>
</div>

<% if @review.software_files.count.positive? || @review.supp_files.count.positive? %>
	<div>
		<h3>License and terms of service for Zenodo</h3>

		<p>Software and supplemental files uploaded will be managed and preserved at Zenodo. Your related DOI will be linked to
			your dataset.</p>

		<%= render partial: 'stash_datacite/licenses/software_license' if @review.software_files.count.positive? %>

		<% if @review.supp_files.count.positive? %>
			<p>Supplemental information is published with the Creative Commons Attribution 4.0 International (CC BY 4.0) license</p>
		<% end %>
	</div>


<% end %>

<div>
	<h3>Payment</h3>
	<% submitter_affiliation = @resource.identifier.submitter_affiliation %>
	<% if @resource.identifier.journal&.will_pay? %>
		<p>Payment for this deposit is sponsored by <b><%= @resource.identifier.journal.title %></b>.</p>
	<% elsif @resource.identifier.institution_will_pay? %>
		<p>Payment for this deposit is sponsored by <b><%= @resource.tenant.long_name %></b>.</p>
	<% elsif submitter_affiliation.present? && submitter_affiliation.fee_waivered? %>
		<p>Payment is not required for this deposit due to association with <b><%= submitter_affiliation.smart_name %></b> in <b><%= submitter_affiliation.country_name %></b>. Upon publication of your dataset, you will receive an invoice showing that the fee for this submission has been waived. If you have any questions, please <a href="mailto:help@datadryad.org">contact us</a>.</p>
	<% elsif @resource.identifier.funder_will_pay? %>
		<p>Payment for this deposit is sponsored by <b><%= @resource.identifier.funder_payment_info.contributor_name %></b></p>
	<% elsif @resource.identifier.user_must_pay? %>
		<p>
			Dryad charges a fee for data publication that covers curation and preservation of published datasets. Upon
			publication of your dataset, you will receive an invoice for
			&dollar;<%=  Stash::Payments::Invoicer.data_processing_charge(identifier: @resource.identifier) / 100 %> USD.
			We’re sensitive to the fact that fees for individual
			researchers can be a burden and create inequities. If you'd
			like to request a fee waiver, please contact <a href="mailto:help@datadryad.org">help@datadryad.org</a>.
		</p>

		<% if @resource.identifier.large_files? %>
			<p>
				This submission contains large files.
				For data packages in excess of <%= filesize(APP_CONFIG.payments.large_file_size).gsub(' ', '') %>,
				submitters will be charged $50 USD for each additional 10GB,
				or part thereof. Submissions between 50 and 60GB = $50 USD, between 60 and 70GB = $100 USD, and so on.
			</p>
		<% end %>

		<span><%= check_box_tag 'agree_to_payment', 'yes', (@resource.version_number > 1), class: 't-review__agree-to-license js-agrees' %></span>
		<label for="agree_to_payment">I agree to Dryad's payment terms</label>
	<% else %>
		<p>This submission does not require a payment.</p>
	<% end %>
</div>

<br>

<script type="text/javascript">
$(document).ready(function(){
  $('.js-agrees').bind( "click", function() {

    allChecked = true;

    //check if each checkbox is checked
    $('.js-agrees:enabled').each(function( index ) {
      allChecked = allChecked && $( this ).is(':checked');
      // console.log( index + ": " + $( this ).text() );
    });

		let hasErrors = ($('div.c-error-box').length > 0) && ($('div.c-error-box')[0].innerHTML.length > 0);

    if (allChecked && !hasErrors) {
        $('.js-submission').attr('disabled', false); //enable input
    } else {
        $('.js-submission').attr('disabled', true); //disable input
    }
  });
});

$('#zenodo_license').on('change', function(e){
	$('#software_license').val($("#zenodo_license option:selected").val());
});
</script>

<% if current_user && (current_user.id != @resource.user_id) %>
  <script>
    $('#agree_to_license, #agree_to_tos, #agree_to_dda').prop('disabled', true);
  </script>
<% end %>
