<%# the local variable 'geolocation_box' should be passed in to this partial when there are multiple per page %>
<div id="geolocation_box">
  <%= form_for(geolocation_box, url: stash_datacite.geolocation_boxes_create_path, remote: true, authenticity_token: true, html: {id: "geolocation_box_new_form"}) do |f| %>
    <%#= render "datacite/shared/error_messages", :target => @geolocation_box %>
    <sub>sw</sub>
    <%= f.text_field :sw_latitude, class: 'geo', id: "geo_sw_lat_point" %>&nbsp;&nbsp;
    <%= f.text_field :sw_longitude, class: 'geo', id: "geo_sw_lng_point" %>&nbsp;&nbsp;,&nbsp;&nbsp;
    <sub>ne</sub>
    <%= f.text_field :ne_latitude, class: 'geo', id: "geo_ne_lat_point" %>&nbsp;&nbsp;
    <%= f.text_field :ne_longitude, class: 'geo', id: "geo_ne_lng_point" %>&nbsp;&nbsp;
    <%= f.hidden_field :resource_id %>
    <%= f.submit "Add", id: "add_geo_point" %>
    <br/>
  <% end %>
</div>