<%# the local variable 'geolocation_box' should be passed in to this partial when there are multiple per page %>
<div id="geolocation_box">
  <%= form_for(geolocation_box, url: 'geolocation_boxes_path', remote: true, authenticity_token: true) do |f| %>
    <%#= render "datacite/shared/error_messages", :target => @geolocation_box %>
    <sub>sw</sub>
    <%= f.number_field :sw_latitude %>&nbsp;&nbsp;
    <%= f.number_field :sw_longitude %>&nbsp;&nbsp;
    <sub>ne</sub>
    <%= f.number_field :ne_latitude %>&nbsp;&nbsp;
    <%= f.number_field :ne_longitude %>&nbsp;&nbsp;
    <%= link_to "Add", '#' %>
    <br/>
    <%= f.hidden_field :resource_id %>
  <% end %>
</div>