<div class ="geolocation_boxes" >
  <% geolocation_boxes.each do |geolocation_box| %>
    <%= image_tag("stash_datacite/geo_box.png", size: "30x30", alt: "Box") %>
    <%= geolocation_box.sw_latitude %>,&nbsp; <%= geolocation_box.sw_longitude %>,&nbsp;&nbsp; &nbsp;
            <%= geolocation_box.ne_latitude %>,&nbsp; <%= geolocation_box.ne_longitude %>
    <%= link_to 'remove', stash_datacite.geolocation_boxes_delete_path(geolocation_box), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>