<% unless geolocation_boxes.nil? %>
  <% geolocation_boxes.each do |geolocation_box| %>
    <div class="c-locations__area"
         data-bbox="<%= geolocation_box.bounding_box_str %>">
			<div class="c-locations__data"><abbr title="Southwest" class="c-locations__coordinate">SW</abbr> <%= geolocation_box.sw_latitude %>, <%= geolocation_box.sw_longitude %></div>
			<div class="c-locations__data"><abbr title="Northwest" class="c-locations__coordinate">NW</abbr> <%= geolocation_box.ne_latitude %>, <%= geolocation_box.ne_longitude %></div>
			<span><!-- empty --></span>
		</div>
  <% end %>
<% end %>