<div class="file_preview preview_<%= @file.preview_type %>" role="region" tabindex="0" aria-labelledby="preview_file_name">
<p role="heading" level="3" id="preview_file_name"><span>Preview: <%= @file.download_filename %></span><button class="o-button__plain-text7" aria-label="Close preview" onclick="close_preview()"><i class="fas fa-times" aria-hidden="true"></i></button></p>
<% if @preview %>
  <% case @file.preview_type %>
  <% when 'pdf' %>
    <p id="pdf_loading"><i class="fas fa-spin fa-spinner" aria-label="Loading..." role="img"></i></p>
    <canvas id="pdf_canvas"></canvas>
  <% when 'img' %>
    <img src="<%= @file.digest? || @file.storage_version_id.present? ? @file.s3_permanent_presigned_url : @file.s3_staged_presigned_url %>"/>
  <% when 'csv' %>
    <% lines = @preview.split("\n") %>
    <table>
      <thead><tr>
        <% lines.first.split(@sep).map {|c| c.delete_prefix('"').delete_suffix('"') }.each do |th| %>
          <th><%= th %></th>
        <% end %>
      </tr></thead>
      <tbody>
        <% lines.drop(1).each do |tr| %>
          <tr>
            <% tr.split(@sep).map {|c| c.delete_prefix('"').delete_suffix('"') }.each do |td| %>
              <td><%= td %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% when 'txt' %>
    <% if @file.download_filename.end_with?('.md') %>
      <div class="preview_markdown"><%= markdown_render(content: @preview) %></div>
    <% else %>
      <pre><%= @preview %></pre>
    <% end %>
  <% end %>
<% else %>
  <p>Preview is currently unavailable.</p>
<% end %>
</div>
