<% @page_title = "Pre-publication dataset sharing" %>
<div id="page-columns">
  <div id="page-content">
  <h1 class="c-datasets-heading__heading o-heading__level1"><%= @resource.title.html_safe %></h1>
  <p>This dataset is currently private for peer review. You have been invited to download this dataset.</p>

  <%= render partial: 'stash_engine/landing/files', locals: {dataset_identifier: @resource.identifier, share: {resource: @resource, code: params[:id]}} %>

  <%
      sfw = @resource.software_files.present_files
      supp = @resource.supp_files.present_files
  %>
  <% if sfw.count.positive? || supp.count.positive? %>
    <hr/>
    <%= image_tag('stash_engine/logo_zenodo.png', alt: 'Zenodo logo', class: 'c-review-zenodo') %>
  <% end %>

  <% if sfw.count.positive? && @resource.zenodo_copies.software.done.count.positive? %>
    <h3>Software files available at Zenodo</h3>
    <% sfw.order("lower(download_filename) ASC").each do |s| %>
      <%= link_to s.download_filename, download_zenodo_path(file_id: s.id, share: params[:id]), target: '_blank' %><br/><br/>
    <% end %>
  <% end %>

  <% if supp.count.positive? && @resource.zenodo_copies.supp.done.count.positive? %>
    <h3>Supplemental files available at Zenodo</h3>
    <% supp.order("lower(download_filename) ASC").each do |s| %>
      <%= link_to s.download_filename, download_zenodo_path(file_id: s.id, share: params[:id]), target: '_blank' %><br/><br/>
    <% end %>
  <% end %>

  <% if @resource.display_readme? %>
    <%= render partial: "stash_datacite/descriptions/readme", locals: { review: StashDatacite::Resource::Review.new(@resource), highlight_fields: [] } %>
  <% end %>
  </div>
</div>
