<% @page_title = "Pre-publication sharing link" %>

<div class="c-datasets-heading">
  <h1 class="c-datasets-heading__heading o-heading__level1"><%= @resource.title %></h1>
</div>

<p>
  We are assembling your
  <%= link_to 'requested download', download_resource_path(resource_id: 0, share: params[:id]), class: 'js-download', remote: true %>
  for this dataset that is currently private for peer review.
</p>

<p>If the download process does not begin automatically within several minutes, click the link above to start the download.</p>

<%
    sfw = @resource.software_files.present_files
    supp = @resource.supp_files.present_files
%>

<% if sfw.count.positive? || supp.count.positive? %>
  <hr/>
  <%= image_tag('stash_engine/logo_zenodo.png', alt: 'Zenodo logo', class: 'c-review-zenodo') %>
<% end %>

<% if sfw.count.positive? && @resource.zenodo_copies.software.done.count.positive? %>
  <h3>Software files available at Zenodo</h3>

  <% sfw.order("lower(upload_file_name) ASC").each do |s| %>
    <%= link_to s.upload_file_name, download_zenodo_path(file_id: s.id, share: params[:id]), target: '_blank' %><br/><br/>
  <% end %>
<% end %>

<% if supp.count.positive? && @resource.zenodo_copies.supp.done.count.positive? %>
  <h3>Supplemental files available at Zenodo</h3>

  <% supp.order("lower(upload_file_name) ASC").each do |s| %>
    <%= link_to s.upload_file_name, download_zenodo_path(file_id: s.id, share: params[:id]), target: '_blank' %><br/><br/>
  <% end %>
<% end %>

<script>
    // This will trigger the AJAX action from the link with remote: true
    $(document).ready(function(){
        $(".js-download").trigger('click');
    });
</script>
