<%  @datatype = (params[:action] == 'upload' ? 'Data' : 'Software')
  @page_title = "Upload Your #{@datatype} - Publish and Preserve your Data" %>
<%= render partial: 'stash_engine/shared/dataset_non_user_editor', locals: {resource: @resource} %>
<%= render partial: 'stash_engine/shared/dataset_steps_nav' %>

<% if @datatype == 'Software' %>
  <%= image_tag('stash_engine/logo_zenodo.png', alt: 'Zenodo logo', class: 'c-files-zenodo') %>
<% end %>

<h1 class="o-heading__level1">Upload Your <%= @datatype %></h1>

<div id="choose_method" style="margin-bottom: 2em;">
  <%= render partial: 'stash_engine/file_uploads/choose_upload_method', locals: { resource: @resource, upload_method: :files} %>
</div>

<!-- file upload workflow -->
<div class="files_upload">
  <%= render partial: 'stash_engine/file_uploads/files_upload', locals: { file: @file, resource: @resource, uploads: @uploads } %>
</div>

<div class="o-dataset-nav">
  <% if params[:controller].end_with?('resources') && params[:action].include?('upload') %>
    <!-- standard upload page -->
    <%= link_to 'Back to Describe Dataset', metadata_entry_pages_find_or_create_path(resource_id: params[:id]), class: 'o-button__icon-left', role: 'button', id: 'describe_back' %>

    <%= link_to 'Proceed to Upload Software', up_code_resource_path(params[:id]), class: 'o-button__icon-right', role: 'button', id: 'proceed_review' %>
  <% else %>
    <!-- software/supplemental zenodo upload page, should only get here if you can upload to zenodo -->
    <%= link_to 'Back to Upload Data', stash_engine.upload_resource_path(params[:id]), class: 'o-button__icon-left', role: 'button', id: 'describe_back' %>
    <%= link_to 'Proceed to Review', review_resource_path(params[:id]), class: 'o-button__icon-right', role: 'button', id: 'proceed_review' %>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  var uploadInProgress = false;
  $(function () {
    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
      maxChunkSize: 1048576,
      //acceptFileTypes: /(\.|\/)(gif|jpe?g|png|tif?f)$/i
      // maxFileSize: 122222222,// 2GB,
      //maxFileSize: 1048576 ,// 1MB,
      limitMultiFileUploadSize: <%= current_tenant.max_submission_size %>
    });
    $('#upload_all').click(function(){
      $('#upload_message').hide();
    });
  });

  updateButtonLinkStates(); // for file upload method

  $(function () {
    setUploadMethodLockout('<%= escape_javascript(@resource.upload_type(method: @resource_assoc).to_s) %>'); // set lockout so you can't change view if you have files already
    confirmToValidate(); // add event to require checking acceptance before validating
    confirmToUpload(); // add event to require checking acceptance before uploading
  });

  $( document ).ready(function() {
    $('#files_from_computer').click(function(){
      updateUiStates();
    });

    // hide step 2 if no files are uploaded and showing in the table or the state isn't open in anchor hash
    if(<%= @uploads.length %> < 1 && window.location.href.indexOf('#open') == -1) {
      $('.files_upload').hide();
    }

    $('.choosing_up_method').click(function(e){
      if(window.location.href.match(/(^[^#]*)/)[0] == this.href.match(/(^[^#]*)/)[0]){
        e.preventDefault();
        $('.files_upload').show();
      }
    });
  });

</script>