<%  @datatype = (params[:action] == 'upload' ? 'Data' : 'Software')
  @page_title = "Upload Your #{@datatype} - Publish and Preserve your Data" %>
<%= render partial: 'stash_engine/shared/dataset_non_user_editor', locals: {resource: @resource} %>
<%= render partial: 'stash_engine/shared/dataset_steps_nav' %>

<% if @datatype == 'Software' %>
  <%= image_tag('stash_engine/logo_zenodo.png', alt: 'Zenodo logo', class: 'c-files-zenodo') %>
<% end %>

<h1 class="o-heading__level1">Upload Your <%= @datatype %></h1>

<div id="choose_method" style="margin-bottom: 2em;">
  <%= render partial: 'stash_engine/file_uploads/choose_upload_method', locals: { resource: @resource, upload_method: :files} %>
</div>

<!-- file upload workflow -->
<div class="files_upload">
  <%= render partial: 'stash_engine/file_uploads/files_upload', locals: { file: @file, resource: @resource, uploads: @uploads } %>
</div>

<div class="o-dataset-nav">
  <% if params[:controller].end_with?('resources') && params[:action].include?('upload') %>
    <!-- standard upload page -->
    <%= link_to 'Back to Describe Dataset', metadata_entry_pages_find_or_create_path(resource_id: params[:id]), class: 'o-button__icon-left', role: 'button', id: 'describe_back' %>

    <%= link_to 'Proceed to Upload Software', up_code_resource_path(params[:id]), class: 'o-button__icon-right', role: 'button', id: 'proceed_review' %>
  <% else %>
    <!-- software/supplemental zenodo upload page, should only get here if you can upload to zenodo -->
    <%= link_to 'Back to Upload Data', stash_engine.upload_resource_path(params[:id]), class: 'o-button__icon-left', role: 'button', id: 'describe_back' %>
    <%= link_to 'Proceed to Review', review_resource_path(params[:id]), class: 'o-button__icon-right', role: 'button', id: 'proceed_review' %>
  <% end %>
</div>

