<p>Dear <%= @partner_name %> representative,</p>
<p>
  The dataset titled "<%= @resource.title.html_safe %>",
  from <%= @user_name %> and with a dataset size of <%= filesize(@resource.total_file_size) %>
  has been submitted to Dryad.
</p>
<p>You can access the dataset <%= link_to 'here', activity_log_url(@resource.identifier_id) %>.</p>
<p>Please remember that you can monitor the volume of data submissions from your entity and your available balance for the year at any point by accessing our Administrative Dashboard.</p>
<p>If you have any questions, please do not hesitate to contact us. Thank you for choosing Dryad.</p>
