<p>Dear <%= @user_name %>,</p>

<p>Your data submission has been automatically withdrawn from the Dryad platform
  due to inactivity for more than one year. Your data will be permanently
  deleted after one year with further inactivity:</p>

<p>
  Title: <%= @resource.title.html_safe %><br/>
  DOI: <%= @resource.identifier_uri %>
</p>

<p>
  You can reinstate your submission by following these steps:
  <ol>
    <li><a href="https://datadryad.org">Login to https://datadryad.org</a></li>
    <li>Click on "My datasets"</li>
    <li>Locate your submission under the header “Withdrawn” </li>
    <li>Click "Revise submission" to access your submission</li>
    <li>Incorporate edits, if any</li>
    <li>Click "Submit"</li>
  </ol>
</p>

<p>Please note that your dataset never completed the curation process and,
  therefore, was not published. You should have received an email from us
  outlining the changes required to have your dataset published.</p>

<p>If you do not have access to the email or if you have any questions about the
  action taken to withdraw your dataset, please contact us at
  <a href="mailto:<%= @helpdesk_email %>?subject=Auto-Withdraw <%= @resource.identifier_str %>"><%= @helpdesk_email %></a>.</p>
