<p>
  You are sharing this dataset with others using this url link below.</br>
  The exipration date for the link is <%= share.expiration_date.strftime("%B %d, %Y") %>.</br>
  You may <%= link_to 'Renew the Expiration', stash_engine.shares_update_path(share, resource_id: resource_id), method: :patch %> which will extend the expiration to <%= current_user.tenant.sharing_expiration_days %> days from now.
</p>
<%# the local variable 'title' should be passed in to this partial when there are multiple per page %>
<% form_id = unique_form_id(share) %>
<%= form_for(share, url: path, remote: true, authenticity_token: true, html: { id: form_id, class: 'c-input' }) do |f| %>
    <%= f.text_field :sharing_link, id: 'sharing_link', class: 'c-input__text'%>
    <span><button class='o-button__clipboard-icon' data-clipboard-target='sharing_link' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click me to copy to clipboard.', style="background-image: url(/stash_engine/icon_clipboard.png); width:30px; height:35px;">
    </button></span>
  <%= f.hidden_field :expiration_date %>
  <%= f.hidden_field :resource_id %>
  <%= f.hidden_field :id %>
  <%= hidden_field_tag(:form_id, form_id) %>
<% end %>

<script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button"))
  });
</script>