<% content_for(:head) do %>
<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->

<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
 function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500); 
</script>
<style type="text/css">
  label:not(:first-of-type){
    margin-top: 1rem;
  }
  .g-recaptcha {
    margin: 1rem 0;
  }
</style>
<% end %>

<h1>Interested in working with Dryad?</h1>

<div class="callout"><p>If you need help with a data submission or using data in Dryad, please contact <a class="emailr" target="_blank" href="mailto:dev@null">gro.dayrdatad@pleh</a></p></div>

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->

<form class="c-input" action="<%= APP_CONFIG.salesforce.web_to_lead_target %>" method="POST">

<input type=hidden name='captcha_settings' value='{"keyname":"Dryad_v2","fallback":"true","orgId":"<%= APP_CONFIG.salesforce.org_id %>","ts":""}'>
<input type=hidden name="oid" value="<%= APP_CONFIG.salesforce.org_id %>">
<input type=hidden name="retURL" value="<%= Rails.application.routes.url_helpers.contact_thanks_url %>">

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
<!--  these lines if you wish to test in debug mode.                          -->
<!--  <input type="hidden" name="debug" value=1>                             
 <input type="hidden" name="debugEmail"                                 
  value="ryan@datadryad.org">                               -->
<!--  ----------------------------------------------------------------------  -->

<label for="first_name" class="required c-input__label">First name</label>
<input id="first_name" class="c-input__text" maxlength="80" name="first_name" type="text" /><br><br>

<label for="last_name" class="required c-input__label">Last name</label>
<input id="last_name" class="c-input__text" maxlength="80" name="last_name" size="20" type="text" /><br><br>

<label for="email" class="required c-input__label">Email address</label>Please use your institutional email address if possible
<input id="email" class="c-input__text" maxlength="80" name="email" size="20" type="text" /><br><br>

<label for="company" class="c-input__label">Institution or organization</label>Please use your primary institutional affiliation
<input id="company" class="c-input__text" name="company" title="Institution" /><br><br>

<label for="title" class="c-input__label">Job Title</label>Please use your current job title
<input id="title" class="c-input__text" maxlength="40" name="title" size="20" type="text" /><br><br>

<label for="<%= APP_CONFIG.salesforce.participation_field_id %>" class="c-input__label">How would you like to participate?</label>Select all that apply
<select  id="<%= APP_CONFIG.salesforce.participation_field_id %>" multiple="multiple" name="<%= APP_CONFIG.salesforce.participation_field_id %>" title="Participation">
  <option value="Join our mailing list">Join our mailing list</option>
  <option value="Set up a demo or meeting">Set up a demo or meeting</option>
  <option value="Become a Dryad member">Become a Dryad member</option>
</select><br><br>

<label for="<%= APP_CONFIG.salesforce.comment_field_id %>" class="c-input__label">Comments</label>
<textarea  id="<%= APP_CONFIG.salesforce.comment_field_id %>" name="<%= APP_CONFIG.salesforce.comment_field_id %>" rows="3" type="text" wrap="soft"></textarea><br><br>

<div class="g-recaptcha" data-sitekey="<%= APP_CONFIG.google_recaptcha_sitekey %>"></div><br>
<button class="o-button__plain-text1" style="width:min-content;" type="submit" name="submit">Submit</button>

</form>


