<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'shared/standard_head' %>
  <%= render 'shared/stash_head' %>
  <%= content_for :head %>
  <link rel="canonical" href="<%= request.original_url %>"/>
  <script type="text/javascript" src="<%= asset_path 'dataload.js'%>" defer></script>
</head>
<body class='<%= "#{controller_name}_#{action_name}" %>'>
  <%= render partial: "shared/sandbox_message" %>
  <%= render 'shared/top_area' %>
  <main id="maincontent" class="search-page">
    <%= yield %>
  </main>
  <%= render partial: "shared/footer" %>
  <script type="text/javascript" src="<%= asset_path 'interactions.js'%>"></script>
  <%= content_for :doc_end %>
</body>
</html>